{% set xsearch %}{{ request.route_url(misc_options.search_url) }}{% endset %}
{% set gtm_header %}{% endset %}
{% set xterm %}{% endset %}
{% set extra_javascripts_header %}
{% endset %}
{% set extra_javascripts_footer %}
{% endset %}
{% set title %}{{ _("Zamówienie udane") }} - {{ settings['name'] }}{% endset %}
{% set extra_stylesheets %}
{% endset %}


{% extends "/common/s_layout.html" %}

{{ self.extra_javascripts_header() }}

{% block body %}

<div class="md:col-span-10 md:col-start-2 col-span-12 page-internals my-12 grid grid-padding-x text-center">
    <span>{{ _("Dziękujemy za złożenie zamówienia - szczegóły i potwierdzenie zostały wysłane na skrzynkę mailową") }}</span>
    <span>{{ _("W przypadku braku powiadomienia mailowego, bardzo proszę sprawdzić folder SPAM poczty.") }}</span> 
</div>




{% endblock %}