<%!
    class_ = "order_processing"
%>

{% set xsearch %}{{ request.route_url(misc_options.search_url) }}{% endset %}
{% set xterm %}{% endset %}

{% set extra_javascripts_header %}
{% endset %}

{% set extra_javascripts_footer %}
{% endset %}


{% set extra_stylesheets %}
{% endset %}

{% extends "/common/s_layout.html" %}
{{ self.extra_javascripts_header() }}

{{ error }}

<div class="col-span-12 ">
    <h4></h4>
</div>