    <div class="main_settings_block" id="settings_block_products">
      <i class="fi-pricetag-multiple text-cyan-200 main_icon"></i>
      
      <div class="col-span-3">
        <label for="product_attributes_templates">{{ _("Szablony (ustawień) produktów") }}</label>
        <select name="product_attributes_templates" id="product_attributes_templates" class="">
          <option value="0" {{ 'selected' if settings_dict and settings_dict.get('product_attributes_templates') == '0'}}>{{ _("wyłącz") }}</option>
          <option value="1" {{ 'selected' if settings_dict and settings_dict.get('product_attributes_templates') == '1'}}>{{ _("załącz") }}</option>  
        </select>
      </div>


      <div class="col-span-3">
        <label for="artisan_products">{{ _("Produkt ma producenta lub wydawcę i autora") }}</label>
        <select name="artisan_products" id="artisan_products" class="">
          <option value="0" {{ 'selected' if settings_dict and settings_dict.get('artisan_products') == '0'}}>{{ _("wyłącz") }}</option>
          <option value="1" {{ 'selected' if settings_dict and settings_dict.get('artisan_products') == '1'}}>{{ _("załącz") }}</option>  
        </select>
      </div>


      <div class="col-span-2">
        <label for="downloadable_products">{{ _("Produkty wirtualne (pliki)") }}</label>
        <select name="downloadable_products" id="downloadable_products" class="">
          <option value="0" {{ 'selected' if settings_dict and settings_dict.get('downloadable_products') == '0'}}>{{ _("wyłącz") }}</option>
          <option value="1" {{ 'selected' if settings_dict and settings_dict.get('downloadable_products') == '1'}}>{{ _("załącz") }}</option>  
        </select>
      </div>
      
      <div class="col-span-2">
        <label for="default_download_limit">{{ _("Domyślnie produkty wirtualne można pobrać X razy (0 oznacza brak limitu)") }}</label>
        <input name="default_download_limit" id="default_download_limit" type="number" value="{{ settings.get('default_download_limit') or 0}}" step="1" min="0">
      </div>

      <div class="col-span-2">
        <label for="extra_files">{{ _("Każdy produkt może mieć dodane pliki dodatkowe np. instrukcje/broszury") }}</label>
        <select name="extra_files" id="extra_files" class="">
          <option value="0" {{ 'selected' if settings_dict and settings_dict.get('extra_files') == '0'}}>{{ _("wyłącz") }}</option>
          <option value="1" {{ 'selected' if settings_dict and settings_dict.get('extra_files') == '1'}}>{{ _("załącz") }}</option>  
        </select>
      </div>


    </div>
