    <div class="main_settings_block">
    
      <i class="fi-shopping-cart text-cyan-300 main_icon" id="settings_block_cart"> </i>

      
      <div class="col-span-2">
        <label for="invoice_delivery">{{ _("Faktury dla klienta") }}</label>
        <select name="invoice_delivery" id="invoice_delivery" class="">
          <option value="0" {{ 'selected' if settings_dict and settings_dict.get('invoice_delivery') == '0'}}>{{ _("Tylko elektroniczna") }}</option> 
          <option value="1" {{ 'selected' if settings_dict and settings_dict.get('invoice_delivery') == '1'}}>{{ _("Zamawiający wybiera - papierowa lub elektroniczna") }}</option>
        </select>
      </div>

      <div class="col-span-2">
        <label for="delivery_country">{{ _("Wysyłka za granicę") }}</label>
        <select name="delivery_country" id="delivery_country" class="">
          <option value="0" {{ 'selected' if settings_dict and settings_dict.get('delivery_country') == '0'}}>{{ _("Tylko PL") }}</option> 
          <option value="1" {{ 'selected' if settings_dict and settings_dict.get('delivery_country') == '1'}}>{{ _("UE") }}</option>
          <option value="2" {{ 'selected' if settings_dict and settings_dict.get('delivery_country') == '2'}}>{{ _("Świat") }}</option>
        </select>
      </div>

    </div>
