    <div class="main_settings_block">
    
      <i class="fi-info text-cyan-700 main_icon" id="settings_block_info"> </i>

      <div class="col-span-3">
        <label for="name">{{_("Nazwa sklepu") }}</label>
        <input  name="name" value="{{ settings_dict.get('name') or '' }}" class="h-8 w-full border px-2 transition-all border-blue rounded-sm">
      </div>

      <div class="col-span-3">
        <label for="home_title">{{_("Nagłówek (title) strony głównej sklepu") }}</label>
        <input  name="home_title" value="{{ settings_dict.get('home_title') or '' }}" class="h-8 w-full border px-2 transition-all border-blue rounded-sm ean_input" class=" ">
      </div>

      <div class="col-span-3">
        <label for="address_inline">{{_("Adres sklepu - jednoliniowy (np. stopka maila)") }}</label>
        <input name="address_inline"  id="address_inline" name="address_inline" value="{{ settings_dict.get('address_inline') or '' }}" class="h-8 w-full border px-2 transition-all border-blue rounded-sm ">
      </div>

      <div class="col-span-3">
        <label for="telephone">{{_("Infolinia") }}</label>
        <input  name="telephone" value="{{ settings_dict.get('telephone') or '' }}" class="h-8 w-full border px-2 transition-all border-blue rounded-sm ">
      </div>

      <div class="col-span-6">
        <label for="address">{{_("Pełne dane adresowe sklepu") }}</label>
        <textarea id="address" name="address" class="">{{ settings_dict.get('address') or "" }}</textarea>
      </div>

      <div class="col-span-6">
        <label for="contact">{{_("Dane kontaktowe sklepu") }}</label>
        <textarea class="" id="contact" name="contact" class="">{{ settings_dict.get('contact') or "" }}</textarea>
      </div>

      <div class="col-span-12">
        <label for="address">{{_("Stopka") }}</label>
        <input id="footer_description_input"  name="footer_description" value="{{ settings_dict.get('footer_description') or '' }}" class=" border px-2 transition-all border-blue rounded-sm">
      </div>

    </div>


  <script>

    tinymce.init({
      selector: '#contact, #address',
      height: 240,
      plugins: 'advlist link image lists template',
    });

    tinymce.init({
      selector: '#footer_description_input',
      height: 100,
      plugins: 'advlist link image lists template',
    });

  </script>