    <div class="product_edit_block grid" id="main_manufacturer">
      <i class="fi-crown text-amber-100 main_icon"></i>
      
      <div class="col-span-3">
        <label for="artisan_products">{{ _("Produkt może mieć jednocześnie: producenta, wydawcę i autora") }}</label>
        <select name="artisan_products" id="artisan_products" class="">
          <option value="0" {{ 'selected' if settings_dict and settings_dict.get('artisan_products') == '0'}}>{{ _("wyłącz") }}</option>
          <option value="1" {{ 'selected' if settings_dict and settings_dict.get('artisan_products') == '1'}}>{{ _("załącz") }}</option>  
        </select>
      </div>

    </div>