    <div class="main_settings_block">
    
      <i class="fi-photo text-cyan-800 main_icon" id="settings_block_main"> </i>

      <div class="col-span-2">
        <label for="status">{{ _("Status sklepu") }}</label>
        <select id="shop_status" name="shop_status" class="border-lime-500 bg-white" required>
          <option value="1" {{ ('selected' if settings_dict.get('shop_status') == '1' else "") }}>{{ _("Załączony") }}</option>
          <option value="3" {{ ('selected' if settings_dict.get('shop_status') == '3' else "") }}>{{ _("Szkolenie") }}</option>
          <option value="4" {{ ('selected' if settings_dict.get('shop_status') == '4' else "") }}>{{ _("Urlop") }}</option>
          <option value="2" {{ ('selected' if settings_dict.get('shop_status') == '2' else "") }}>{{ _("Tryb developera (wyświetl ukryte parametry)") }}</option>
          <option value="0" {{ ('selected' if settings_dict.get('shop_status') == '0' else "") }}>{{ _("Wyłącz sklep - pokaż zaślepkę") }}</option>
        </select>
      </div>

      <div class="col-span-2">
        <label for="date_start">{{ _("Data rozpoczęcia") }}</label>
        <input name="date_start" type="date" value="{{ settings_dates['date_start'].strftime('%Y-%m-%d') if settings_dates.get('date_start') }}" id="date_start" class="">
      </div>
      <div class="col-span-2">
        <label for="date_end">{{ _("Data zakończenia") }}</label>
        <input name="date_end" type="date" value="{{ settings_dates['date_end'].strftime('%Y-%m-%d') if settings_dates.get('date_end') }}" id="date_end" class="">
      </div>    

      <div class="col-span-2">
        <label for="status">{{ _("Cache") }}</label>
        <select id="status" name="cache" class="bg-white" required>
          <option value="1" {{ 'selected' if settings_dict.get('cache') == '1' }}>{{ _("załącz") }}</option>
          <option value="0" {{ 'selected' if settings_dict.get('cache') == '0'  }}>{{ _("wyłącz") }}</option>
        </select>   
      </div>

    </div>