    <div class="product_edit_block grid" id="main_manufacturer">
      <i class="fi-paperclip text-amber-200 main_icon"></i>

      <div class="col-span-2">
        <label for="downloadable_products">{{ _("Produkty wirtualne (pliki)") }}</label>
        <select name="downloadable_products" id="downloadable_products" class="">
          <option value="0" {{ 'selected' if settings_dict and settings_dict.get('downloadable_products') == '0'}}>{{ _("wyłącz") }}</option>
          <option value="1" {{ 'selected' if settings_dict and settings_dict.get('downloadable_products') == '1'}}>{{ _("załącz") }}</option>  
        </select>
      </div>
      
      <div class="col-span-2">
        <label for="extra_files">{{ _("Każdy produkt może mieć dodane pliki dodatkowe np. instrukcje/broszury") }}</label>
        <select name="extra_files" id="extra_files" class="">
          <option value="0" {{ 'selected' if settings_dict and settings_dict.get('extra_files') == '0'}}>{{ _("wyłącz") }}</option>
          <option value="1" {{ 'selected' if settings_dict and settings_dict.get('extra_files') == '1'}}>{{ _("załącz") }}</option>  
        </select>
      </div>

    </div>