    <div class="product_edit_block grid" id="main_manufacturer">
      <i class="fi-crown text-cyan-700 main_icon"></i>
      <div class="col-span-2">
        <label for="status">{{ _("Cache") }}</label>
        <select id="status" name="cache" class="bg-white" required="">
          <option value="1" {{ 'selected' if settings_dict.get('cache') == '1' }}>{{ _("załącz") }}</option>
          <option value="0" {{ 'selected' if settings_dict.get('cache') == '0'  }}>{{ _("wyłącz") }}</option>
        </select>   
      </div>
    </div>