    <div class="main_settings_block" id="settings_block_currency">
      <i class="fi-dollar text-cyan-600 main_icon"></i>
     
      <div class="col-span-2">
        <label for="price_input">{{ _("Wprowadzane ceny") }}</label>
        <select name="price_input" id="price_input" class="">
          <option value="0" {{ 'selected' if settings_dict and settings_dict.get('price_input') == '0'}}>{{ _("netto") }}</option>
          <option value="1" {{ 'selected' if settings_dict and settings_dict.get('price_input') == '1'}}>{{ _("brutto") }}</option>  
        </select>
      </div> 

      <div class="col-span-2">
        <label for="status">{{ _("Domyślna waluta") }}</label>
        <select name="shop_currency" id="shop_currency" class="">
          <option value="PLN" {{ 'selected' if settings_dict and settings_dict.get('shop_currency') == 'PLN'}}>{{ _("PLN") }}</option> 
        </select>
      </div>


      <div class="col-span-2">
        <label for="status">{{ _("Domyślny język sklepu") }}</label>
        <select name="shop_language" id="shop_language" class="">
          <option value="PL" {{ 'selected' if settings_dict and settings_dict.get('shop_language') == 'PL'}}>{{ _("PL") }}</option> 
        </select>
      </div>



    </div>