    <div class="main_settings_block" id="settings_block_mail">
      <i class="fi-mail text-cyan-400 main_icon"></i>
      
      <div class="col-span-3">
        <label for="status">{{ _("Mail") }} {{_("administratora") }}</label>
        <input  name="admin_mail" value="{{ settings_dict.get('admin_mail') or '' }}" class="h-8 w-full border px-2 transition-all border-blue rounded-sm ean_input">
      </div>

      
      <div class="col-span-3">
        <label for="mail_host">{{_("Host ") }}</label>
        <input  name="mail_host"value="{{ settings_dict.get('mail_host') or '' }}" class="h-8 w-full border px-2 transition-all border-blue rounded-sm ean_input">
      </div>
      <div class="col-span-3">
        <label for="mail_port">{{_("Port") }}</label>
        <input  name="mail_port" value="{{ settings_dict.get('mail_port') or '' }}" class="h-8 w-full border px-2 transition-all border-blue rounded-sm ean_input">
      </div>
      <div class="col-span-3">      
        <label for="mail_tls">{{_("TLS") }}</label>
        <input  name="mail_tls" value="{{ settings_dict.get('mail_tls') or '' }}" class="h-8 w-full border px-2 transition-all border-blue rounded-sm ean_input">
      </div>
      <div class="col-span-3">
        <label for="mail_username">{{_("User") }}</label>
        <input  name="mail_username" value="{{ settings_dict.get('mail_username') or '' }}" class="h-8 w-full border px-2 transition-all border-blue rounded-sm ean_input">
      </div>
      <div class="col-span-3">
        <label for="mail_password">{{_("Pass  - ustaw hasło do podanej skrzynki mailowej. UWAGA pole puste to brak zmian!") }}</label>
          <input type="password" name="mail_password" value="" class="h-8 w-full border px-2 transition-all border-blue rounded-sm ean_input">
      </div>
    </div>