    <div class="main_settings_block">
    
      <i class="fi-database text-cyan-200 main_icon" id="settings_block_storage"> </i>
      
      <div class="col-span-2">
        <label for="products_require_storage">{{ _("Edytuj stany magazynowe") }}</label>
        <select name="products_require_storage" id="products_require_storage" class="">
          <option value="0" {{ 'selected' if settings_dict and settings_dict.get('products_require_storage') == '0'}}>{{ _("wyłącz") }}</option>
          <option value="1" {{ 'selected' if settings_dict and settings_dict.get('products_require_storage') == '1'}}>{{ _("załącz") }}</option>  
        </select>
      </div>

      <div class="col-span-2">
        <label for="default_subtract_quantity">{{ _("Domyślnie (i dla każdego produktu) zakup zmienia stan magazynu") }}</label>
        <select name="default_subtract_quantity" id="default_subtract_quantity" class="">
          <option value="0" {{ 'selected' if settings_dict and settings_dict.get('default_subtract_quantity') == '0'}}>{{ _("wyłącz") }}</option>
          <option value="1" {{ 'selected' if settings_dict and settings_dict.get('default_subtract_quantity') == '1'}}>{{ _("załącz") }}</option>  
        </select>
      </div>


      <div class="col-span-2">
        <label for="order_status_subtracts_quantity">{{ _("Który status zmienia stan magazynowy") }}</label>
        <select name="order_status_subtracts_quantity" id="order_status_subtracts_quantity" class="">
          {% for item in order_status_list: %}
          <option value="{{item.status_id}}" {{ 'selected' if settings_dict.get('order_status_subtracts_quantity') |int == item.status_id}} >{{ item.name }}</option>
          {% endfor %}
        </select>
      </div>

    </div>