    <div class="product_edit_block grid" id="main_manufacturer">
      <i class="fi-hearing-aid text-cyan-500 main_icon"></i>
      
      <div class="col-span-2">
        <label for="status">{{ _("Domyślny język sklepu") }}</label>
        <select name="shop_language" id="shop_language" class="">
          <option value="PL" {{ 'selected' if settings_dict and settings_dict.get('shop_language') == 'PL'}}>{{ _("PL") }}</option> 
        </select>
      </div>

    </div>
    