<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"> 
{%- for item in url_listing: -%}
  <url>
    <loc>{{ item['url'] }}</loc>
    <lastmod>{{ item['date_modified'] }}</lastmod>
  </url>
{%- endfor -%}
</urlset>
