            <div class="td text-center col-span-12 lg:col-span-3 mx-auto row-span-2">

            {% include "emporium:templates/case/product/common_segment/s_product_special_info.html" %}  


              {% include "/common/s_grid_image.html" %}

              <div>
                {% with object=product, textsize='3xl' %}
              {% include "emporium:templates/case/product/listing_segment/s_product_properties.html"%}
              {% endwith %}
              </div>
              <a id="product_name_{{product.product_id}}" href="{{ request.route_url('s_product', seo_slug = product.slug, id = product.product_id) }}" class="text-dark text-sm md:text-base">{{ product.name }}</a>


              <div class="block xl:hidden">              
              {% include "emporium:templates/case/product/listing_segment/s_product_special_transport.html" %}

              {% if settings['cart_settings']['display_storage'] == 1 %}
                {% include "emporium:templates/case/product/listing_segment/s_product_storage_summary.html"%}
              {% endif %}
              </div>

            </div>

           <div class="td col-span-3 hidden xl:block">
            
              {% include "emporium:templates/case/product/listing_segment/s_product_special_transport.html" %}

              {% if settings['cart_settings']['display_storage'] == 1 %}
                {% include "emporium:templates/case/product/listing_segment/s_product_storage_summary.html"%}
              {% endif %}
            </div>

            <div class="td col-span-6 xl:col-span-3">

              {% include "emporium:templates/case/product/listing_segment/s_product_input_quantity.html"%}

              {% if settings["cart_settings"]["display_single_set"] == 1: %}
                {% include "emporium:templates/case/product/listing_segment/s_product_single_set.html"%}
              {% endif %}
            
            </div>
            <div class="td col-span-6 lg:col-span-3">

 
             {% include "emporium:templates/case/product/listing_segment/s_product_price_summary.html"%}  
 

            {% if settings.price_input=='0': %}

              <small id="price_unit" class="font-normal">cena za {{ 'm<sup>2</sup>'|safe if product.square_meter else 'szt.'}} {{ product.price |number_comma }}  {{settings.currency}}
          
              </small>

            {% endif %}



              <p class="block text-center pt-4">
              {% with text_size='text-5xl', text_align='text-center' %}
                {% include "emporium:templates/case/common/s_delete_from_cart_block.html" %}
              {% endwith %}          
              </p>

            {% include "emporium:templates/case/cart/cart_list/s_cart_hidden_product_values.html"%}  


            </div>