            <a class="button_admin bg-cyan-500" href="{{ request.route_url('order', id=item.order_id) }}">
              <i class="fi-magnifying-glass text-2xl"></i> {{ _("Szczegóły") }}
            </a>