{% extends "emporium:templates/emporatorium/common/layout.html" %}

{% block body %} 


<div x-data="{ tab: window.location.hash ? window.location.hash : '#tab1' }" class="grid col-span-12">
  <nav class="new-tabs col-span-12 flex flex-row pt-4 px-4 gap-4">

    {% with item = order %}
    {% include "emporium:templates/emporatorium/order/order_details.html" %}

    {% include "emporium:templates/emporatorium/order/order_pdf.html" %}
    {% endwith %}

  </nav>

        <div x-show="tab == '#tab1'" class="grid grid-cols-12 col-span-12 px-4 gap-4" id="tab1">
          <div class="grid grid-cols-12 col-span-4 gap-4 row-span-2" style="grid-row: span 2 / span 2;">
            <div class="col-span-12 grid bg-white p-4">  
              <span class="col-span-12 text-2xl font-semibold">
                <span class="orange"> &#8227;</span>
                {{ _("Zamówienie &#8470; ") |safe}}  {{ order.order_id }}  <span class="blue">//</span> {{ order.uuid }}
              </span>
              <div class=""></div>
              <span class="text-xl"><span class="orange"> &#8227; </span>
                {{ _("Status: ") }}                 
                {% for x in status_list: %}
                  {% if x[0].status_group_id == 1 and x[0].status_id == order.status %}
                    {{ x[2].name }}
                  {% endif %}
                {% endfor %}

                <div class="text-xl"><span class="orange"> &#8227; </span>{{ _("Data zamówienia: ") }}
                  {{ order.date_ordered.strftime("%H:%M") }}    {{ order.date_ordered.strftime("%d/%m/%Y") }} 
                </div>

                <div class="text-xl"><span class="orange"> &#8227; </span>

                  {{ _("Dostawa: ") }}
                  {{ transport_method.name }} {{ transport_method.slots[order.transport].slot_name }}
                
                </div>  
   
                <div class="text-xl"><span class="orange"> &#8227; </span>
                  {{ _("Płatność: ") }}
                  {% for pay in payment_methods: %}
                    {% if pay.payment_id == order.payment: %}
                      {{ pay.name }}
                    {% endif %}
                  {% endfor %}
                </div>

                <div class="text-xl"><span class="orange"> &#8227; </span>{{ _("Faktura") }}: {{ _("wystawiona na ") }}
                  {%- if order.client_json.company_name and order.client_json.company_nip: -%}
                    {{ _("firmę") }}
                  {%- else: -%}
                    {{ _("osobę fizyczną") }}
                  {%- endif -%}
                    {% if settings.get('invoice_delivery') == '1': %}

                  {{ _("Przesłana w formie ") }}
                  {% if order.invoice: %}
                      {{ _("papierowej") }}
                  {% else: %}
                      {{ _("elektronicznej") }}
                  {% endif %}

                  {% endif %}

                </div>
                {% if order.additional_info: %}              
                <div class="text-xl orange"> &#8227; {{ _("Komentarz do zamówienia") }} </div>
                <span class="blue">{{ order.additional_info }}</span>            
                {% endif %}
              </span>
            </div>

              <div class="col-span-12 grid bg-white p-4"> 
                <span class="col-span-12 text-2xl font-semibold">
                  <span class="orange"> &#8227;</span>
                   {{ _("Kupujący (płatnik) ") }}
                </span>
                <div class="px-6 text-2xl">
                {{ order.client_json.first_name }} {{ order.client_json.last_name }}<br>
                {{ 't ' + order.client_json.telephone }}<br>
                {{ '@ ' + order.client_json.mail }}<br>
                {% if order.client_json.company_name and order.client_json.company_nip: %} 
                  {{ _("Firma") }} {{ order.client_json.company_name }}<br>
                  {{ _("NIP") }} {{ order.client_json.company_nip }}<br>
                {% endif %}
                {{ order.client_json.street }} <br>
                {{ order.client_json.postcode }} {{ order.client_json.city }}<br>
                {{ order.client_json.state }} {{ order.client_json.country }}<br>
                </div>
                    
              </div>
              <div class="col-span-12 grid bg-white p-4"> 
                <span class="col-span-12 text-2xl font-semibold">
                  <span class="orange"> &#8227;</span>
                   {{ _("Dostawa") }}
                </span>
                <div class="px-6 text-2xl">

                  {% if order.params_json['transport_module_name'] == 'inpost': %}
                    
                    {{ order.params_json['transport'] }}<br>
                    {% include "emporium:templates/case/modules/transport/inpost/order_summary/s_inpost_summary.html" %}  
                  {% else: %}
                  {{ order.delivery_json.first_name }} {{ order.delivery_json.last_name }}<br>
                  {{ 't. ' + order.delivery_json.telephone }}<br>
                  {% if order.delivery_json.company_name and order.delivery_json.company_nip: %} 
                      {{ _("Firma") }} {{ order.delivery_json.company_name }}<br>
                      {{ _("NIP") }} {{ order.delivery_json.company_nip }}<br>
                  {% endif %}
                  {{ order.delivery_json.street }} <br>
                  {{ order.delivery_json.postcode }} {{ order.delivery_json.city }}<br>
                  {{ order.delivery_json.state }} {{ order.delivery_json.country }}<br>

                  {% endif %}

                </div>
              </div>
        </div>
          <div class="grid grid-cols-12 col-span-8 gap-4">
            <div class="col-span-12 grid grid-cols-12 bg-white p-4">  
              <div class="col-span-6">
                <span class="text-2xl font-semibold">
                  <span class="orange"> &#8227;</span>
                  {{ _("Przebieg zamówienia") }}
                </span>
                {% if order_history: %}
                <table class="table w-85 pr-4" style="width:85%">
                  <thead>
                    <tr>
                      <th class="w-4/12">{{ _("Data") }}</th><th class="w-4/12">{{ _("Status") }}</th><th class="w-4/12">{{ _("Mail") }}</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for oh in order_history: %}
                    <tr class="tr">
                      <td class="td">{{ oh.date.strftime("%H:%M %d/%m/%Y") }}</td>
                      <td class="td"> 
                        {% for x in status_list: %}
                          {% if x[0].status_id == oh.status_id: %}
                            {{ x[2].name }}
                          {% endif %}
                        {% endfor %}
                      </td>
                      <td class="td">{{ _("Wiadomość wysłana") if oh.mail_sent else 
                      _("Nie") }}</td>
                    </tr>
                    {% if oh.additional_info: %}
                      <tr ></tr>
                      <tr class="td double_bottom">
                        <td class="td text-right">{{ _("Treść wiadomości") }}: </td>
                        <td class="td" colspan="2" > {{ oh.additional_info if oh.additional_info }}</td>
                      </tr>
                    {% endif %}
                  {% endfor %}
                  </tbody>
                </table>
                {% endif %}
              </div>
              <div class="col-span-6">
                <span class="text-2xl font-semibold">
                  <span class="orange"> &#8227;</span>
                  {{ _("Formularz zmiany statusów (i kontaktu z klientem)") }}
                </span>

                <form action='{{ request.route_url("order", id=order.order_id) }}' method="post" id="status_form" class="col-span-6">
                  <input id="csrf_token" name="csrf_token" type="hidden" value="{{ get_csrf_token() }}"/>
                  <div class="col-span-6">
                    <span>&nbsp;</span>
                    <select name="status" id="status_select" >
                    {% for x in status_list: %}
                      {% if x[0].status_group_id == 1 and x[0].status_id == order.status %}
                      <option value="{{ x[0].status_id }}" selected>{{ x[2].name }}</option>
                      {% elif x[0].status_id != 1: %} 
                      <option value="{{ x[0].status_id }}">{{ x[2].name }}</option>
                      {% endif %}
                    {% endfor %}
                    </select>
                  </div>
                  <div class="col-span-6">
                    <span>{{ _("Czy wysłać wiadomość do klienta?") }}</span>
                    <select id="mail_new_status" name="mail_new_status" required class="">
                      <option value="0">{{ _("Nie (status wewnętrzny)") }}</option>
                      <option value="1">{{ _("Wysłać") }}</option>
                    </select>
                  </div>
                  <div class="col-span-12 ">
                    <span>{{ _("Uwagi dodatkowe - uwaga ich treść uwag jest wysyłana również do klienta!") }}</span>
                    <textarea class="col-span-12 h-24 w-full border py-2 px-3 transition-all border-blue rounded" name="additional_info"></textarea>
                    <div class="col-span-4 ">
                      <button class="block bg-blue hover:bg-blue-dark text-white font-bold text-2xl uppercase p-4 text-center self-center text-small" id="order_update">{{ _("Zapisz&Wyślij") }}</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>

          {% if settings.get('inpost_settings') and transport_method.module_name == 'inpost': %}

            {% include "emporium:templates/emporatorium/module/transport/inpost/package_info.html" %}
          {% endif %}

          <div class="grid grid-cols-12 col-span-8 gap-4 col-start-5">      
            <div class="grid col-span-12 bg-white p-4">
              <span class="col-span-12 text-2xl font-semibold">
                <span class="orange"> &#8227;</span>
                {{ _("Produkty") }} 
              </span>
              {% if order.products_json: %}
              <table class="table col-span-12">
                  <thead>
                    <th class="w-3/12" >
                      {{ _("Nazwa produktu") }}<br> ({{ _("Model produktu") }})
                    </th>
                    <th class="w-3/12">
                      {{ _("Liczba opakowań (sztuk)") }}
                    </th>
                    <th class="w-3/12">
                      {{ _("Cena jednostkowa") }}
                    </th>
                    <th class="w-3/12">
                      {{ _("Wartość") }}
                    </th>
                  </thead>
                  <tbody>
                    {% for item in order.products_json: %}
                    <tr class="tr">
                      <td class="td font-semibold">
                        {{ item.name }}//({{ item.model }})
                        <br>
                        {{_("EAN") }} {{item.ean}}
                      </td>
                      <td class="td text-center text-xl font-semibold">
                        {% if item.square_meter: %}
                          {{ item.product_quantity }} m<sup>2</sup><br> ({{ item.product_packages or (item.product_quantity / item.unit if item.get('unit')) |round|int}} {{ _("opakowań") }})
                        {% else: %}
                          {{ item.product_quantity }} {{ _("sztuk") }}
                        {% endif %}
                      </td>
                      <td class="td text-center">
                        {% if item.purchase_price: %}
                          {{_('Cena zakupu')}}: {{item.purchase_price or ''}} 
                        {% endif %}

                        {{ item.real_price }} zł {{ '/m<sup>2</sup>' |safe if item.square_meter else 'szt.' |safe}}
                      </td>
                      <td class="td text-center">
                        {{ item.value }}zł
                      </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  <tfoot>
                    <tr>
                      <td colspan="2" class="text-right">
                        {{ _("Sposób dostawy") }}
                      </td>
                      <td class="text-center">
                        {{ order.params_json.transport }}
                        ({{ order.params_json.transport_unit }} x )
                      </td>
                      <td class="text-center">
                        {{ order.params_json.transport_fee }} zł
                      </td>
                    </tr>
                    <tr>
                      <td colspan="2" class="text-right">
                        {{ _("Metoda płatności") }}
                      </td>
                      <td class="text-center">
                        {{ order.params_json.payment }}
                      </td>
                      <td class="text-center">
                        {{ order.params_json.payment_fee }} zł
                      </td>
                    </tr>
                    {% if order.params_json.get('tax_dict'): %}
                    {% for k, v in order.params_json.get('tax_dict').items(): %}
                    <tr>
                      <td colspan="2" class="text-right"></td>
                      <td class="text-center pr-10 text-xl font-semibold">
                        {{ data_options.tax_dict[k|int].name }} 
                      </td>
                      <td class="text-center pr-10 text-xl font-semibold">
                        {{ order.params_json['tax_dict'][k] }} zł
                      </td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                    <tr>
                      <td colspan="2"></td>
                      <td class="text-center pr-10 text-xl font-semibold">    
                        {{ _("Koszt całkowity") }}
                      </td>
                      <td class="text-center pr-10 text-xl font-semibold">
                        {{ order.params_json.get('final_cost') or order.params_json.get('summary') }} zł
                      </td>
                    </tr>
                  </tfoot>
                </table>
              {% endif %}
            </div>


        </div>

    </div>
        <div x-show="tab == #tab2" x-cloak class="grid grid-cols-12 col-span-12 gap-4 bg-white p-4" id="tab2">
            <span class="col-span-12 text-2xl">
                <span class="orange"> &#8227;</span>
                {{ _("Produkty:") }} 
            </span>
            {% if products_json: %}
            <form class=" col-span-12 grid-cols-12 grid">
                <table class=" col-span-6 external table">
                    <thead>
                        <th class="" >
                            {{ _("Nazwa produktu") }} <br>
                            ({{ _("Model produktu") }})
                        </th>
                        <th class="">
                            {{ _("Liczba opakowań (sztuk)") }}
                        </th>
                        <th>
                            {{ _("Cena jednostkowa") }}
                        </th>
                        <th class="">
                            
                        </th>
                    </thead>
                    {% for item in products_json: %}
                        <tr class="tr">
                            <td class="td">
{{item.name}}

                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </form>
            {% endif %}
            </div>

</div>


{% endblock %}