

  <form class="col-span-12 grid grid-cols-12 bg-white p-4 my-4 border gap-4" action='{{ request.route_url("order_list") }}' id="topbar_filter" method="get" name="filter" >
    <input type="hidden" name="search" value="true">
      <div class="col-span-1">
        <label>{{ _("ID") }}</label>
        <input type="number" name="order_id" value="{{ filter_params.get('order_id') or  '' }}" class="h-8 w-full border px-2 transition-all border-blue rounded-sm">
      </div>
      <div class="col-span-2">
        <label>{{ _("UUID") }}</label>
        <input  name="uuid" value="{{ filter_params.get('uuid') or '' }}" class="h-8 w-full border px-2 transition-all border border-blue rounded-sm">
      </div>
      <div class="col-span-1">
        <label>{{ _("Telefon") }}</label>
        <input  name="telephone" value="{{ filter_params.get('telephone') or '' }}" class="h-8 w-full border px-2 transition-all border-blue rounded-sm">
      </div>
      <div class="col-span-2">
        <label>{{ _("Imię") }} /{{ _("Nazwisko") }} </label>
        <input  name="name" value="{{ filter_params.get('name') or '' }}" class="h-8 w-full border px-2 transition-all border-blue rounded-sm">
      </div>
      <div class="col-span-2">
        <label class="block">{{ _("Status") }}</label>
        <select name="status" class="">
          <option disabled selected value> </option>
          <option value="2" {{ 'selected' if filter_params and filter_params.get('status') == "2" }} default>{{ _("Wszystkie") }}</option>
          {% for item in status_list: %}
            <option value="{{ item[2].status_id }}">{{ " ".join(item[2].name.split()[:4]) }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-span-2 grid grid-cols-2 gap-x-4">
        <label class="col-span-2 h-3">{{ _("Kwota") }}</label>
        <input type="number" step="1" minimum="1" name="summary_from" value="{{ (filter_params and filter_params.get('summary_from')) or '' }}" class="h-8 w-full border px-2 transition-all border-blue rounded-sm">
        <input type="number" step="1" minimum="1" name="summary_to" value="{{ (filter_params and filter_params.get('summary_to')) or '' }}" class="h-8 w-full border px-2 transition-all border-blue rounded-sm">
      </div>



    {% with action_url = 'order_list' %}
      {% include "emporium:templates/emporatorium/common/clear_filter_block.html" %}
    {% endwith %}

    </form>

