{% extends "emporium:templates/emporatorium/common/layout.html" %}

{% block body %} 

  {% with title = 'Zamówienia', pager = order_list.link_map() %}
    {% include "emporium:templates/emporatorium/common/title.html" %}
    {% include "emporium:templates/emporatorium/common/paginate.html" %}
  {% endwith %}

  {% include "emporium:templates/emporatorium/order/order_filter.html" %}
  
    <table class="table col-span-12">
    <thead class="">
      <tr class="bg-white border-b-2 border-blue">
        <th class="w-2/12">{{ _("Edycja") }}</th>
        <th class="w-1/12">{{ _("ID zamówienia") }}</th>
        <th class="w-1/12">{{ _("Data zamówienia") }}</th>
        <th class="w-2/12">{{ _("Zamawiający") }}</th>
        <th class="w-2/12">{{ _("Szczegóły zamówienia") }}</th>
        <th class="w-2/12">{{ _("Status") }}</th>
      </tr>
    </thead>
    <tbody>
      {% for item in order_list: %}
        <tr class="tr">
          <td class="td px-4">
            {% include "emporium:templates/emporatorium/order/order_details.html" %}
            {% include "emporium:templates/emporatorium/order/order_pdf.html" %}
          </td>
          <td class="td px-8">{{ item.order_id }}<br>{{ item.uuid }}</td>
          <td class="td px-8">
            {{ item.date_ordered.strftime("%Y-%m-%d %H:%M") }}
          </td>
          <td class="td px-8">
            {{ item.client_json['first_name'] }} {{ item.client_json['last_name'] }} <br>
            <a href="tel:{{ item.client_json['telephone'] }}" class="blue">{{ item.client_json['telephone'] }}</a><br>
            <a href="mailto:{{ item.client_json['mail'] }}" class="blue">{{ item.client_json['mail'] }}</a>
          </td>
          <td class="td px-8">
            {{ _("Wartość") }}: {{ item.params_json.get('final_cost') or item.params_json.get('summary') or ''}} zł<br>
            {{ _("Waga") }}: ~{{ (item.params_json.get('weight', "-") | string ).replace(",",".") or "-"}} kg
          </td>
          <td class="td px-8 text-center">
            {% for x in status_list: %}
              {% if x[0].status_group_id == 1 and x[0].status_id == item.status %}
                {{ x[2].name }}
              {% endif %}
            {% endfor %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
