<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="EMPR" />
    <meta name="description" content="EMPR" />
    <title>EMPORIUM</title>
    <style>
html{font-family: sans-serif;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100}body{margin: 0}b{font-weight: 700}sup{font-size: 75%;line-height: 0;position: relative;vertical-align: baseline}sup{top: -.5em}img{border: 0}hr{box-sizing: content-box;height: 0}table{border-collapse: collapse;border-spacing: 0}td,th{padding: 0}html{font-size: 100%;box-sizing: border-box}*,: after,: before{box-sizing: inherit}body{padding: 0;margin: 0;font-family: Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;font-weight: 400;line-height: 1.5;color: #0a0a0a;background: #fefefe;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale}img{max-width: 100%;height: auto;-ms-interpolation-mode: bicubic;display: inline-block;vertical-align: middle}.{width: 100%;float: left;padding-left: .625rem;padding-right: .625rem}.{padding-left: .9375rem;padding-right: .9375rem}.: last-child: not(: first-child){float: right}.lg:col-span-2{width: 16.66667}.col-span-3{width: 25}.col-span-4{width: 33.33333}.col-span-6{width: 50}.col-span-12{width: 100}div,h4,td,th{margin: 0;padding: 0}b{line-height: inherit}b{font-weight: 700}h4{font-family: Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;font-weight: 400;font-style: normal;color: inherit;text-rendering: optimizeLegibility;margin-top: 0;margin-bottom: .5rem;line-height: 1.2}h4{font-size: 1.125rem}hr{max-width: 75rem;height: 0;border-right: 0;border-top: 0;border-bottom: 1px solid #cacaca;border-left: 0;margin: 1.25rem auto;clear: both}.text-right{text-align: right}@media print{*{background: transparent!important;color: #000!important;box-shadow: none!important;text-shadow: none!important}thead{display: table-header-group}img,tr{page-break-inside: avoid }}img{max-width: 100%!important}@page{margin: .5cm}}.is-invalid-input: not(: focus){background-color: rgba(236,88,64,.1);border-color: #ec5840}body,html{height: 100}table{width: 100%;margin-bottom: 1rem;border-radius: 0}table tbody,table tfoot,table thead{border: 1px solid #f1f1f1;background-color: #fefefe}table tfoot,table thead{background: #f8f8f8;color: #0a0a0a}table tfoot tr,table thead tr{background: transparent}table tfoot td,table thead th{padding: .5rem .625rem .625rem;font-weight: 700;text-align: left}table tbody td{padding: .5rem .625rem .625rem}body {font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 300; color: #000B29; background: #fafafa;}h4 {font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 300;}.clearer {clear: both;}img.small_thumbnail {max-width: 120px; max-height: 60px;}.text-2xl {font-size: 1.5rem;line-height: 2rem;}.font-semibold{font-weight: 600;}
@font-face {font-family: "foundation-icons"; src: url("/static/fonts/foundation-icons.eot"); src: url("/static/fonts/foundation-icons.eot?#iefix") format("embedded-opentype"), url("/static/fonts/foundation-icons.woff") format("woff"), url("/static/fonts/foundation-icons.ttf") format("truetype"),
  url("/static/fonts/foundation-icons.svg#fontcustom") format("svg"); font-weight: normal; font-style: normal;}
</style>
</head>
<body id="order_print">

    <div class=" col-span-12">
        <div class="col-span-3 ">
            <span class="text-2xl font-semibold">
              <span class="orange"> &#8227;</span>
                {{ _("Zamówienie") }} <br>
            </span>
                &#8470; {{ order.order_id }} // {{ order.uuid }}
            <br>
            <span class="text-2xl font-semibold">
              <span class="orange"> &#8227;</span>
                {{ _("Data złożenia zamówienia") }}
            </span>
            <br>
            {{ order.date_ordered.strftime("%H:%M") }} {{ order.date_ordered.strftime("%d/%m/%Y") }} 
        </div>
        <div class="col-span-3 ">
            <span class="text-2xl font-semibold">
              <span class="orange"> &#8227;</span>
                {{ _("Status") }}
            </span>
            <br>

            <h4>        
                {% for x in status_list: %}
                    {% if x[0].status_group_id == 1 and x[0].status_id == order.status %}
                        {{ x[2].name }}
                    {% endif %}
                {% endfor %}
            </h4>
        </div>
        <div class="col-span-3 ">    
            <span class="text-2xl font-semibold">
              <span class="orange"> &#8227;</span>
                {{ _("Dostawa") }}
            </span>
            <br>

            <h4> 
              {{ transport_method.name }} {{ transport_method.slots[order.transport].slot_name }}
            </h4>
            
            {% if order.params_json['transport_module_name'] == 'inpost': %}
                {% include "emporium:templates/case/modules/transport/inpost/order_summary/s_inpost_summary.html" %}
            {% endif %}
      
        </div>
        <div class="col-span-3 ">

            <span class="text-2xl font-semibold">
              <span class="orange"> &#8227;</span>
                {{ _("Płatność") }}
            </span>
            <br>

            {% for pay in payment_methods: %}
                {% if pay.payment_id == order.payment: %}
                    {{ pay.name }}
                {% endif %}
            {% endfor %}
            </h4>
        </div>
        <hr />
        <div class="col-span-6 ">
            <h4>
            <span class="text-2xl font-semibold">
              <span class="orange"> &#8227;</span>
                {{ _("Kupujący") }}
            </span>

            <br>
                {{ order.client_json['first_name'] }} {{ order.client_json['last_name'] }}<br>
                {{ 't. ' + order.client_json['telephone'] }}<br>
                {{ 'm. ' + order.client_json['mail'] }}<br>
                {% if order.client_json['company_name'] and order.client_json['company_nip']: %}
                    Firma: {{ order.client_json['company_name'] }}<br>
                    {{ _("NIP") }} : {{ order.client_json['company_nip'] }}<br>
                {% endif %}
                Adres<br>
                {{ order.client_json['street'] }} <br>
                {{ order.client_json['postcode'] }} {{ order.client_json['city'] }}<br>
                {{ order.client_json['state'] }} {{ order.client_json['country'] }}<br>
            </h4>
        </div>
        <div class="col-span-6 ">
            <h4>
            <span class="text-2xl font-semibold">
              <span class="orange"> &#8227;</span>
                {{ _("Dostawa") }}
            </span>
            
            <br>

                {% if order.params_json['transport_module_name'] == 'inpost': %}
                
                {{ order.params_json['transport'] }}<br>

                    {% include "emporium:templates/case/modules/transport/inpost/order_summary/s_inpost_summary.html" %}  

                {% elif order.params_json['transport_module_name'] =='pickup':  %}

                    {{ order.params_json['transport'] }}<br>
                    {{ order.params_json['transport_slot_excerpt']}}

                {% else: %}


                  {{ order.delivery_json.first_name }} {{ order.delivery_json.last_name }}<br>
                  {{ 't. ' + order.delivery_json.telephone }}<br>
                  {% if order.delivery_json.company_name and order.delivery_json.company_nip: %} 
                      {{ _("Firma") }} {{ order.delivery_json.company_name }}<br>
                      {{ _("NIP") }} {{ order.delivery_json.company_nip }}<br>
                  {% endif %}
                  {{ order.delivery_json.street }} <br>
                  {{ order.delivery_json.postcode }} {{ order.delivery_json.city }}<br>
                  {{ order.delivery_json.state }} {{ order.delivery_json.country }}<br>

                  {% endif %}
            </h4>
        </div>
    </div>
    {% if order.additional_info: %}
        <div class="col-span-12 ">
            <h4>{{ _("Komentarz do zamówienia") }}: </h4>
            <b>{{ order.additional_info }}</b>
        </div>
    {% endif %}

    <div class="clearer"></div>
 
    <hr />
    <div class="col-span-12 ">
    {% if order.products_json: %}
        <table>
            <thead>
                <th class="col-span-3" colspan="3">
                {{ _("Nazwa") }} {{ _("produktu") }}
                </th>
                <th class="lg:col-span-2">
                    {{ _("Liczba opakowań (sztuk) ") }}
                </th>
                <th>
                 {{ _("Cena") }} {{ _("jednostkowa") }}
                </th>
                <th class="lg:col-span-2">
                    {{ _("Wartość") }}
                </th>
            </thead>
            {% for item in order.products_json: %}
                <tr>
                    <td colspan="3">
                        {{ item['name'] }}
                    </td>
                    <td>
                        {% if item['square_meter']: %}
                            {{ item['product_quantity'] }} m<sup>2</sup>  ( {{_("opakowań") }})
                        {% else: %}
                            {{ item['product_quantity'] }} sztuk
                        {% endif %}
                    </td>
                    <td>
                        {{ item['real_price'] }} zł {{ 'za m<sup>2</sup>' |safe if item['square_meter']}}
                    </td>
                    <td>
                        {{ item['value'] }} zł
                    </td>
                </tr>
                {% endfor %}
                    <tfoot>
                          <tr>
                            <td colspan="4" class="text-right">
                               {{ _("Sposób dostawy") }}
                            <td>
                                {{ order.params_json['transport'] }}
                                ({{ order.params_json['unit'] }} x {{ order.params_json['unit_name'] }})
                            </td>
                            <td>
                                {{ order.params_json['transport_fee'] }} zł
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" class="text-right">
                                {{ _("Metoda płatności") }} 
                            </td>
                            <td>
                                {{ order.params_json['payment'] }}
                            </td>
                            <td>
                                {{ order.params_json['payment_fee'] }} zł
                            </td>
                        </tr>
                    {% if order.params_json.get('tax_dict'): %}
                      {% for k, v in order.params_json.get('tax_dict').items(): %}
                      <tr class="">
                          <td colspan="4">
                          </td>
                          <td>
                            {{ data_options.tax_dict[k|int].name }} 
                          </td>
                          <td>
                            {{ order.params_json['tax_dict'][k] }} zł
                          </td>
                      </tr>
                      {% endfor %}
                      {% endif %}
                        <tr>
                            <td colspan="4">
                            </td>
                            <td>    
                                {{ _("Koszt całkowity") }}
                                
                            </td>
                            <td>
                                {{ order.params_json.get('final_cost') or order.params_json.get("summary") }} zł
                            </td>
                        </tr>
                    </tfoot>
            </table>
    {% endif %}
    </div>

</body>
</html>
