
<div class="col-span-12 mt-2">
  <div id="breadcrumb" class="left p-4 md:p-2">
    <a class="blue" href='{{ request.route_url("s_home") }}'>{{_("Strona główna") }}</a>  

  {% for item in data_options.categories_dict: %}
   {% if not item.placeholder: %}
    > <a class="blue" href="{{ request.route_url('s_category', seo_slug=item.seo_slug, category_id=item.category_id) }}" rel="nofollow">{{ item.name }}</a>
   
   {% endif %}
  {% endfor %}

    {% if filter_params.first_page: %}
      {% for item in data_options.manufacturer_dict: %}
        {% if data_options.manufacturer_dict and item.manufacturer_id in filter_params.manufacturer: %}
        > 
          <a class="blue" href="{{ request.route_url(misc_options.search_url,  seo_slug=meta_options.seo_slug, category_id=filter_params.category_id, _query=(('manufacturer', item.manufacturer_id),)) }}">
                {{ item.name }}</a>
        {% endif %}
      {% endfor %}
    {% endif %}
  </div>
</div>
