          {% for item in options.categories_list: %}
            <div class="separator-border grid grid-cols-12 gap-4">
              <div class="col-span-12 text-2xl ">{{ item.name }}</div>
              <div class="col-span-3">
                <label for="title_{{ item.category_id }}">{{ _("Tytuł strony (Title)") }}</label>
                <input  name="u_title_{{ item.category_id }}" value="{{ item.u_title or '' }}">
              </div>

              <div class="col-span-3">
                <label for="meta_description_{{ item.category_id }}">{{ _("Meta opis (meta description)") }}</label>
                <input  name="meta_description_{{ item.category_id }}" value="{{ item.meta_description or '' }}"> 
              </div>
              <div class="col-span-3">
                <label for="u_h1_{{ item.category_id }}">{{ _("Nagłówek strony (H1)") }}</label>
                <input  name="u_h1_{{ item.category_id }}" value="{{ item.u_h1 or ''}}">
              </div>
              <div class="col-span-12 grid-cols-12 grid gap-4">
                <div class="col-span-6">
                  <label for="description_{{ item.category_id }}">{{ _("Opis (I) - wyświetlany na szczycie strony (max. 160 słów)") }}</label>
          
                  <textarea name="description_{{ item.category_id }}" class="description">{{ item.description | safe if item and item.description != None else ''}}</textarea> 
                </div>
                <div class="col-span-6">
                  <label for="description_long_{{ item.category_id }}">{{ _("Opis (II) - wyświetlany na dole strony (po liście produktów)") }}</label>
                  <textarea name="description_long_{{ item.category_id }}" class="description">{{ item.description_long |safe if item and item.description != None else ''}}</textarea> 
                </div>
              </div>
            </div>
          {% endfor %}