{% extends "emporium:templates/emporatorium/common/layout.html" %}

<form action='{{ request.route_url("option_action", action=action) }}' method="post" id="option">
    <input id="csrf_token" name="csrf_token" type="hidden" value="{{ get_csrf_token() }}"/>
    
    {% if action =='edit': %}
        <input type="hidden" value="{{ option.option_id }}" name="option_id" />
    {% endif %}

{% include "emporium:templates/emporatorium/common/edit_left.html" %}

{% for field in form: %}
    {% for error in field.errors: %}
        <div class="error">{{ field.label }} {{ error }}</div>
    {% endfor %}
{% endfor %}

<div class="lg:col-span-10 ">
    <h2>{{ 'Edytuj wartości atrybutu' + ' ' +  (option_group and option_group.name) or '' if action =='edit' else 'Dodaj wartość atrybutu' }}</h2>
    <div class="col-span-6 ">
        <label for="name">Grupa atrybutów</label>
        <select name="name">
        {% for item in option_groups: %}
            <option name="name" value="{{ option_description.name }}" >
        {% endfor %}
        </select>
    </div>
    <div class="col-span-6 ">
        <label for="option_values">{{ _("Wartości") }} - <span class="orange">{{ _("UWAGA ODDZIELAMY PRZECINKIEM BEZ SPACJI!") }}</span></label>
        <input id="option_values" name="option_values" value="" >
    </div>
     
    <input id="language_id" name="language_id" value="2" type="hidden">
    <input id="status" name="status" type="hidden" value="1">

</div>

{% include "emporium:templates/emporatorium/common/edit_right.html" %}

<script src='{{ request.static_url("emporium:templates/emporatorium/static/js/selectize.min.js") }}' type="text/javascript"></script>
