{% extends "emporium:templates/emporatorium/common/layout.html" %}

{% block body %}

  {% with id='option_list_header',title = 'Lista opcji' %}
    {% include "emporium:templates/emporatorium/common/title.html" %}
  {% endwith %}

  <a class="button float-right" href="{{ request.route_url('option_action', action='create') }}">Dodaj grupę i wartości</a><a class="block bg-blue hover:bg-blue-dark text-white p-2 m-2 text-center float-right" href="{{ request.route_url('option_single_action', action='create') }}">
    Dodaj wartość do grupy
  </a>

  <table class="col-span-12 ">
    <thead>
      <tr>
        <th class="w-1/12">{{ _("Edycja") }}</th>
        <th class="w-2/12">{{ _("Stan") }}</th>
        <th class="w-3/12">{{ _("Nazwa grupy") }}</th>
        <th class="w-4/12">{{ _("Wartości") }}</th>
        <th class="w-1/12"></th>
      </tr>
    </thead>
    <tbody>
      {% for item in option_list: %}
    <tr class="tr">
      <td class="td px-4">
            <a class="button_admin bg-cyan-500" href="{{ request.route_url('option_single_action', action='edit', _query=(('option_id',item[0].option_id),)) }}">{{ _("Edytuj") }}</a>
          </td>
          <td class="td px-4">
            {{ "Załączone" if item[0].status == 1 else "Wyłączone"}}
          </td>
          <td class="td px-4">
            {{ item[3].name }}
          </td>
          <td class="td px-4">
            {{ item[2].name }}
          </td>
          <td class="td px-4">
            {% with item_id = item[0].option_id, action_url = "option_", action_name="delete", parameter_name = "option_id" %}
              {% include "emporium:templates/emporatorium/common/button_change.html" %}
            {% endwith %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% include "emporium:templates/emporatorium/common/change_modal.html" %}

  <span class="hidden">
    <p id="txt_delete">{{ _("Potwierdź usunięcie opcjji") }}</p>
    <p id="txt_success_delete">{{ _("Pomyślnie usunięto opcję") }}</p>
  </span>



{% endblock %}