{% extends "emporium:templates/emporatorium/common/layout.html" %}
{% block body %}

  {% with id='banner_list_header', title = 'Bannery' %}
    {% include "emporium:templates/emporatorium/common/title.html" %}
  {% endwith %}
<div class="col-span-12 grid grid-cols-12 bg-white p-4 my-4 border gap-4">
  {% with action = 'banner_action' %}
    {% include "emporium:templates/emporatorium/common/add_block.html" %}
  {% endwith %}
</div>
  <table class="col-span-12">
    <thead>
      <tr>
        <th class="w-1/12">{{ _("Edycja") }}</th>
        <th class="w-1/12">{{ _("Stan") }}</th>
        <th class="w-1/12">{{ _("Obraz") }}</th>
        <th class="w-2/12">{{ _("Tytuł") }}</th>
        <th class="w-1/12"></th>
      </tr>
    </thead>
    <tbody>
      {% for item in banner_list: %}
        <tr class="tr">
          <td class="td px-4">
            <a class="button_admin bg-cyan-500" href="{{ request.route_url('banner_action', action='edit', _query=(('banner_id',item['banner_id']),)) }}">
              {{ _("Edytuj") }}
            </a>
          </td>
          <td class="td px-4 text-center">
            {{ _("Załączone") if item.status == 1 else '<i class="fi-alert orange text-3xl"></i>' | safe }}
          </td>
          <td class="td px-4">
            {% if item['image']: %}
              <img src='{{ request.static_url("emporium:images/banners/") + item["image"]  + ".webp"}}' class="small-thumbnail" height="200" />
            {% endif %}
          </td>
          <td class="td px-4">{{ item['caption'] }} // {{ item['caption_secondary'] }}</td>
          <td class="td px-4">
            {% with item_id = item['banner_id'], action_url = "banner_", action_name="delete", parameter_name = "banner_id" %}
              {% include "emporium:templates/emporatorium/common/button_change.html" %}
            {% endwith %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% include "emporium:templates/emporatorium/common/change_modal.html" %}

  <span class="hidden">
    <p id="txt_delete">{{ _("Potwierdź usunięcie bannera") }}</p>
    <p id="txt_success_delete">{{ _("Pomyślnie usunięto banner") }}</p>
  </span>



{% endblock %}