{% extends "emporium:templates/emporatorium/common/layout.html" %}
{% block body %}

{% include "emporium:templates/emporatorium/common/edit_left.html" %}


<form id="content_form" name="content_form" action='{{ request.route_url("banner_action", action=action) }}' method="post" enctype="multipart/form-data" class="col-span-10 grid grid-cols-12 gap-4">
    <input id="csrf_token" name="csrf_token" type="hidden" value="{{ get_csrf_token() }}"/>
  {% with id = 'banner_' + options.action + '_header', title = ('Edytuj' if options.action == 'edit' else 'Dodaj') + ' banner' %}
    {% include "emporium:templates/emporatorium/common/title.html" %}
  {% endwith %}

    {% for field in form: %}
      {% for error in field.errors: %}
        <span class="error">{{ field.label }} {{ error }}</span> ||
      {% endfor %}
    {% endfor %}

        <div class="col-span-5">
            <label for="caption">{{ _("Tytuł (np. produkt - 28 znaków)") }}</label>
            
            <input class="" id="caption" name="caption" required  value="{{ banner.caption if banner }}" onkeyup="updatetxt()">

            <input class="" id="title" name="title" hidden  value="{{ banner.caption if banner }}">

        </div>

        <div class="col-span-5">
            <label for="size">{{ _("Adres (url)") }}</label>
            <input class="" id="url" name="url"  value="{{ banner.url if banner }}" required>
        </div>

        <div class="col-span-5">
            <label for="date_start">{{ _("Data rozpoczęcia") }}</label>
            <input class="h" name="date_start" type="date" value="{{ (banner and banner.date_start) or '' }}" id="date_start">
        </div>

        <div class="col-span-5">
            <label for="date_end">{{ _("Data zakończenia") }}</label>
            <input class="" name="date_end" type="date" value="{{ (banner and banner.date_end) or '' }}" id="date_end">
        </div>

        <div class="col-span-5">
            <label for="title">{{ _("Dodatkowy tytuł (np. producent - 28 znaków)") }}</label>
            <input class="" id="caption_secondary" name="caption_secondary"  value="{{ banner.caption_secondary if banner }}">
        </div>

        <div class="col-span-5">
            <label for="size">{{ _("Adres dodatkowy (url)") }}</label>
            <input  class="" id="url_secondary" name="url_secondary"  value="{{ banner.url_secondary if banner }}">
        </div>

        <div class="col-span-5">
            <label for="status">{{ _("Status") }}</label>
            <select id="status" name="status" class="required">
                <option class="option_status" value="1" {{ ('selected' if banner.status == 1 else "") if banner |safe }}>{{ _("Załączony") }}</option>
                <option class="option_status" value="0" {{ ('selected' if banner.status == 0 else "") if banner |safe }}>{{ _("Wyłączony") }}</option>
            </select>
        </div>

        <div class="col-span-5">
            <label for="page">{{ _("Strona wyświetlania") }}</label>
            <select id="page" name="page" class="required">
                <option class="option_page" value="0" {{ ('selected' if banner.page == 0 else "") if banner |safe }}>{{ _("Główna - przewijane") }}</option>
                <option class="option_page" value="1" {{ ('selected' if banner.page == 1 else "") if banner |safe }}>{{ _("Główna - statyczne") }}</option>
          </select>
        </div>

        <div class="col-span-5">
            <label for="size">{{ _("Kolejność wyświetlania") }}</label>
            <select id="order" name="order" class="required">
                <option value="0" {{ ('selected' if banner.order == 0 else "") if banner |safe }}>{{ _("Losowy") }}</option>
           </select>
        </div>

        <div class="col-span-6 ">
            <label for="image">{{ _("Zdjęcie") }}</label>

            <div class="hidden" id="main_image_placeholder"></div>

          {% if banner and banner.image and options.action  == 'edit': %}
            <div id="old_banner_image">
              <img src="{{ request.static_url('emporium:images/banners/') + banner.image + '.webp' }}" class="" width="480" height="480" />&nbsp;&nbsp;
              <input type='hidden' name='banner_image_url' value='{{banner.image}}'>
               {% with item_id = banner.banner_id, action_url = "image_", action_name="delete", parameter_name ="banner&banner_id" %}
                {% include "emporium:templates/emporatorium/common/button_change.html" %}
               {% endwith %}
            </div>
            {% else: %}
              <input form="placeholer_form" type="file" name="image_content" id="banner_image" onchange="uploadFile('banner','image','banner')">
             {% with primary_type='image', progress_name = "banner" %}
              {% include "emporium:templates/emporatorium/common/progress_bar.html" %}
             {% endwith %}
          {% endif %}



        </div>
        <input id="banner_id" name="banner_id" type="hidden" value="{{ banner.banner_id if banner }}">
        <input id="creator_id" name="creator_id" type="hidden" value="{{ banner.creator_id if banner }}">
    </form>

{% include "emporium:templates/emporatorium/common/edit_right.html" %}

{% include "emporium:templates/emporatorium/common/change_modal.html" %}

  {% include "emporium:templates/emporatorium/common/file_upload_js.html" %}

  <span class="hidden">
    <p id="txt_delete">{{ _("Potwierdź usunięcie bannera") }}</p>
    <p id="txt_success_delete">{{ _("Pomyślnie usunięto banner") }}</p>
  </span>

  <script type="text/javascript">
    function updatetxt() {
       _('title').setAttribute('value', _('caption').value);
    }
  </script>



{% endblock %}
