      <div class="col-span-6">
        <label for="description">{{ _("Opis") }}</label>
        <textarea class="" id="description" name="description">{{ transport and transport.description|safe or ' ' }}</textarea>
      </div>