      <div class="col-span-4 ">
          <label for="manipulation_fee">{{ _("Opłata manipulacyjna (dopłata bazowa)") }}</label>
          <input id="manipulation_fee" name="manipulation_fee" type="number" value="{{ (transport and transport.module_settings and transport.module_settings.get('manipulation_fee')) or '' }}">
      </div>