      <div class="col-span-4 ">
        <label for="status">{{ _("Nazwa") }}</label>
        <input id="name" name="name" required class="required"  value="{{ (transport and transport.name) or '' }}">
        <input type="hidden" name="module_name"  value="{{ (transport and transport.module_name) or '' }}">
      </div>