<script type="text/javascript">


function addSizeSlot(transport_id) {

  let new_index_value = 1;
  const primary_type = 'transport';
  const data_type = 'size_slot';
  let element_count = _(primary_type + '_'+ data_type + '_count').value;
  new_index_value += parseInt(element_count);
  const icon_type = 'fi-social-dropbox';
  var parent = primary_type + "_" + data_type  + "_" + new_index_value;

  var formData = new FormData();
  var element_id = -1;
  formData.append('transport_id', transport_id);
  var ajax = new XMLHttpRequest();
  ajax.open('POST', 'transport_size_slot_add');
  ajax.setRequestHeader('X-Requested-With','XMLHttpRequest');
  ajax.setRequestHeader('X-CSRF-Token', token);
  ajax.send(formData);
  ajax.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      element_id =  JSON.parse(this.responseText);
      addSpecial(element_id, new_index_value, parent, icon_type, primary_type, data_type);
    }
  }
}



function addSpecial(element_id, new_index_value, parent, icon_type, primary_type, data_type) {

  
  let color = setIconColor(new_index_value);
  let name = '{{ _("Nazwa") }}';
  var el = document.createElement('div');
  var main_icon_width = 2;

  el.setAttribute("class", "order-" + new_index_value + " grid grid-cols-12 tr "+ primary_type + "_row");
  el.setAttribute("id", parent);
  el.setAttribute("data-data_type", data_type);
  el.setAttribute("data-primary_type", primary_type);
  el.setAttribute("data-index", new_index_value);
  var final_html = `
    <div class="text-center grid bg-white col-span-${main_icon_width} td">

      <div class="col-span-8 ">
        <label for="slot_`+ element_id +`">`+ name +`</label>
        <input id="slot_`+ element_id +`_slot_name" name="slot_`+ element_id +`_name" required class="required"  value="">
      </div>

      <input type="hidden" name="`+primary_type+`_id" id="`+primary_type+`_id" value="`+element_id+`">
      
      <input class="size_order" type="hidden" name="`+primary_type+`_order_`+element_id+`" id="`+primary_type+`_order_`+element_id+`" required value="`+new_index_value+`">

    </div>
    <div class="text-center col-span-1 td grid grid-cols-12">
        <div class="col-span-6">
          <i 
            data-parent="`+parent+`"
            data-order="down" 
            class="change_order order_down `+data_type+` cursor-pointer fi-arrow-down text-5xl my-auto mx-auto text-`+color+`00" name="order_down">
          </i>
        </div>
        <div class="col-span-6">
        <br>
          <i 
            data-parent="`+parent+`"
            // data-order="up" 
            class="change_order order_up `+data_type+` cursor-pointer fi-arrow-up text-5xl my-auto mx-auto text-`+color+`00" name="order_up"></i>
        </div>

    </div>


    <div class="col-span-1 td grid">
      `+name+`
    </div>


  <div class="td text-center grid col-span-1">
    <i class="fi-skull file_remove text-5xl cursor-pointer text-rose-800 mx-auto my-auto" data-parent="`+parent+`"></i>
  </div>
    `;

  el.innerHTML = final_html;
  insertAfter(_('table_size_slots_footer'), el);
  _(primary_type +'_'+ data_type +'_count').value = new_index_value;

}

</script>