        <div class="transport_edit_block col-span-12 min-height-180 flex-col grid gap-2 grid-cols-12">

          <div class="col-span-1">
            <label for="special">{{ _("Dodaj nowy zakres cen transportu") }}</label> 
            <a class="button_admin bg-lime-500 ml-auto" onclick="addSizeSlot({{transport.transport_id}})">{{ _("Dodaj") }}</a>
            </select>
            
          </div>

          <div class="col-span-11 pb-8 grid grid-cols-12 border">

            <div
              data-primary_type="transport" 
              data-data_type='size_slot'
              class="flex flex-col col-span-12" id="table_transport_mutable_size_slots" >
              <input form="placeholer_form" type="hidden" name="transport_size_slot_count" value="{{ transport_size_slots| count}}" id="transport_size_slot_count" autocomplete="off">

          {% if transport and transport_size_slots %}
            {% with primary_type='transport', data_type='size_slot', list_length =transport_size_slots | count  %}
            {% for item in transport_size_slots : %}

            <div 
            data-primary_type="transport" 
            data-index="{{loop.index}}" 
            data-data_type="size_slot" 
            id="transport_size_slot_{{loop.index}}" 
            class="order-{{loop.index}} grid grid-cols-12 tr size_slot_row" >
              <div class="text-center flex gap-8 bg-white col-span-2 td">

                {% include "emporium:templates/emporatorium/common/edit_order_arrows.html" %}

                {% include "emporium:templates/emporatorium/transport/module_segments/slot_name.html" %}
                
                <input type="hidden" name="transport_slot_id" id="transport_slot_id" value="{{item.transport_slot_id}}">

                <input class="size_order" type="hidden" name="size_slot_order_{{item.transport_slot_id}}" id="size_slot_order_{{item.transport_slot_id}}" required
                 value="{{loop.index}}">
                 
              </div>   

              <div class="td text-left col-span-9  grid-cols-12">
                <div class="grid-cols-12 flex gap-4 py-4">
                {% include "emporium:templates/emporatorium/transport/module_segments/slot_status.html" %}

                {% include "emporium:templates/emporatorium/transport/module_segments/slot_special_method.html" %}

                {% if transport.module_name in ('courier', 'inpost', 'pickup', 'post'): %}
                  {% include "emporium:templates/emporatorium/transport/module_segments/slot_unit_weight.html" %}

                  {% include "emporium:templates/emporatorium/transport/module_segments/slot_unit_fee.html" %}

                  {% include "emporium:templates/emporatorium/transport/module_segments/slot_manipulation_fee.html" %}
              </div>
              <div class="grid-cols-12 flex gap-4 py-4">

                  {% include "emporium:templates/emporatorium/transport/module_segments/slot_applicability.html" %}

                  {% include "emporium:templates/emporatorium/transport/module_segments/slot_removed_transports.html" %}

                  {% include "emporium:templates/emporatorium/transport/module_segments/slot_removed_slots.html" %}

                {% elif transport.module_name =='free_delivery': %}

                  {% include "emporium:templates/emporatorium/transport/module_segments/slot_applicability.html" %}

                  {% include "emporium:templates/emporatorium/transport/module_segments/slot_removed_transports.html" %}

                  {% include "emporium:templates/emporatorium/transport/module_segments/slot_removed_slots.html" %}

                  {% include "emporium:templates/emporatorium/transport/module_segments/slot_minimum_cart_value.html" %}

                {% endif %}
              </div>
              </div>  
              <div class="td text-center grid col-span-1">
                {# include "emporium:templates/emporatorium/transport/transport_edit/transport_edit_remove_element.html" #}


               {% with item_id = item.transport_slot_id, action_url = "transport_size_slot_", action_name="delete" %}
                {% include "emporium:templates/emporatorium/common/button_change.html" %}
               {% endwith %}


              </div>
            </div>
            {% endfor %}
            {% endwith %}
          {% endif %}
          <div id="table_size_slots_footer" class="order-last"></div>
          </div>

        </div> 

        </div> 

      {% include "emporium:templates/emporatorium/transport/module_segments/size_slots_js.html" %}

