
      <div class="col-span-4 ">
          <label for="slot_{{item.transport_slot_id}}_applicability">{{ _("Metoda jest aktywna gdy w koszyku") }} </label>
          <select id="slot_{{item.transport_slot_id}}_applicability" name="slot_{{item.transport_slot_id}}_applicability">
            <option value="0" {{ 'selected' if item and item.applicability == 0}}>{{ _("Metoda nie wymaga spełnienia dodatkowych warunków ") }}</option>
            <option value="1" {{ 'selected' if item and item.applicability == 1}}>{{ _("Co najmniej jeden produkt spełnia wymagania metody transportu ") }} "{{item.name}}"</option>
            <option value="2" {{ 'selected' if item and item.applicability == 2}}>{{ _("Wszystkie produkty spełniają wymatania tej metody transportu") }} "{{item.name}}"</option>
          </select>      
      </div>