      <div class="col-span-2">
          <label for="slot_{{item.transport_slot_id}}_manipulation_fee">{{ _("Opłata manipulacyjna") }}</label>
          <input id="slot_{{item.transport_slot_id}}_manipulation_fee" name="slot_{{item.transport_slot_id}}_manipulation_fee" type="number" value='{{ item and item.module_settings and item.module_settings.get("manipulation_fee") }}'>
      </div>