      <div class="col-span-3 ">
          <label for="slot_{{item.transport_slot_id}}_unit_fee">{{ _("Opłata za każdą paczke (paletę)") }}<span class="orange">(*)</span></label>
          <input id="unit_fee" name="slot_{{item.transport_slot_id}}_unit_fee"  value="{{ (item and item.module_settings and item.module_settings.get('unit_fee') ) or '' }}">
      </div>