      <div class="col-span-3 ">
          <label for="slot_{{item.transport_slot_id}}_min_value">{{ _("Min. wartość zamówienia") }}<span class="orange">(*)</span></label>
          <input id="min_value" name="slot_{{item.transport_slot_id}}_min_value"  value="{{ (item and item.module_settings and item.module_settings.get('min_value') ) or '0' }}">
      </div>