      <div class="col-span-12 ">
        <label for="slot_{{item.transport_slot_id}}_removed_transports">{{ _("Usuń metodę transportu") }}</label>
        <ul id="slot_{{item.transport_slot_id}}_removed_transports" class="">
          {% for element in other_transports: %}
          <li class="pl-6">
            <label>
              <input name="slot_{{item.transport_slot_id}}_removed_transports" value="{{element.transport_id}}" type="checkbox" {{'checked' if (item and item.module_settings and element.transport_id|int in item.module_settings.get('removed_transports') ) or ''}}> 
              {{element.name}}
            </label>
          </li>
          {% endfor %}
        </ul>         
      </div>