
      <div class="col-span-3">
          <label for="status">{{ _("Status") }}</label>
          <select id="slot_{{item.transport_slot_id}}_status" name="slot_{{item.transport_slot_id}}_status">
            <option value="True" {{ 'selected' if item and item.status==True or action=='create' }}>{{ _("Załączony") }}</option>
            <option value="False" {{ 'selected' if item and item.status==False }}>{{ _("Wyłączony") }}</option>
          </select>      
      </div>