      <div class="col-span-3 ">
          <label for="unit_weight">{{ _("Waga jednej paczki (palety)") }}<span class="orange">(*)</span></label>
          <input id="unit_weight" name="slot_{{item.transport_slot_id}}_unit_weight"  value="{{ (item and item.module_settings and item.module_settings.get('unit_weight') ) or '' }}">
      </div>