      <div class="col-span-6 ">
        <label for="slot_{{item.transport_slot_id}}_slot">{{ _("Nazwa") }}</label>
        <input id="slot_{{item.transport_slot_id}}_slot_name" name="slot_{{item.transport_slot_id}}_name" required class="required"  value="{{ (item and item.name) or '' }}">
      </div>