
      <div class="col-span-4 ">
          <label for="slot_special_method">{{ _("Metoda specjalna") }} </label>
          <select id="slot_special_method" name="slot_{{item.transport_slot_id}}_special_method">
            <option value="True" {{ 'selected' if item and item.special_method == True}}>{{ _("Tak -> użycie warunkowe") }}</option>
            <option value="False" {{ 'selected' if item and item.special_method == False}}>{{ _("Nie -> metoda ogólnodostępna") }}</option>
          </select>      
      </div>