      <div class="col-span-12 ">
        <label for="slot_{{item.transport_slot_id}}_removed_slots">{{ _("Usuń slot") }}</label>

        <ul id="slot_{{item.transport_slot_id}}_removed_slots" class="">
          {% for element in transport_size_slots: %}
          {% if element.transport_slot_id != item.transport_slot_id: %}
          <li class="pl-6">
            <label>
              <input name="slot_{{item.transport_slot_id}}_removed_slots" value="{{element.transport_slot_id}}" type="checkbox" {{'checked' if (item and item.module_settings and  element.transport_slot_id|int in item.module_settings.get('removed_slots')) or '' }}> 
              {{element.name}}
            </label>
          </li>
          {% endif %}
          {% endfor %}
        </ul>         
      </div>