
      <div class="col-span-4 ">
          <label for="special_method">{{ _(" Metoda jest aktywna gdy w koszyku ") }} </label>
          <select id="special_method" name="special_method">
            <option value="1" {{ 'selected' if transport and transport.special_method==True }}>{{ _("Wyświetlenie metody wymaga spełnienia warunków przez produkty") }}</option>
            <option value="0" {{ 'selected' if transport and transport.special_method==False }}>{{ _("Metoda jest ogólnodostępna") }}</option>
          </select>      
      </div>