
      <div class="col-span-4 ">
          <label for="status">{{ _("Status") }}</label>
          <select id="status" name="status">
            <option value="1" {{ 'selected' if transport and transport.status==1 or action=='create' }}>{{ _("Załączony") }}</option>
            <option value="0" {{ 'selected' if transport and transport.status==0 }}>{{ _("Wyłączony") }}</option>
          </select>      
      </div>