
      <div class="col-span-4 ">
          <label for="transport_method">{{ _("Typ transportu") }}</label>
          <select id="transport_method" name="transport_method">
            <option value="0" {{ 'selected' if transport and transport.transport_method==0 or action=='create' }}>{{ _("Produkt fizyczny") }}</option>
            <option value="1" {{ 'selected' if transport and transport.transport_method==1  }}>{{ _("Produkt cyfrowy") }}</option>
          </select>      
      </div>