      <div class="col-span-2">
        <label for="transport_unit_name">{{ _("Nazwa jednostki pakowania") }}</label>
        <input id="transport_unit_name" name="transport_unit_name" class="required"  value="{{ (item and item.transport_unit_name) or '' }}">
      </div>