      <div class="col-span-4 ">
          <label for="unit_fee">{{ _("Opłata za każdą paletę") }}<span class="orange">(*)</span></label>
          <input id="unit_fee" name="unit_fee"  value="{{ (transport and transport.module_settings and transport.module_settings.get('unit_fee') ) or '' }}">
      </div>