      <div class="col-span-4 ">
          <label for="unit_weight">{{ _("Waga jednej palety") }}<span class="orange">(*)</span></label>
          <input id="unit_weight" name="unit_weight"  value="{{ (transport and transport.module_settings and transport.module_settings.get('unit_weight') ) or '' }}">
      </div>