{% set current_page %} 
          <li class="">
            <a class="text-white hover:bg-white hover:text-gray-700 px-4 block whitespace-no-wrap" href="{{ request.route_url('page_action', action = 'edit', _query=(('next', 'page_list'),('page_id', page.page_id))) }}">
              <i class="fi-wrench size-lg"></i> {{_("Edytuj stronę") }}
            </a>
          </li> 
{% endset %}
{% set class_ %} {% endset %}
{% set extra_javascripts_header %}{% endset %}
{% set extra_stylesheets %}{% endset %}
{% set xsearch %} {{ request.route_url(misc_options.search_url) }} {% endset %}
{% set xterm %}{% endset %}
{% set title %}{{page.title + ' - ' + settings['name']}}{% endset %}

{% extends "/common/s_layout.html" %}

{% block body %}

  <div class="md:col-span-8 md:col-start-3 col-span-12 page-internals my-2 grid  grid-cols-12 grid-padding-x">
    {% if page.title != 'Kontakt': %}
      
      <h5 class="col-span-12 text-2xl">{{ page.title}}</h5>
      
      <div class="col-span-12">
        {{ page.content |safe}}
      </div>
      
      {% if page.title == 'Transport': %}
        <table class="table col-span-12">
          <thead>
            <tr>
              <td class="w-1/3"><b>{{ _("Dostawa") }}</b></td>
              <td>
              </td>
              <td class="w-2/3"><b>{{ _("Metoda płatności") }}</b></td>
            </tr>
          </thead>
          <tbody>
            {% for item in transport_and_payment_methods_summarized: %}
              <tr class="">
                <td class="td">
                {{ item['transport_name']}}:  {{ item["transport_fee"]}}
                </td>
                <td class="td">
                  <b>+</b>
                </td>
                <td class="td">
                  <ul>
                {% for htem in item["transport_and_payment_methods_summarized"]: %}

                  <li>{{ (htem["payment_name"]).lower()}}:  &nbsp;   {{ htem["fees"]}}</li>
                {% endfor %}
                  </ul>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <div class="col-span-12">
          {{ page.content_extended |safe}}
        </div>
      {% endif %}

    {% else: %}

      {% if settings.get('shop_status') != '1': %}
        <div class="col-span-12">
          <h5 class="text-xl text-center pb-4 md:pb-0">
            {% include "/40x/s_abnormal_shop_status.html" %}
          </h5>
        </div>
      {% endif %}

      <div class="col-span-12 md:col-span-6 ">


        <h5 class="text-2xl">{{ page.title}}</h5>

        {{ settings['address'] |safe}}<br>
        {{ settings['contact'] |safe}}
      </div>
        
      <div class="col-span-12 md:col-span-6" id="contact_form">

        <h5 class="text-2xl">{{ _("Formularz kontaktowy") }}</h5>
        <form action='{{ request.route_url("s_page", pagename="Kontakt") }}' method="post" id="kontakt" class="grid grid-cols-12">
          <input id="csrf_token" name="csrf_token" type="hidden" value="{{ get_csrf_token() }}"/>
          {% for error in contact_form.errors: %}
            <div class="error">{{  error }}</div>
          {% endfor %}

          <div class="col-span-12 md:col-span-8 ">
            {{ contact_form.name.label}}
            {{ contact_form.name }}
          </div>

          <div class="col-span-12 md:col-span-8 ">
            {{ contact_form.telephone.label}}
            {{ contact_form.telephone }}
          </div>

          <div class="col-span-12 md:col-span-8 ">
            {{ contact_form.mail.label}}
            {{ contact_form.mail }}
          </div>

          <div class="col-span-12 md:col-span-8 ">
            {{ contact_form.message.label}}
            {{ contact_form.message(rows=4, class="w-full border py-2 px-3 transition-all border-blue rounded") }}
            {% if msg: %}
            <p class="orange">{{ _("Wiadomość wysłana") }} pomyślnie</p>
            {% endif %}
          </div>

          <div class="col-span-12 md:col-span-8 ">
            {{ contact_form.submit(class_="button w-auto")}}
          </div>

        </form>
      </div>
    {% endif %}
    
    {% if blocks: %}
    <div id="bolloks" class="col-span-12 page-internals my-2 mx-4 md:mx-0">
      {% for item in blocks: %}
      <div class="grid grid-cols-12 gap-4 ">
        <div class="col-span-{{ item.size }} {{ 6 if item.size != 12 else 12 }} ">
          <h5 class="">{{ item.title }} </h5>
          <div class="text-sm">{{ item.content | safe }}</div>
        </div>
      </div>
      {% endfor %}
    </div>
  {% endif %}

  </div>
{% endblock %}
