              <p class="{{'col-span-12' if layout == 'grid'}} {{' text-right' if product.special_price }} product_price font-bold">{{ '<strike>' |safe if product.special_price }}
                <span class="{{ 'text-3xl' if not product.special_price }}">{{ (product.price|number_comma)[:-2] }}</span>
                <span class="lower_price">{{ (product.price|string)[-2:] }}</span>
                {{settings.currency}}{{ '/m<sup>2</sup>' |safe if product.square_meter }}{{ '</strike>' |safe if product.special_price}}
              </p>
              
            {% if product.special_price: %}
               <p class="pl-2 col-span-8 text-left special_product_price font-bold">
                <span class="text-3xl capital_price">{{ (product.special_price|string)[:-2] | number_comma }}</span><span class="lower_price">{{ (product.special_price|string)[-2:] }}</span>
                 {{settings.currency}}{{ '/m<sup>2</sup>' |safe if product.square_meter }}
               </p>
             </span>
            {% endif %}