              <p>{{_("Elementy wchodzące w skład zestawu ") }}</p>
              <div id="related_products_list" class="grid grid-cols-12">
                {% for subproduct in related_products_list: %}

                <div class="grid grid-cols-12 py-2 col-span-12">
                
                  <div class="text-center col-span-2 pr-4 ">

                  {% with product=subproduct %}
                    {% include "/common/s_grid_image.html" %}
                  {% endwith %}
                  </div>

                  <div class="col-span-10 my-auto">
                  {% with object=subproduct, textsize='xl' %}
                  {% include "emporium:templates/case/product/listing_segment/s_product_properties.html"%}
                  {% endwith %}
                    
                    <a id="product_name_{{subproduct.product_id}}" href="{{ request.route_url('s_product', seo_slug = subproduct.slug, id = subproduct.product_id) }}" class="text-dark text-sm md:text-base"> {#loop.index|string + '.) '#}{{ subproduct.name }}</a>

                  </div>
                </div>
                {% endfor %}
              </div>
