  {% if object.product_type ==1 or settings.downloadable_products == 1: %}
    <div class="col-span-1">
    {% if object.product_type ==1: %}
    <span class="tooltip">
      <i class="fi-{{'record' if object.transport_method == 1 else 'database'}} text-{{textsize}} text-emerald-500 pr-4 my-auto"></i>
      {% with tooltip = _("Płyta")  if object.transport_method == 1 else _("Zestaw") %}
        {% include "emporium:templates/case/common/s_tooltip_clean.html"%}
      {% endwith %}
    </span>
    {% endif%}
    {% if settings.downloadable_products == 1%}
    <span class="tooltip">
      <i class="fi-{{'at-sign' if object.transport_method == 1 else 'social-dropbox'}} text-{{textsize}} text-{{'sky' if object.transport_method == 1 else 'orange'}}-500 my-auto"></i>

      {% with tooltip = "Digital - plik do pobrania" if object.transport_method == 1 else 'Produkt fizyczny - wysłka' %}
      {% include "emporium:templates/case/common/s_tooltip_clean.html"%}
      {% endwith %}
    </span>
    {% endif %}
    </div>
  {% endif %}