            {% if product.storage_current: %}
              {% for element in product.storage_current: %}
                {% if element.product_storage_id: %}
                <span class="flex">
                  {{data_options.storage_dict[element.storage_id].name}}:
                  {% if data_options.storage_dict[element.storage_id].storage_type == 1: %}
                    {{element.quantity}} {{_("szt.") }} {{'(' + element.calculated_quantity |string + 'm<sup class="top-0">2</sup>)' |safe if product.square_meter == 1 }}
                  {% endif %}                   
                </span>
                {% endif %}
              {% endfor %}
            {% endif %}