              {% if settings['products_require_storage'] == '1': %}
                <div class="pt-4">
                  {{_("Stan magazynowy") }}:
                  
                  {% if data_options_filtered.special_filtered.get(product.product_id): %}
                  {{ _("produkty w cenie promocyjnej") }}
                  <ul>
                  {% for special_price in data_options_filtered.special_filtered[product.product_id]: %}
                  
                    {% if special_price.quantity and special_price.quantity > 0 and special_price.price and special_price.price > 0: %}
                      <li> {{special_price.quantity}} {{_("szt. w cenie ") }}<strike>{{product.price|number_comma}}</strike> {{special_price.price|number_comma}} {{settings['currency']}}</li>
                  
                    {% endif %}
                  
                  {% endfor %}
                  {% if product.not_promoted_storage_summary > 0: %}

                    <li> {{product.not_promoted_storage_summary}} {{_("szt. w cenie ") }}  {{product.price|number_comma}} {{settings['currency']}}</li>
                  {% endif %}
                  </ul>
                
                {% elif product.not_promoted_storage_summary > 0: %}
                  {{product.not_promoted_storage_summary}} {{_("szt.") }}
                {% elif product.ean: %}
                   {{_("Nie udało się pobrać aktualnego stanu magazynowego produktu. Prosimy o kontakt w celu potwierdzenia dostępności produktu.") }}
                 {% endif %}


                  {% if product.storage_summary and product.product_packages  > product.storage_summary:  %}
                    <div class="divide-x-1 pt-4 mt-4 mb-2"></div>
                    <b><span class="orange">{{_("Uwaga") }}</span> {{_("W koszyku znajduje się więcej produktów niż posiadamy w magazynie.") }} {{_("Po złożeniu zamówienia skontaktujemy się z Tobą by potwierdzić możliwość i termin realizacji poniższego zamówienia.") }}</b>
                  {% endif %}
                </div>
              {% endif %}
