              {% if product.one_batch and product.product_packages > 1: %}

              <label>
                <input id="single_set_{{product.product_id}}" type="checkbox" name="{{product.product_id}}_single_set" product_id="{{product.product_id}}" value="single_set"  onchange="InputSingleSet(this)"  oninput="InputSingleSet(this)" {{'' if product.get('product_single_set') == 'false' else 'checked'}}>
                  {{_("wszystkie") }} {{'paczki' if product.square_meter else 'płytki'}} <br> {{ _("z tej samej serii") }}
              </label>
              {% endif %}
