                {% if settings.get('artisan_catalog_display') == '1': %}
                  <span class="flex">

                  {{_("Zespół")}}: 

                    {% if product.band: %}
                    
                     {{data_options.band_dict.get(product.band).name}}     
                    {% endif %}
                  
                  </span>
              
                {% else: %}

                <span class="flex">
                  {{ _("Producent") }}: {{data_options.manufacturer_dict[product.manufacturer_id].name}}
                </span>

                {% endif%}