{% extends "emporium:templates/emporatorium/common/layout.html" %}

{% block body %}
  

{% include "emporium:templates/emporatorium/common/edit_left.html" %}

  <div class="col-span-10 grid grid-cols-12">

    {% if form.errors.items(): %}
      {% for fieldName, errorMessages in form.errors.items(): %}
        {{ fieldName.title() }} - {{ errorMessages }}
      {% endfor %}
    {% endif %}

    <form action='{{ request.route_url("special_action", action=action) }}' method="post" id="special" class="col-span-12 bg-white p-4">
        <h5>
    {% if action =='edit': %}
      {{ _("Edycja opcji specjalnej") }} <span class="orange">{{ special_description.name }}</span>
    {% else: %}
      {{ _("Dodawanie opcji specjalnej") }}
    {% endif %}
        </h5>
    <div class="md:col-span-3 col-span-6 ">
        <label for="name">{{ _("Nazwa opcji") }}</label>
        <input id="name" name="name" value="{{ (special and special_description.name) or '' }}" >
    </div>


    <div class="md:col-span-3 col-span-6 ">
        <label for="name_displayed">{{ _("Nazwa opcji wyświetlana na liście produktów") }}</label>
        <input id="name_displayed" name="name_displayed" value="{{ (special and special_description.name_displayed) or '' }}" >
    </div>

    <div class="md:col-span-2 col-span-6">
       <label>{{ _("Czy ta opcja wpływa na cenę?") }}</label>
        <div class="switch large left">
          <input class="switch-input" id="price_changing" type="checkbox" name="price_changing">
          <label class="switch-paddle" for="price_changing">
            <span class="show-for-sr">{{ _("Czy ta opcja wpływa na cenę?") }}</span>
            <span class="switch-active" aria-hidden="true" >{{ _("Tak") }}</span>
            <span class="switch-inactive" aria-hidden="true" >{{ _("Nie") }}</span>
          </label>
        </div>
    </div>

    <div class="md:col-span-6 col-span-12 ">
        <label for="description">{{ _("Opis opcji") }}</label>
        <textarea class="" id="description" name="description" value="{{ (special and special_description.description) or '' }}"></textarea>
    </div>
     
    <input id="language_id" name="language_id" value="2" type="hidden">
    <input id="status" name="status" type="hidden" value="1">

    {% if action =='edit': %}
        <input type="hidden" value="{{ special.special_id }}" name="special_id" />
    {% endif %}

    </form>
</div>

{% include "emporium:templates/emporatorium/common/edit_right.html" %}

{% endblock %}