{% extends "emporium:templates/emporatorium/common/layout.html" %}

{% block body %}
  
  {% with id='attribute_list_header', title = 'Lista atrybutów' %}
    {% include "emporium:templates/emporatorium/common/title.html" %}
  {% endwith %}
<div class="col-span-12 grid grid-cols-12 bg-white p-4 my-4 border gap-4">
  {% with action = 'attribute_action' %}
    {% include "emporium:templates/emporatorium/common/add_block.html" %}
  {% endwith %}
</div>
<table class="table col-span-12">
  <thead>
    <tr>
      <th class="w-1/12">{{ _("Edycja") }}</th>
      <th class="w-1/12">{{ _("Nazwa grupy") }}</th>
      <th class="w-6/12">{{ _("Wartości") }}</th>
      <th class="w-1/12">{{ _("Stan") }}</th>
      <th class="w-1/12"></th>
    </tr>
  </thead>
  <tbody>
    {% for item in attribute_list: %}
      <tr class="tr">
        <td class="td px-4 text-center">
          <a class="button_admin bg-cyan-500" href="{{ request.route_url('attribute_action', action='edit', _query=(('attribute_group_id', item['attribute_group_id']),)) }}">
            {{ _("Edytuj") }}
          </a>
        </td>
        <td class="td px-4 text-center">
          {{ item['name'] }} ({{ item['attribute_name'] }})
        </td>
        <td class="td px-4">
          {{ item['attributes'] }}
        </td>
        <td class="td px-4 text-center">
          {{ _("Załączone") if item['status'] == 1 else _("Wyłączone") }}
        </td>
        <td class="td px-4 text-center">
          {% with item_id = item['attribute_group_id'] , action_url = "attribute_group_", action_name="delete", parameter_name = "attribute_group_id" %}
            {% include "emporium:templates/emporatorium/common/button_change.html" %}
          {% endwith %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
</div>

{% include "emporium:templates/emporatorium/common/change_modal.html" %}

  <span class="hidden">
    <p id="txt_delete">{{ _("Potwierdź usunięcie atrybut") }}</p>
    <p id="txt_success_delete">{{ _("Pomyślnie usunięto atrybut") }}</p>
  </span>


{% endblock %}
