{% extends "emporium:templates/emporatorium/common/layout.html" %}
{% block body %}

{% include "emporium:templates/emporatorium/common/edit_left.html" %}

<div class="col-span-10 grid grid-cols-12">
  <form action='{{ request.route_url("attribute_action", action=options.action) }}' method="post" class="col-span-12 grid grid-cols-12 bg-white p-4 gap-4" id="content_form" name="content_form">
    <input id="csrf_token" name="csrf_token" type="hidden" value="{{ get_csrf_token() }}"/>

    {% with id = 'attribute_' + options.action + '_header', title = ('Edytuj' if options.action == 'edit' else 'Dodaj') + ' atrybut ' +  '<span class="orange">'|safe + single_attribute_group.name + '</span>' |safe if single_attribute_group %}
      {% include "emporium:templates/emporatorium/common/title.html" %}
    {% endwith %}

<div></div>

    <input type="hidden" value="{{ single_attribute_group.attribute_group_id}}" name="attribute_group_id" />
    <div class="col-span-2">

      <label>{{ _("Nazwa grupy atrybutów") }}</label>
      <input  name="name" value="{{ single_attribute_group.name}}">
    </div>
    <input  hidden name="attribute_name" value="{{ single_attribute_group.attribute_name or ''}}">
    <div class="col-span-2">
      <label>{{ _("Opis") }}</label>
      <input  name="description" value="{{ single_attribute_group.description or ''}}">
    </div>
    <div class="col-span-2">
      <label>{{ _("Opis - wewnętrzny") }}</label>
      <input  name="description_hidden" value="{{ single_attribute_group.description_hidden or ''}}">
    </div>
        <div class="col-span-2">
      <label for="status">{{ _("Status") }}</label>
        <select id="status" name="status" class=" bg-white" required>
          <option value="1" {{ ('selected' if category.status == 1 else "") if product |safe }}>{{ _("Załączony") }}</option>
          <option value="0" {{ ('selected' if category.status == 0 else "") if product |safe }}>{{ _("Wyłączony") }}</option>
            </select>
    </div>
    <div class="col-span-2 ">
      <label for="status">{{ _("Sposób wyświetlania atrybutów") }}</label>
      <select id="attribute_display_type_id" name="attribute_display_type_id" required class="">
        {%for item in attribute_display_type: %}
        <option value="{{item.attribute_display_type_id}}" {{'selected' if item.attribute_display_type_id == single_attribute_group.attribute_display_type_id}}>{{ item.description }}</option>
        {% endfor %}} 
      </select>
    </div>
    
    <div class="col-span-6">
      <label for="attribute_values">{{_("Nowe atrybuty*") }}</label><br>
      <input class=""  id="attribute_values" name="attribute_values" >
      <small>{{_("* Nowe wartości grupy atrybutów oddzielamy <span class='orange'>średnikiem</span>.") |safe}}</small>
    </div>
<div></div>
{% if single_attribute_group and attribute_group: %}
    <table class="table col-span-6">
      <thead>
        <tr>
          <th>{{_("Wartości poszczególnych atrybutów") }}</th>
          <th>{{_("Kolejność") }}</th>
          <th>{{_("Mapowana kategoria") }}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        
        {% for a in attribute_group: %}
          <tr class="tr">
            <td class="td"><input type="float" class="attribute_input" name="attribute_value_{{ a.attribute_id }}" value="{{ a.value }}"></td>
            <td class="td"><input type="numeric" class="attribute_sort_input" name="attribute_sort_{{ a.attribute_id }}" value="{{a.sort_order }}"></td>
            <td class="td">
                <select name="attribute_settings_mapped_category_{{ a.attribute_id }}"  class="bg-white">
                <option selected value='0'>Bez mapowania</option>
                {% for option in categories_list: %}


                    <option value="{{ option.category_id }}" {{ 'selected' if a.attribute_settings and a.attribute_settings.get('mapped_category') and a.attribute_settings['mapped_category'] == option.category_id | string }}>{{ option.name }}</option>
                {% endfor %}  
                </select>

            </td>
            <td class="td">
              {% with item_id = a.attribute_id, action_url = "attribute_", action_name="delete", parameter_name = "attribute_id" %}
                {% include "emporium:templates/emporatorium/common/button_change.html" %}
              {% endwith %}
            </td>
          </tr>
        {% endfor %}
 
      </tbody>
    </table>
      {% endif %}


  </form>
</div>
{% include "emporium:templates/emporatorium/common/edit_right.html" %}

{% include "emporium:templates/emporatorium/common/trumbowyg.html" %}

{% include "emporium:templates/emporatorium/common/change_modal.html" %}

  <span class="hidden">
    <p id="txt_delete">{{ _("Potwierdź usunięcie atrybutu") }}</p>
    <p id="txt_success_delete">{{ _("Pomyślnie usunięto atrybut") }}</p>
  </span>



{% endblock %}
