<%!
    class_ = ""
%>
{% extends "emporium:templates/emporatorium/common/layout.html" %}

<form action='{{ request.route_url("attribute_action", action=action) }}' method="post" id="attribute">
    <input id="csrf_token" name="csrf_token" type="hidden" value="{{ get_csrf_token() }}"/>
    {% if action =='edit': %}
        <input type="hidden" value="{{ attribute_id }}" name="attribute_id" />
    {% endif %}

    {% include "emporium:templates/emporatorium/common/edit_left.html" %}

{% for field in form: %}
    {% for error in field.errors: %}
        <div class="error">{{ field.label }} {{ error }}</div>
    {% endfor %}
{% endfor %}

<div class="lg:col-span-10 ">
    <h2>{{ 'Edytuj wartości atrybutu' + ' ' +  attribute_group.name if attribute_group and attribute_group.name  if action =='edit' else 'Dodaj wartość atrybutu' }}</h2>
    <div class="col-span-6 ">
        <label for="name">Grupa atrybutów</label>
        <select name="name">
        {% for item in attribute_groups: %}
            <option name="{{ item.name }}" value="{{ item.attribute_group_id }}" >
        {% endfor %}
        </select>
    </div>
    <div class="col-span-6 ">
        <label for="attribute_values">{{ _("Wartości") }} - <span class="orange">{{ _("UWAGA ODDZIELAMY PRZECINKIEM BEZ SPACJI!") }}</span></label>
        <input  class="h-8 w-full border px-2 transition-all border-blue rounded-sm"  id="attribute_values" name="attribute_values" value="" >
    </div>
     
    <input id="language_id" name="language_id" value="2" type="hidden">
    <input id="status" name="status" type="hidden" value="1">

</div>

{% include "emporium:templates/emporatorium/common/edit_right.html" %}

<script src='{{ request.static_url("emporium:templates/emporatorium/static/js/selectize.min.js") }}' type="text/javascript"></script>