{% extends "emporium:templates/emporatorium/common/layout.html" %}

{% block body %}

{% include "emporium:templates/emporatorium/common/edit_left.html" %}

  <div class="col-span-10 grid grid-cols-12">

    <form action='{{ request.route_url("transport_action", action=action, module_id=transport.transport_id) }}' method="post" class="col-span-12 grid grid-cols-12 bg-white p-4 gap-4" id="content_form" name="content_form">
      <input id="csrf_token" name="csrf_token" type="hidden" value="{{ get_csrf_token() }}"/>
    {% with title = ('Edytuj transport ' + (transport and transport.name) if options.action == 'edit' else 'Dodaj transport ') %}
      {% include "emporium:templates/emporatorium/common/title.html" %}
    {% endwith %}

    {% for field in form: %}
      {% for error in field.errors: %}
        <span class="error">{{ field.label }} {{ error }}</span>
      {% endfor %}
    {% endfor %}

      <div class="col-span-4 ">
        <label for="status">{{ _("Nazwa") }}</label>
        <input id="name" name="name" required class="required"  value="{{ (transport and transport.name) or '' }}">
      </div>
      <div class="col-span-2 ">
          <label for="status">{{ _("Status") }}</label>
          <select id="status" name="status">
            <option value="0" {{ 'selected' if transport and transport.status==1 or action=='create' }}>{{ _("Załączony") }}</option>
            <option value="1" {{ 'selected' if transport and transport.status==0 }}>{{ _("Wyłączony") }}</option>
          </select>      
      </div>
      <div class=" col-span-5 ">
          <label for="special_method">{{ _("Metoda transportu będzie widoczna tylko po spełnieniu warunków/wymagań") }}</label>
          <select id="special_method" name="special_method">
            <option></option>
            <option value="True" {{ 'selected' if transport and transport.special_method==True }}>{{ _("Załączony") }}</option>
            <option value="False" {{ 'selected' if transport and transport.special_method==False or action=='create'}}>{{ _("Wyłączony") }}</option>
          </select>      
      </div>
      <div class="col-span-5">
        <label for="description">{{ _("Opis") }}</label>
        <textarea class="" id="description" name="description">{{ transport and transport.description|safe or '' }}</textarea>
      </div>
       <div class="col-span-3 ">
          <label for="equotation">{{ _("Opłata za każdą paletę") }}<span class="orange">(*)</span></label>
          <input id="equotation" name="equotation"  value="{{ (transport and transport.equotation) or '' }}">
      </div>
       <div class="col-span-3 ">
          <label for="fee_value">{{ _("Opłata manipulacyjna") }}</label>
          <input id="fee_value" name="fee_value" type="number" value="{{ (transport and transport.fee_value) or '' }}">
      </div>
      <div class="col-span-8 ">
          <label for="excerpt">{{ _("Zajawka (skrócony opis)") }}<span></span></label>
          {{ form.excerpt }}
      </div>

      <div class="col-span-6">
        <h5>{{ _("Dozwolone metody płatności") }}</h5>
          <table class="table w-100">
            <tr>
                <th></th>
                <th>{{ _("Bieżący status") }}</th>
                <th>{{ _("Nazwa") }}</th>
            </tr>
            {% for item in payments: %}
              <tr class="tr">
                <td class="td">    
                  <select id="bypass_payment" name="bypass_payment">
                    <option value=''>{{ _("Wyłączona") }}</option>
                    <option value="{{ item.payment_id }}" {{ 'selected' if transport.payments_bypassed and item.payment_id in  transport.payments_bypassed }} >{{ _("Załączona") }}</option>
                  </select>  
                </td>
                <td class="td">    
                  {{ _("Załączona') if transport.payments_bypassed and item.payment_id in transport.payments_bypassed else _('Wyłączona") }}  
                </td>
                <td class="td">
                    {{ item.name }}
                </td>
              </tr>
            {% endfor %}
          </table>
        <input id="transport_id" name="transport_id" type="hidden" value="{{ (transport and transport.transport_id) or '' }}">
      </div>
    </form>
  </div>
{% include "emporium:templates/emporatorium/common/edit_right.html" %}


{% endblock %}