{% extends "emporium:templates/emporatorium/common/layout.html" %}

{% block body %}

{% include "emporium:templates/emporatorium/common/edit_left.html" %}

  <div class="col-span-10 grid grid-cols-12">
    {%with route="transport_edit_" + transport.module_name %}

    <form action='{{ request.route_url("transport_edit", module_name=transport.module_name, module_id=transport.transport_id) }}' method="post" class="col-span-12 grid grid-cols-12 bg-white p-4 gap-4" id="content_form" name="content_form">
      <input id="csrf_token" name="csrf_token" type="hidden" value="{{ get_csrf_token() }}"/>

    {% with title = _('Edycja ustawień ') + transport.name %}
      {% include "emporium:templates/emporatorium/common/title.html" %}
    {% endwith %}

    {% include "emporium:templates/emporatorium/transport/module_segments/form_errors.html" %}

     <div class="col-span-12 grid grid-cols-12 p-1 gap-4">
      <h4 class="col-span-12">{{_("Dane identyfikacyjne") }}</h4>

      {% include "emporium:templates/emporatorium/transport/module_segments/name.html" %}

      {% include "emporium:templates/emporatorium/transport/module_segments/excerpt.html" %}

      {% include "emporium:templates/emporatorium/transport/module_segments/description.html" %}

      {% include "emporium:templates/emporatorium/transport/module_segments/transport_unit_name.html" %}
      
      {% include "emporium:templates/emporatorium/transport/module_segments/status.html" %}

      <input id="transport_id" name="transport_id" type="hidden" value="{{ (transport and transport.transport_id) or '' }}">
    </div>

    <div class="col-span-12 grid grid-cols-12 p-1 gap-4">
      <h4 class="col-span-12">{{_("Koszty transportu wg. ich limitów") }}</h4>
      {% include "emporium:templates/emporatorium/transport/module_segments/size_slots.html" %}
    </div>
  </form>
  {% endwith %}
  </div>
{% include "emporium:templates/emporatorium/common/edit_right.html" %}


{% endblock %}