{% extends "emporium:templates/emporatorium/common/layout.html" %}

{% block body %}

  {% with id='transport_list_header',title = 'Metody transportu' %}
    {% include "emporium:templates/emporatorium/common/title.html" %}
  {% endwith %}

  <table class="table col-span-12">
    <thead>
      <tr>
        <th class="w-1/12">{{ _("Edycja") }}</th>
        <th class="w-2/12">{{ _("Nazwa") }}</th>
        <th class="w-2/12">{{ _("Skrócony opis") }}</th>
        <th class="w-2/12">{{ _("Status") }}</th>
        <th class="w-1/12"></th>
      </tr>
    </thead>
    <tbody>
      {% for item in transports: %}
        <tr class="tr">
          <td class="td px-4 text-center">
            <a class="button_admin bg-cyan-500" href="{{ request.route_url('transport_edit', module_name=item.module_name, module_id=item.transport_id ) }}">
              {{ _("Edytuj") }}
            </a>
          </td>
          <td class="td px-4 text-center">
            {{ item.name }}
          </td>
          <td class="td px-4 text-center">
            {{ item.excerpt or '-'}}
          </td>
          <td class="td px-4 text-center">
            {{ "Załączone" if  item.status == 1 else "<span class='orange'>Wyłączone</span>"|safe}}
          </td>
          <td class="td px-4 text-center">
            {% with item_id = item.transport_id, action_name="delete", action_url = "transport_", parameter_name = "transport_id" %}
              {% include "emporium:templates/emporatorium/common/button_change.html" %}
            {% endwith %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>


{% include "emporium:templates/emporatorium/common/change_modal.html" %}


  <span class="hidden">
    <p id="txt_delete">{{ _("Potwierdź usunięcie metody transportu") }}</p>
    <p id="txt_success_delete">{{ _("Pomyślnie usunięto metodę transportu") }}</p>
  </span>


{% endblock %}