/*! purgecss start ignore */
.admin_paginate {
  @apply col-span-2 bg-white grid text-3xl font-bold border;
  .pager_arrow {
    @apply text-center w-10 h-10 inline-block text-2xl;
  }
  input[type="number"] {
    @apply h-10 w-20 border px-2 transition-all border-blue rounded-sm appearance-textfield;
  }
}
/*! purgecss end ignore */