.page-internals {
  background: #fff;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.25);
  border: 1px solid #ddd;
  padding: 1.2rem;
  .grid.product {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
    padding: .375rem 0.35rem;
    border: 2px solid #f5f5f5;
    &:hover {
      .product_name {
        text-decoration: underline;
      }
      .product_price {
        // color: #f5f5f5;
      } 
    }
  }
}
