#techno{

    /* styling the outer music container */
  .music-container {
    background-color: #17212d;
    display: flex;
    padding: 20px 30px;
    position: relative;
    margin-top: 100px;
    z-index: 10;
  }

  .img-container {
    position: relative;
    width: 110px;
  }

  /* styling the image to look like a disc by placing a small circle in it*/
  .img-container{
      &:after {
        content: '';
      background-color: #fff;
      border-radius: 50%;
      position: absolute;
      bottom: 100%;
      left: 50%;
      width: 20px;
      height: 20px;
      transform: translate(-50%, 50%);
    }


     img {
      border-radius: 50%;
      object-fit: cover;
      height: 110px;
      width: inherit;
      position: absolute;
      bottom: 0;
      left: 0;
      animation: rotate 3s linear infinite;

      animation-play-state: paused;
    }

  /* making sure the image rotates only when the music is playing */
  .music-container.play .img-container img {
    animation-play-state: running;
  }

  /* creating the animation keyframe and setting the image to rotate 360 degrees continiously */
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }


    .navigation {
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1;
    }

    /* styling the navigation buttons */
    .action-btn {
      border: 0;
      border-radius: 20px;
      font-size: 20px;
      cursor: pointer;
      padding: 10px;
      margin: 0 20px;
    }

    .action-btn.action-btn-big {
      font-size: 30px;
      outline: none;
    }

    .action-btn:focus {
      outline: 0;
    }

    /* styling the music-info div by placing it under the music container */
    .music-info {
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 15px 15px 0 0;
      position: absolute;
      top: 0;
      left: 20px;
      width: calc(100% - 40px);
      padding: 10px 10px 10px 150px;
      opacity: 0;
      transform: translateY(0%);
      transition: transform 0.3s ease-in, opacity 0.3s ease-in;
      z-index: 0;
    }

    /* making the music info pop up when the music playing using the transform property*/
    .music-container.play .music-info {
      opacity: 1;
      transform: translateY(-100%);
    }

    .music-info h4 {
      margin: 0;
    }

    /* styling the song progress container */
    .progress-container {
      background: #fff;
      border-radius: 5px;
      cursor: pointer;
      margin: 10px 0;
      height: 4px;
      width: 100%;
    }

    /* styling the actual progress bar and making it flow along with the song*/
    .progress {
      background-color: #fe8daa;
      border-radius: 5px;
      height: 100%;
      width: 0%;
      transition: width 0.1s linear;
    }
  }
}