  <div class="banner no-padding">
    <div class="glide glide--ltr glide--carousel glide--swipeable">
      <div class="glide__track" data-glide-el="track">
        <div class="glide__slides">

          {% for item in banners | shuffle: %}
              <a href="{{ item.url }}" class="glide__slide relative">
                <img src='{{ request.static_url("emporium:images/banners/") + item.image }}' loading="lazy" height="241" />
                <object>
                  <a href="{{ item.url_secondary }}" class="caption caption__secondary">
                      {{ item.caption_secondary }}
                  </a>
                </object>
                <span class="caption caption__primary">
                  {{ item.caption }}
                </span>
              </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>