{% extends "emporium:templates/emporatorium/common/layout.html" %}

{% block body %}
  

{% include "emporium:templates/emporatorium/common/edit_left.html" %}

  <div class="col-span-10 grid grid-cols-12">

    {% with title = ('Edytuj' if options.action == 'edit' else 'Dodaj') + ' zespół' %}
      {% include "emporium:templates/emporatorium/common/title.html" %}
    {% endwith %}


    {% if form.errors.items(): %}
      {% for fieldName, errorMessages in form.errors.items(): %}
        {{ fieldName.title() }} - {{ errorMessages }}
      {% endfor %}
    {% endif %}
    <form action='{{ request.route_url("band_action", action=action) }}' method="post" class="col-span-12 bg-white p-4" id="content_form" name="content_form" >
      <input id="csrf_token" name="csrf_token" type="hidden" value="{{ get_csrf_token() }}"/>

    

      <div class="grid-cols-12 col-span-1 gap-4 active">
        <div class="col-span-6 grid-cols-12 grid gap-4">
          <div class="col-span-3">
            <label for="name">{{ _("Nazwa") }}</label>
            <input class="required" id="name" name="name"  value="{{ (band and band.name) or '' }}">
          </div>
          <div class="col-span-2 ">
            <label for="code">{{ _("Kod") }}</label>
            <input id="code" name="code"  value="{{ (band and band.code) or '' }}">
          </div>

          <div class="col-span-3">
            <label for="status">{{ _("Status") }}</label>
            <select id="status" name="status" class=" bg-white" required>
              <option value="1" {{ ('selected' if band.status == 1 else "") if band |safe }}>{{ _("Załączony") }}</option>
              <option value="0" {{ ('selected' if band.status == 0 else "") if band |safe }}>{{ _("Wyłączony") }}</option>
            </select>
          </div>

          <div class="col-span-3">
            <label for="product_status">{{ _("Zmiana masowa statusu produktów na niedostępny") }}</label>
            <select id="product_status" name="product_status" class=" bg-white">
              <option value="" >{{ _("Bez zmian") }}</option>
              <option value="53">{{ _("Niedostępny") }}</option>
            </select>
          </div>

          <div class="col-span-6">
            <label for="language_id">{{ _("Język") }}</label>
            <select id="language_id" name="language_id" class=" bg-white" required>
              <option value="2" {{ ('selected' if band_description.language_id == 2 else "") if band |safe }}>{{ _("Polski") }}</option>
            </select>
          </div>
          <div class="col-span-12">
            <label for="image">{{ _("Zdjęcie") }} {{ _("(zaślepka)") }}</label>
            <input id="image" name="image" type="file">
              <br>&nbsp;<br>
          </div>
            <div class="col-span-6">
            <label for="date_added">{{ _("Data dodania") }}</label>
            <input id="date_added" name="date_added"  value="{{ (band and band.date_added.strftime('%Y-%m-%d')) or '' }}">
          </div>
          <div class="col-span-6">
            <label for="date_available">{{ _("Data dostępności") }}</label>
            <input id="date_available" name="date_available"  value="{{ (band and band.date_available.strftime('%Y-%m-%d')) or '' }}" disabled="disabled">
          </div>
          <div class="col-span-6">
            <label for="date_modified">{{ _("Ostatnia Modyfikacja") }}</label>
            <input id="date_modified" name="date_modified"  value="{{ (band and band.date_modified.strftime('%Y-%m-%d')) or '' }}">
          </div>
        </div>

        <div class="col-span-2">
          <label for="sort_order">{{ _("Sortowanie") }} {{ _("(zaślepka)") }}</label>
          <input id="sort_order" name="sort_order"  value="{{ (band and band.sort_order) or '0' }}">
        </div>

        <input id="band_id" name="band_id" type="hidden" value="{{ (band and band.band_id) or '' }}">
        <input id="band_description_id" name="band_description_id" type="hidden" value="{{ (band_description and band_description.band_description_id) or '' }}">

        <div class="col-span-6 grid-cols-12 grid gap-4">
                  {% if settings.get('social_links'): %}
            {% for item in settings.get('social_links')|sort(attribute = '0') : %}

              
          <div class="col-span-2">
            <label for="social_links_{{item}}">{{ item |capitalize }} </label>
            <input id="social_links_{{item}}" name="social_links_{{item}}"  value="{{ band.social_links[item] if band }}">
          </div>

            {% endfor %}
        {% endif %}


        </div>

      </div>


    </form>
  </div>



{% include "emporium:templates/emporatorium/common/edit_right.html" %}

{% include "emporium:templates/emporatorium/common/change_modal.html" %}

  
<script type="text/javascript">


tinymce.init({
  selector: '.description',
  plugins: 'advlist link image lists',
  height: 160,
});

tinymce.init({
  selector: '.description_long',
  plugins: 'advlist link image lists',
  height: 160,
});

</script>
{% endblock %}
