/*! purgecss start ignore */
.glide{
	&__slide {
		max-height: 285px;
	}
	&__bullet {
	background-color: #2199e8;
		&--active {
			background-color: #1585cf;
		}
		&--right {
			right: 1rem;
		}
		&--left {
			left: 1rem;
		}
	}
}
/*! purgecss end ignore */
