{% set extra_javascripts_footer %}

{% endset %}

{% set extra_stylesheets %}
{% endset %}

{% set xsearch %}{{ request.route_url(misc_options.search_url) }}{% endset %}
{% set xterm %}{% endset %}

{% extends "/common/s_layout.html" %}

{% block body %}

<div class="md:col-span-8 md:col-start-3 col-span-12 page-internals my-2 grid  grid-cols-12 grid-padding-x">
  {% if not error_level: %}
    <h5 class="col-span-12 text-2xl">{{ _("Nadaj nowe hasło") }}</h5>
    <form action='{{ request.route_url("s_customer_passwd") }}' id="new_passwd" method="POST" name="new_passwd" class="md:col-span-6 md:col-start-4 col-span-12 my-2 grid grid-cols-12 grid-padding-x">
          
      {% for error in form.password.errors: %}
          <span class="error float-right">{{ error }}</span>
      {% endfor %}
      <label for="password" class="col-span-12">{{ _("Hasło") }}</label>
      <input type="password" name="password" id="customer_password" required value="" class="col-span-12"><span id="toggle_visibility" onclick="togglePasswordVisibility()"></span>
      <input id="csrf_token" name="csrf_token" type="hidden" value="{{ get_csrf_token() }}"/>
      <input type="hidden" value={{ request_uuid }} name="q">
      <p class="text-right col-span-12">
        <button type="submit" name="sign" class="button success ">{{ _("Nadaj nowe hasło") }}</button>
      </p>

    </form>
  {% elif error_level == 411: %}
    <h2 class="col-span-12">{{ _("Link utracił już ważność") }}</h2>
  {% else: %}
    <h1 class="col-span-12">{{ _("Serwer jest obiektywny - to JEST błąd 411 ..") }}</h1>
  {% endif %}
</div>


{% endblock %}