{% set extra_javascripts_footer %}


<script src='{{ request.static_url("emporium:templates/blade/static/js/customer.js') }}"></script>


{% endset %}

{% set title %}
  {% if request.authenticated_userid: %}
    {{ _("Twoje konto") }}
  {% elif request.session.get("register_customer"): %}
    {{ _("Rejestracja konta") }}
  {% else: %}
    {{ _("Konto użytkownika") }}
  {% endif %}
 - {{ settings['name'] }}
{% endset %}

{% set extra_stylesheets %}{% endset %}
{% set xsearch %}{{ request.route_url(misc_options.search_url) }}{% endset %}
{% set xterm %}{% endset %}

{% extends "/common/s_layout.html" %}
{% block body %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/2.8.2/alpine.js" integrity="sha512-No22QdEJ4zlXvdQDpm6oeXcjwajpNxvnstx6NEU/5qZFysa5gsgj/bSfAFpSc9Za5LjbgQLRXyCeY53aWmk8ZA==" crossorigin="anonymous"></script>
  {% if request.authenticated_userid and not request.identity.role=='emperor': %}
    
    {% include "/customer/s_customer_view.html" %}

  {% elif request.session.get("register_customer"): %}

    {% include "/customer/s_customer_register.html" %}

  {% else: %}

    {% include "/login/s_login_block.html" %}

    <div class="col-span-12 md:col-span-5 justify-items-stretch" id="register_block">

      <div class="page-internals my-2 mr-2">             
        <h5 class="text-center text-xl">{{ _("Nie masz konta?") }}</h5>
        <form action='{{ request.route_url("s_customer_form") }}' method="post" class="form-inline" id="customer_form">
          <input id="csrf_token" name="csrf_token" type="hidden" value="{{ get_csrf_token() }}"/>
          <p class="text-center ">
            <button class="button success" id="register_customer" name="register_customer" value="True">{{ _("Zarejestruj się") }}</button>
          </p>             
        </form>
      </div>
    </div>

    {% endif %}
  
{% endblock %}
