{% extends "emporium:templates/emporatorium/common/layout.html" %}

{% block body %}

  {% with title = 'Koszyki' %}
    {% include "emporium:templates/emporatorium/common/title.html" %}
  {% endwith %}

  <table class="col-span-12">
    <thead>
      <tr>
        <th>{{ _("Data utworzenia") }}</th>
        <th>{{ _("Data ostatniej wizyty") }}</th>
        <th>{{ _("Wartość") }}</th>
        <th>{{ _("Produkty") }}</th>
      </tr>
    </thead>
    <tbody>
    {% for item in cart_list: %}
    <tr class="tr">
      <td class="td px-4">{{ item.products}}</td>
      <td class="td px-4"></td>
      <td class="td px-4"></td>
      <td class="td px-4"></td>
    </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock %}