{% extends "emporium:templates/emporatorium/common/layout.html" %}

{% block body %}

  <div class="col-span-10 grid grid-cols-12 gap-4">

    {% with id = 'author_' + options.action + '_header', title = ('Edytuj' if options.action == 'edit' else 'Dodaj') + ' autora' %}
      {% include "emporium:templates/emporatorium/common/title.html" %}
    {% endwith %}

  <form id="content_form" name="content_form" action='{{ request.route_url("author_action", action=action) }}' method="post" enctype="multipart/form-data" class="col-span-12 bg-white p-4">
    <input id="csrf_token" name="csrf_token" type="hidden" value="{{ get_csrf_token() }}"/>
    <input id="status" name="status" type="hidden" value="1"/>
     <input id="author_id" name="author_id" type="hidden" value="{{author.author_id}}"/>
    {% for field in form: %}
      {% for error in field.errors: %}
        <span class="error">{{ field.label }} {{ error }}</span> ||
      {% endfor %}
    {% endfor %}

    <div class="tab-content panel-1 grid-cols-12 col-span-1 gap-4 active">

      <div class="col-span-3 ">
        {% for error in form.first_name.errors: %}
          <span class="red font-bold">{{ error }}</span>
        {% endfor %}
          <label for="first_name">{{ _("Imię") }} </label>
          <input id="first_name" name="first_name" required  value="{{ author.first_name or form.first_name.data  or ''}}">
      </div>

      <div class="col-span-3 ">
        {% for error in form.callsign.errors: %}
          <span class="red font-bold">{{ error }}</span>
        {% endfor %}
          <label for="callsign">{{ _("Pseudonim") }} </label>
          <input id="callsign" name="callsign"  value="{{ author.callsign or form.callsign.data or '' }}">
      </div>

      <div class="col-span-3 ">
        {% for error in form.last_name.errors: %}
          <span class="red font-bold">{{ error }}</span>
        {% endfor %}
          <label for="last_name">{{ _("Nazwisko") }} </label>
          <input id="last_name" name="last_name" required  value="{{ author.last_name or form.last_name.data or '' }}">
      </div>
        
    </div>     
        

      </form>
</div>


    {% include "emporium:templates/emporatorium/common/edit_right.html" %}
    
    {% include "emporium:templates/emporatorium/common/change_modal.html" %}

  <span class="hidden">
    <p id="txt_delete">{{ _("Potwierdź usunięcie autora") }}</p>
    <p id="txt_success_delete">{{ _("Pomyślnie usunięto autora") }}</p>
  </span>





{% endblock %}