{% extends "emporium:templates/emporatorium/common/layout.html" %}
{% block body %}

  {% with id='author_list_header', title = 'Artyści', pager = authors.link_map() %}
    {% include "emporium:templates/emporatorium/common/title.html" %}
    {% include "emporium:templates/emporatorium/common/paginate.html" %}
  {% endwith %}

  <form class="col-span-12 grid grid-cols-12 bg-white p-4 my-4 border gap-4" action='{{ request.route_url("author_list") }}' id="topbar_filter" method="get" name="filter" >

    {% with action = 'author_action' %}
      {% include "emporium:templates/emporatorium/common/add_block.html" %}
    {% endwith %}
  

    <input type="hidden" name="search" value="true">
    <div class="col-span-2 ">
      <label>{{ _("Słowo klucz") }}</label>
      <input class=""  name="term" value="{{ filter_params.term }}">
    </div>
    <div class="col-span-1">
        <label>{{ _("Status") }}</label>
        <select class="" id="input-status" name="status">
            <option disabled selected value> </option>
            <option value="" default>{{ _("Wszystkie") }}</option>
            <option value="1" {{ 'selected' if filter_params.status == "1" }}>{{ _("Załączony") }}</option>
            <option value="0" {{ 'selected' if filter_params.status == "0" }}>{{ _("Wyłączony") }}</option>
        </select>
    </div>

    {% with action_url = 'author_list' %}
      {% include "emporium:templates/emporatorium/common/clear_filter_block.html" %}
    {% endwith %}

  </form>
    
  {% if authors: %}
  <table class="table col-span-12">
    <thead>
      <form action='{{ request.route_url("author_list") }}' method="get" name="filter" >
        <tr>
          <th>{{ _("Edycja") }}</th>
          <th>
            <a class="{{ 'orange' if filter_params.sort_method else ''}}" href="{{ request.route_url('author_list', _query=(('sort', 'name_asc' if filter_params.sort_method == 'name_desc' else 'name_desc'),), ) |safe}}"> {{ _('Imię "Ksywa" Nazwisko') }} <b>{{ '&uarr;'|safe if filter_params.sort_method == 'name_asc' else '&darr;' |safe }}</b></a>
          </th>
          <th>
    
          </th>
          <th>
              
          </th>
          <th>{{ _("Stan") }}</th>
          <th></th>
        </tr>
      </form>
    </thead>
    <tbody>
    {% for item in authors.items: %}
      <tr class="tr">
        <td class="td px-4">
          <a class="button_admin bg-cyan-500" href="{{ request.route_url('author_action', action = 'edit', _query=(('next', url),('author_id',item.author_id))) }}">{{ _("Edytuj") }}</a>
        </td>
        <td class="td px-4">
            {{ item.last_name }} {{'"' + item.callsign + '"' if item.callsign}} {{ item.first_name }}
        </td>
        <td class="td px-4 text-center">
          {{ _("Załączone") if item.status == 1 else '<i class="fi-alert orange"></i>' | safe }}
        </td>
        <td class="td px-4">
          {% with item_id = item.author_id, action_url = "author_", action_name="delete", parameter_name ="purge_all=True&author_id" %}
            {% include "emporium:templates/emporatorium/common/button_change.html" %}
          {% endwith %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  {% endif %}

{% include "emporium:templates/emporatorium/common/change_modal.html" %}

  <span class="hidden">
    <p id="txt_delete">{{ _("Potwierdź usunięcie artysty") }}</p>
    <p id="txt_success_delete">{{ _("Pomyślnie usunięto artystę i powiązane z nim dane (m.in. zdjęcia)") }}</p>
  </span>




{% endblock %}