          <a href="{{ request.route_url('s_product', seo_slug = product.slug, id=product.product_id) }}" class=" grid col-span-12 {{'md:col-span-3 pr-4' if display_mode != 'grid'}}">
            <span class="image_container grid pb-4 ">
              {% if product.image %}

              <picture>

              {% for key,value in settings['image_file_extensions'].items(): %}
                <source srcset="{{ (request.static_url("emporium:images/thumbnails/') + product.image + '.' + value ) }}" type="image/{{key|lower}}" media="(min-width: 340px)"  height="200" loading="{{'lazy' if loop.index0 > 10}}" class="mx-auto my-auto">
              {% endfor %}  
                <img src="{{ (request.static_url("emporium:images/thumbnails/') +  product.image + '.' + settings['image_file_extensions']['JPEG'] ) if product.image else (request.static_url("emporium:images/no_image.jpg')) }}" alt="Image" height="200" loading="{{'lazy' if main_loop_index > 10}}" class="mx-auto my-auto">

              </picture>

              {% endif %}
            </span>
          </a>
