              <div id="packages" class="font-normal flex-col md:flex-row md:flex flex-wrap align-center">
                <span class="inline-flex cart-input-group">
                  <input type="button" value="-" class="button success button-plus-minus button-minus w-8 md:w-12 p-1 md:p-4" data-field="{{product.product_id}}_pack">

                  <input type="number" name="{{product.product_id}}_pack" value="{{ product.product_packages }}" step="{{1}}" unit="{{1}}" minimum="{{product.minimum}}" onfocus="this.value=''" onchange="InputSquare(this)" oninput="InputSquare(this)" id="product_quantity_{{product.product_id}}" product_id="{{product.product_id}}" selected_input="pack" class="w-16 md:w-24 h-14 my-4 p-1 md:p-2 rounded-none appearance-textfield text-center input-filled" autocomplete="off">

                  <input type="button" value="+" class="button success button-plus-minus button-plus w-8 md:w-12 p-1 md:p-4" data-field="{{product.product_id}}_pack">
                </span>
                <span class="self-center ml-4 text-center md:text-left">
                  {{'paczek' if product.square_meter else 'sztuk'}}
                </span>
              </div>
              {% if product.square_meter: %}
             
              <div id="meters" class="font-normal flex-col md:flex-row md:flex align-center flex-wrap">
                <span class="inline-flex cart-input-group">
                  <input type="button" value="-" class="button success button-plus-minus button-minus w-8 md:w-12 p-1 md:p-4" data-field="{{product.product_id}}_meters">

                  <input name="{{product.product_id}}_meters" value="{{product.product_quantity}}" type="number" step="{{product.unit}}" unit="{{product.unit}}" onchange="InputSquare(this)" oninput="InputSquare(this)" id="meter_square" product_id="{{product.product_id}}" selected_input="meters" class="w-16 md:w-24 h-14 my-4 p-1 md:p-2 rounded-none appearance-textfield text-center input-filled" autocomplete="off">

                  <input type="button" value="+" class="button success button-plus-minus button-plus w-8 md:w-12 p-1 md:p-4" data-field="{{product.product_id}}_meters">
                </span>
                <span class="self-center ml-4 text-center md:text-left">
                 m<sup>2</sup>
                </span>
              </div>
              {% endif %}