        {% include "/login/s_login_block.html" %}

        <div class="md:col-span-5 col-span-12">
            <div class="page-internals my-2 ml-2">
                <div class="w-3/4 mx-auto text-center">
                    <div class="block" id="register_box_block">
                        <form action='{{ request.route_url("s_order_change_data") }}' method="post" class="form-inline" id="order_form_fast" name="order_form">
                            <input id="csrf_token" name="csrf_token" type="hidden" value="{{ get_csrf_token() }}"/>
                            <span class="text-xl text-center">{{ _("Szybkie zakupy") }}</span>
                            <p class="text-center ">
                                <input type="hidden" value="quick" name="order_type">
                                <button type="submit" class="button success" value="{{ _('Zakup bez rejestracji') }}">{{ _("Zakup bez rejestracji") }}</button>
                            </p>
                        </form>
                    </div>
                    <div class="block divide-x-1 pt-4 mt-4 mb-2 pt-8">
                        <form action='{{ request.route_url("s_order_change_data") }}' method="post" class="form-inline" id="order_form_register" name="order_form">
                            <input id="csrf_token" name="csrf_token" type="hidden" value="{{ get_csrf_token() }}"/>
                            <span class="text-xl text-center">{{ _("Zarejestruj się w sklepie") }}</span>
                            <p class="text-center ">
                                <input type="hidden" value="register" name="order_type">
                                <button type="submit" class="button" value="{{ _('Rejestruj') }}">{{ _("Rejestruj") }}</button>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>