{% set current_page %}   
  {% if filter_params.category_id and data_options.categories_dict|count == 1: %}
          <li class="">
            <a class="text-white hover:bg-white hover:text-gray-700 px-4 block whitespace-no-wrap" href="{{ request.route_url('category_action', action = 'edit', _query=(('next', 'category_list'),('category_id', filter_params.category_id))) }}">
              <i class="fa-solid fa-screwdriver-wrench size-lg"></i> {{_(" Edytuj kategorię") }}
            </a>
          </li> 
  {% endif %}
  {% if filter_params.manufacturer_checked and data_options.manufacturer_dict.items()|count == 1: %}
          <li class="">
            <a class="text-white hover:bg-white hover:text-gray-700 px-4 block whitespace-no-wrap" href="{{ request.route_url('manufacturer_action', action = 'edit', _query=(('next', 'manufacturer_list'),('manufacturer_id', filter_params.manufacturer))) }}">
              <i class="fa-solid fa-screwdriver-wrench size-16"></i> {{_("Edytuj producenta") }}
            </a>
          </li> 
  {% endif %}
    {% if filter_params.collection_list_checked and data_options.collection_dict.items()|count == 1: %}
          <li class="">
            <a class="text-white hover:bg-white hover:text-gray-700 px-4 block whitespace-no-wrap" href="{{ request.route_url('collection_action', action = 'edit', _query=(('next', 'collection_list'),('collection_id', filter_params.collection))) }}">
              <i class="fa-solid fa-screwdriver-wrench size-24"></i> {{_("Edytuj kolekcję") }}
            </a>
          </li>
  {% endif %}
{% endset %}

{% set sidebar %}True{% endset %}
{% set extra_javascripts_header %}

{% endset %}
{% set extra_javascripts_footer %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/glide.min.js" integrity="sha512-BXASbMmKLu+RC5TDnkupyhvrjiOQXILh/5zgIS8k5JAC71a73lNweVEg/X+9XJQ7GK22PH9WpztY3zqrji+xrQ==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/2.8.2/alpine.js" integrity="sha512-No22QdEJ4zlXvdQDpm6oeXcjwajpNxvnstx6NEU/5qZFysa5gsgj/bSfAFpSc9Za5LjbgQLRXyCeY53aWmk8ZA==" crossorigin="anonymous"></script>


  {% for item in ('product_listing.js','update_cart.js','update_button.js',): %}
    <script type="text/javascript" src='{{ request.static_url("emporium:templates/case/static/js/" + item) }}'></script>
  {% endfor %}


  {% if settings['product_settings']['display_compare_products'] == 1 %}
  <script src='{{ request.static_url("emporium:templates/case/static/js/update_compare.js") }}'></script>
  {% endif %}





<script type="text/javascript">


{% if (filter_params.category_first_page and not filter_params.manufacturer) or misc_options.rotate_collections: %}
  if (document.getElementsByClassName('glide')[0]) {
  new Glide('.glide', {
    type: 'carousel',
    startAt: 0,
    perView: 6,
    autoplay: 5000,
    breakpoints: {
    1200: {
      perView: 4
    },
    1000: {
      perView: 3
    },
}
  }).mount()
}
{% endif %}

</script>


{% endset %}

{% set extra_stylesheets %}{% endset %}
{% set meta_description %}{{ meta_options.meta_description }}{% endset %}
{% set xsearch %}{{ meta_options.rel_link }}{% endset %}
{% set xterm %}{{ filter_params.term }}{% endset %}
{% if meta_options.rel_link: %}
    {% set rel %}<link rel="canonical" href="{{ meta_options.rel_link|safe}}" />{% endset %}
{% endif %}
{% set robots_meta %}{{ meta_options.robots_meta }}{% endset %}
{% set title %}{{ meta_options.title }} - {{ _("Sklep") }} {{ settings.name }}{% endset %}

{% extends "/common/s_layout.html" %}


{% block body %}

  {% include "/category/category_segment/s_category_breadcrumb.html" %}
  

  {% with visibility_desktop=True %}
    {% include "/common/s_sidebar.html" %}
  {% endwith %}


    
<div class="col-span-12 md:col-span-8 xl:col-span-9 2xl:col-span-10">
  {% if filter_params.first_page: %}
    <div class="page-internals mb-2 grid grid-cols-12 mb-2">
      {% if filter_params.category_first_page: %}
        <h1 id="category_header" class="col-span-12">{{ meta_options.u_h1 }}</h1>
        <span id="category description" class="block col-span-12">
          {{ meta_options.description|safe if meta_options.description != None else ''}}
        </span>
        {% if data_options.manufacturer_dict_shuffled|count > 1 and (not filter_params.manufacturer or (misc_options.rotate_collections and not misc_options.collections_list_shuffled)): %}
        <div id="manufacturer_rotator" class="hidden md:block col-span-12 mt-2 md:mt-6">
          <div class="col-span-12 text-xl mb-2">{{_("Producenci") }}</div>
          <div class="glide">
            <div class="glide__track" data-glide-el="track">
              <div class="glide__slides">
                {% for item in data_options.manufacturer_dict_shuffled: %}
                  <a class="glide__slide blue" href="{{ request.route_url(misc_options.search_url,  seo_slug=meta_options.seo_slug, category_id=filter_params.category_id, _query=(('manufacturer', item.manufacturer_id),)) }}">
                    {{ item.name }}
                  </a>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
        {% if misc_options.rotate_collections and misc_options.collections_list_shuffled |count > 1: %}
          <div id="collections_rotator" class="hidden md:block col-span-12 mt-2 md:mt-6">
            <div class="col-span-12 text-xl mb-2">{{_("Kolekcje") }}</div>
            <div class="glide">
              <div class="glide__track" data-glide-el="track">
                <div class="glide__slides">
                  {% for item in misc_options.collections_list_shuffled: %}
                    <a class="glide__slide blue" href="{{ request.route_url(misc_options.search_url,  seo_slug=meta_options.seo_slug, category_id=filter_params.category_id, _query=(('manufacturer',filter_params.manufacturer), ('collections', item.collection_id))) }}">
                      {{ item.name }}
                    </a>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      {% endif %}
      {% if filter_params.filter_params |count  > 0 : %}
        <div class="col-span-12 separator-border p-0 mb-2"></div>
      {% endif %}
  {% endif %}


    {% if not filter_params.descripted_front_page: %}

      <span class="text-base grid grid-cols-12 col-span-12">
        <div class="col-span-12 sm:col-span-3 md:col-span-2 xl:col-span-1">
          {{ _("Aktywne filtry") }}:

          {% if filter_params.items_per_page != 0: %}
            <small class="hidden md:block py-2">({{ meta_options.item_count }} {{ _("produktów") }} )</small>
          {% endif %}
        </div>
        <div class="flex flex-column col-span-12 sm:col-span-9 md:col-span-10 xl:col-span-11 align-center">    

          {% if not filter_params.descripted_front_page: %}

            {% if filter_params.term: %}
              <div class="pl-2">
                <span class="orange font-bold">{{_("Szukany termin") }}</span>
                  <a href="{{ request.route_url(misc_options.search_url,  seo_slug=meta_options.seo_slug, category_id=filter_params.category_id, _query=filter_params.term_url) }}" class="button {{'bg-red' if  filter_params.items_per_page==0}}">
                   {{ filter_params.term }}<b>&nbsp;<sup>X</sup></b>
                  </a>
              </div>
            {% endif %}

            {% if filter_params.price_filter: %}
              <div class="pl-2">
                <span class="orange font-bold">{{_("Cena") }}</span>
                  {% if filter_params.price_min: %}
                  <a href="{{ request.route_url(misc_options.search_url,  seo_slug=meta_options.seo_slug, category_id=filter_params.category_id, _query=filter_params.price_min_url) }}" class="button {{'bg-red' if  filter_params.items_per_page==0}}">
                   {{_("od ") }} {{ filter_params.price_min }}{{settings['currency']}}<b>&nbsp;<sup>X</sup></b>
                  </a>
                  {% endif %}
                  {% if filter_params.price_max: %}
                  <a href="{{ request.route_url(misc_options.search_url,  seo_slug=meta_options.seo_slug, category_id=filter_params.category_id, _query=filter_params.price_max_url) }}" class="button {{'bg-red' if  filter_params.items_per_page==0}}">
                   {{_("do ") }} {{ filter_params.price_max }}{{settings['currency']}}<b>&nbsp;<sup>X</sup></b>
                  </a>
                  {% endif %}
              </div>
            {% endif %}

            {% if filter_params.band_list_checked: %}
              <div class="pl-2">
                <span class="orange font-bold">{{_("Zespoły") }}</span>
                  {% for k,v in data_options.band_dict.items(): %}
                    {% if v.url or v.url==[]: %}
                    <a href="{{ request.route_url(misc_options.search_url,  seo_slug=meta_options.seo_slug, category_id=filter_params.category_id, _query=v.url) }}" class="button {{'bg-red' if  filter_params.items_per_page==0}}">
                      {{ v.name }}&nbsp;<b><sup>X</sup></b>
                    </a>
                    {% endif %}
                  {% endfor %}
              </div>
            {% endif %}



            {% if filter_params.collection_list_checked: %}
              <div class="pl-2">
                <span class="orange font-bold">{{_("Kolekcje") }}</span>
                  {% for k,v in data_options.collection_dict.items(): %}
                    {% if v.url or v.url==[]: %}
                    <a href="{{ request.route_url(misc_options.search_url,  seo_slug=meta_options.seo_slug, category_id=filter_params.category_id, _query=v.url) }}" class="button {{'bg-red' if  filter_params.items_per_page==0}}">
                      {{ v.name }}&nbsp;<b><sup>X</sup></b>
                    </a>
                    {% endif %}
                  {% endfor %}
              </div>
            {% endif %}

            {% if filter_params.manufacturer_checked: %}
              <div class="pl-2">
                <span class="orange font-bold">{{_("Producenci") }}</span>
                  {% for k,v in data_options.manufacturer_dict.items(): %}
                    {% if v.url or v.url==[]: %}
                    <a href="{{ request.route_url(misc_options.search_url,  seo_slug=meta_options.seo_slug, category_id=filter_params.category_id, _query=v.url) }}" class="button {{'bg-red' if  filter_params.items_per_page==0}}">
                      {{ v.name }}&nbsp;<b><sup>X</sup></b>
                    </a>
                    {% endif %}
                  {% endfor %}
              </div>
            {% endif %}

            {% if filter_params.dimensions_checked: %}
              <div class="pl-2">
                  {% for k,v in filter_params.dimensions.items(): %}
                    {% if v.url or v.url==[]: %}
                    <span class="orange font-bold">{{_("Szerokość") if 'width' in k else 'Długość'}} {{_("min.") if 'min' in k else 'maks.'}}</span>
                    <a href="{{ request.route_url(misc_options.search_url,  seo_slug=meta_options.seo_slug, category_id=filter_params.category_id, _query=v.url) }}" class="button {{'bg-red' if  filter_params.items_per_page==0}}">
                      {{ v.value }}&nbsp;cm <b><sup>X</sup></b>
                    </a>
                    {% endif %}
                  {% endfor %}
              </div>
            {% endif %}


            {% if filter_params.attribute_list_checked:%}
              {% for key,value in data_options.attribute_dict.items(): %}
                {% if value.visible: %}
                  <div class="pl-2">
                    <span class="orange font-bold">{{ value.name }}</span>
                      {% for attribute in value.attributes.values(): %}
                        {% if attribute.url or attribute.url==[]: %}
                          <a href="{{ request.route_url(misc_options.search_url,  seo_slug=meta_options.seo_slug, category_id=filter_params.category_id, _query=attribute.url) }}" class="button {{'bg-red' if  filter_params.items_per_page==0}}">
                            {{ attribute.value }}&nbsp;<b><sup>X</sup></b>
                          </a>
                        {% endif %}
                      {% endfor %}
                  </div>
                {% endif %}
              {% endfor %}
            {% endif %}

          {%endif %}

        </div>


      </span>


    {% endif %}
    
    </div>
        {% if filter_params.items_per_page == 0: %}
          <div>{{'Nie odnaleziono produktu spełniającego powyższe kryteria.'|safe}}</div>
        {% endif %}

  {% endif %}

  {% if filter_params.first_page and (manufacturer_extended or collection_extended): %}
    <div class="page-internals my-4 p-4 text-2xl">
      {% if manufacturer_extended: %}
        <p>
          {{_("Czy szukasz") }} {{_("producenta") }}: 
           {% for item in manufacturer_extended: %}
              <a class="blue my-2" href="{{ request.route_url(misc_options.search_url, seo_slug=meta_options.seo_slug, category_id=filter_params.category_id, _query=(('manufacturer', item.manufacturer_id),)) }}">{{ item.name }}</a>? 
          {% endfor %}
        </p>
      {% endif %}
      {% if collection_extended: %}
        <p>
          {{ _("Czy szukasz") }} {{ ("kolekcji:") }}
          {% for item in collection_extended: %}
            <a class="blue my-2" href='{{ request.route_url(misc_options.search_url, seo_slug=meta_options.seo_slug, category_id=filter_params.category_id, _query=(("collections", item.collection_id),)) }}'>{{ item.name}} ({{ item.manufacturer }}) 
            </a> ?
          {% endfor %}
        </p>
      {% endif %}
    </div>
  {% endif %}



    <div class="page-internals p-2">
      {% with pager=filter_params.pager, display_mode=filter_params.display_mode %}
        <div class=" grid grid-cols-12">
          {% include "emporium:templates/case/category/s_category_paginator_top.html" %}
        </div>
        <div class="grid grid-cols-12 gap-4 grid-margin-x grid-margin-y">

          {% include "emporium:templates/case/product/s_product_listing.html" %}
        </div>
        <div class=" grid grid-cols-12">
          {% include "emporium:templates/case/category/s_category_paginator_bottom.html" %}
        </div>
      {% endwith %}
    </div>

  {% if filter_params.first_page and meta_options.description_long: %}
    <div class="page-internals mb-2 grid grid-cols-12 mb-2">
        <span id="category description" class="block col-span-12">
          {{ meta_options.description_long|safe}}
        </span>
    </div>
  {% endif %}

      <span class="hidden" id="currency">{{ settings.iso_currency }}</span>
</div>

    {% include "emporium:templates/case/modal/s_modal_product_update.html" %}
{% endblock %}
