        <div class="col-start-7 col-end-13 text-right" id="pager_bottom">
          {% if pager['previous_page']: %}
            <a href='{{ pager["previous_page"].get("href") }}' class="pager_arrow text-center textfield"  aria-label="wpisz stronę do której chcesz przejść">{{ pager['previous_page'].get('value') | safe }}</a>
          {% endif %}
          {% if pager['current_page'] and pager['last_page']: %}
            <input type="number" value="{{ pager['current_page'].get('value') }}" oninput="paginateFunction(this)" onchange="paginateFunction(this)" min="1" step="1" max="{{ pager['last_page'].get('number') }}"  class="h-8 w-16 border px-2 transition-all border-blue rounded-sm appearance-textfield">
            {% endif %}
          {% if pager['next_page'] and pager['last_page']: %}
              {{ 'z ' + pager['last_page'].get('number')|string if pager['last_page'].get('number') }}
          <a href="{{ pager['next_page'].get('href') }}"  class="pager_arrow text-center"  aria-label="wpisz stronę do której chcesz przejść">{{ pager['next_page'].get('value')|safe }}</a>
          {% endif %}
        </div>

        <script type="text/javascript">
          var delayTimer;
          function displayModeFunction(paramName, paramValue) {
            clearTimeout(delayTimer);
              delayTimer = setTimeout(function() {
                var href = new URL(location.href);
                href.searchParams.set(paramName, paramValue);
                document.location.href = href;
              }, 150 );
          }
        </script>


        <script type="text/javascript">
          var delayTimer;
          function paginateFunction(Input) {
            clearTimeout(delayTimer);
            var href = new URL(location.href);
            delayTimer = setTimeout(function() {
              var x = Input.value;
              var y = {{ pager['last_page'].get('number') if pager['last_page'] }};
              if (x > y) {
                x = y;
              } 
            href.searchParams.set('page', x);
            document.location.href = href;
            }, 555); 
          }
        </script>
        