{% set extra_javascripts_header %}
{% endset %}
{% set extra_stylesheets %}
{% endset %}

{% extends "emporium:templates/emporatorium/common/layout.html" %}


{% if request.authenticated_userid: %}

{% else: %}
    <section id="login-section"> 
        <div id="login_header" class="top-bar lg:col-span-5 md:col-span-8 col-span-2 small-centered medium-centered large-centered ">
        <h1>{{ message }}</h1>
        </div>
        <div id="top-bar-decoration" class="top-bar">
        </div>
        <div id="login_box" class="col-span-8 large-centered ">
            <div class="">
                <form action="{{ url }}" method="post">
                <input type="hidden" name="next" value="{{ next_url }}">
                    <div class="col-span-6 ">
                        <p><label>{{ _("Login") }}</label><input  name="login" value="{{ login }}"></p>
                        <p><label>{{ _("Password") }}</label><input type="password" name="password"></p>
                        <p class="text-right"><input type="submit" name="form.submitted" value="Log In" class="button_admin bg-cyan-500 success"></p>                 
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endif %}