{% for item in v.slots.values(): %}

  <div class="col-span-12">
    <b>{{ _("Kurier - ") }} {{ item.slot_name }}</b><br>
    {{ item.slot_description }}<br>
    
    <div>    
      {% include "product_edit_transport_status.html" %}
    </div>

  {% if settings.get('extra_fees_for_oversize'): %}
  <div>
    {{_("Dopłata za paletę") }}
    <input value="{{data_options_filtered.transport_filtered[product.product_id].get(item.transport_slot_id).local_settings['manipulation_fee'] if data_options_filtered.transport_filtered.get(product.product_id) and data_options_filtered.transport_filtered[product.product_id].get(item.transport_slot_id )}}" name="{{v.module_name}}_manipulation_fee" id="{{v.module_name}}_manipulation_fee" class="">
  </div>
  {% endif%}

</div>


{% endfor %}