Product_Edit_Pickup
        <div class="col-span-12">
          {{_("Opłata manipulacyjna") }}
          <input value="0" name="{{v.module_name}}_manipulation_fee" id="{{v.module_name}}_manipulation_fee" class="">
        </div>



        <div class="col-span-12">
          {{_("Nazwa opłaty manipulacyjnej") }}
          <input value="" name="{{v.module_name}}_manipulation_text" type="text" id="{{v.module_name}}_manipulation_text" class="">
        </div>