{% for item in v.slots.values(): %}

<div class="col-span-12">
  <div>
    <b>{{v.name}}</b><br>
    {% if item.slot_applicability == 1: %}
      {{_('Ten produkt jest w koszyku')}}
    {% elif item.slot_applicability == 2: %}
      {{_('Wszystkie produkty z koszyka spełniają warunki darmowego transportu')}}
    {% endif %}
  </div>
  <div>

    {% include "product_edit_transport_status.html" %}
    
  </div>
  <div>
    {{_('Min. sztuk (by transport był darmowy)')}}
    <input value="{{data_options_filtered.transport_filtered[product.product_id].get(item.transport_slot_id).local_settings['min_units'] if data_options_filtered.transport_filtered.get(product.product_id) and data_options_filtered.transport_filtered[product.product_id].get(item.transport_slot_id)}}" name="transport_slot_min_units_{{item.transport_slot_id}}" id="transport_slot_min_units_{{item.transport_slot_id}}" class="">
  </div>
</div>

{% endfor %}