{% extends "emporium:templates/emporatorium/common/layout.html" %}

{% block body %}

{% include "emporium:templates/emporatorium/common/edit_left.html" %}

  <div class="col-span-10 grid grid-cols-12">
    <form action='{{ request.route_url("payment_action", action=action) }}' method="post" class="col-span-12 grid grid-cols-12 bg-white p-4 gap-4" id="content_form" name="content_form">
<input id="csrf_token" name="csrf_token" type="hidden" value="{{ get_csrf_token() }}"/>
      {% with title = ('Edytuj metodę płatności ' + (payment and payment.name) if options.action == 'edit' else 'Dodaj metodę płatności ') %}
        {% include "emporium:templates/emporatorium/common/title.html" %}
      {% endwith %}

      {% for field in form: %}
        {% for error in field.errors: %}
          <div class="col-span-12 ">
            <span class="error">{{ field.label }} {{ error }}</span>
          </div>
        {% endfor %}
      {% endfor %}

      <div class="col-span-4">
          <label for="name">{{ _("Nazwa") }}</label>
          <input id="name" name="name" required class="required"  value="{{ payment.name if payment }}">
      </div>

      <div class="col-span-3">
          <label for="type">{{ _("Typ płatności") }}</label>
          <select id="type" name="type">
          	<option value="0" {{ 'selected' if payment and payment.type==0 or action=='create' }}>{{ _("Wewnętrzna") }}</option>
          	<option value="1" {{ 'selected' if payment and payment.type==1 }}>{{ _("Zewnętrzna (API)") }}</option>
          </select>
      </div>

      <div class="col-span-2">
          <label for="status">{{ _("Status") }}</label>
          <select id="status" name="status" required class="">
            <option></option>
            <option value="1" {{ 'selected' if payment and payment.status == 1 or form.status.data == 1 or '' }}>{{ _("Załączony") }}</option> 
            <option value="0" {{ 'selected' if payment and payment.status == 0 or form.status.data ==0 or '' }}>{{ _("Wyłączony") }}</option>
          </select>
      </div>

      <div class="col-span-6">
        <label for="description">{{ _("Opis") }}</label>
        <textarea class="" id="description" name="description">{{ (payment and payment.description) or '' |safe}}</textarea>
      </div>

    
      <input id="payment_id" name="payment_id" type="hidden" value="{{ payment.payment_id if payment }}">
      </form>
    </div>

{% include "emporium:templates/emporatorium/common/edit_right.html" %}

{% endblock %}