{% extends "emporium:templates/emporatorium/common/layout.html" %}

{% block body %}


  {% with id='payment_list_header',title = 'Płatności' %}
    {% include "emporium:templates/emporatorium/common/title.html" %}
  {% endwith %}

  {% with action = 'payment_action' %}
    {% include "emporium:templates/emporatorium/common/add_block.html" %}
  {% endwith %}

  <table class="table col-span-12">
    <thead>
      <tr>
        <th class="w-1/12">{{ _("Edycja") }}</th>
        <th class="w-4/12">{{ _("Nazwa") }}</th>
        <th class="w-4/12">{{ _("Stan") }}</th>
        <th class="w-1/12"></th>
      </tr>
    </thead>
    <tbody>
    {% for item in payments: %}
      <tr class="tr">
        <td class="td px-4">
          <a class="button_admin bg-cyan-500" href="{{ request.route_url('payment_action', action='edit', _query=(('payment_id',item.payment_id),)) }}">{{ _("Edytuj") }}</a>
        </td>
        <td class="td px-4 text-center">{{ item.name }}</td>
        <td class="td px-4 text-center">
          {{ "Załączone" if  item.status == 1 else "<span class='orange'>Wyłączone</span>"|safe}}
        </td>
        <td class="td px-4">
          {% with item_id = item.payment_id, action_url = "payment_", action_name="delete", parameter_name = "payment_id" %}
            {% include "emporium:templates/emporatorium/common/button_change.html" %}
          {% endwith %}
        </td>
      </tr>
  {% endfor %}
    </tbody>
  </table>

  
</div>

{% include "emporium:templates/emporatorium/common/change_modal.html" %}


  <span class="hidden">
    <p id="txt_delete">{{ _("Potwierdź usunięcie metody płatności") }}</p>
    <p id="txt_success_delete">{{ _("Pomyślnie usunięto metodę płatności") }}</p>
  </span>

{% endblock %}