
      <div class="mb-0 mt-4 grid col-span-12 grid-cols-2 gap-2">
        <h6 class="text-dark col-span-2 font-bold {{ 'orange' if filter_params.price_min or filter_params.price_max }} ">{{ _("Cena") }}</h6>
        <div class="">
          <label>{{ _("od") }}</label>
          <input type="number" name="price_min" value="{{ filter_params.price_min if filter_params.price_min }}" step="0.01" minimum="1" class="w-full h-10 mb-4 p-1 md:p-2 rounded-none appearance-textfield text-center">
        </div>
        <div class="">
          <label>{{ _("do") }}</label>
          <input type="number" name="price_max" value="{{ filter_params.price_max if filter_params.price_max }}" step="0.01" minimum="1" class="w-full h-10 mb-4 p-1 md:p-2 rounded-none appearance-textfield text-center">
        </div>
      </div>