<!doctype html>
<html class="no-js" lang="{{ 'en' if request.language_id == 1 else 'pl'}}" dir="ltr" xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ 'en' if request.language_id == 1 else 'pl'}}"
      xmlns:tal="http://xml.zope.org/namespaces/tal"
      xmlns:i18n="http://xml.zope.org/namespaces/i18n"
      i18n:domain="emporium">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="title" content="{{title}}" />
    <meta name="description" content="{{meta_description }}" />
    <meta name="robots" content="{{robots_meta}}" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title>{{title}}</title>
    {{rel}}
    <link rel="shortcut icon" href='{{request.static_url("emporium:templates/case/static/favicon.png") }}' />

    {%- set gtm_header -%}
    <meta name="google-site-verification" content="_F7ZPGXtQVep6wZtsOUTSd0UzlCnZoU1U0y_gSSTaLc" />
    <meta name="google-site-verification" content="vAaecBYK9mgRfh34gJySntdnLxHyCsTwElSYYGPjy0A" />

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-KD2H5RGS');</script>
  <!-- End Google Tag Manager -->

    <!-- Google tag (gtag.js) --> 
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-1004164707"></script> 
    <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'AW-1004164707'); </script> 
    
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-VQ36TE4YMN"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-VQ36TE4YMN');
    </script>


 {%- endset -%}
    
    {{ gtm_header }}

    {{ fb_header }}

    {{ extra_javascripts_header }}
   
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet"> 
   
    <link rel="preconnect" href="https://cdnjs.cloudflare.com">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link as="style" rel="preload" href='{{request.static_url("emporium:templates/case/static/css/theme.css") }}' />

    <link rel="stylesheet" href='{{request.static_url("emporium:templates/case/static/css/theme.css") }}' />

    <meta name="facebook-domain-verification" content="fbnppv1mmqr5195je48rt5eo9lc82u" />

    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
  
  </head>
  <body class="body">

  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KD2H5RGS" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

   {% if request.authenticated_userid and request.identity.role=='emperor': %}  
      {% include "emporium:templates/emporatorium/common/header.html" %}
   {% endif %}
    <div class="main_container" x-data="{ mobileMenuOpen : false }">


      <div class="top-bar pt-2 lg:pt-4 px-2 lg:px-0">
        <div class="grid container mx-auto col-span-12 gap-x-4 mb-4 xl:mb-2 grid-cols-12 sm:px-4">
          <div class="col-span-3 order-1 px-2 lg:px-0 order-1">
            <a href='{{request.route_url("s_home") }}' id="main_logo">
              <img src='{{ request.static_url("emporium:templates/case/static/img/case-studio.png") }}' height="110" width="110"/>
            </a>
          </div>
                      <div class="col-span-12 lg:col-span-5 content-center grid order-3 lg:order-2 gap-4 lg:gap-6 grid-cols-12" id="center_bar">
            <form action="{{ xsearch }}" id="top_bar_search" method="get" name="top_bar_search" class="flex flex-row align-middle col-span-10 lg:col-span-12">
              {{xqueryparams }}
              <div class="col-span-5 relative h-12">
                <input id="product_search"  name="term"  value="{{ xterm }}" placeholder="Czego szukasz?" class="{{'limited_width' if options }} px-4 h-12 m-0 rounded-none">
              </div>

                {% if data_options.categories_dict: %}
                  <select id="category" name="category_id" class="hidden xl:block xl:col-span-5 rounded-none w-100 xl:w-60">
                    <option value=''>{{ _("Wszystkie kategorie") }}</option>
                    {% with links=data_options.categories_dict %}
                      {% include "emporium:templates/case/category/s_category_tree.html" %}
                    {% endwith %}
                  </select>
                {% endif %}


                <button class="button col-span-2 h-12 w-20 p-1" id="search"><i class="fa-solid fa-magnifying-glass text-white text-3xl"></i></button>

            </form>

            {% if sidebar: %}
              <span class="lg:hidden text-center col-span-2" id="filter_categories_switch">
                <a class="blue" href="#" @click="mobileMenuOpen = !mobileMenuOpen" id="sidebar_reveal" ><i class="fa-solid fa-folder-tree text-4xl pr-1"></i></a>
              </span>
            {% endif %}
            </div>
          
          <div class="col-span-9 lg:col-span-4 order-2 lg:order-3">
            <div class="flex col-span-12 lg:col-span-7 order-2 lg:order-3 justify-end text-center flex-row pt-4 pb-4 text-4xl sm:text-3xl gap-3 lg:gap-6 my-auto ml-auto">

            <span class="col-span-2 px-1 xl:px-4">
                {% if request.authenticated_userid: %}
              <a href='{{request.route_url("s_auth",action="out") }}' class="blue">
                <span class="fa-solid fa-power-off"></span>
                <p class="hidden xl:block text-sm mt-2">{{ _("Wyloguj") }}</p>
              </a>
              {% endif %}
            </span>

              <a href='https://case-studio.pl' class="px-1 2xl:px-4 text-cyan-50 hover:text-cyan-200">
                <img id="" src='{{ request.static_url("emporium:templates/case/static/img/case-studio.png") }}' class="mx-auto my-auto block lg:p-0" width="36" height="36" />
                <p class="hidden xl:block text-sm mt-2">{{ _("Studio") }}</p>
              </a>

              <a href='{{request.route_url("s_customer") }}' class="text-cyan-50 hover:text-cyan-200 px-1 2xl:px-4 ">
                <span class="fa-solid fa-user inline-block" id="user"></span>
                <p class="hidden xl:block text-sm mt-2">{{ _("Konto") }}</p>
              </a>

            <a href='{{ request.route_url("s_cart") }}' class="text-cyan-50 hover:text-cyan-200 col-span-2 relative px-1 xl:px-4">
              <span class="fa-solid fa-basket-shopping" id="shopping_cart"></span>
                <span id="shopping_cart_quantity" class="orange-number absolute right-2">{{ request.session['cart_contents']['quantity'] if request.session.get("cart_contents") }}</span>
                <p class="hidden xl:block text-sm mt-2">{{ _("Koszyk") }}</p>
            </a>
          
            {% if settings.compare_products_visible %}
            <a href='{{request.route_url("s_compare") }}' class="text-cyan-50 hover:text-cyan-200 col-span-2 relative px-1 xl:px-4">
              <span class="fa-solid fa-chart-column" id="compare_graph"></span>
              <span id="compare_quantity" class="orange-number absolute right-2">{{request.session['compare_contents']|length if request.session.get("compare_contents") }}</span>
              <p class="hidden xl:block text-sm mt-2">{{ _("Porównaj") }}</p>
            </a>
            {% endif %}

            {% if data_options.header_menu_dict: %}
            {% for page in data_options.header_menu_dict: %}
            <a href='{{request.route_url("s_page", pagename=page.page_name) }}' class="text-cyan-50 hover:text-cyan-200 col-span-2 px-1 xl:pl-4 lg:pr-0">
              <span id="logo_mail" class="fa-solid fa-envelope"></span>
              <p class="hidden xl:block text-sm mt-2">{{ page.title }}</p>
            </a>
            {% endfor %}
            {% endif %}

            {% if settings.shop_settings['multiple_languages'] == 1%}
              
              {% if request.language_id == 2 %}
                <a href="/locale?language=en" class="col-span-2 pl-2 pr-2 xl:pl-4 mt-2"> <img src='{{ request.static_url("emporium:templates/case/static/img/uk_flag.svg") }}' height="25" width="25"/></a>
              {% else %}
              <a href="/locale?language=pl" class="col-span-2 pl-2 pr-2 xl:pl-4 mt-2"><img src='{{ request.static_url("emporium:templates/case/static/img/pl_flag.svg") }}' height="25" width="25"/></a>
              {% endif %}
              {% endif %}

            </div>
        </div>
        </div>
      </div>


      
      {% if not request.cookies.get('modal_popup'): %}
        {% if settings.get('popup'):%}
          {% include "/modal/s_modal_popup.html" %}
        {% endif %}
      {% endif %}
      {% if request.authenticated_userid and request.identity.role=='emperor': %}
            <div class="flex flex-col">
        {{action_block_left}}
      </div>
      {% endif %}

      <div class="container mx-auto grid grid-cols-12 gap-x-4">
        {% block body %}{% endblock %}
      </div>

      {% if request.authenticated_userid and request.identity.role=='emperor': %}
            <div class="flex flex-col">
        {{action_block_right}}
      </div>
      {% endif %}


    </div>
    <footer class="grid container mx-auto col-span-12 gap-x-4 mb-2 ">
      <div class="page-internals col-span-12 my-2 grid">
        <div class="col-span-12 lg:col-span-3 hidden lg:block footer_block" >
          <img id="footer_logo" src='{{ request.static_url("emporium:templates/case/static/img/case-studio.png") }}' loading="lazy" class="mx-auto my-auto" width="128" height="35"/>
        </div>
        <div class="col-span-12 lg:col-span-9 grid">
          <div class="col-span-12 ">

              {% if settings.get('shop_status') != '1': %}
              <p class="text-center font-bold pb-4 lg:pb-0">
               {% include "/40x/s_abnormal_shop_status.html" %}
             </p>
              {% endif %}
          </div>
          <div class="lg:col-span-4 col-span-6 " >
            <b>{{ _("Informacje") }}</b>
            
            {% if data_options.footer_menu_dict: %}
            <ul>
              {% for item in data_options.footer_menu_dict: %}
                <li><a href='{{ request.route_url("s_page", pagename=item[2]) }}' rel="nofollow">{{ item[1]}}</a></li>
              {% endfor %}
            </ul>
            {% endif %}
          </div>
          <div class="lg:col-span-4 col-span-6 ">
            <b>{{ _("Klient") }}</b>
            <ul>
               <li><a href='{{request.route_url("s_cart") }}' rel="nofollow">{{ _("Koszyk") }}</a></li>
               <li><a href='{{request.route_url("s_customer") }}' rel="nofollow">{{ _("Konto") }}</a></li>
                <li><a href='{{request.static_url("emporium:uploads/Odstapienie_od_umowy_CaseStudio.pdf") }}'>{{ _("Odstąpienie od umowy") }}</a></li>
              {% if settings.compare_products_visible %}
                <li><a href='{{request.route_url("s_compare") }}' rel="nofollow">{{ _("Porównywarka") }}</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
        <div class="col-span-12 pt-4 lg:pt-0 text-center">
          <small>{{ settings.get('footer_description') |safe }}</small>
        </div>
      </div>
       <input id="csrf_token" name="csrf_token" type="hidden" value="{{ get_csrf_token() }}"/>
       
       {% include "emporium:modules/integration/trusted_shop/footer_js.html" %}

       <script src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/2.8.2/alpine.js" integrity="sha512-No22QdEJ4zlXvdQDpm6oeXcjwajpNxvnstx6NEU/5qZFysa5gsgj/bSfAFpSc9Za5LjbgQLRXyCeY53aWmk8ZA==" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" integrity="sha512-3n19xznO0ubPpSwYCRRBgHh63DrV+bdZfHK52b1esvId4GsfwStQNPJFjeQos2h3JwCmZl0/LgLxSKMAI55hgw==" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-compat/3.0.0-alpha1/jquery.min.js" integrity="sha512-4GsgvzFFry8SXj8c/VcCjjEZ+du9RZp/627AEQRVLatx6d60AUnUYXg0lGn538p44cgRs5E2GXq+8IOetJ+6ow==" crossorigin="anonymous"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.5/awesomplete.min.js" integrity="sha512-HcBl0GSJvt4Qecm4srHapirUx0HJDi2zYXm6KUKNNUGdTIN9cBwakVZHWmRVj4MKgy1AChqhWGYcMDbRKgO0zg==" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/fontawesome.min.css" integrity="sha512-SgaqKKxJDQ/tAUAAXzvxZz33rmn7leYDYfBP+YoMRSENhf3zJyx3SBASt/OfeQwBHA1nxMis7mM3EV/oYT6Fdw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      <script src='{{ request.static_url("emporium:templates/case/static/js/layout.js") }}'></script>
      <script src='{{ request.static_url("emporium:templates/case/static/js/vendor/cookie.js") }}'></script>
      <script src='{{ request.static_url("emporium:templates/case/static/js/modal_popup.js") }}'></script>
     

    {{extra_javascripts_footer }}

    </footer>
  </body>
</html>
