    {% if object.product_type ==1: %}
    <span class="tooltip">

      <i class="fa-{{'record' if object.transport_method == 1 else 'database'}} text-5xl text-emerald-500 pl-4 my-auto"></i>
      {% with tooltip = _("Płyta")  if object.transport_method == 1 else _("Zestaw") %}
        {% include "emporium:templates/case/common/s_tooltip_clean.html"%}
      {% endwith %}
    </span>
    {% endif%}
    <span class="tooltip">
      <i class="fa-{{'at-sign' if object.transport_method == 1 else 'social-dropbox'}} text-5xl text-{{'sky' if object.transport_method == 1 else 'orange'}}-500 pl-4 my-auto"></i>

      {% with tooltip = "Digital - plik do pobrania" if object.transport_method == 1 else 'Produkt fizyczny - wysłka' %}
      {% include "emporium:templates/case/common/s_tooltip_clean.html"%}
      {% endwith %}
    </span>