
{% for menuitem in links: %}
  {% if menuitem.placeholder %}
    <li class="pt-2 pl-1">
    <span class="uppercase blue text-sm">
    {% else %}
      <li class="py-2 pl-2">
      <a href="{{ request.route_url('s_category', seo_slug=menuitem.seo_slug, category_id=menuitem.category_id, _query=query) }}" class="mb-2 text-dark"> 
    {% endif %}
          {{ menuitem.name }}
      {{ '</span>' | safe if menuitem.placeholder else '</a>' |safe }}
      
  {% if menuitem.subcategories %}
    <ul class="pl-3 nested menu">
    {% with links=menuitem.subcategories %}
      {% include "/common/s_sidebar_category_tree.html"%}
    {% endwith %}
    </ul>
  {% endif %}

  </li>

{% endfor %}