{% extends "emporium:templates/emporatorium/common/layout.html" %}

{% block body %}

    {% with id = 'post_' + options.action + '_header', title = ('Edytuj' if options.action == 'edit' else 'Dodaj') + ' post' %}
      {% include "emporium:templates/emporatorium/common/title.html" %}
    {% endwith %}

  <form id="content_form" name="content_form" action='{{ request.route_url("post_action", action=action) }}' method="post" enctype="multipart/form-data" class="col-span-10 grid grid-cols-12 gap-4 bg-white p-4">
    <input id="csrf_token" name="csrf_token" type="hidden" value="{{ get_csrf_token() }}"/>

    {% for field in form: %}
      {% for error in field.errors: %}
        <span class="error">{{ field.label }} {{ error }}</span> ||
      {% endfor %}
    {% endfor %}
      <div class="col-span-5">
        <label for="title">{{ _("Tytuł") }}</label>
        <input class="" id="title" name="title" required  value="{{ post.title if post }}">
      </div>
      <div class="col-span-2">
        <label for="status">{{ _("Status") }} {{ _("(widoczność)") }}</label>
          <select id="status" name="status" class="" required type="integer">
            <option id="status_option_1" value="1" {{ ('selected' if post.status == 1 else "") if post |safe }}>{{ _("Załączony") }}</option>
            <option id="status_option_0" value="0" {{ ('selected' if post.status == 0 else "") if post |safe }}>{{ _("Wyłączony") }}</option>
          </select>
      </div>
      <div class="col-span-3">
        <label for="H1">{{ _("H1") }}</label>
        <input class="" id="h1" name="h1"  value="{{ (post and post.h1) or '' }}">
      </div>
      <div class="col-span-2">
        <label for="date_published">{{ _("Data publikacji") }}</label>
        <input class="" id="date_published" name="date_published" type="date" value="{{ (post.date_published and post.date_published.strftime('%Y-%m-%d')) or '' }}">
      </div>  
      <div class="col-span-9 ">
        <label for="meta_description">{{ _("Meta description") }}</label>
        <input class="" id="meta_description" name="meta_description"  value="{{ (post and post.meta_description) or '' }}">
      </div>
      <div class="col-span-3 ">
        <label for="seo_slug">{{ _("Przyjazny link") }}</label>
        <input class="" id="seo_slug" name="seo_slug"  value="{{ (post and post.seo_slug) or '' }}">
      </div>

      <div class="col-span-6">
        <label for="image">{{ _("Zdjęcie") }} {{ _(" główne") }}</label>
        <div class="hidden" id="main_image_placeholder"></div>
      {% if post and post.image: %}
        <img src='{{ request.static_url("emporium:images/posts/") + post.image }}' class="" width="480" height="480" />&nbsp;&nbsp;
        <input type='hidden' name='post_image_url' value='{{post.image}}'>
        {% with item_id = post.post_id, action_url = "image_", action_name="delete", parameter_name = "type=post&id"  %}
          {% include "emporium:templates/emporatorium/common/button_change.html" %}
        {% endwith %}
      {% else: %}
        <input form="placeholer_form" type="file" name="post_image" id="post_image" onchange="uploadFile('post','image','post')">
         {% with primary_type='image', progress_name = "post" %}
            {% include "emporium:templates/emporatorium/common/progress_bar.html" %}
         {% endwith %}
      {% endif %}
      </div>  
 
      {% if post %} 
        <div class="col-span-3">
          <label for="date_added">{{ _("Dodano") }}</label>
          <input class="" id="date_added" name="date_added"  value="{{ post.date_added.strftime('%Y-%m-%d') if post and post.date_added }}"  readonly>
        </div>
        <div class="col-span-3">
          <label for="date_modified">{{ _("Ostatnio zmodyfikowano") }}</label>
          <input  class="h-8 w-full border px-2 transition-all border-blue rounded-sm" id="date_modified" name="date_modified"  value="{{ post.date_modified.strftime('%Y-%m-%d') if post and post.date_modified }}"  readonly>
        </div>
      {% else: %}
      <div class="col-span-6"></div>
      {% endif %}
      <div class="col-span-6">
        <label for="excerpt">{{ _("Zajawka") }}</label>
        <textarea class="" id="excerpt" name="excerpt">{{ (post and post.excerpt) or '' |safe}}</textarea>
      </div>
      <div class="col-span-6">      
        <label for="content">{{ _("Treść") }}</label>
        <textarea class="" id="content" name="content">{{ (post and post.content) or  '' |safe}}</textarea>
      </div>
      <input id="creator_id" name="creator_id" type="hidden" value="{{ (post and post.creator_id) or '' }}">
      <input id="post_id" name="post_id" type="hidden" value="{{ (post and post.post_id) or '' }}">
      <input type="hidden" value="{{ url_next }}" name="url_next">
    </form>

    {% include "emporium:templates/emporatorium/common/change_modal.html" %}
    {% include "emporium:templates/emporatorium/common/edit_right.html" %}
    {% include "emporium:templates/emporatorium/common/file_upload_js.html" %}

  <span class="hidden">
    <p id="txt_delete">{{ _("Potwierdź usunięcie postu") }}</p>
    <p id="txt_success_delete">{{ _("Pomyślnie usunięto post") }}</p>
  </span>


    {% include "emporium:templates/emporatorium/common/trumbowyg.html" %}


  <script type="text/javascript">
    $('#content, #excerpt').trumbowyg({
    lang: 'pl',
  });
  </script>





{% endblock %}