{% extends "emporium:templates/emporatorium/common/layout.html" %}
{% block body %}

  {% with id='post_list_header',title = 'Posty', pager = posts_listing.link_map() %}
    {% include "emporium:templates/emporatorium/common/title.html" %}
    {% include "emporium:templates/emporatorium/common/paginate.html" %}
  {% endwith %}

  <form class="col-span-12 grid grid-cols-12 bg-white p-4 my-4 border gap-4" action='{{ request.route_url("post_list") }}' id="topbar_filter" method="get" name="filter" >

    {% with action = 'post_action' %}
      {% include "emporium:templates/emporatorium/common/add_block.html" %}
    {% endwith %}
  

    <input type="hidden" name="search" value="true">
    <div class="col-span-2 ">
      <label>{{ _("Słowo klucz") }}</label>
      <input class=""  name="term" value="{{ (filter_params and filter_params['term'].replace('%%', ' ').replace('%', '')) or '' }}">
    </div>
    <div class="col-span-1">
        <label>{{ _("Status") }}</label>
        <select class="" id="input-status" name="status">
            <option disabled selected value> </option>
            <option value="" default>{{ _("Wszystkie") }}</option>
            <option value="1" {{ 'selected' if filter_params.status == "1" }}>{{ _("Załączony") }}</option>
            <option value="0" {{ 'selected' if filter_params.status == "0" }}>{{ _("Wyłączony") }}</option>
        </select>
    </div>

    {% with action_url = 'post_list' %}
      {% include "emporium:templates/emporatorium/common/clear_filter_block.html" %}
    {% endwith %}

  </form>
    
  <table class="table col-span-12">
    <thead>
      <form action='{{ request.route_url("post_list") }}' method="get" name="filter" >
        <tr>
          <th>{{ _("Edycja") }}</th>
          <th>
            <a class="{{ 'orange' if filter_params.sort_method in ('name_asc', 'name_desc' ) }}" href="{{ request.route_url('post_list', _query=(('sort', 'name_asc' if filter_params.sort_method == 'name_desc' else 'name_desc'),), ) |safe}}"> {{ _("Tytuł") }} <b>{{ '&uarr;'|safe if filter_params.sort_method == 'name_asc' else '&darr;' |safe }}</b></a>
          </th>
          <th>
            <a class="{{ 'orange' if filter_params.sort_method == 'add_asc' or filter_params.sort_method == 'add_desc' }}" href="{{ request.route_url('post_list', _query=(('sort', 'add_asc' if filter_params.sort_method == 'add_desc'  else 'add_desc'),), ) |safe}}"> {{ _("Dodane") }} <b>{{ '&uarr;' |safe if filter_params.sort_method == 'add_asc' else '&darr;' |safe}}</b></a>
          </th>
          <th>
              <a class="{{ 'orange' if filter_params.sort_method == 'mod_asc' or filter_params.sort_method == 'mod_desc' }}" href="{{ request.route_url('post_list', _query=(('sort', 'mod_asc' if filter_params.sort_method == 'mod_desc'  else 'mod_desc'),), ) |safe}}">{{ _("Opublikowane") }}  <b>{{'&uarr;' |safe if filter_params.sort_method == 'mod_asc' else '&darr;' |safe}}</b></a>
          </th>
          <th>{{ _("Stan") }}</th>
          <th></th>
        </tr>
      </form>
    </thead>
    <tbody>
    {% for item in posts_listing.items: %}
      <tr class="tr">
        <td class="td px-4">
          <a class="button_admin bg-cyan-500" href="{{ request.route_url('post_action', action = 'edit', _query=(('next', url),('post_id',item.post_id))) }}">{{ _("Edytuj") }}</a>
        </td>
        <td class="td px-4">
          {{ item.title }}
        </td>
        <td class="td px-4">
          {{ item.date_added.strftime('%Y-%m-%d') if item.date_added }}
        </td>
        <td class="td px-4">
          {{ item.date_published.strftime('%Y-%m-%d') if item.date_published }}
        </td>
        <td class="td px-4 text-center">
          {{ _("Załączone") if item.status == 1 else '<i class="fi-alert orange"></i>' | safe }}
        </td>
        <td class="td px-4">
          {% with item_id = item.post_id, action_url = "post_", action_name="delete", parameter_name = "post_id" %}
            {% include "emporium:templates/emporatorium/common/button_change.html" %}
          {% endwith %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% include "emporium:templates/emporatorium/common/change_modal.html" %}

  <span class="hidden">
    <p id="txt_delete">{{ _("Potwierdź usunięcie postu") }}</p>
    <p id="txt_success_delete">{{ _("Pomyślnie usunięto post i powiązane z nim dane (m.in. zdjęcia)") }}</p>
  </span>




{% endblock %}