<section id="mini_cart_contents" class="callout-footer page-internals my-2">

<h4>
    {% if cart and cart['cart_contents']: %}
        Twój koszyk
    {% endif %}
 </h4>

{% if cart and cart['cart_contents']: %}
    <table class="hidden md:block">
        {% for item in cart['cart_contents']: %}
            <tr>
                <td class="hidden md:block">
                </td>
                <td class="hidden md:block">
                    <a href="{{ request.route_url('s_product', seo_slug = item['slug'], id = item['product_id']) }}">
                        <img class="small_thumbnail" src='{{ request.static_url("emporium:images/")+ item["image"] }}' />
                    </a>
                </td>
                <td><a href="{{ request.route_url('s_product', seo_slug = item['slug'], id = item['product_id']) }}">{{ item['name'] }}</a></td>
                <td class="quantity_block">
                    {% if item['square_meter']: %}
                       {{ item['product_quantity'] }}<p class="left">&nbsp;m<sup>2</sup></p>
                    {% endif %}
                    {{ format(item['product_quantity']/(item['unit'] if item['square_meter'] else 1), '.0f") }}
                    <p class="left">&nbsp;
                        {{ 'paczek' if item['square_meter'] else 'sztuk' |safe }}
                </td>
                <td>
                    <h5>{{ item['value'] }} zł</h5>
                    <small>
                        cena za {{ 'm<sup>2</sup>' if item['square_meter'] else 'sztukę' |safe }}: {{ item['price'] }} zł
                    </small>
                </td>
            </tr>
        {% endfor %}
    </table>
    <span id="order_summary">
        <h5 class="text-right"><b>Do zapłaty {{ cart['params'].get('summary") }} zł </b></h5>
        <p class="text-right"> + dostawa<br>
            {% if transport_and_payment_methods_summarized: %}
                <span class="right">({{ ", ".join(((item['transport_name'] + ' od ' +  item['fees'] + ' zł') for item in transport_and_payment_methods_summarized if item)) }})</span></p>
            {% endif %}
          <br>
        <p class="text-right">Waga {{ cart['params'].get('weight") }} kg ({{ cart['params'].get('palette") }} palet{{ cart['params'].get('suffix") }})</p>

        <p class="text-right">
            <small>  </small>
        </p>
        <a class="button success small float-right" id="order_products" href='{{ request.route_url("s_order") }}'>
            Dostawa i płatność
        </a>
        <a class="text-left" class="continue" href='{{ request.route_url("s_home") }}'>
            <p>Kontynuuj zakupy</p>
        </a>
    </span>
{% endif %}

</section>
