{% extends "emporium:templates/emporatorium/common/layout.html" %}
{% block body %}

{% include "emporium:templates/emporatorium/common/edit_left.html" %}

  <form id="content_form" name="content_form"  action='{{ request.route_url("storage_action", action=action) }}' method="post"  class="col-span-10 grid grid-cols-12 gap-4">
    <input id="csrf_token" name="csrf_token" type="hidden" value="{{ get_csrf_token() }}"/>
    <input id="storage_id" name="storage_id" type="hidden" value="{{ storage.storage_id if storage }}">
    <input id="creator_id" name="creator_id" type="hidden" value="{{ storage.creator_id if storage }}">
    {% with id = 'storage_'  + options.action + '_header', title = ('Edytuj' if options.action == 'edit' else 'Dodaj') + ' magazyn' %}
      {% include "emporium:templates/emporatorium/common/title.html" %}
    {% endwith %}
    {% for field in form: %}
      {% for error in field.errors: %}
        <span class="error">{{ field.label }} {{ error }}</span> ||
      {% endfor %}
    {% endfor %}

    <div class="col-span-12 grid grid-cols-12 bg-white p-4 my-4 border gap-4">

      <div class="col-span-6 ">
        <label for="name">{{ _("Nazwa") }}</label>
        <input id="name" name="name" required  value="{{ storage.name if storage }}" class="h-8 w-full border px-2 transition-all border-blue rounded-sm">
      </div>
      
      <div class="col-span-6 grid grid-cols-12 gap-8">
        <div class="col-span-2 flex flex-col">
          <label for="status">{{ _("Status") }}</label>
          <input id="status" name="status" type="checkbox" {{ 'checked' if storage and storage.status }} class="h-8 w-full border px-2 transition-all border-blue rounded-sm">
        </div>
        <div class="col-span-2">    
          <label for="size">{{ _("Kolejność") }}</label>
          <input id="order" name="order" type="number" min="0" step="1" value="{{ storage.order if storage }}" class="h-8 w-full border px-2 transition-all border-blue rounded-sm">
        </div>
        <div class="col-span-2">    
          <label for="storage_type">{{ _("Typ magazynu") }}</label>
          <select class="storage_type" name="storage_type">
            {% for k,v in 
              {
                'Wirtualny':2, 
                'Fizyczny':1
            }.items(): %}
              <option value="{{v}}" {{ 'selected' if storage and storage.storage_type == v}}>{{ k }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      
      <div class="col-span-6 ">
        <label for="description">{{ _("Opis") }}</label>
        <textarea class="" id="description" name="description">{{ storage.description |safe if storage else  '' }}</textarea>
      </div>

  </div>

  </form>

  {% include "emporium:templates/emporatorium/common/edit_right.html" %}

  {% include "emporium:templates/emporatorium/common/trumbowyg.html" %}


<script>
$('#description').trumbowyg({
  lang: 'pl'
  });
</script>
{% endblock %}