{% extends "emporium:templates/emporatorium/common/layout.html" %}
{% block body %}

  {% with id='storage_list_header',title = 'Lista opcji' %}
    {% include "emporium:templates/emporatorium/common/title.html" %}
  {% endwith %}

  <div class="col-span-12 grid grid-cols-12">
    <div class="col-span-1 bg-white p-4 mr-4 border-l border-t border-r top-px relative">
    {% with action = 'storage_action' %}
      {% include "emporium:templates/emporatorium/common/add_block.html" %}
    {% endwith %}
    </div>
  </div>
  
  <table class="table col-span-12 ">
    <thead>
      <tr>
        <th class="w-1/12">{{ _("Edycja") }}</th>
        <th class="w-2/12">{{ _("Stan") }}</th>
        <th class="w-2/12">{{ _("Typ magazynu") }}</th>
        <th class="w-3/12">{{ _("Nazwa") }}</th>
        <th class="w-3/12">{{ _("Opis") }}</th>
        <th class="w-1/12"></th>
      </tr>
    </thead>
    <tbody>
      {% for item in storage_list: %}
        <tr class="tr">
          <td class="td px-4">
            <a class="button_admin bg-cyan-500" href="{{ request.route_url('storage_action', action='edit', _query=(('storage_id',item.storage_id),)) }}">{{ _("Edytuj") }}</a>
          </td>
          <td class="td px-4  text-center">
            {{ _("Załączone") if item.status == 1 else _("Wyłączone") }} 
          </td>
          <td class="td px-4  text-center">
            {{ _("Wirtualny") if item.storage_type == 2 else _("Fizyczny") }}
          </td>
          <td class="td px-4 text-center">
            {{ item.name }}
          </td>
          <td class="td px-4 text-center">
            {{ item.description or "" }}
          </td>
          <td class="td px-4 text-center">
            {% with item_id = item.storage_id, action_url = "storage_", action_name="delete", parameter_name = "storage_id" %}
              {% include "emporium:templates/emporatorium/common/button_change.html" %}
            {% endwith %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>


{% include "emporium:templates/emporatorium/common/change_modal.html" %}

  <span class="hidden">
    <p id="txt_delete">{{ _("Potwierdź usunięcie miejsca magazynowania") }}</p>
    <p id="txt_success_delete">{{ _("Pomyślnie usunięto magazyn") }}</p>
  </span>


{% endblock %}