{% set extra_javascripts_footer %}

{% endset %}

{% set extra_stylesheets %}
{% endset %}

{% set xsearch %}{{ request.route_url(misc_options.search_url) }}{% endset %}
{% set xterm %}{% endset %}

{% extends "/common/s_layout.html" %}

{% block body %}
  <div class="col-span-12 md:col-span-6 md:col-start-4 ">
    <div class="page-internals my-2">
    {% if not success: %}
   

      <form action='{{ request.route_url("s_customer_reset") }}' id="reset" method="post" name="reset" class="w-3/4 mx-auto">
        <input id="csrf_token" name="csrf_token" type="hidden" value="{{ get_csrf_token() }}"/>
        <h5>{{ _("Zresetuj hasło") }}</h5>
        {{ form.existenz }}
          {% for error in form.mail.errors: %}
            <span class="error">{{ error }}</span>
          {% endfor %}
          {{ _("Mail") }} 
          {{ form.mail }}
          <p class="text-right ">
            <button type="submit" name="sign" value="sign_in" class="button success">{{ _("Zresetuj hasło") }}</button>
          </p>
      </form>
      {% elif success=="True": %}
        <h5>{{ _("Wiadomość wysłana") }}</h5>
        Na podany mail zostało wysłana wiadomość zawierająca link umożliwiający utworzenie nowego hasła. Link jest ważny przez 10 min.
      {% else: %}
        <h5>Nie ma takiego konta</h5>
        {{ _("Proszę utworzyć nowe konto.") }}
      {% endif %}
    </div>
  </div>

{% endblock %}