    <div class="page-internals grid grid-cols-12 col-span-12 py-4 my-2">

      <nav class="tabs col-span-12 flex flex-row pt-4 ">
        {% for item in ('Konto', 'Historia zamówień', 'Do pobrania'): %}
          <button data-target="panel-{{loop.index}}" class="tab block bg-blue hover:bg-blue-dark text-white p-2 m-2 {{'ml-0 active' if loop.index == 1}} text-center">{{item}}</button>
        {% endfor %}

      </nav>

      <div class="col-span-12 grid grid-cols-12" id="panels">

        <div class="tab-content panel-1 col-span-12 grid-cols-12 active" x-data="{ isOpen: false }">
          
          <h5 class="col-span-6 text-2xl">{{ _("Konto") }}</h5>

          <div class="col-span-12 grid grid-cols-12 gap-4">
                
            <div class="col-span-12 lg:col-span-5 relative text-xl">
              <button class="button success absolute right-0 text-normal" @click="{ isOpen = !isOpen}">{{ _("Edytuj") }}</button>

              {% if customer_data['default_address'].company_name and customer_data['default_address'].company_nip: %}
                {{ customer_data['default_address'].company_name }} {{ customer_data['default_address'].company_nip }}<br>
              {% endif %}
              {{ customer_data['customer'].first_name }} {{ customer_data['customer'].last_name }}<br>
              <i class="fi-telephone text-2xl"></i> {{ customer_data['customer'].telephone }}<br>
              <i class="fi-mail text-2xl"></i> {{ customer_data['customer'].mail }}<br>
              <i class="fi-home text-2xl"></i> {{ customer_data['default_address'].street }}<br>
              {{ customer_data['default_address'].postcode }} {{ customer_data['default_address'].city }}<br>
              {{ customer_data['default_address'].country }}
            </div>

            <div class="col-span-12 lg:col-span-7 grid grid-cols-12 relative" x-show="isOpen" x-cloak>
              <h5 class="col-span-12 text-2xl">{{ _("Edycja konta") }}</h5>
              <form action='{{ request.route_url("s_customer") }}' name="edit_customer_form" method="POST" id="edit_customer_form" class="grid grid-cols-12 col-span-12">
                <input id="csrf_token" name="csrf_token" type="hidden" value="{{ get_csrf_token() }}"/>

                <div class="col-span-12 md:col-span-6 ">
                  <label>{{ _("Nazwa firmy") }}</label>
                  <input id="company_name" name="company_name" value='{{ customer_data["default_address"].company_name if customer_data.get("default_company") }}' >
                </div>
                <div class="col-span-12 md:col-span-6 ">
                  <label>{{ _("NIP") }} </label>
                  <input id="company_nip" name="company_nip" value='{{ customer_data["default_address"].company_nip if customer_data.get("default_company") }}' >
                </div>
                <div class="col-span-12 md:col-span-6 ">
                  {% for error in form.first_name.errors: %}
                    <div class="error float-right">{{ error }}</div>
                  {% endfor %}
                  <label> {{ _("Imię") }}</label>
                  <input class="required_field"   id="first_name" name="first_name" value="{{ customer_data['customer'].first_name }}"  required>
                </div>
                <div class="col-span-12 md:col-span-6 "> 
                  {% for error in form.last_name.errors: %}
                    <div class="error float-right">{{ error }}</div>
                  {% endfor %}
                  <label> {{ _("Nazwisko") }}</label>
                  <input class="required_field"   id="last_name" name="last_name" value="{{ customer_data['customer'].last_name }}"  required>
                </div>
                <div class="col-span-12 md:col-span-6 "> 
                  <label>{{ _("Telefon") }}</label>
                  <input class="required_field"   id="telephone" name="telephone" value="{{ customer_data['customer'].telephone }}"  required>
                </div> 
                <div class="col-span-12 md:col-span-6 ">
                  {% for error in form.mail.errors: %}
                    <div class="error float-right">{{ error }}</div>
                  {% endfor %}
                  <label> {{ _("Mail") }}</label>  
                  <input class="required_field"  id="mail" name="mail" value="{{ customer_data['customer'].mail }}" type="email" required>
                </div> 
                <div class="col-span-12 md:col-span-6 ">
                {{ _("Hasło") }} ({{ _("zostaw puste pole jeżeli nie chcesz zmieniać hasła") }})  
                  <input class="" id="password" name="password" value="" type="password">
                </div> 
                <div class="col-span-12 md:col-span-6 ">
                  {% for error in form.street.errors: %}
                    <div class="error float-right">{{ error }}</div>
                  {% endfor %}
                  <label>{{ _("Ulica i numer domu/lokalu") }}</label>
                  <input class="required_field"   id="street" name="street" value="{{ customer_data['default_address'].street }}"  required>
                </div>  
                <div class="col-span-12 md:col-span-6 ">
                  {% for error in form.postcode.errors: %}
                    <div class="error float-right">{{ error }}</div>
                  {% endfor %}
                  <label>{{ _("Kod pocztowy") }} </label>
                  <input class="required_field"   id="postcode" name="postcode" value="{{ customer_data['default_address'].postcode }}"  required>
                </div> 
                <div class="col-span-12 md:col-span-6 ">
                  {% for error in form.city.errors: %}
                    <div class="error float-right">{{ error }}</div>
                  {% endfor %}
                  <label>{{ _("Miasto") }}</label>
                  <input class="required_field"   id="city" name="city" value="{{ customer_data['default_address'].city }}"  required >
                </div>
                <div class="col-span-12 md:col-span-6 ">
                  {% for error in form.country.errors: %}
                    <div class="error float-right">{{ error }}</div>
                  {% endfor %}
                  <label>{{ _("Kraj") }}</label>
                  <input id="country" name="country" value="Polska"  disabled>
                </div> 
                                  
                <div class="col-span-12 "> 
                  <button class="button" type="submit">
                  <span>{{ _("Zapisz") }}</span>
                  </button>
                </div>
              </form>

            </div>
          </div>
        </div>

        <div class="tab-content panel-2 col-span-12 grid-cols-12 gap-4">
          <h5 class="col-span-12">{{  _("Historia zamówień") }}</h5>
            {% for item in customer_data['orders']: %}
              <table class="table col-span-12">
                <tbody>
                <tr class="tr align-top">        
                  <td class="td">
                    <h5 class="text-xl">{{ _("Data zamówienia") }} </h5>
                   </td>
                   <td class="td">
                    {{ (item.date_ordered).strftime("%H:%M %d-%m-%Y") }}
                  </td>
                </tr>
                <tr>
                  <td class="td">
                    <h5 class="text-xl">{{ _("Nr zamówienia") }}</h5>
                  </td>
                  <td class="td">
                    {{item.uuid}}
                  </td>
                </tr>
                <tr>
                  <td class="td">
                    <h5 class="text-xl">{{ _("Status") }}</h5>
                  </td>
                  <td class="td">
                    {% for sta in status_list: %}
                      {% if sta[0].status_id == item.status %}
                        {{ sta[2].name }}
                      {% endif %}
                    {% endfor %}
                  </td>
                </tr>
                <tr>
                  <td class="td">
                    <h5 class="text-xl">{{ _("Płatność") }}</h5>
                  </td>
                  <td class="td">
                      {% for pay in payment_methods: %}
                      {% if pay.payment_id == item.payment: %}
                        {{ pay.name }}
                      {% endif %}
                    {% endfor %}
                  </td>
                </tr>
                  <td class="td">
                    <h5 class="text-xl">{{ _("Transport") }}</h5>

                  </td>
                  <td class="td">
                    {% for tran in transport_methods: %}
                      {% if tran.transport_id == item.transport: %}
                        {{ tran.name }}
                      {% endif %}
                    {% endfor %}
                  </td>
                </tr>
                <tr class="align-top">
                  <td class="td" colspan="">
                    <h5 class="text-xl">{{_("Dane płatnika") }}</h5>
                  </td>
                  <td class="td">
                    {{item.client_json['company_name']}}
                    {{item.client_json['company_nip']}}
                    {{item.client_json['first_name']}} {{item.client_json['last_name']}}<br>
                    {{item.client_json['mail']}}<br>
                    {{item.client_json['telephone']}}<br>
                    {{item.client_json['street']}}<br>
                    {{item.client_json['postcode']}} 
                    {{item.client_json['city']}}<br>
                    {{item.client_json['country']}}
                  </td>
                </tr>
                <tr class="align-top">
                  <td class="td" colspan="">
                    <h5 class="text-xl">{{_("Dane dostawy") }}</h5>
                  </td>
                  <td class="td">
                    {{item.delivery_json['company_nip']}}
                    {{item.delivery_json['company_name']}}
                    {{item.delivery_json['first_name']}} {{item.delivery_json['last_name']}}<br>
                    {{item.delivery_json['telephone']}}<br>
                    {{item.delivery_json['street']}}<br>
                    {{item.delivery_json['postcode']}} 
                    {{item.delivery_json['city']}}<br>
                    {{item.delivery_json['country']}}

                  </td>
                </tr>
                <tr>
                  <td class="td" colspan="2">
                    <h5 class="text-xl">{{_("Produkty") }}</h5>
                </tr>
                    {% for product in item.products_json: %}
                    <tr>
                      <td></td>
                      <td class="td">
                        <a href="{{ request.route_url('s_product', seo_slug = product['slug'], id = product['product_id']) }}" class="blue">{{ product['name'] }}</a> &nbsp;
                          {% if  product['square_meter']: %}
                            {{ product['product_quantity'] }}&nbsp;m<sup>2</sup>
                              ({{ product['product_packages'] }}&nbsp;paczek) 
                          {% else: %}
                            {{ product['product_quantity'] }}&nbsp;sztuk 
                          {% endif %}
                      </td>
                    </tr>
                  {% endfor %}
              </tbody>
            </table>
          {% endfor %}
        </div>
   
        <div class="tab-content panel-3 col-span-12 grid-cols-12 gap-4">

          <a class="button col-span-5 md:col-span-2 lg:col-span-1" href='{{ request.static_url("emporium:uploads/Odstapienie_od_umowy.docx") }}'>
            <i class="fi-page-doc text-5xl"></i> {{ _("Odstąpienie od umowy") }}
          </a> 

        </div>

        <div class="col-span-12 grid-cols-12 gap-4 hidden">

          <h5 class="col-span-12 text-2xl">{{ _("Formularz kontaktowy") }}</h5> 
              
          <form action="" method="post" id="status_form" class="col-span-6 grid-cols-12">

            <span class="col-span-12">{{ _("Zadaj pytanie") }}</span>
            {{ _("Wybierz jak mamy odpowiedzieć na Twoje pytanie") }}:

            <select class="col-span-10">
              <option>{{ _("Odpowiedź mailowa") }}</option>
              <option>{{ _("Odpowiedź telefoniczna") }}</option>
            </select>
            <textarea class="w-full border py-2 px-3 transition-all border-blue
   rounded col-span-12" name="additional_info" rows="3"></textarea>       
            <label>
              {{ _("Kopia niniejszej wiadomości zostanie wysłana na konto mailowe podane podczas rejestracji konta.") }}
            </label>
            <div class="col-span-4 ">
              <button class="button" id="order_update">{{ _("Wyślij") }}</button>
            </div>

          </form>

        </div> 



    </div>
  </div>