<div class="md:col-span-8 md:col-start-3 col-span-12 page-internals my-2 grid grid-padding-x" id="registration_block">
        <div class="grid col-span-12 relative">
          <h4 class="text-2xl">{{ _("Załóż konto") }}</h4>
          <form method="post" action='{{ request.route_url("s_customer_form") }}' class="absolute right-0">
            <input id="csrf_token1" name="csrf_token" type="hidden" value='{{ get_csrf_token() }}'/>
            <button class="button m-0" id="swich_mode_button">{{ _("Cofnij") }}</button>
          </form>
          {% if form.errors: %}
            <h4 class="text-xl col-span-12 red font-bold">
              {{_("W formularzu wystąpiły błędy - bardzo proszę poprawić wskazane pola.") }}
            </h4>
          {% endif %}
        </div>
        <form action='{{ request.route_url("s_customer") }}' id="register" method="post" name="register" class="col-span-12 md:col-span-6 md:col-start-4 grid">
          <input id="csrf_token2" name="csrf_token" type="hidden" value='{{ get_csrf_token() }}'/>
          <div class="grid grid-cols-12 col-span-12" id="register_form">
            <div class="col-span-12 ">
              <label for="company_name">{{ _("Firma") }}</label>
              <input class="company_field" id="company_name" name="company_name" value='{{ form_data.get("company_name","") }}' >
            </div>

            <div class="col-span-12 ">
              <label for="company_nip">{{ _("NIP") }} </label>
              <input class="company_field" id="company_nip" name="company_nip" value='{{ form_data.get("company_nip","") }}'  >
            </div>

            <div class="col-span-12 ">
              {% for error in form.first_name.errors: %}
                <span class="red font-bold">{{ error }}</span>
              {% endfor %}
                <label for="first_name">{{ _("Imię") }} </label>
                <input id="first_name" name="first_name" required  value='{{ form_data.get("first_name", "") }}'>
            </div>
            
            <div class="col-span-12 ">
              {% for error in form.last_name.errors: %}
                <span class="red font-bold">{{ error }}</span>
              {% endfor %}
                <label for="last_name">{{ _("Nazwisko") }} </label>
                <input id="last_name" name="last_name" required  value='{{ form_data.get("last_name", "") }}'>
            </div>
            
            <div class="col-span-12 ">
            {% for error in form.telephone.errors: %}
              <span class="red font-bold">{{ error }}</span>
            {% endfor %}
              <label for="telephone">{{ _("Telefon") }}</label>
              <input id="telephone" name="telephone" required type="tel" value='{{ form_data.get("telephone", "") }}'>
            </div>
            
            <div class="col-span-12 ">
              {% if form.mail.errors: %}
                 <span class="red font-bold">{{ form.mail.errors }}</span>
              {% endif %}

              <label for="mail">{{ _("Mail") }}</label>
              <input id="mail" name="mail" type="email" value='{{ form_data.get("mail", "") }}' required>
            </div>
            
            <div class="col-span-12 ">
            {% for error in form.psswd_hsh.errors: %}
              <span class="red font-bold">{{ error }}</span>
            {% endfor %}
              <div class="form-floating-label">
                <label for="psswd_hsh">
                  {{ _("Hasło") }} ({{ _("nadaj hasło dla tworzonego konta") }})
                </label>
                <input id="psswd_hsh" name="psswd_hsh" type="psswd_hsh" value="" required>
                <span id="toggle_visibility_register" onclick="togglepsswd_hshVisibilityRegister()"></span>
              </div>
            </div>

            <div class="col-span-12 ">
            {% for error in form.street.errors: %}
              <span class="red font-bold">{{ error }}</span>
            {% endfor %} 
              <label for="street">{{ _("Ulica i numer domu/lokalu") }}</label>
              <input id="street" name="street"  value='{{ form_data.get("street", "") }}' required>
            </div>
            
            <div class="col-span-12 ">
            {% for error in form.postcode.errors: %}
              <span class="red font-bold">{{ error }}</span>
            {% endfor %}
              <label for="postcode">{{ _("Kod pocztowy") }} </label>
              <input id="postcode" name="postcode"  value='{{ form_data.get("postcode", "") }}' required>
            </div>
            
            <div class="col-span-12 ">
            {% for error in form.city.errors: %}
              <span class="red font-bold">{{ error }}</span>
            {% endfor %}
              <label for="city">{{ _("Miasto") }}</label>
              <input id="city" name="city" required  value='{{ form_data.get("city", "") }}'>
            </div>
            
            <div class="col-span-12 ">
            {% for error in form.country.errors: %}
              <span class="red font-bold">{{ error }}</span>
            {% endfor %} 
              <label for="country">{{ _("Kraj") }}</label>
              <input id="country" name="country"  value="Polska" readonly>
            </div>
          </div>
        
        <div class="separator-border grid col-span-12">
          <h4>
             {{ _("Polityka prywatności") }}
          </h4>
          {% for error in form.privacy_policy.errors: %}
              <div class="error float-right">{{ error }}</div>
          {% endfor %}
          <label>
              <input id="privacy_policy" type="checkbox" name="privacy_policy" value="1" required>
              {{_("Znam i akceptuję") }} <a href='{{ request.route_url("s_page", pagename="Polityka Prywatności") }}' class="blue">{{_("politykę prywatności") }}</a>
          </label>
        </div>

        <div class="separator">
          <button class="button success large" id="register_button">{{ _("Zarejestruj") }}</button>
        </div>

      </form>
        </div>
    </div>