/*! purgecss start ignore */

.main_settings_block {
	@apply col-span-12 grid-cols-12 grid gap-4 relative pt-12 pb-4;
	.main_icon { 
		@apply text-5xl mt-1 absolute -left-12 top-16;
	}
	label {
		@apply text-base;
	}
	.main_explanation_icon { 
		@apply text-3xl mt-1 text-cyan-500;
	}
}



/*! purgecss end ignore */