/*! purgecss start ignore */

[type='file'],
[type='checkbox'],
[type='radio'] {
  margin: 0 0 .5rem; }




  INPUT[type=checkbox]:focus, INPUT[type=radio]:focus
  {
      outline: 1px solid #cacaca;
      outline-offset: 2px;
  }

  INPUT[type=checkbox], INPUT[type=radio]
  {
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      width: 1rem;
      height: 1rem;
      border-radius: 0.25rem;
      cursor: pointer;
      position: relative;
      top: 10px;
      background: white;
      margin-right: 10px;
      transition: background 160ms ease;
      box-shadow: inset 0 0 0 0.15em white;
  }

  INPUT[type=checkbox]:checked, INPUT[type=radio]:checked
  {
    background: #1585cf;
  }
  INPUT[type=checkbox]:valid, INPUT[type=radio]:valid {
    border: 1px solid #cacaca;
  }
  
  INPUT[type="checkbox"].checkbox_large {
    @apply h-6 w-6;
    border: 2px solid #cacaca;
  }


/*! purgecss end ignore */