/*! purgecss start ignore */

.text-cyan-200	{color: rgb(165 243 252);}
.text-cyan-300	{color: rgb(103 232 249);}
.text-cyan-400	{color: rgb(34 211 238);}
.text-cyan-500	{color: rgb(6 182 212);}
.text-cyan-600	{color: rgb(8 145 178);}
.text-cyan-700 {color: rgb(14 116 144);}
.text-cyan-800	{color: rgb(21 94 117);}
.text-cyan-900	{color: rgb(22 78 99);}

.bg-amber-400	{background-color: rgb(251 191 36);}
.bg-amber-500	{background-color: rgb(245 158 11);}
.bg-amber-600	{background-color: rgb(217 119 6);}
.bg-amber-700	{background-color: rgb(180 83 9);}

.bg-cyan-400	{background-color: rgb(34 211 238);}
.bg-cyan-500	{background-color: rgb(6 182 212);}
.bg-cyan-600	{background-color: rgb(8 145 178);}
.bg-cyan-700	{background-color: rgb(14 116 144);}

.bg-rose-400	{background-color: rgb(251 113 133);}
.bg-rose-500	{background-color: rgb(244 63 94);}
.bg-rose-600	{background-color: rgb(225 29 72);}
.bg-rose-700	{background-color: rgb(190 18 60);}

.bg-sky-400	{background-color: rgb(56 189 248);}
.bg-sky-500	{background-color: rgb(14 165 233);}
.bg-sky-600	{background-color: rgb(2 132 199);}
.bg-sky-700	{background-color: rgb(3 105 161);}

/*! purgecss end ignore */