/*! purgecss start ignore */

.separator {
 padding-top: 1.25rem;
 padding-bottom: 1.25rem;
}

.separator-border {
 padding-top: 1.25rem;
 padding-bottom: 1.25rem;
 border-bottom: 1px solid #cacaca;
}

.hide-on-load {
  display: none;
}

.show {
  opacity: 1;
  transition: opacity 444ms;
}

.hide {
  opacity: 0;
  transition: opacity 234ms;
}

.divide-x-1 {
  border-top: 1px solid #cacaca;
}

.orange {
  color: #ff6600;
}

.red {
  color: #f00;
} 

.blue {
  color: #2199e8;
  &:hover, &:focus {
    color: #14679e;
  }
}

.text-emerald- {
  &100 {color: rgb(209 250 229);}  
  &200 {color: rgb(167 243 208);} 
  &300 {color: rgb(110 231 183);}
  &400 {color: rgb(52 211 153);}
  &500 {color: rgb(16 185 129);}
  &600 {color: rgb(5 150 105);}
  &700 {color: rgb(4 120 87);}
  &800 {color: rgb(6 95 70);}
  &900 {color: rgb(6 78 59);}
}


.border {
  &-blue {
    border-color: #2199e8;
  }
  &-cyan {
    border-color: #06b6d4;
  }
  &-emerald {
    border-color: #10b981;
  }
  &-rose {
    border-color: #f43f5e;
  }
}

.black {
  color: black;
}

.bg-dark {
  background-color: #1d2327;
}

.bg-dark-light {
  background-color: #3a3f46;
}

.bg-blue {
  background-color: #2199e8;
  &:hover, &:focus{
    background-color: #14679e;
  }
}

.bg-transparent {
  background: none;
  &:focus, &:hover {
    background: none;
  }
}

.bg-red {
  background-color: #f00;
} 

.bg-dark-red {
  background-color: #ec5840
}

.transition-opacity {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 720ms;
}

[x-cloak] { 
    display: none !important;
}

.overflow-visible {
  overflow: visible;
}

.current {
  @apply orange;
}

.bg-fafafa {
  background-color: #fafafa; 
}

.bg-f1f1f1 {
  background-color: #f1f1f1; 
}

.bg-cream {
  background-color: #f0f0f1;
}

.min-w-200 {
  min-width: 200px;
}

.z-4 {
  z-index: 4;
}

.z-3 {
  z-index: 3;
}

.z-2 {
  z-index: 2;
}

.z-1 {
  z-index: 1;
}

.z-0 {
  z-index: 0;
}

.appearance {
  &-textfield {
    appearance: textfield;
  }
}

.min-w-fit {
  min-width: fit-content;
}

.max-h-4 {
  max-height: 1rem;
}


/*! purgecss end ignore */