/*! purgecss start ignore */

input {
	&:not([type='']),	&[type=text], &[type=numeric], &[type=float], &[type=date],
	&[type=number], &[type=email], &[type=tel] {
		@apply h-10 w-full border py-2 px-3 transition-all border-blue rounded;
	}
	&:required {
		@apply border-red-600;
		@apply border-4;
	}

	&:disabled {
		@apply border-gray-200 border text-gray-400;
	}

  &[type='file'], &[type='checkbox'], &[type='radio'] {
  margin: 0; 
  }


	&[type="checkbox"], &[type="radio"] {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: white;
    border-radius: 0.25rem;
    box-shadow: inset 0 0 0 0.15em white;
    cursor: pointer;
    height: 1.25rem;
    margin-right: 10px;
    padding: 0;
    position: relative;
    top: 2px;
    transition: background 160ms ease;
    width: 1.25rem;

    &:checked {
      background: #1585cf;
    }
    &:focus {
      outline: 1px solid #cacaca;
      outline-offset: 2px;
    }     
    &:valid {
      border: 1px solid #cacaca;
    }
  }

  &[type="checkbox"].checkbox_large {
    @apply h-6 w-6;
    border: 2px solid #cacaca;
  }

	&[type=numeric] {
    &[name*='price_'], &[name*='ean_'] {
     	border-color: rgb(132, 204, 22);
      @apply border-4;
    }
  }
}

textarea, .textarea {
	@apply w-full border py-2 px-3 transition-all border-blue rounded;
}

.quantity-field[type="number"] {
  border-radius: 0;
  border-left: 0;
  border-right: 0;
}


/*! purgecss end ignore */
