/*! purgecss start ignore */

.menu {
	&-link {
		@apply text-white bg-dark whitespace-nowrap text-base flex;
		&:hover {
			@apply bg-dark-light text-gray-200;
		}
		a {
			@apply py-1 px-4;
		}
	}
	.submenu {
		&-link {
			@apply text-white bg-dark-light p-1 flex whitespace-nowrap;
		}

	}
}


/*! purgecss end ignore */