/*! purgecss start ignore */

select {
	@apply h-10 w-full border py-2 px-3 transition-all border-blue bg-white rounded -mr-2;

	&:required {
		@apply border-red-600 border-4;
	}
	&[name*='discount_'] {
   	border-color: rgb(132, 204, 22);
    @apply border-4 bg-black;
	}
	&[name*='setting_template_id'] {
		@apply  border-2;
		border-color: rgb(132, 204, 22);
	}
}

/*! purgecss end ignore */