/*! purgecss start ignore */

.toggle-checkbox:checked {
  @apply right-0 border-green-400;
}
.toggle-checkbox:checked + .toggle-label {
  @apply bg-green-400;
}

.w-21 {
  width: 5rem !important;
}

/*! purgecss end ignore */