{% extends "/common/s_layout.html" %}
{% set title %}{{ product['u_title'] }} - {{ _("Sklep") }} {{ settings['name'] }}{% endset %}
{% set xsearch %}{{ request.route_url(misc_options.search_url) }}{% endset %}
{% set xterm %}{% endset %}
{% set meta_description %}{{ product['meta_description'] }}{% endset %}
{% set product_quantity %}
  {% if request.session.get('cart_contents'): %}
    {{ request.session['cart_contents']['products'][product.product_id] }}
  {% endif %} 
{% endset %}

{% set rel %}<link rel="canonical" href="{{ request.current_route_url() }}" />{% endset %}
{% set current_page %}   
  <li class="menu-link">
    <a href="{{ request.route_url('manufacturer_action', action = 'edit', _query=(('next', 'manufacturer_list'),('manufacturer_id', product.manufacturer_id))) }}">
      <i class="fi-wrench size-16 orange"></i> {{_("Edytuj producenta") }}
    </a>
  </li> 
  <li class="menu-link">
    <a href="{{ request.route_url('product_manipulation', action = 'edit', _query=(('next', 'product_list'),('product_id',product.product_id))) }}">
      <i class="fi-wrench size-16 orange"></i>  {{_("Edytuj produkt") }}
    </a>
  </li> 
{% endset %}

{% set extra_javascripts_footer %}

<script type="text/javascript">
  var product_json = {{product_json|safe}};
  var brand = "{{product.manufacturer}}";
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/glide.min.js" integrity="sha512-BXASbMmKLu+RC5TDnkupyhvrjiOQXILh/5zgIS8k5JAC71a73lNweVEg/X+9XJQ7GK22PH9WpztY3zqrji+xrQ==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bignumber.js/8.0.2/bignumber.min.js" integrity="sha512-7UzDjRNKHpQnkh1Wf1l6i/OPINS9P2DDzTwQNX79JxfbInCXGpgI1RPb3ZD+uTP3O5X7Ke4e0+cxt2TxV7n0qQ==" crossorigin="anonymous"></script>

<script src='{{ request.static_url("emporium:templates/blade/static/js/product.js') }}"></script>
{% if settings['product_settings'].get('display_music_player', "0") == "1": %}
<script src='{{ request.static_url("emporium:templates/blade/static/js/music.js') }}"></script>
{% endif%}

{% if settings['product_settings']['display_compare_products'] == 1 %}
<script src='{{ request.static_url("emporium:templates/blade/static/js/update_compare.js') }}"></script>
{% endif %}

<script src='{{ request.static_url("emporium:templates/blade/static/js/update_cart.js') }}"></script>

<script src='{{ request.static_url("emporium:templates/blade/static/js/update_button.js') }}"></script>

<script type="text/javascript">

{% if data_options.additional_images_dict: %}
  new Glide('.glide', {
    type: 'carousel',
    startAt: 0,
    perView: 1,
    autoplay: 10000
  }).mount()
{% endif %}

</script>
<script type="text/javascript">


</script>

<script type="application/ld+json">
{
"@context": "http://schema.org/",
"@type": "Product",
"name": "{{product.name}}",
"image": "{{request.static_url('emporium:images/') + product.image}}",
"description": "{{product.description}}",
"mpn": "{{product.product_id}}",
"brand": {
"@type": "Thing",
"name": "{{product.manufacturer}}"
},
"offers": {
"@type": "Offer",
"priceCurrency": "{{ settings.iso_currency }}",
"price": "{{product.calculated_price}}",
"priceValidUntil": "",
"itemCondition": "http://schema.org/NewCondition",
"availability": "http://schema.org/InStock",
"seller": {
"@type": "Organization",
"name": "Modnalazienka.pl"
}
}
}
</script>

<script type="text/javascript">
  
  window.dataLayer = window.dataLayer || [];
  window.dataLayer.push({
  event: "view_item", 
  eventModel: {
  allow_enhanced_conversions : true,
  currency: "{{ settings.iso_currency }}",
  value: '{{ "%0.2f"| format(product.calculated_price|float) }}',
  tag_source: 'browser_side',
  event_id: uuid(),
    items: [
      {
        'name': '{{product.name}}',  
        'item_name': '{{product.name}}', 
        'id': '{{product.product_id}}', 
        'item_id': '{{product.product_id}}',  
        'sku': '{{product.sku}}',
        'item_sku': '{{product.sku}}',
        'variant': '{{product.product_id}}', 
        'item_variant': '{{product.product_id}}', 
        'price': '{{ "%0.2f"| format(product.calculated_price|float) }}', 
        'brand': '{{product.manufacturer}}', 
        'item_brand': '{{product.manufacturer}}', 
        'category': '{{ '' }}', 
        'item_category': '{{ '' }}', 
        'quantity': '{{ '1' }}',
        'google_business_vertical': 'retail',
      }
    ]
  }
  });

</script>

{% endset %}

{% block body %}

<div class="col-span-12 mt-2 opacity-100 px-4 md:px-0 py-4 md:py-2" id="breadcrumb">
  <a href="{{ request.route_url('s_home') }}" class="blue">Strona główna</a> 
  {% for item in data_options.categories_dict: %}
    {% if not item.placeholder: %}
    > <a class="blue" href="{{ request.route_url('s_category', seo_slug=item.seo_slug, category_id=item.category_id) }}" rel="nofollow">{{ item.name }}</a>
    {% endif %}
  {% endfor %}
  > <a class="blue" href='{{request.route_url("s_search", _query=(("manufacturer", product.manufacturer_id),)) }}' rel="nofollow">{{product.manufacturer}}</a>


</div>

  <div class="grid grid-cols-12 col-span-12 md:col-span-8 xl:col-span-9 2xl:col-span-9 3xl:col-span-10 mr-2 md:mx-0 page-internals my-2">
    
    <div class="grid-cols-12 grid col-span-12">

      <div class="col-span-12 md:col-span-10 md:col-start-1 lg:col-start-0 lg:col-span-4 py-0 md:py-12 relative">

        {% include "emporium:templates/blade/product/common_segment/s_product_special_info.html"%}        

        {% include "emporium:templates/blade/product/single_segment/s_product_image.html"%} 

      </div>

      <div class="col-span-12 md:col-span-10 md:col-start-2 lg:col-start-0 lg:col-span-8 grid grid-cols-12 pl-4" id="product_data">

        <div class="col-span-12 md:col-span-9 ">
          {% with object = product, textsize='4xl' %} 
            {% include "emporium:templates/blade/product/listing_segment/s_product_properties.html"%} 
          {% endwith %}

          {% include "emporium:templates/blade/product/single_segment/s_product_name.html" %}    
        
        </div>
          {% if settings['product_settings']['display_compare_products'] == 1 %}

          <div class="col-span-12 md:col-span-3">
            {% include "/common/s_add_to_compare_block.html" %}
          </div>

        {% endif %}


        <div class="col-span-12 md:pr-4 text-xl">    
    
          {# include "emporium:templates/blade/product/single_segment/s_product_audio_player.html" #}

          {% include "emporium:templates/blade/product/single_segment/s_product_category.html" %}

          {% include "emporium:templates/blade/product/single_segment/s_product_band.html" %}

          {% include "emporium:templates/blade/product/single_segment/s_product_manufacturer.html" %}

          {% include "emporium:templates/blade/product/single_segment/s_product_collection.html" %}

          {% include "emporium:templates/blade/product/single_segment/s_product_similar_collection.html" %}

          {% include "emporium:templates/blade/product/single_segment/s_product_ean.html" %}

          {% include "emporium:templates/blade/product/single_segment/s_product_attributes.html" %}

          {% include "emporium:templates/blade/product/single_segment/s_product_availability.html" %}

          {% if settings['product_settings']['display_storage'] == 1 %}
          {% include "emporium:templates/blade/product/single_segment/s_product_price_summary.html"%}  
          {% endif %}

          {% include "emporium:templates/blade/product/single_segment/s_product_special_transport.html" %}

            {% if product.transport_method == 0: %}
              <span class="product_physical_{{product.transport_method}}">

                {% include "emporium:templates/blade/product/single_segment/s_product_single_pack_params.html" %}
            
              </span>
            {% endif %}


        </div>

        


        
          {% if selling_options.related_products: %}   

        <div class="col-span-12 2xl:col-span-6">

            {{selling_options.related_products}}

            {% with object=product, related_products_list=selling_options.related_products %}
             {% include "emporium:templates/blade/product/listing_segment/s_product_compound_product.html" %}
            {% endwith%}
        
        </div>
          {% endif %}



      </div>




    {% include "emporium:templates/blade/product/single_segment/s_product_description.html" %}
        </div> 
    </div>

  <div class="col-span-12 md:col-span-4 xl:col-span-3 2xl:col-span-3 3xl:col-span-2 grid-y pl-2 lg:pl-4 md:px-0 md:sticky md:top-2">
    <div class="page-internals my-2">

      {%- with product_in_cart = request.session.get('cart_contents') and product.product_id in request.session['cart_contents']['products'], product_quantity = request.session.get('cart_contents') and request.session['cart_contents']['products'][product.product_id] -%}
          {% include "emporium:templates/blade/product/single_segment/s_product_cart.html" %}
      {%- endwith -%}

      <div class="text-center">
      {% include "emporium:templates/blade/product/single_segment/s_product_special_transport.html" %}
      </div>
    </div>
  
    <div class="page-internals my-2" id="sticky_phone_block">
      <h5 class="text-center font-bold text-lg" id="basket_footer">{{_("Masz pytania?") }} <br><a href="tel:+48{{settings.get('telephone') |safe}}" class="blue">{{ settings.get('telephone') |safe}}</a></h5>
    </div>

    
  </div>

  {% if data_options.band_dict and selling_options.products_common_band: %}
    {% for k,v in data_options.band_dict.items(): %}
      <div class="col-span-12 md:col-span-8 xl:col-span-9 2xl:col-span-10 page-internals mr-2 lg:mr-4 mx-4 md:mx-0">
         <h5 class="text-xl">
          <a class="blue" href="{{ request.route_url('s_search', _query=(('band', k),)) }}" rel="nofollow">{{v.name}}</a></h5>
        <div class="grid grid-cols-12 gap-4 grid-margin-x grid-margin-y">
          {% with display_mode='grid', product_listing=selling_options.products_common_band|shuffle %}
            {% include "product/s_product_listing.html" %}
          {% endwith %}
        </div>
      </div>
    {% endfor %}
  {% endif %}

    {% for htem in selling_options.products_common_collections|shuffle: %}
      {% if htem['products']: %}
        <div class="col-span-12 md:col-span-8 xl:col-span-9 2xl:col-span-9 3xl:col-span-10 page-internals my-2 mx-4 md:mx-0" id="other_collection_product">
          <h5 class="text-xl">{{ _("Przykładowe elementy kolekcji") }} <a class="blue" href="{{ request.route_url('s_search', _query=(('collections', htem['collection_id']),)) }}" rel="nofollow">{{ htem['name'] }}</a></h5>
          <div class="grid grid-cols-12 gap-4 grid-margin-x grid-margin-y">
            {%  with display_mode='grid', product_listing=htem['products'] %}
              {%  include "/product/s_product_listing.html" %}
            {%  endwith %}
          </div>
        </div> 
      {% endif %} 
    {% endfor %} 

    {% if selling_options.featured_products| length > 1 %}
      {% with md_size='md:col-span-8', lg_size='xl:col-span-9', xxl_size='3xl:col-span-10', icons_visible= settings.get('display_icons_on_filler')  %}
        {% include "emporium:templates/blade/common/s_filler.html" %}
      {% endwith %}
    {% endif%}
    
    {% include "emporium:templates/blade/modal/s_modal_product_update.html" %}

      <span class="hidden" id="currency">{{ settings.iso_currency }}</span>
{% endblock %}
