
    {%  for item in products[:items_per_page]: %} 
      <div class="col-span-12 sm:col-span-6 xl:col-span-3 grid product text-dark text-center">
        <a href="{{ request.route_url('s_product', seo_slug = item.slug, id = item.product_id) }}" class="grid col-span-12">
          <span class="image_container grid pb-4">


            <picture>

            {% for key,value in settings['image_file_extensions'].items(): %}
              <source srcset="{{ (request.static_url("emporium:images/thumbnails/') + item.image + '.' + value ) }}" type="image/{{key|lower}}" media="(min-width: 340px)" loading="lazy" class="mx-auto my-auto" height="200">
            {% endfor %}  
              <img src="{{ (request.static_url("emporium:images/thumbnails/') +  item.image + '.' + settings['image_file_extensions']['JPEG'] ) if product.image else (request.static_url("emporium:images/no_image.jpg')) }}" alt="Image" class="thumbnail_image" loading="lazy" class="mx-auto my-auto" height="200">

            </picture>


          </span>
        </a>
          <a href="{{ request.route_url('s_product', seo_slug = item.slug, id = item.product_id) }}" class="grid col-span-12 mt-8">
          {%  autoescape off %} 
            <p class="{{ 'col-span-2 text-right' if item.special_price else 'col-span-12 font-bold' }} product_price">
              <span class="{{ 'text-3xl' if not item.special_price }}">{{ '<strike>' |safe if item.special_price }}{{ item.price[:-2] }}{{'</strike>' |safe if item.special_price }}</span><span class="lower_price">{{ '<strike>' |safe if item.special_price }}{{ item.price[-2:] }}{{ '</strike>' |safe if item.special_price }}</span>
              {{ '<strike>' |safe if item.special_price }} zł{{ '/m<sup>2</sup>'|safe if item.square_meter |safe }} {{ '</strike>' |safe if item.special_price }}
            </p>
            {% if item.special_price: %} 
              <p class="pl-2 col-span-8 text-left special_product_price font-bold">
                <span class="text-3xl capital_price">{{ item.special_price[:-2] }}</span><span class="lower_price">{{ item.special_price[-2:] }}</span> zł{{ '/m<sup>2</sup>'|safe if item.square_meter |safe }}
              </p>
            {%  endif %} 
            <p class="product_name col-span-12">{{ item.name }}</p>
          {% endautoescape %} 
        </a>
      </div>
    {%  endfor %} 
