{% extends "emporium:templates/emporatorium/common/layout.html" %}

<div class="content">1
  <h1><span class="font-semi-bold">Emporatorium</span> <span class="smaller"></span></h1>
  <p class="lead"><span class="font-semi-bold">403</span> forbidden</p>
</div>