{% extends "emporium:templates/emporatorium/common/layout.html" %}
{% block body %}

{% include "emporium:templates/emporatorium/common/edit_left.html" %}

  <form id="content_form" name="content_form" action='{{ request.route_url("block_action", action=action) }}' method="post"  class="col-span-10 grid grid-cols-12 gap-4">
<input id="csrf_token" name="csrf_token" type="hidden" value="{{ get_csrf_token() }}"/>
      {% with id = 'block_'  + options.action + '_header', title = ('Edytuj' if options.action == 'edit' else 'Dodaj') + ' blok' %}
        {% include "emporium:templates/emporatorium/common/title.html" %}
      {% endwith %}
      {% for field in form: %}
        {% for error in field.errors: %}
          <span class="error">{{ field.label }} {{ error }}</span> ||
        {% endfor %}


      {% endfor %}
            <div class="col-span-12 grid grid-cols-12 bg-white p-4 my-4 border gap-4">
      <div class="col-span-6 ">
          <label for="title">{{ _("Tytuł") }}</label>
          <input id="title" name="title" required  value="{{ block.title if block }}" class="h-8 w-full border px-2 transition-all border-blue rounded-sm">
      </div>
      <div class="col-span-6 ">
          <label for="status">{{ _("Status") }}</label>
          <input id="status" name="status" type="checkbox" {{ 'checked' if block and block.status }} class="h-8 w-full border px-2 transition-all border-blue rounded-sm">
      </div>
      <div class="col-span-6 ">
          <label for="content">{{ _("Treść") }}</label>
          <textarea class="" id="content" name="content">{{ block.content |safe if block else  '' }}</textarea>
      </div>
      {% with object=block %}
    <div class="col-span-6 min-height-180 flex-col grid gap-2">
          <div class="col-span-12 flex ">{{ _("Zdjęcia dodatkowe") }}</div>

          <div class="col-span-12 pb-8 grid grid-cols-12 border">
            <div class="td bg-white col-span-2"></div>
            <div class="td text-center col-span-1">{{ _("Kolejność") }}</div>   
            <div
              data-primary_type="extra" 
              data-data_type='image'
              class="flex flex-col col-span-12" id="table_mutable_images_extra" >
              <input form="placeholer_form" type="hidden" name="image_extra_count" value="{{ object_images| count}}" id="image_extra_count" autocomplete="off">

          {% if object and object_images and options.action  == 'edit': %}
            {% with primary_type = 'extra', upload_type='image', list_length=object_images | count  %}
            {% for item in object_images : %}

            <div 
            data-primary_type="extra" 
            data-index="{{loop.index}}" 
            data-data_type="image" 
            id="image_extra_{{loop.index}}" 
            class="order-{{loop.index}} grid grid-cols-12 tr image_row" >
              <div class="text-center grid bg-white col-span-2 td">
                <i class="fi-photo text-3xl text-cyan-500 pl-4 mx-auto my-auto"></i>


                <input type="hidden" name="image_id" id="image_id" value="{{item.object_image_id}}">

                <input class="file_order" type="hidden" name="image_order_{{item.object_image_id}}" id="image_order_{{item.object_image_id}}" required
                 value="{{loop.index}}">
                 
              </div>   
              <div class="text-center col-span-2 td grid grid-cols-12">

                {% include "emporium:templates/emporatorium/object/object_edit/object_edit_order_arrows.html" %}

              </div> 
              <div class="td text-left col-span-4">
                <img src='{{ request.static_url("emporium:images/thumbnails/") + item.image }}' class="small-thumbnail " width="320" height="320"/>&nbsp;&nbsp;
              </div>  
              <div class="td text-center grid col-span-2">
                {% include "emporium:templates/emporatorium/object/object_edit/object_edit_remove_element.html" %}
              </div>
            </div>
            {% endfor %}
            {% endwith %}
          {% endif %}
          <div id="table_images_extra_footer" class="order-last"></div>
          </div>


        </div> 

           <input form="placeholer_form" class="col-span-12 pt-2" type="file" name="extra_image" id="extra_image" onchange="uploadFile('block','image','extra')" multiple>
             {% with primary_type='image', progress_name = "extra" %}
              {% include "emporium:templates/emporatorium/common/progress_bar.html" %}
             {% endwith %}



        </div> 

    </div>


{% endwith %}


      <div class="col-span-6 ">
          <label for="page">{{ _("Strona (główna to 0)") }}</label>
          <input id="page" name="page"  value="{{ block.page if block }}" class="h-8 w-full border px-2 transition-all border-blue rounded-sm">
      </div>
      <div class="col-span-6 ">
          <label for="size">{{ _("Rozmiar (100% wstaw 12, 50% --> 6, 33% --> 4)") }}</label>
          <input id="size" name="size"  value="{{ block.size if block }}" class="h-8 w-full border px-2 transition-all border-blue rounded-sm"> 
      </div>
      <div class="col-span-6 ">
          <label for="size">{{ _("Kolejność") }}</label>
          <input id="order" name="order"  value="{{ block.order if block }}" class="h-8 w-full border px-2 transition-all border-blue rounded-sm">
      </div>
      {% if action =='edit': %}
        <input id="block_id" name="block_id" type="hidden" value="{{ block.block_id if block }}">
      {% endif %}
        <input id="creator_id" name="creator_id" type="hidden" value="{{ block.creator_id if block }}">
  </form>

  {% include "emporium:templates/emporatorium/common/edit_right.html" %}

  {% include "emporium:templates/emporatorium/common/file_upload_js.html" %}



    <script>
      tinymce.init({
        selector: '#content',
        height: 600,
        plugins: 'advlist link image lists template',


});




    </script>

{% endblock %}