{% extends "emporium:templates/emporatorium/common/layout.html" %}
{% block body %}

  {% with title = 'Bloki informacyjne', id = 'block_list_header' %}
    {% include "emporium:templates/emporatorium/common/title.html" %}
  {% endwith %}
<div class="col-span-12 grid grid-cols-12 bg-white p-4 my-4 border gap-4">
  {% with action = 'block_action' %}
    {% include "emporium:templates/emporatorium/common/add_block.html" %}
  {% endwith %}
</div>
  <table class="col-span-12">
    <thead>
      <tr>
        <th class="w-1/12">{{ _("Edycja") }}</th>
        <th class="w-2/12">{{ _("Stan") }}</th>
        <th class="w-3/12">{{ _("Tytuł") }}</th>
        <th class="w-1/12"></th>
      </tr>
    </thead>
    <tbody>
      {% for item in blocks: %}
        <tr class="tr">
          <td class="td px-4">
            <a class="button_admin bg-cyan-500" href="{{ request.route_url('block_action', action='edit', _query=(('block_id',item.block_id),)) }}">
              {{ _("Edytuj") }}
            </a>
          </td>
          <td class="td px-4 text-center">
            {{ _("Załączone") if item.status == 1 else '<i class="fi-alert orange text-3xl"></i>' | safe }}
          </td>
          <td class="td px-4 text-center">
            {{ item.title }}
          </td>
          <td class="td px-4 text-center">
            {% with item_id = item.block_id, action_url = "block_", action_name="delete", parameter_name = "block_id" %}
              {% include "emporium:templates/emporatorium/common/button_change.html" %}
            {% endwith %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% include "emporium:templates/emporatorium/common/change_modal.html" %}

  <span class="hidden">
    <p id="txt_delete">{{ _("Potwierdź usunięcie bloku") }}</p>
    <p id="txt_success_delete">{{ _("Pomyślnie usunięto blok") }}</p>
  </span>


{% endblock %}