    {% if not filter_params.descripted_front_page: %}

      <span class="text-base grid grid-cols-12 col-span-12">
        <div class="col-span-12 sm:col-span-3 md:col-span-2 xl:col-span-1">
          {{ _("Aktywne filtry") }}:

          {% if filter_params.items_per_page != 0: %}
            <small class="hidden md:block py-2">({{ meta_options.item_count }} {{ _("produktów") }} )</small>
          {% endif %}
        </div>
        <div class="flex flex-column col-span-12 sm:col-span-9 md:col-span-10 xl:col-span-11 align-center">    

          {% if not filter_params.descripted_front_page: %}

            {% if filter_params.term: %}
              <div class="pl-2">
                <span class="orange font-bold">{{_("Szukany termin") }}</span>
                  <a href="{{ request.route_url(misc_options.search_url,  seo_slug=meta_options.seo_slug, category_id=filter_params.category_id, _query=filter_params.term_url) }}" class="button {{'bg-red' if  filter_params.items_per_page==0}}">
                   {{ filter_params.term }}<b>&nbsp;<sup>X</sup></b>
                  </a>
              </div>
            {% endif %}

            {% if filter_params.price_filter: %}
              <div class="pl-2">
                <span class="orange font-bold">{{_("Cena") }}</span>
                  {% if filter_params.price_min: %}
                  <a href="{{ request.route_url(misc_options.search_url,  seo_slug=meta_options.seo_slug, category_id=filter_params.category_id, _query=filter_params.price_min_url) }}" class="button {{'bg-red' if  filter_params.items_per_page==0}}">
                   {{_("od ") }} {{ filter_params.price_min }}{{settings['currency']}}<b>&nbsp;<sup>X</sup></b>
                  </a>
                  {% endif %}
                  {% if filter_params.price_max: %}
                  <a href="{{ request.route_url(misc_options.search_url,  seo_slug=meta_options.seo_slug, category_id=filter_params.category_id, _query=filter_params.price_max_url) }}" class="button {{'bg-red' if  filter_params.items_per_page==0}}">
                   {{_("do ") }} {{ filter_params.price_max }}{{settings['currency']}}<b>&nbsp;<sup>X</sup></b>
                  </a>
                  {% endif %}
              </div>
            {% endif %}

            {% if filter_params.collection_list_checked: %}
              <div class="pl-2">
                <span class="orange font-bold">{{_("Kolekcje") }}</span>
                  {% for k,v in data_options.collection_dict.items(): %}
                    {% if v.url or v.url==[]: %}
                    <a href="{{ request.route_url(misc_options.search_url,  seo_slug=meta_options.seo_slug, category_id=filter_params.category_id, _query=v.url) }}" class="button {{'bg-red' if  filter_params.items_per_page==0}}">
                      {{ v.name }}&nbsp;<b><sup>X</sup></b>
                    </a>
                    {% endif %}
                  {% endfor %}
              </div>
            {% endif %}

            {% if filter_params.manufacturer_checked: %}
              <div class="pl-2">
                <span class="orange font-bold">{{_("Producenci") }}</span>

                  {% for k,v in data_options.manufacturer_dict.items(): %}
                    {% if v.url or v.url==[]: %}
                    <a href="{{ request.route_url(misc_options.search_url,  seo_slug=meta_options.seo_slug, category_id=filter_params.category_id|int, _query=v.url) }}" class="button {{'bg-red' if  filter_params.items_per_page==0}}">
                      {{ v.name }}&nbsp;<b><sup>X</sup></b>
                    </a>
                    {% endif %}
                  {% endfor %}
              </div>
            {% endif %}

            {% if filter_params.dimensions_checked: %}
              <div class="pl-2">
                  {% for k,v in filter_params.dimensions.items(): %}
                    {% if v.url or v.url==[]: %}
                    <span class="orange font-bold">{{_("Szerokość") if 'width' in k else 'Długość'}} {{_("min.") if 'min' in k else 'maks.'}}</span>
                    <a href="{{ request.route_url(misc_options.search_url,  seo_slug=meta_options.seo_slug, category_id=filter_params.category_id, _query=v.url) }}" class="button {{'bg-red' if  filter_params.items_per_page==0}}">
                      {{ v.value }}&nbsp;cm <b><sup>X</sup></b>
                    </a>
                    {% endif %}
                  {% endfor %}
              </div>
            {% endif %}

            {% if filter_params.attribute_list_checked:%}

              {% for key,value in data_options.attribute_dict.items(): %}
                {% if value.visible: %}
                  <div class="pl-2">
                    <span class="orange font-bold">{{ value.name }}</span>
                      {% for attribute in value.attributes.values(): %}
                        {% if attribute.url or attribute.url==[]: %}
                          <a href="{{ request.route_url(misc_options.search_url,  seo_slug=meta_options.seo_slug, category_id=filter_params.category_id, _query=attribute.url) }}" class="button {{'bg-red' if  filter_params.items_per_page==0}}">
                            {{ attribute.value }}&nbsp;<b><sup>X</sup></b>
                          </a>
                        {% endif %}
                      {% endfor %}
                  </div>
                {% endif %}
              {% endfor %}
            {% endif %}

          {%endif %}

        </div>


      </span>


    {% endif %}