
        <div class="hidden md:col-span-1 md:block" id="grid_block">
          <a id="display_toggler" class="blue" onclick="displayModeFunction('display_mode', '{{ filter_params.switch_mode }}')" rel="nofollow"><i class="text-3xl md:text-5xl {{'fi-thumbnails' if filter_params.switch_mode == 'grid' else 'fi-results' }}"></i></a>
        </div>

        <div class="col-span-6 md:col-span-4 lg:col-span-3 xl:col-span-2" id="select_block">
          <select id="sort" name="sort" class="">
            <option value="name_asc" {{ 'selected' if request.params.get('sort') ==  'name_asc' }}>{{ _("Nazwa rosnąco' )}}</option>
            <option value="name_desc" {{ 'selected' if request.params.get('sort') == 'name_desc' }}>{{ _("Nazwa malejąco' )}}</option>
            <option value="price_asc" {{ 'selected' if request.params.get('sort') == 'price_asc' }}>{{ _("Cena rosnąco' )}}</option>
            <option value="price_desc" {{ 'selected' if request.params.get('sort') == 'price_desc' }}>{{ _("Cena malejąco' )}}</option>
          </select>
        </div>

        <div class="col-start-7 col-end-13 text-right" id="pager_top">
          
          {% if pager['previous_page']: %}
            <a href="{{ pager['previous_page'].get('href") }}'  class="pager_arrow text-center"  aria-label="wpisz stronę do której chcesz przejść">{{ pager['previous_page'].get('value') | safe }}</a>
          {% endif %}
          {% if pager['current_page'] and pager['last_page']: %}
            <input type="number" value="{{ pager['current_page'].get('value") }}'  oninput="paginateFunction(this)" onchange="paginateFunction(this)"  name="pagination_sorter" min="1" max="{{ pager['last_page'].get('number") }}' step="1" class="h-8 w-16 border px-2 transition-all border-blue rounded-sm appearance-textfield">
          {% endif %}
          {% if pager['next_page'] and pager['last_page']: %}
            <span class="px-0 sm:px-2">
              {{ _("z ") }}
            </span>
            <span class="px-0 sm:px-2">
               {{ pager['last_page'].get('number')|string if pager['last_page'].get('number") }}
            </span>
              <a href="{{ pager['next_page'].get('href") }}' class="pager_arrow text-center"  aria-label="wpisz stronę do której chcesz przejść">{{ pager['next_page'].get('value')|safe}}</a>
          {% endif %}
         
       </div>
