          <div id="meters" class="font-normal flex flex-wrap justify-start">
            <span class="inline-flex cart-input-group">
              <input type="button" value="-" class="button  {{'success' if product_in_cart}} button-plus-minus button-minus w-12 p-1 md:p-4" data-field="meters">
              <input type="number" value="{{ product.product_quantity }}" step="{{ product.unit }}" minimum="{{ product.minimum_unit }}" name="meters" class="w-24 h-14 my-4 p-1 md:p-2 rounded-none appearance-textfield text-center {{'input-filled' if product_in_cart}}" id="product_quantity_{{ product.product_id }}">
              <input type="button" value="+" class="button  {{'success' if product_in_cart}} button-plus-minus button-plus w-12 p-1 md:p-4" data-field="meters">
            </span>
            <span class="self-center ml-4"> m<sup>2</sup></span>
          </div>
