          {% for attribute_group in data_options.attribute_dict.values(): %}
            {% if attribute_group.name == "Dostępność" %}
        <span class="block pb-2">
           <b>
            {{ attribute_group.name }}:
             {% for attribute in attribute_group.attributes.values(): %}
              {% with query=(('attributes', attribute.attribute_id),) %}
              <a href="{% include 'emporium:templates/blade/common/s_seo_url.html' %}" rel={{ "follow" if attribute_group.attribute_group_id == 6 else "nofollow" }}>{{ attribute.value }}</a>{{ ',&nbsp;'|safe if attribute_group.attributes and (attribute_group.attributes|count) - loop.index0 > 1 }}
              {% endwith %}
            {% endfor %}
            </b>
        </span>
            {% endif %}

          {% endfor %}