            {% if data_options.categories_dict: %}
              <span class="pb-2">
              {{ _("Kategoria produktu") }}:&nbsp;
              {%- for item in data_options.categories_dict: -%}
                 <a href="{{ request.route_url('s_category',seo_slug=item.seo_slug, category_id=item.category_id) }}" rel="follow">{{ item.name }}</a>{{ ',&nbsp;'|safe if data_options.categories_dict|count - loop.index0 > 1 }} 
              {%- endfor -%}
            </span>
            {% endif %}