                
            <div class="pb-2">{{ _("Min. zamówienie: ") }} {{ product.minimum | int }} {{_(" paczka") }} {{'(' + product.minimum_unit|string + ' m<sup>2</sup>)' |safe if product.square_meter }}</div>
            <div class="pb-2">{{ _("Jednostka sprzedaży: ') + (_('paczka') if product.square_meter else _('sztuka'))}}</div>
            <div class="pb-2">{{ _("W paczce: ' + product.pieces|string + ' szt.') if product.pieces else ''}} </div>
                        
