
       {% if product.special_price: %}
          <span class="flex justify-center">
        {% endif %}
        <p id="product_price">{{ '<strike>'|safe if product.special_price }}<span class="{{'text-3xl' if not product.special_price }}">{{ (product.price|number_comma)[:-2] }}</span><span class="{{'text-2xl' if not product.special_price }}">{{ (product.price|string)[-2:] }}</span>
          {{settings['currency']}}{{'/m<sup>2</sup>'|safe if product.square_meter }}
        {{ '</strike>'|safe if product.special_price}}</p>
        {% if product.special_price: %}
            <p id="special_product_price">
              <span class="text-3xl">{{ (product.special_price|number_comma)[:-2] }}</span><span class="text-2xl">{{ (product.special_price|string)[-2:] }}</span>  {{settings.currency}}{{ '/m<sup>2</sup>'|safe if product.square_meter }}
            </p>
          </span>
        {% endif %}


        {% if settings.price_input=='0': %}

        <small id="price_net" class="font-normal">({{_("Cena netto") }}: {{ (product.price_net|number_comma) }}  {{settings.currency}}{{ '/m<sup>2</sup>'|safe if product.square_meter }})<br>
          [{{_("Cena za ") }}
          {% if product.square_meter %}
            {{ _("paczkę") }}
          {% else %}
            {{ _("sztukę") }}
          {% endif %}:
          <span id="product_price_{{ product.product_id}}">{{ (product.calculated_price|number_comma) }}</span> {{settings.currency}}]
          
        </small>

        {% endif %}