            <span class="block pb-2">
            {{ _("Wytwórnia") if settings.get('artisan_products') == 0 and  product.manufactured == '0'  else _("Producent") }}:&nbsp;

            {% with query=(('manufacturer', product.manufacturer_id),) %}
            <a class="" href="{% include 'emporium:templates/blade/common/s_seo_url.html' %}">{{product.manufacturer}}</a>
            {% endwith %}

            </span>