        {% if data_options.collection_dict: %}

         <span class="block pb-2">
          {{ _("Kolekcja:") }}
          {% for k, v in data_options.collection_dict.items(): %}
            <a href='{{request.route_url("s_category', seo_slug=main_category_seo_slug, category_id=main_category_id,
            _query=(('collections', k),), ) if main_category_id  else request.route_url(
            's_search', _query=(('collections', k),)
        )}}" rel="follow">{{ v.name }}</a>{{ ',' if (data_options.collection_dict|count) - loop.index0 > 1 }}
          {% endfor %}
         </span>
        <div class="divide-x-1 pt-4 mt-4 mb-2"></div>
        {% endif %}