          <div class="col-span-12 md:col-span-4 text-center">
            <h6 id="in_compare" class="transition-opacity {{'opacity-0' if  request.session.get("compare_contents") and product.product_id not in request.session.get("compare_contents') }}">
              {% if request.session.get("compare_contents") and product.product_id in request.session.get("compare_contents"): %}
                <a class="text-amber-600" href='{{request.route_url("s_compare') }}"><i class="fi-graph-bar text-3xl "></i> {{_("Porównaj") }}</a>
              {% endif %}
            </h6>
            {% if not request.session or not request.session.get("compare_contents") or product.product_id not in request.session.get("compare_contents"): %}
              <span id="add_to_compare" class="text-center transition-opacity">
                <a id="comparator_block" class="block" product_id="{{ product.product_id }}" onClick="addToCompare(this)" >
                  <i class="fi-plus"></i> <i class="fi-graph-bar text-3xl"></i> {{_("Do porównania") }}
                </a>
              </span>
          {% endif %}
          </div>