      <span class="block pb-2">
        {% if settings.get('artisan_products') == '1': %}
          {{ _("Zespół") }}:&nbsp;  
            {% for k,v in data_options.band_dict.items(): %}

              {% with query=(('band', v.band_id),) %}
                <a class="" href="{% include 'emporium:templates/blade/common/s_seo_url.html' %}" rel="follow" id="product_band_{{product.product_id}}" > {{v.name}} </a>  
              {% endwith %}

            {% endfor %}

        {% endif %}
      </span>