          {% for item in data_options.attribute_list.values(): %}

            {% if item.attribute_type_id !=2: %}
              <div class="col-span-{{ '6' if item.attribute_type_id == 1 else '3' }}">
                <div class="label">{{ item.name }}</div>
                  {% if item.attribute_type_id == 1: %}

                    <select multiple="multiple" id="attribute_list_{{ item.attribute_group_id }}" name="attribute_list" class="attribute_list" >
                  {% else: %}
                    <select name="attribute_list" class="">
                      <option></option>
                  {% endif %}
                  {% for ktem in item.attributes.values(): %}
                    
                    <option value="{{ ktem.attribute_id }}" {{ "selected" if ktem.attribute_id in product_attributes }}>{{ ktem.value }}</option>
                  {% endfor %}
                   </select>
              </div>
            {% endif %}
          {% endfor %}


