      <div class="product_edit_block grid" id="product_relations">

        <i class="fi-shuffle text-sky-900 main_icon" ></i>
        <div class="col-span-12  grid-cols-12 grid gap-2 p-4">
          <div class="col-span-12">
            <span class="pr-12">{{ _("Powiązane produkty") }}</span>

            {% with tooltip = tooltip_compound_product %}
              {% include "emporium:templates/emporatorium/common/tooltip.html" %}
            {% endwith %}

          </div>
          <div class="col-span-6 grid grid-cols-12 relative">
            <div class="text-center flex bg-white col-span-1 td">
              <i class=" pl-4 fi-plus text-2xl mt-1 text-emerald-700 "></i>
              <i class="fi-database text-3xl text-emerald-700 mx-auto my-auto"></i>
            </div>
            <input id="relationSearchJS" autocomplete="off" >
            
          </div>
          <div class="col-span-12 pb-8 grid grid-cols-12 border">
            <div class="td text-center col-span-1">{{ _("Kolejność") }}</div>   
            <div class="td text-center col-span-1">{{ _("Zdjęcie główne") }}</div>
            <div class="td text-center col-span-3"></div>
            <div class="td text-center col-span-3">{{ _("Nazwa katalogowa (model)") }}</div> 
            <div class="td text-center col-span-1"></div>
            <div 
              data-primary_type="relation" 
              data-data_type='list'
              class="flex flex-col col-span-12" id="table_mutable_relations_list">
              <input form="placeholer_form" type="hidden" name="relation_list_count" value="{{ product_relations| count}}" id="relation_list_count" autocomplete="off">
              
            {% if product and product_relations: %}
              {% with primary_type='relation', data_type='list', list_length =product_relations | count  %}
                {% for item in product_relations : %}
                  {% with loop_index = loop.index, item_id = item.product_component_id %}
              
              {% include "emporium:templates/emporatorium/product/product_edit/product_edit_table_row_header.html" %}

                
                <input 
                type="hidden" 
                name="product_relation_id" 
                id="product_relation_id" 
                value="{{item_id}}"
                >

              <div class="text-center col-span-1 td grid grid-cols-12">

                {% include "emporium:templates/emporatorium/common/edit_order_arrows.html" %}
              
              </div> 

              <div class="td text-center grid col-span-1">
                <img class="mx-auto my-auto max-h-16 " src='{{ request.static_url("emporium:images/"
                 + item.image) }}'/>
              </div>
              <div class="td grid grid-cols-12 col-span-3">
                <div class="col-span-3 mx-auto my-auto">
                  <a class="button_admin bg-cyan-500 button_small grow-0" href="{{ request.route_url('product_manipulation', action = 'edit', _query=(('next', request.url),('product_id',item.product_id))) }}">{{ _("Edytuj") }}</a> 
                </div>
                <div class="col-span-3 mx-auto my-auto">
                  <a class="button_admin bg-orange-500 button_small  grow-0" href="{{ request.route_url('product_manipulation', action = 'clone', _query=(('product_id', item.product_id),('next', request.url)))|safe}}">Klonuj</a> 
                </div>
                {% if item.status == 1: %}
                <div class="col-span-3 mx-auto my-auto"> 
                  <a class="button_admin bg-emerald-500 button_small grow-0" href="{{ request.route_url('s_product',seo_slug=item.slug, id=item.product_id) }}">{{ _("Podgląd") }}</a>
                </div>
                {% endif %}
              </div>
              <div class="td text-left col-span-3">

                <i class="fi-{{'at-sign' if item.transport_method == 1 else 'social-dropbox'}} text-5xl text-{{'sky' if item.transport_method == 1 else 'amber'}}-500"></i>
                {% if item.product_type ==1: %}
                <i class="fi-database text-5xl text-emerald-500 pl-2"></i>
                {% endif%}
                {{item.name}} ({{item.model}})
              </div> 
              <div class="col-span-1 mx-auto my-auto">
                 {% include "emporium:templates/emporatorium/product/product_edit/product_edit_remove_element.html" %}
              </div>

            </div>

            {% endwith %}
            {% endfor %}
          {% endwith %}
          {% endif %}
          
          <div id="product_relation_footer" class="order-last"></div>
          </div>


        </div> 
      </div>

  
      <div class="col-span-6">
        <label for="collections">{{ _("Kolekcja(e)") }}</label>
        <input id="collections" name="collections" value="" >
      </div>
