
      <div class="product_edit_block grid" id="main_category">

        <i class="fi-clipboard-pencil text-cyan-200 main_icon"></i>
        <div class="col-span-2 h-420">
          <label for="multiple_category">{{ _("Kategoria") }}</label>

          {% include "emporium:templates/emporatorium/common/category_tree_macro.html" %}

        </div>

        <div class="col-span-10 grid grid-cols-12 gap-4">


      {% if settings.get("localization_settings") %}


        {% for lang, lang_settings in settings['localization_settings'].items(): %}

          {% set ns = namespace(
            u_title='',
            u_h1='',
            description='', 
            description_technical='',
            ) %}

          {% for item in product_description_list: %}
            {% if lang_settings['language_id'] | int == item.language_id: %}
              {% set ns.u_title= item.u_title %}
              {% set ns.u_h1=item.u_h1 %} 
              {% set ns.description=item.description %} 
              {% set ns.description_technical=item.description_technical %}
              {% set ns.meta_description=item.meta_description %}
            {% endif %}
          {% endfor %}  

              <div class="col-span-4 h-440 grid grid-cols-12 gap-4">
              <div class="col-span-12 bg-green-400">
                <h1>{{ lang |capitalize }}</h1>
               <input type="hidden" name="product_description_language_{{ lang }}" value="{{ lang_settings['language_id'] | int }}">
              </div>
               <div class="col-span-6">
                <label for="u_title_{{ lang }}">{{ _("Nagłówek strony") }} {{ lang | capitalize }}</label>
                <input  name="u_title_{{ lang }}" id="u_title_{{ lang }}" value="{{ ns.u_title }}">
              </div>
              <div class="col-span-6">
                <label for="meta_description_{{ lang }}">{{ _("Meta Opis") }} {{ lang | capitalize }}</label>
                <input  name="meta_description_{{ lang }}" id="meta_description_{{ lang }}" value="{{ ns.meta_description }}">
              </div>
    
              <div class="col-span-6">
                <label for="u_h1_{{ lang }}">{{ _("H1") }} {{ lang }}</label>
                <input  name="u_h1_{{ lang }}" id="u_h1_{{ lang }}" value="{{ ns.u_h1 }}">
              </div>
            
                {% if settings.product_settings and settings.product_settings.get('description_technical') and settings.product_settings['description_technical'] == 1 %}
                  <div class="col-span-12">
                  <label for="description_technical_{{ lang }}">{{ _("Opis techniczny") }} {{lang | capitalize}}</label>
                  <textarea class="" name="description_technical_{{ lang }}" id="description_technical_{{ lang }}">
                    {{ ns.description_technical }}
                  </textarea>
                </div>
                {% endif %}
              </div>
              <div class="col-span-8">
                <label for="description_{{ lang }}">{{ _("Opis") }} {{ lang | capitalize}}</label>
                <textarea class="" name="description_{{ lang }}" id="description_{{ lang }}">
                  {{ ns.description }}
                </textarea>
              </div>

          {% endfor %}
        {% endif %}

        </div>

      </div>

      <script type="text/javascript">
      {% if settings.get("localization_settings") %}

        {% for lang, lang_settings in settings['localization_settings'].items(): %}

        
tinymce.init({
  selector: '#description_{{lang}} ',
  plugins: 'advlist link image lists',
  height: 440,
});



tinymce.init({
  selector: '#description_technical_{{ lang }}',
  plugins: 'advlist link image lists',
  height: 200,
});



      {% endfor %}
      {% endif %}
      </script>