      {% if settings.get('downloadable_products') == '1':%}
      <div id="product_component_upload" class="grid product_edit_block {{'hidden' if product.transport_method == 0 or not product}} transport_digital">

        <i class="fi-at-sign text-sky-500 main_icon"></i>
        <div class="col-span-3 min-height-180 grid grid-cols-12">
          <div class="col-span-12">{{ _("Sprzedawany towar (plik(i) do pobrania)") }}</div>
          <input form="placeholer_form" class="col-span-12 pt-2" 
          type="file" name="secured_file" id="secured_file" 
          onchange="uploadFile('product', 'file','secured')"  {{'required' if (product.transport_method == 1 and product.product_type==0 and not product_files)}} multiple>
           {% with primary_type='file', progress_name = "secured" %}
            {% include "emporium:templates/emporatorium/common/progress_bar.html" %}
           {% endwith %}
        </div>

        <div class="col-span-9 min-height-180 flex-col grid gap-2">
          <div class="col-span-12 flex ">{{ _("Sprzedawane pliki") }}</div>

          <div class="col-span-12 pb-8 grid grid-cols-12 border">
            <div class="td bg-white col-span-1"></div>
            <div class="td bg-white col-span-2">{{_("Kolejność") }}</div>
            <div class="td text-center col-span-4">{{ _("Nazwa pliku") }}</div>
            <div class="td bg-white col-span-1"></div>

            <div 
              data-primary_type="file" 
              data-data_type='secured'
              class="flex flex-col col-span-12" id="table_mutable_files_secured">
              <input form="placeholer_form" type="hidden" name="file_secured_count" value="{{ product_files| count}}" id="file_secured_count" autocomplete="off">

            {% if product and product_files and options.action  == 'edit': %}
              {% with primary_type = 'secured', data_type='file', list_length =product_files | count  %}
              {% for item in product_files : %}

              {% with loop_index = loop.index, item_id = item.product_file_id %}

              {% include "emporium:templates/emporatorium/product/product_edit/product_edit_table_row_header.html" %}

                <div class="text-center grid bg-white col-span-1 td">
                  <i class="fi-music text-3xl text-cyan-500 pl-4 mx-auto my-auto"></i>

                  <input type="hidden" name="product_file_id" id="file_id" value="{{item.product_file_id}}">

                  <input class="file_order" type="hidden" name="file_order_{{item.product_file_id}}" id="file_order_{{item.product_file_id}}" required
                   value="{{loop.index}}">
                           
                  <input id="primary_type_{{item.product_file_id}}" name="primary_type_{{item.product_file_id}}" type="hidden" value="1">

                  <input name="file_permission_{{item.product_file_id}}" type="hidden" value="1">

                </div>  

                <div class="text-center col-span-2 td grid grid-cols-12">

                  {% include "emporium:templates/emporatorium/common/edit_order_arrows.html" %}

                </div> 

                <div class="text-center grid col-span-4 td text-center text-cyan-600">

                  <input name="file_name_{{item.product_file_id}}" type="text" value="{{ item.file_name or product.name}}">
              
                </div>
                
                <div class="td text-center grid col-span-1">
                 {% include "emporium:templates/emporatorium/product/product_edit/product_edit_remove_element.html" %}
                </div>
              </div>
            
            {% endwith %}
            {% endfor %}
          {% endwith %}
          {% endif %}
              <div id="table_files_secured_footer" class="order-last"></div>
            </div>
          </div> 
        </div> 
      </div>
      {% endif %}