{% set tooltip_seo_slug %}
{{_('Pole można zostawić puste - wtedy link zostanie automatycznie wygenerowany z zawartości pola <span class="black font-bold">"Nazwa handlowa"</span>. Uwaga, edycja nazwy produktu powoduje zmianę przyjaznego linku!')|safe}}
{% endset %}

      <div class="col-span-1 grid content-center grid-cols-12">
        <span class="col-span-2 self-center relative">https://{{request.host}}/ </span> 
        <span class="col-span-6  ">
          <span class="tooltip">
          <input class="w-96 col-span-10"  value="{{ ((product and product.seo_slug) or form.seo_slug.data) or '' }}" name="seo_slug" id="seo_slug">

            {% with tooltip = tooltip_seo_slug %}
              {% include "emporium:templates/emporatorium/common/tooltip.html" %}
            {% endwith %}
        </span>
        </span>
      </div>