        <div class="col-span-12 grid-cols-12 grid gap-2 p-4 product_edit_block">
          <div class="col-span-12">
            <span class="pr-12">{{ _("Promocje i wyprzedaże") }}</span>

          </div>
          <div class="col-span-2 ">
            <label for="special">{{ _("Dodaj promocję cenową") }}</label> 
            <select name="special" class="">
              <option selected disabled></option>
              {% for k,v in data_options.promotion_list.items(): %}
                <option value="{{ k }}" onclick="addSpecialRow({{k}},'{{v.name|capitalize}}')">{{ v.name }}</option>
              {% endfor %}
            </select>
            
          </div>
          <div class="col-span-9 pb-8 grid grid-cols-12 border">
            <div class="td bg-white col-span-1"></div>

            <div class="td text-center col-span-1">{{ _("Kolejność") }}</div>  
            <div class="td text-center col-span-1">{{ _("Rodzaj wyprz.") }}</div>   
            <div class="td text-center col-span-1">{{ _("Cena specjalna") }}</div>
            <div class="td text-center col-span-2">{{ _("Data start") }}</div>
            <div class="td text-center col-span-2">{{ _("Data koniec") }}</div>
            <div class="td text-center col-span-2">{{ _("Liczba promo egz.") }}</div>
            <div class="td text-center col-span-1"></div> 
   
            <div 
              data-primary_type="special" 
              data-data_type='list'
              class="flex flex-col col-span-12" id="table_mutable_specials_list">

              <input form="placeholder_form" type="hidden" name="special_list_count" value="{{ product_promotion| count}}" id="special_list_count" autocomplete="off">

              
          {% if product and product_promotion: %}
            {% with primary_type='special', data_type='list', list_length =product_specials | count  %}
              {% for item in product_promotion: %}
                  {% with loop_index = loop.index, item_id = item.product_special_id %}

              {% include "emporium:templates/emporatorium/product/product_edit/product_edit_table_row_header.html" %}

              <div class="text-center grid bg-white col-span-1 td">

                <i class="fi-dollar text-3xl text-cyan-500 pl-4 mx-auto my-auto"></i>   

                <input 
                  type="hidden" 
                  name="product_special_id" 
                  id="product_special_id" 
                  value="{{item_id}}">


              {% include "emporium:templates/emporatorium/product/product_edit/product_edit_table_row_variables.html" %}

              </div>  
              <div class="text-center col-span-1 td grid grid-cols-12">

                {% include "emporium:templates/emporatorium/common/edit_order_arrows.html" %}

              </div>
              <div class="col-span-1 td grid">
                {{ data_options.special_dict[item.special_id].name }}
              </div>
              <div class="col-span-1 td grid">
                 <input value="{{item.taxed_price or item.price or '' }}" name="special_price_{{item_id}}">
              </div>
              <div class="col-span-2 text-center td">
                <input name="special_date_start_{{item_id}}" type="date" value="{{ item.date_start }}" id="date_start" class="">
              </div>
              <div class="col-span-2 text-center td">
                <input name="special_date_end_{{item_id}}" type="date" value="{{ item.date_end  or ''}}" id="date_end" class="">
              </div>
              <div class="col-span-2 text-center td">
                <input name="special_quantity_{{item_id}}"  value="{{ item.quantity or '' }}">
              </div>
              <div class="col-span-1 mx-auto my-auto">
                {% include "emporium:templates/emporatorium/product/product_edit/product_edit_remove_element.html" %}
              </div>
            </div>
            {% endwith %}
            {% endfor %}
          {% endwith %}
          {% endif %}
          <div id="product_specials_footer" class="order-last"></div>
          </div>


        </div> 
      </div>
