<script type="text/javascript">

const componentCompleteJS = new autoComplete({ 
selector: "#componentSearchJS",
data: {
  src: async (query) => {
    try {
      // Fetch Data from external Source
      const source = await fetch(`/limitless_product_search?term=${query}`, {
        method: 'POST',
        headers: {
          'Content-Type': "application/json",
          'X-CSRF-Token': token,
        },
        // body: "{ \"query\": \"" + query + "\" }"
      });
      // Data is array of `Objects` | `Strings`
      const data = await source.json();

      return data;
    } catch (error) {
      return error;
    }
  },
  // Data 'Object' key to be searched
  keys: ["name"],
},
threshold: 3,
resultItem: {
  element: (item, data) => {
  // Modify Results Item Style
  item.style = "display: flex; justify-content: space-between;";
  // Modify Results Item Content
  var image = data.value['image'], model = data.value['model'], name = data.value['name'], product_id = data.value['id'], transport_method = data.value['transport_method'], product_type = data.value['product_type'];
  var transport_method_representation = '';
  if (transport_method == '1') {
     transport_method_representation = `<i class="fi-at-sign text-xl text-sky-500 grow"></i>`;
  } else {
    transport_method_representation = `<i class="fi-social-dropbox text-xl text-amber-500 grow"></i>`;
  }

  source_product_id = document.querySelector('#product_id').value;

  item.innerHTML = `
  <span onclick="addProductComponent('${source_product_id}','${product_id}', '${image}', '${escapeHtml(model)}', '${escapeHtml(name)}', '${transport_method}', '${product_type}')" style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden; " class="flex grow">
    <span class="flex grow">
      <img class="max-h-4 pr-4" width="24" height="24" src="${image}"/> ${data.match} 
    </span>
    <span class="flex">
    ${transport_method_representation}
    `
    if (product_type == 1) {
      item.innerHTML += `<i class="fi-database text-2xl text-emerald-500 pl-2"></i>`
    }
    item.innerHTML += `
    </span>
    <span style="text-transform: uppercase; color: rgba(0,0,0,.2);" class="flex grow text-right">
    ${data.key}
    </span>
  </span>`;
},
  highlight: true
},
resultsList: {
  element: (list, data) => {
    const info = document.createElement("p");
    if (data.results.length > 0) {
      info.innerHTML = `Wyświetlam <strong>${data.results.length}</strong> spośród <strong>${data.matches.length}</strong> wyników`;
    } else {
      info.innerHTML = `Znaleziono <strong>${data.matches.length}</strong> wyników dla zapytania <strong>"${data.query}"</strong>`;
    }
    list.prepend(info);
  },
  maxResults: 10,
  noResults: true,

}, 



});


function addProductComponent(source_product_id, product_id, image, model, name, transport_method, product_type) {

  let new_index_value = 1;
  const primary_type = 'component';
  const data_type = 'list';
  let element_count = _(primary_type + '_'+ data_type + '_count').value;
  new_index_value += parseInt(element_count);
  const icon_type = 'database';
  var parent = primary_type + "_" + data_type  + "_" + new_index_value;

  var formData = new FormData();
  var component_id = -1;
  if (source_product_id != '') {
    formData.append('product1_id', source_product_id);
  };
  formData.append('product2_id', product_id);
  formData.append('product_relation_type', 1);
  var ajax = new XMLHttpRequest();
  ajax.open('POST', 'product_component_add');
  ajax.setRequestHeader('X-Requested-With','XMLHttpRequest');
  ajax.setRequestHeader('X-CSRF-Token', token);
  ajax.send(formData);
  ajax.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      component_id =  JSON.parse(this.responseText);
      addComponent(component_id, image, model, name, transport_method, new_index_value, parent, icon_type, primary_type, data_type, product_type);
    }
  }
}



function addComponent(component_id, image, model, name, transport_method, new_index_value, parent, icon_type, primary_type, data_type, product_type) {

  let color = setIconColor(new_index_value);

  var el = document.createElement('div');
  var main_icon_width = 1;

  el.setAttribute("class", "order-" + new_index_value + " grid grid-cols-12 tr "+ primary_type + "_row");
  el.setAttribute("id", parent);
  el.setAttribute("data-primary_type", primary_type);
  el.setAttribute("data-index", new_index_value);
  el.setAttribute("data-data_type", data_type);
  
  var physical_icon = (transport_method ==1 ? 'at-sign':'social-dropbox');
  var physical_icon_color = (transport_method ==1 ? 'sky':'amber');

  el.innerHTML = `
    <div class="text-center grid bg-white col-span-${main_icon_width} td">
      <i class="fi-${icon_type} text-3xl text-${color}00 pl-4 mx-auto my-auto"></i>
      <input type="hidden" name="product_${primary_type}_id" id="product_${primary_type}_id" value="${component_id}">
      <input type="hidden" class="file_order" name="${primary_type}_order_${component_id}" id="${primary_type}_order_${component_id}" required value="${new_index_value}">

    </div>
    <div class="text-center col-span-${main_icon_width} td grid grid-cols-12">
      <div class="col-span-6">
        <i 
          data-parent="${parent}"
          data-order="down" 
          class="change_order order_down ${data_type} cursor-pointer fi-arrow-down text-5xl my-auto mx-auto text-${color}00" name="order_down">
        </i>
      </div>
      <div class="col-span-6">
      <br>
        <i 
          data-parent="${parent}"
          data-order="up" 
          class="change_order order_up ${data_type} cursor-pointer fi-arrow-up text-5xl my-auto mx-auto text-${color}00" name="order_up"></i>
      </div>
    </div>
    
    <div class="col-span-1 td grid">
      <input type="integer" name="component_quantity_${component_id}" required class="w-16 text-center block mx-auto my-auto" value="1">
    </div> 

    <div class="td text-center grid col-span-1">
      <img class="mx-auto my-auto max-h-16 " src="${image}" />
    </div>

    <div class="td grid grid-cols-12 col-span-3">

    </div>
    <div class="td col-span-1">
      <i class="fi-${physical_icon} text-5xl text-${physical_icon_color}-500"></i>`

    if (product_type == 1) {
      el.innerHTML += `<i class="fi-database text-5xl text-emerald-500 pl-2"></i>`
    }

    el.innerHTML +=`
    </div>
    <div class="td text-left col-span-3">
      ${name} (${model})
    </div> 

  <div class="td text-center grid col-span-1">
    <i class="fi-skull file_remove text-5xl cursor-pointer text-rose-800 mx-auto my-auto" data-parent="${parent}"></i>
  </div>
    `;
  insertAfter(_("product_"+ primary_type +"_footer"), el);
  _(primary_type +'_'+ data_type +'_count').value = new_index_value;
}


</script>