{% set tooltip_price %}{{_('<span class="black font-bold">"Cena po rabacie"</span> jest kalkulowana automatycznie na podstawie ceny katalogowej i wybranego rabatu. Nadanie własnej "ceny po rabacie" jest możliwe, gdy zaznaczone jest pole <span class="black font-bold">"Ręczny rabat"</span>.')|safe}} {% endset %}

      <div class="product_edit_block grid" id="finance">

        <i class="fi-euro text-cyan-400 main_icon" ></i>
        <div class="col-span-2">
          <label for="tax_id">{{ _("Podatek") }}</label>
          <select id="tax_id" name="tax_id" class="" required>
            {% for item in data_options.tax_dict.values(): %}
              <option value="{{item.tax_id}}" {{ 'selected' if product and product.tax_id == (item.tax_id or form.tax_id.data)}}>{{ item['name'] }} {{item['value']}}%</option>
            {% endfor %}
          </select>
        </div>

        <div class="col-span-1 my-auto">      
          <input type="checkbox" {{ 'checked' if product and product.manual_discount }} name="manual_discount" id="manual_discount" class="checkbox_large"> <label for="manual_discount">{{ _("Ręczny rabat") }}</label>
        </div>

        
        <div class="col-span-2">
          <label for="catalog_price">{{ _("Cena") }} {{ _("brutto") if settings.get("price_input") == '1' else _("katalogowa (netto)") }}</label>
          <input  value="{{ (product.taxed_price or product.catalog_price) or form.catalog_price.data or '' }}" name="catalog_price" id="catalog_price" class="" required>
        </div>

        {% if settings.get("price_input") != '1' %}

        <div class="col-span-2">
          <label for="price">{{ _("Cena po rabacie (netto)") }}</label>
          <input  value="{{ (product and product.price) or form.price.data or '' }}" name="price" id="price" class=""  {{'required' if product and product.manual_discount else 'disabled'}}>

        </div>
        {% endif %}
        

        <div class="col-span-1">
          <label for="purchase_price">{{ _("Cena zakupu") }}</label>
          <input  value="{{ (product and product.purchase_price) or form.purchase_price.data or '' }}" name="purchase_price" id="purchase_price" class="">
        </div>


        <div class="col-span-1 {{ 'hidden' if product.transport_method == 1}} virtual">
          <label for="pieces">{{ _("Szt. w opak.") }}</label>
          <input type="numeric" value="{{ product and product.pieces or form.pieces.data or '' }}" name="pieces" id="pieces" class="">
        </div>

        <div class="col-span-2 {{ 'hidden' if product.transport_method == 1}} virtual" id="unit_calculation">

          <label id="unit_calculation_label" for="unit">{{ "Ile szt/m<sup>2</sup>"|safe if product_template['unit_label'] == 2 else "Jednostka sprzedaży" }} </label>
          <input  value="{{ product and product.unit or form.unit.data or '' }}" name="unit" id="unit" required class="">
        </div>

        <div class="col-span-1 {{ 'hidden' if product.transport_method == 1}} virtual">
          <label for="minimum">{{ _("Min. zamówienie") }}</label>
          <input type="numeric" value="{{ product and product.minimum or form.minimum.data or '' }}" name="minimum" id="minimum" class="">
        </div>

   
      <span class="tooltip_large absolute top-16 right-0">
        {% include "emporium:templates/emporatorium/common/info_button.html" %}
      </span>


      </div>