
<script type="text/javascript">

function setTemplate(template) {
	for (const x in template) {

		if (x == 'transport_method')  {
            transport_physical = document.querySelectorAll('.transport_physical');
            transport_digital = document.querySelectorAll('.transport_digital');
            if (template[x] == 0)  {
				transport_physical.forEach(option => {option.classList.remove('hidden');});            	
				transport_digital.forEach(option => {option.classList.add('hidden');});            	
            } else {
				transport_physical.forEach(option => {option.classList.add('hidden');});            	
				transport_digital.forEach(option => {option.classList.remove('hidden');});            	        
            }
		}

		else if (x == 'unit_label') {
			_('unit_calculation_label').innerHTML = ((template[x] == 2) ? 'Ile szt./ m<sup>2</sup>': 'Jednostka sprzedaży');
		}
		else if (x !='attribute_type_list') {
	  		option_values = document.querySelectorAll('[name='+ x +']');
	  		option_values.forEach(option => {
	  		if (option.name == x && option.value == template[x]) {
	  			option.click();
	  		}
	  		})
		}
		 else {
			attributes = document.querySelectorAll('.attribute_group_block');
			attributes.forEach(option => {
				if (!option.className.includes('hidden')) {
					option.classList.add('hidden');
				};
			});
			for (const i of template[x]) {
				selected_attribute = document.querySelector('#attribute_group_id_' + i);
				if (selected_attribute) {
					selected_attribute.classList.remove('hidden');
				}	
			}
			for (const i of template[x]) {
				diff_attributes = document.querySelectorAll('.diff_attribute_group_id_' + i);
				diff_attributes.forEach(option => {
					option.classList.remove('hidden');
				});	
			}
		}
	}
}

</script>
