<script type="text/javascript">

const authorCompleteJS = new autoComplete({ 
selector: "#authorSearchJS",
data: {
  src: async (query) => {
    try {
      // Fetch Data from external Source
      const source = await fetch(`/author_search?term=${query}`, {
        method: 'POST',
        headers: {
          'Content-Type': "application/json",
          'X-CSRF-Token': token,
        },
        // body: "{ \"query\": \"" + query + "\" }"
      });
      // Data is array of `Objects` | `Strings`
      const data = await source.json();

      return data;
    } catch (error) {
      return error;
    }
  },
  // Data 'Object' key to be searched
  keys: ["last_name", "first_name", "callsign"],
},
threshold: 3,
resultItem: {
  element: (item, data) => {
  // Modify Results Item Style
  item.style = "display: flex; justify-content: space-between;";
  // Modify Results Item Content
  var author_id = data.value['author_id'], first_name = data.value['first_name'], last_name = data.value['last_name'];
  var callsign = ''
  if (data.value['callsign']) {callsign = '&#8217' + data.value['callsign'] + '&#8217' }
  
  item.innerHTML = `
  <span onclick="addProductAuthor('${author_id}', '${first_name}', '${last_name}', '${callsign}')" style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden; " class="flex grow"><span class="text-left"> ${first_name} ${callsign} ${last_name}  </span> //
    <span style="text-transform: uppercase; color: rgba(0,0,0,.2);" class="flex grow text-right">
     ${data.key}
    </span>
  </span>`;
},
  highlight: true
},
resultsList: {
  element: (list, data) => {
    const info = document.createElement("p");
    if (data.results.length > 0) {
      info.innerHTML = `Wyświetlam <strong>${data.results.length}</strong> spośród <strong>${data.matches.length}</strong> wyników`;
    } else {
      info.innerHTML = `Znaleziono <strong>${data.matches.length}</strong> wyników dla zapytania <strong>"${data.query}"</strong>`;
    }
    list.prepend(info);
  },
  maxResults: 10,
  noResults: true,

}, 



});


function addProductAuthor(author_id, first_name, last_name, callsign) {

  let new_index_value = 1;
  const primary_type = 'author';
  const data_type = 'list';
  let element_count = _(primary_type + '_'+ data_type + '_count').value;
  new_index_value += parseInt(element_count);
  const icon_type = 'torso';
  var parent = primary_type + "_" + data_type  + "_" + new_index_value;

  var formData = new FormData();
  var file_id = -1;
  formData.append('author_id', author_id);
  var ajax = new XMLHttpRequest();
  ajax.open('POST', 'product_author_add');
  ajax.setRequestHeader('X-Requested-With','XMLHttpRequest');
  ajax.setRequestHeader('X-CSRF-Token', token);
  ajax.send(formData);
  ajax.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      file_id =  JSON.parse(this.responseText);
      addAuthor(file_id, first_name, last_name, callsign, new_index_value, parent, icon_type, primary_type, data_type);
    }
  }
}



function addAuthor(file_id, first_name, last_name, callsign, new_index_value, parent, icon_type, primary_type, data_type) {
  if (callsign) {callsign = '&#8217' + callsign + '&#8217'}

  let color = setIconColor(new_index_value);

  var el = document.createElement('div');
  var main_icon_width = 2;

  el.setAttribute("class", "order-" + new_index_value + " grid grid-cols-12 tr "+ primary_type + "_row");
  el.setAttribute("id", parent);
  el.setAttribute("data-primary_type", primary_type);
  el.setAttribute("data-index", new_index_value);
  el.setAttribute("data-data_type", data_type);

  el.innerHTML = `
    <div class="text-center grid bg-white col-span-${main_icon_width} td">
      <i class="fi-${icon_type} text-3xl text-${color}00 pl-4 mx-auto my-auto"></i>
      <input type="hidden" name="product_${primary_type}_id" id="product_${primary_type}_id" value="${file_id}">
      <input type="hidden" class="file_order" name="${primary_type}_order_${file_id}" id="${primary_type}_order_${file_id}" required value="${new_index_value}">

    </div>
    <div class="text-center col-span-2 td grid grid-cols-12">
      <div class="col-span-6">
        <i 
          data-parent="${parent}"
          data-order="down" 
          class="change_order order_down ${data_type} cursor-pointer fi-arrow-down text-5xl my-auto mx-auto text-${color}00" name="order_down">
        </i>
      </div>
      <div class="col-span-6">
      <br>
        <i 
          data-parent="${parent}"
          data-order="up" 
          class="change_order order_up ${data_type} cursor-pointer fi-arrow-up text-5xl my-auto mx-auto text-${color}00" name="order_up"></i>
      </div>
    </div>
    <div class="col-span-2 td text-center grid">
      <select id="author_role" name="author_role_${file_id}" required class="">
        <option></option>
        {% for item in author_roles: %}
        <option value="{{item.author_role_id}}">{{item.name}}</option> 
        {% endfor %}
      </select>
    </div>
    <div class="col-span-2 td grid">
      <select id="author_visibility" name="author_visibility_${file_id}" required class="">
        <option value="0">{{ _("Pełne personalia") }}</option> 
        <option value="1">{{ _("Tylko pseudonim") }}</option>
      </select>
    </div>

  <div class="col-span-3 text-center td grid">
    ${first_name} ${callsign} ${last_name}
  </div>

  <div class="td text-center grid col-span-1">
    <i class="fi-upload-cloud file_remove text-5xl cursor-pointer text-rose-800 mx-auto my-auto" data-parent="${parent}"></i>
  </div>
    `;
   insertAfter(_("product_"+ primary_type +"_footer"), el);
  _(primary_type +'_'+ data_type +'_count').value = new_index_value;
}


</script>