<script type="text/javascript">


function addFeaturedRow(special_id, name) {

  let new_index_value = 1;
  const primary_type = 'featured';
  const data_type = 'list';
  let element_count = _(primary_type + '_'+ data_type + '_count').value;
  new_index_value += parseInt(element_count);
  const icon_type = 'dollar';
  var parent = primary_type + "_" + data_type  + "_" + new_index_value;

  var formData = new FormData();
  var file_id = -1;
  formData.append('special_id', special_id);
  var ajax = new XMLHttpRequest();
  ajax.open('POST', 'product_special_add');
  ajax.setRequestHeader('X-Requested-With','XMLHttpRequest');
  ajax.setRequestHeader('X-CSRF-Token', token);
  ajax.send(formData);
  ajax.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      file_id =  JSON.parse(this.responseText);
      addFeatured(file_id, new_index_value, parent, icon_type, primary_type, data_type, name);
    }
  }
}



function addFeatured(file_id, new_index_value, parent, icon_type, primary_type, data_type, name) {

  
  let color = setIconColor(new_index_value);

  var el = document.createElement('div');
  var main_icon_width = 1;

  var primary_type_correction = 'featured';
  el.setAttribute("class", "order-" + new_index_value + " grid grid-cols-12 tr "+ primary_type + "_row");
  el.setAttribute("id", parent);
  el.setAttribute("data-data_type", data_type);
  el.setAttribute("data-index", new_index_value);
  el.setAttribute("data-primary_type", primary_type);
  el.innerHTML = `
    <div class="text-center grid bg-white col-span-${main_icon_width} td">
      <i class="fi-${icon_type} text-3xl text-${color}00 pl-4 mx-auto my-auto"></i>
      <input type="hidden" name="product_${primary_type_correction}_id" id="product_${primary_type_correction}_id" value="${file_id}">
      <input type="hidden" class="file_order" name="${primary_type_correction}_order_${file_id}" id="${primary_type_correction}_order_${file_id}" required value="${new_index_value}">

      <span class="hidden">
        <div class="col-span-6">
          <i 
            data-parent="${parent}"
            data-order="down" 
            class="change_order order_down ${data_type} cursor-pointer fi-arrow-down text-5xl my-auto mx-auto text-${color}00" name="order_down">
          </i>
        </div>
        <div class="col-span-6">
        <br>
          <i 
            data-parent="${parent}"
            data-order="up" 
            class="change_order order_up ${data_type} cursor-pointer fi-arrow-up text-5xl my-auto mx-auto text-${color}00" name="order_up"></i>
        </div>
      </span>
    </div>


    <div class="col-span-2 td grid">
      ${name}
    </div>
    <div class="col-span-3 text-center td">
      <input name="special_date_start_${file_id}" type="date" value="" id="date_start" class="">
    </div>
    <div class="col-span-3 text-center td">
      <input name="special_date_end_${file_id}" type="date" value="" id="date_end" class="">
    </div>


  <div class="td text-center grid col-span-1">
    <i class="fi-skull file_remove text-5xl cursor-pointer text-rose-800 mx-auto my-auto" data-parent="${parent}"></i>
  </div>
    `;

  insertAfter(_('product_featureds_footer'), el);
  _(primary_type +'_'+ data_type +'_count').value = new_index_value;

}

</script>