

{% set tooltip_file_main %} {{_('Sprzedawanym produktem może być kilka plików. W ten sposób można wgrywać jeden pliku muzyczny w kilku jakościach np. MP3, Ogg. <span class="red font-bold">Uwaga!</span> W ten sposób nie należy wgrywać całych płyt - ponieważ to uniemożliwi np. sprzedaż pojedynczych utworów.')|safe}} {% endset %}
{% set tooltip_compound_product %} {{ _('Sprzedawany produkt może składać się z kilku (wcześniej dodanych do sklepu) elementów. W ten sposób dodaje się płytę cyfrową, zestaw fana (np. koszulka i wszystkie płyty), zestawienie utworów demo itd. <span class="red font-bold">Uwaga!</span> Stan magazynowy zestawu jest niezależny od elementów składowych np. pojedynczej koszulki (mimo iż ta sama koszulka teoretycznie wchodzi w skład zestawu).')|safe}} {% endset %}
{% set tooltip_file_permissions %} {{ _('<span class="black font-bold">"Cena po rabacie"</span> jest kalkulowana automatycznie na podstawie ceny katalogowej i wybranego rabatu. Nadanie własnej <span class="black font-bold">"ceny po rabacie"</span> jest możliwe, gdy zaznaczone jest pole "Ręczny rabat".') }} {% endset %}
{% set tooltip_file_function %}{{ _('Przykładem <span class="black font-bold">"Elementu dodatkowego"</span> jest instrukcja, karta produktu, ulotka.')|safe}} {% endset %}
{% set tooltip_file_permissions %} {{ _('Dostęp do pliku (np. instrukcji) może być elementem sprzedawanego pakietu, być widoczny tylko dla zarejestrowanych i zalogowanych klientów albo dla każdego użytkownika strony.') }} {% endset %}
{% set tooltip_file_extra %} {{ _('Pliki o jednakowym przeznaczeniu i funkcji można wgrywać jednocześnie (masowo). Jeżeli pliki mają mieć różne funkcje, wgrywanie plików należy rozdzielić tak by każdy wgrywany plik miał pożądane parametry (np. ograniczenie dostępu).')|safe}} {% endset %}

{% set tooltip_product_type %}{{ _('<span class="black font-bold">Prosty produkt</span> to pojedyncza książka, koszulka, bateria prysznicowa. Jeżeli nie wiesz jaki typ produktu chcesz dodać to na 85% to jest prosty produkt.<br><span class="black font-bold">Zestaw</span> to zbiór różnych towarów sprzedawanych jako nowy pakiet (niezależnie od innych produktów). Ustawienie to służy do dodawania np. płyt, dyskografii, pakietów fana itd. Może się składać z produktów wirtualnych i fizycznych.<br><span class="black font-bold">Produkt z wariantami</span> służy do dodawania produktów np. koszulek w różnych kolorach i rozmiarach. Taki sposób dodania produktu umożliwia m.in. kontrolowanie stanów magazynowych osobno dla każdego typu produktu.') | safe}} {% endset %}


{% set tooltip_section_info %}{{ _('<span class="black font-bold">Informacje</span><br> W tej sekcji uzupełniane są  podstawowe informacje dotyczące sprzedawanego produktu. Kto jest producentem, pod jaką nazwą ma być sprzedawany produkt itd.') | safe}} {% endset %}