        <div id="product_featured_block" class="col-span-12 grid-cols-12 grid gap-2 p-4 product_edit_block">
          <div class="col-span-12">
            <span class="pr-12">{{ _("Wyróżnienia i promowania") }}</span>

          </div>
          <div class="col-span-2 ">
            <label for="featured">{{ _("Dodaj promocję nie wpływającą na cenę") }}</label> 
            <select name="featured" class="">
              <option selected disabled></option>
              {% for k,v in data_options.featured_list.items(): %}
                <option value="{{ k }}" onclick="addFeaturedRow({{k}},'{{v.name|capitalize}}')">{{ v.name }}</option>
              {% endfor %}
            </select>
            
          </div>
          <div class="col-span-9 pb-8 grid grid-cols-12 border">
            <div class="td bg-white col-span-1">{{ _("Rodzaj promocji") }}</div>
            <div class="td text-center col-span-2"></div>   
            <div class="td text-center col-span-3">{{ _("Data start") }}</div>
            <div class="td text-center col-span-3">{{ _("Data koniec") }}</div>
            <div class="td text-center col-span-2"></div> 


            <div 
              data-primary_type="featured" 
              data-data_type='list'
              class="flex flex-col col-span-12" id="table_mutable_featureds_list">
              <input form="placeholder_form" type="hidden" name="featured_list_count" value="{{ product_featured| count}}" id="featured_list_count" autocomplete="off">

              
          {% if product and product_featured: %}
            {% with primary_type='featured', data_type='list', list_length=product_featured | count  %}
              {% for item in product_featured: %}
                {% with loop_index = loop.index, item_id = item.product_special_id %}

              {% include "emporium:templates/emporatorium/product/product_edit/product_edit_table_row_header.html" %}

                <div class="text-center grid bg-white col-span-1 td">
                  <i class="fi-dollar text-3xl text-cyan-500 pl-4 mx-auto my-auto"></i>               
                  <input 
                  type="hidden" 
                  name="product_featured_id" 
                  id="product_featured_id" 
                  value="{{item.product_special_id}}">


                {% include "emporium:templates/emporatorium/product/product_edit/product_edit_table_row_variables.html" %}

                </div>  

                <div class="col-span-2 td grid">

                  {% include "emporium:templates/emporatorium/common/edit_order_arrows.html" %}

                </div> 

              <div class="col-span-2 td grid">
                {{ data_options.featured_list[item.special_id].name }}
              </div>
              <div class="col-span-2 text-center td">
                <input name="featured_date_start_{{item_id}}" type="date" value="{{ item.date_start }}" id="date_start" class="">
              </div>
              <div class="col-span-2 text-center td">
                <input name="featured_date_end_{{item_id}}" type="date" value="{{ item.date_end }}" id="date_end" class="">
              </div>
              <div class="col-span-2 mx-auto my-auto">
                {% include "emporium:templates/emporatorium/product/product_edit/product_edit_remove_element.html" %}
              </div>
            </div>
            {% endwith %}
            {% endfor %}
          {% endwith %}
          {% endif %}
          <div id="product_featureds_footer" class="order-last"></div>
          </div>


        </div> 
      </div>
