<div class="col-span-12 grid grid-cols-12 gap-8">

  {% for k,v in data_options.transport_dict.items(): %}
    {{v.name}}
    {% with name = v.module_name%}
      <div id="module_transport_{{name}}" class="col-span-2 grid grid-cols-12 {{ 'hidden' if product.transport_method == 1}} transport_physical">
          <div class="col-span-12 grid grid-cols-12 gap-4">   
            
            {% include "emporium:templates/emporatorium/product/product_edit_modules/transport/product_edit_" + name +  ".html" %}
          
          </div>
      </div>
    {% endwith %}
  {% endfor %}

</div>