{% set tooltip_price %}{{_('<span class="black font-bold">"Cena po rabacie"</span> jest kalkulowana automatycznie na podstawie ceny katalogowej i wybranego rabatu. Nadanie własnej "ceny po rabacie" jest możliwe, gdy zaznaczone jest pole <span class="black font-bold">"Ręczny rabat"</span>.')|safe}} {% endset %}

      <div class="product_edit_block grid  {{ 'hidden' if product.transport_method == 1}} transport_physical" id="parameters">

        <i class="fi-widget text-cyan-500 main_icon" ></i>


      <div class="col-span-1 ">
        <label for="weight">{{ _("Waga") }}</label>
        <input  value="{{ '%0.2f'| format((product.weight or form.weight.data) |float) or ''  }}" name="weight" id="weight" class="" required>
      </div>

      <div class="col-span-1 ">
        <label for="length">{{ _("Długość") }}</label>
        <input  value="{{ '%0.2f'| format((product.length or form.length.data) |float) or ''  }}" name="length" id="length">
      </div>

      <div class="col-span-1 ">
        <label for="width">{{ _("Szerokość") }}</label>
        <input  value="{{ '%0.2f'| format((product.width or form.width.data) |float) or ''  }}" name="width" id="width">
      </div>

      <div class="col-span-1 ">
        <label for="height">{{ _("Wysokość") }}</label>
        <input  value="{{ '%0.2f'| format((product.height or form.height.data) |float) or '' }}" name="height" id="height">
      </div>



    </div>