      <div id="product_component_upload_extra" class="grid product_edit_block">

        <i class="fi-paperclip text-cyan-500 main_icon"></i>
        <div class="col-span-3 min-height-180 grid grid-cols-12">
          <div class="col-span-12">{{ _("Dodatkowe plik(i) do pobrania)") }}</div>
          <input form="placeholer_form" class="col-span-12 pt-2" 
          type="file" name="extra_file" id="extra_file" 
          onchange="uploadFile('product','file','extra')" multiple>
           {% with primary_type='file', progress_name = "extra" %}
            {% include "emporium:templates/emporatorium/common/progress_bar.html" %}
           {% endwith %}
        </div>

        <div class="col-span-9 min-height-180 flex-col grid gap-2">
          <div class="col-span-12 flex ">{{ _("Pliki") }}</div>

          <div class="col-span-12 pb-8 grid grid-cols-12 border">
            <div class="td bg-white col-span-1"></div>
            <div class="td bg-white col-span-2">{{_("Kolejność") }}</div>
            <div class="td bg-white col-span-1">{{_("Typ pliku") }}</div>
            <div class="td bg-white col-span-2">{{_("Dostęp do pliku") }}</div>
            <div class="td text-center col-span-3">{{ _("Nazwa pliku") }}</div>
            <div class="td bg-white col-span-1"></div>
            <div 
              data-primary_type="file" 
              data-data_type='extra'
              class="flex flex-col col-span-12" id="table_mutable_files_extra">

              <input form="placeholer_form" type="hidden" name="file_extra_count" value="{{ product_files_extra| count}}" id="file_extra_count" autocomplete="off">

            {% if product and product_files_extra and options.action  == 'edit': %}
              {% with primary_type = 'file', data_type='extra', list_length =product_files_extra | count  %}
                {% for item in product_files_extra : %}
                  {% with loop_index = loop.index, item_id = item.product_file_id %}
                  
              {% include "emporium:templates/emporatorium/product/product_edit/product_edit_table_row_header.html" %}

                <div class="text-center grid bg-white col-span-1 td">
                  <i class="fi-music text-3xl text-cyan-300 pl-4 mx-auto my-auto"></i>

                  <input type="hidden" name="product_file_id" id="product_file_id" value="{{item.product_file_id}}">

                  <input class="file_order" type="hidden" name="file_order_{{item.product_file_id}}" id="file_order_{{item.product_file_id}}" required
                   value="{{loop.index}}">

                </div>  

                <div class="text-center col-span-2 td grid grid-cols-12">

                    {% include "emporium:templates/emporatorium/common/edit_order_arrows.html" %}

                </div> 

                <div class="text-center col-span-1 td">
                  <select name="file_type_{{ item.product_file_id }}" class="mx-auto my-auto">
                  {% for file_type_id, type_name in data_options.file_type_dict.items():%}
                    <option value="{{ file_type_id }}" {{'selected' if file_type_id  == item.file_type_id}}>{{ type_name }}</option>
                  {% endfor %}
                  </select>
                </div> 


                <div class="text-center col-span-2 td">
                  <select name="file_permission_{{item.product_file_id}}" class="mx-auto my-auto">
                    <option value="1" {{'selected' if item.file_permission_id == 1}}>{{_("Tylko kupujący") }}</option> 
                    <option value="2" {{'selected' if item.file_permission_id == 2}}>{{_("Odwiedzający") }}</option>
                  </select>
                </div> 
                <div class="text-center col-span-3 td">
                  <input name="file_name_{{item.product_file_id}}" type="text" value="{{ item.file_name }}">
                </div>
                <div class="td text-center grid col-span-1">
                  {% include "emporium:templates/emporatorium/product/product_edit/product_edit_remove_element.html" %}
                </div>
              </div>

            {% endwith %}
            {% endfor %}
          {% endwith %}
          {% endif %}

              <div id="table_files_extra_footer" class="order-last"></div>
              <input type="hidden" id="file_type_options" name="file_type_options" data-file_type_options="{{ data_options.file_type_json }}">
            </div>
          </div> 
        </div> 
      </div>
