{% extends "emporium:templates/emporatorium/common/layout.html" %}
{% block body %}

{% include "emporium:templates/emporatorium/product/product_edit/product_edit_translate.html" %}

{% if options.action == 'edit':  %}
  {% set title %} {{_("Edycja") }} {% endset %}
  {% set additional_title %} 
  {{ product.name + ' ('+ product.model + ')' }} 
    {% include "emporium:templates/emporatorium/product/product_type.html" %}
  {% endset %}
  {% set sidebar_info %}
    <div>
    {% if (product.status or form.product_status.data) == 0: %}
      <h4><i class="fi-alert orange text-3xl"></i> {{ _("Uwaga produkt jest niewidoczny w sklepie") }}</h4>
    {% endif %}

    </div>

  {% endset %}

{% elif options.action == 'clone': %}
  {% set title %} {{_("Klonowanie produktu") }} {% endset %}
  {% set additional_title %} ({{ product.model }}) {% endset %}             
{% elif options.action == 'create': %}
  {% set title %} {{_("Tworzenie produktu") }}{% endset %}
{% endif %}

{% set additional_field: %}
  {% include "emporium:templates/emporatorium/product/product_edit/product_edit_seo.html" %}
  {% include "emporium:templates/emporatorium/product/product_form_" + ("preview_clone.html" if options.action == 'edit' else  "clear.html") %}
{% endset %}


{% with
 id = 'product_' + options.action + '_header', 
 color= 'orange' if options.action == 'edit' else 'blue'
%}

  {% include "emporium:templates/emporatorium/common/title.html" %}
{% endwith %}

{% include "emporium:templates/emporatorium/common/edit_right.html" %}

<div id="top_shortcuts" class="col-span-10 grid grid-cols-12 sticky top-0 bg-white relative z-1 border text-lg border-b-2 hidden 2xl:block">
  <nav class="col-span-12 flex flex-row divide-x">

    {% for k,v in {
    'Szablon':{'icon':'puzzle', 'link':'main_template'}, 
    'Informacje':{'icon':'book-bookmark', 'link':'main_info'}, 
    'Producent':{'icon':'foot', 'link':'main_manufacturer'},
    'Dostępność':{'icon':'pricetag-multiple', 'link':'product_availability'},
    'Parametry':{'icon':'checkbox', 'link':'main_puzzle'}, 
    'Wymiary':{'icon':'widget', 'link':'parameters'}, 
    'Ceny':{'icon':'euro', 'link':'finance'}, 
    'Zakup':{'icon':'shopping-cart', 'link':'main_cart'}, 
    'Zdjęcia':{'icon':'photo', 'link':'main_image_section'}, 
    'Kalendarz':{'icon':'calendar', 'link':'calendar'}, 
    'Kategoria/Opis':{'icon':'clipboard-pencil', 'link':'main_category'}, 
    'Relacje':{'icon':'shuffle', 'link':'product_relations'},
    'Dodatkowe pliki':{'icon':'paperclip', 'link':'product_component_upload_extra'} }.items(): %}
    <a class="block py-1 px-2 border-l-3 border-cyan-200 hover:border-cyan-400" href="#{{v['link']}}"><i class="fi-{{v['icon']}} text-3xl text-cyan-{{ 10 - loop.index }}00"></i> {{k}}</a>
    {% endfor %}
    
    {% if settings and settings.get('artisan_products') == '1': %}
    <a class="block py-1 px-2 border-l-3 text-white bg-fuchsia-500 border-cyan-200 hover:border-cyan-400 {{'hidden' if not product or product.manufactured == 1 }} manufactured" href="#product_author_block"><i class="fi-torso-business text-3xl text-white"></i> {{_("Twórca (AUTOR)") }}</a>
    {% endif %}

    <a class="block py-1 px-2 border-l-3 text-white bg-emerald-500 border-cyan-200 hover:border-cyan-400 {{'hidden' if not product or product.product_type == 0}} product_components" href="#product_component_block"><i class="fi-database text-3xl "></i> {{_("El. zestawu (PAKIET)") }}</a>

    {% if settings.get('downloadable_products') == '1':%}
    <a class="block py-1 px-2 border-l-3 text-white bg-sky-500 border-cyan-200 hover:border-cyan-400 {{'hidden' if not product or product.transport_method == 0}} transport_digital" href="#product_component_upload"><i class="fi-at-sign text-3xl "></i> {{_("Pliki") }}</a>
    {% endif %}
  </nav>
</div>

<div class="col-span-12 grid grid-cols-12 text-lg">
  <form action='{{ request.route_url("product_manipulation",action=options.action) }}' method="post" enctype="multipart/form-data" class="col-span-12 bg-white pl-4 2xl:pl-16 p-4 border" id="content_form" name="content_form">
    <input id="csrf_token" name="csrf_token" type="hidden" value="{{ get_csrf_token() }}"/>
    <div class="col-span-12 grid grid-cols-12 divide-y gap-4">

    {% if form.errors.items(): %}
      {% for fieldName, errorMessages in form.errors.items() %}
        <span class="col-span-12 text-2xl font-bold red">{{ form[fieldName].label }} {{ errorMessages[0] }}</span>
      {% endfor %}
    {% endif %}



  {% include "emporium:templates/emporatorium/product/product_edit/product_edit_template.html" %}
 
  {% include "emporium:templates/emporatorium/product/product_edit/product_edit_info.html" %}

  {% include "emporium:templates/emporatorium/product/product_edit/product_edit_manufacturer.html" %}

  {% include "emporium:templates/emporatorium/product/product_edit/product_edit_availability.html" %}

  {% include "emporium:templates/emporatorium/product/product_edit/product_edit_puzzle.html" %}

  {% include "emporium:templates/emporatorium/product/product_edit/product_edit_parameters.html" %}

  {% include "emporium:templates/emporatorium/product/product_edit/product_edit_finance.html" %}

  {% include "emporium:templates/emporatorium/product/product_edit/product_edit_special.html" %}

  {% include "emporium:templates/emporatorium/product/product_edit/product_edit_cart.html" %}

  {% include "emporium:templates/emporatorium/product/product_edit/product_edit_transport_modules.html" %}

  {% include "emporium:templates/emporatorium/product/product_edit/product_edit_image.html" %}

  {% include "emporium:templates/emporatorium/product/product_edit/product_edit_calendar.html" %}

  {% include "emporium:templates/emporatorium/product/product_edit/product_edit_category.html" %}
  
  {% if settings and settings.get('artisan_products') == '1': %}
    {% include "emporium:templates/emporatorium/product/product_edit/product_edit_author.html" %}
  {% endif %}
  
  {% include "emporium:templates/emporatorium/product/product_edit/product_edit_component.html" %}


  {% include "emporium:templates/emporatorium/product/product_edit/product_edit_option.html" %}

  {% if settings.get('downloadable_products') == '1':%}
    {% include "emporium:templates/emporatorium/product/product_edit/product_edit_upload.html" %}
  {% endif %}
  {% if settings.get('extra_files') == '1':%} 
    {% include "emporium:templates/emporatorium/product/product_edit/product_edit_upload_extra.html" %}
  {% endif %}
  {% if settings.get('product_attributes_templates'): %}
    {% include "emporium:templates/emporatorium/product/product_edit/product_edit_templates_js.html" %}
  {% endif %}
  {% include "emporium:templates/emporatorium/product/product_edit/product_edit_relations.html" %}

  {% include "emporium:templates/emporatorium/product/product_edit/product_edit_featured.html" %}

  {% include "emporium:templates/emporatorium/product/product_edit/product_edit_tag.html" %}



    <div class="grid grid-cols-12 col-span-12 gap-4 bg-white p-4">
        <div class="col-span-6 divide-y">

        <div>
          <label for="sku">{{ _("Sku") }}</label>
          <input  value="{{ (( product and product.sku) or form.sku.data) or '' }}" name="sku" id="sku">
        </div>
        <div>
            <label for="upc">{{ _("Upc") }}</label>
            <input  value="{{ ((product and product.upc) or form.upc.data) or '' }}" name="upc" id="upc">
        </div>

        <div>
            <label for="jan">{{ _("Jan") }}</label>
            <input  value="{{ ((product and product.jan) or form.jan.data) or '' }}" name="jan" id="jan">
        </div>
        <div>
            <label for="isbn">{{ _("Isbn") }}</label>
            <input  value="{{ ((product and product.isbn) or form.isbn.data) or '' }}" name="isbn" id="isbn">
        </div>
        <div>
            <label for="mpn">{{ _("Mpn") }}</label>
            <input  value="{{ ((product and product.mpn) or form.mpn.data) or '' }}" name="mpn" id="mpn">
        </div>


        <div>
            <label for="points">{{ _("Punkty") }}</label>
            <input  value="{{ ((product and product.points) or form.points.data) or '' }}" name="points" id="points">
        </div>


        <div>
            <label for="sort_order">{{ _("Kolejność") }}</label>
            <input  value="{{ ((product and product.sort_order) or form.sort_order.data) or '' }}" name="sort_order" id="sort_order">
        </div>
      

        <div class="col-span-4">
            <label for="viewed">{{ _("Produkt oglądany") }}</label>
            <p id="viewed">{{ product.viewed if product and  options.action  != 'clone' else '0' }}&nbsp;razy</p>
        </div>

        <input type="hidden" value="{{ product_id  }}" name="product_id" id="product_id">
        <input type="hidden" value="{{ (product and product.discount_id) or 1 }}" name="discount_id" id="discount_id">
        <p>&nbsp;</p>
      </div>
    </div>



    <div class="grid grid-cols-12 col-span-12 gap-4 bg-white p-4">
      <div class="label">{{ _("Opcje") }}</div>
      {% for item in option_group: %}
        <div class="col-span-8">
          {{ item[1].name }}
          {% if item[0].option_type == 1: %}
            <select multiple="multiple" id="option_list_{{ item.option_group_id }}" name="option_list" class=" option_list">
              {% for ktem in option_list: %}
                {% if ktem[0].option_group_id == item.option_group_id: %}
                  <option value="{{ ktem[0].option_id }}">{{ ktem[2].name }}</option>
                {% endif %}
              {% endfor %}
            </select>
          </div>
          {% else: %}
            <div>
              <select name="option_list" class="">
                {% for ktem in option_list: %}
                  <option value="{{ ktem[0].option_id }}" >{{ ktem[2].name }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="col-span-6">
              <input ></input>
            </div>
            {% endif %}
          </div>
        {% endfor %}
    </div>

    <input type="hidden" value="{{ url_next }}" name="next">
  </div>
</form>
<form id="placeholer_form" name="placeholder_form"></form>
</div>


  {% include "emporium:templates/emporatorium/common/jquery.html" %}

  {% include "emporium:templates/emporatorium/common/change_modal.html" %}

  <span class="hidden">
    <p id="txt_delete">{{ _("Potwierdź usunięcie zdjęcia") }}</p>
    <p id="txt_success_delete">{{ _("Pomyślnie usunięto zdjęcie") }}</p>
  </span>


<script src='{{ request.static_url("emporium:templates/emporatorium/static/js/jquery.multi-select.js") }}' type="text/javascript"></script>
<script src='{{ request.static_url("emporium:templates/emporatorium/static/js/selectize.min.js") }}' type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@10.2.6/dist/autoComplete.min.js"></script>


  {% if settings and settings.get('artisan_products') == '1' and options.action != 'clone': %}
     {% include "emporium:templates/emporatorium/product/product_edit/product_edit_author_js.html" %}
  {% endif %}

  {% include "emporium:templates/emporatorium/common/file_upload_js.html" %}
  {% include "emporium:templates/emporatorium/common/info_modal.html" %}
  {% include "emporium:templates/emporatorium/product/product_edit/product_edit_js.html" %}

  {% for item in ("component", "option","special", "tag", "featured", "relations"): %}
    {% include "emporium:templates/emporatorium/product/product_edit/product_edit_" + item + "_js.html" %}
  {% endfor %}

{% endblock %}
