      <div class="product_edit_block grid" id="extra_upload">

        <i class="fi-paperclip text-cyan-300 main_icon"></i>
        <div class="col-span-6 min-height-180 grid-cols-12 grid gap-2">
          <div class="col-span-12" for="image">
            <div class="pr-12 label">{{ _("Pliki dodatkowe") }}</div>
  
              {% with tooltip = tooltip_file_extra %}
                {% include "emporium:templates/emporatorium/common/tooltip.html" %}
              {% endwith %}

          </div>

          <div class="col-span-3">
            <label for="file_function">{{ _("Funkcja pliku") }}</label>
            <select name="file_function" id="file_function">
              <option value="1">{{_("Dodatkowy element") }}</option>
            </select>
  
            {% with tooltip = tooltip_file_function %}
              {% include "emporium:templates/emporatorium/common/tooltip.html" %}
            {% endwith %}

          </div>
          <div class="col-span-4">
            <label for="file_permissions">{{ _("Dostęp do pliku") }}</label>
            <select name="file_permissions" id="file_permissions">
              <option value="0">{{_("Tylko dla nabywcy produktu") }}</option> 
              <option value="1">{{_("Dla każdego odwiedzającego sklep") }}</option>
              <option value="2">{{_("Dla zalogowanego użytkownika") }}</option>

            </select>
  
            {% with tooltip = tooltip_file_permissions %}
              {% include "emporium:templates/emporatorium/common/tooltip.html" %}
            {% endwith %}

          </div>
          <input class="pt-2 col-span-4" type="file" name="additional_files" id="additional_files" multiple>
          {% if product and product_files and options.action  == 'edit': %}
            {% for item in product_files : %}
              <div class="col-span-6 flex flex-col">
                <select name="file_function">
                  <option value="0">{{_("Kupowany przedmiot") }}</option>
                  <option value="1">{{_("Dodatkowy element (np. instrukcja)") }}</option>
                  <option value="2">{{_("Plik muzyczny") }}</option>
                </select>
                <select name="file_permissions">
                  <option value="0">{{_("Pobranie pliku możliwe po zakupie") }}</option> 
                  <option value="1">{{_("Zawsze możliwe pobranie (np. karta produktu)") }}</option>
                </select>
                <a href='{{ request.static_url("emporium:uploads/") + item.file }}' class="text-cyan-600"><i class="fi-music text-2xl"></i>{{item.file}}
                </a>
               {% with item_id = item.product_file_id, action_url = "file_", action_name="delete", parameter_name = "type=product_additional&id" %}
                {% include "emporium:templates/emporatorium/common/button_change.html" %}
               {% endwith %}
              </div>
            {% endfor %}
          {% endif %}

        </div> 

      </div>