      <div class="product_edit_block grid" id="product_availability">

        <i class="fi-pricetag-multiple text-cyan-700 main_icon"></i>
  
        {% if settings.get('downloadable_products') == '1':%}
        <div class="col-span-2 flex flex-col">

          {% with object = product, form=form %}
            {% include "emporium:templates/emporatorium/product/product_template/product_template_virtual.html" %}
          {% endwith %}

        </div>
        {% endif %}

        {% if settings.get('downloadable_products') == '1':%}
        <div class="col-span-2 flex flex-col">
            {% with object = product, form=form %}
              {% include "emporium:templates/emporatorium/product/product_template/product_template_subtract.html" %}
            {% endwith %}
        </div>
        {% endif %}

        <input type="hidden" name="virtual_availability_id" id="virtual_availability_id" value="160" class="storage_virtual">


          <div id="virtual_availability_block" class="col-span-4 {{'hidden' if not product or product.transport_method == 0}} flex gap-4 transport_digital">

            {% if data_options.storage_virtual: %}
            <div>
             <label>{{ _("Źródło danych") }}</label>
             {% if product_storages and options.action != 'clone': %}
                {% for element in product_storages: %}
                  {% if element.product_storage_id: %}
                  <div class="flex gap-8 pb-4">
                    {% for k,v in data_options.storage_virtual.items(): %}
                     {% if element.storage_id ==k %}
                    <div class="w-36 font-bold">
                     {{v}}
                    <input type="hidden" class="storage_virtual_input" name="storage_id" value="{{element.storage_id}}" id="storage_{{element.storage_id}}" form="placeholder_form">
                    <input type="hidden" class="storage_virtual_input"  name="product_storage_{{element.storage_id}}" value="{{element.product_storage_id}}" id="product_storage_{{element.storage_id}}" form="placeholder_form">
                  </div>
                  <div>
                    <label>{{ _("Limit pobrań") }}</label>
                    <input 
                    form="placeholder_form"
                    id="storage_product_id_quantity_{{element.storage_id}}" 
                    class="storage_virtual_input" 
                    name="storage_product_id_quantity_{{element.storage_id}}" 
                    type="number" 
                    value='{{element.quantity or settings.get("default_download_limit") }}' 
                    step="1" min="0" />
                     {% endif%}
                    {% endfor %}
                    </div>

                  </div>
                  {% endif %}
                {% endfor %}
              {% else: %}
                {% for k,v in data_options.storage_virtual.items(): %}
              <select class="storage_virtual_input" name="storage_id" id="storage_virtual_input_storage_id" form="placeholder_form">

              <option value="{{ k }}">{{ v }}</option>
              </select>
               <label>{{ _("Limit pobrań") }}</label>
              <input class="storage_virtual_input h-8" id="storage_id_quantity_{{ k }}" name="storage_id_quantity_{{ k }}" type="number" value='{{settings.get("default_download_limit") }}' step="1" min="0" form="placeholder_form" />
                {% endfor %}
              {% endif %}
              </div>
            <div> 

            </div>
            {% endif %}

          </div>




          <div id="physical_availability_block" class="col-span-6 {{'hidden' if product.transport_method == 1}} flex gap-4 transport_physical ">
          {% for item in data_options.attribute_dict.values(): %}
            {% if item.attribute_name == 'availability': %}
            <div>
              <label>{{ item.name }}</label>
              <select name="availability_id" class="" id="availability" required>
                <option></option>
                {% for ktem in item.attributes.values(): %}
                <option value="{{ ktem.attribute_id }}" {{ "selected" if ktem.attribute_id == (product.availability_id or form.availability_id.data) }}>{{ ktem.value }}</option>
                {% endfor %}
                </select>
            </div>
            {% endif %}
          {% endfor %}


        {% include "emporium:templates/emporatorium/product/product_edit/product_edit_storage.html" %}


        </div>

</div>