      <div class="product_edit_block grid" id="main_manufacturer">
        <i class="fi-foot text-cyan-800 main_icon"></i>
        {% if settings.get('artisan_products') == '1': %}
        <div class="col-span-2 flex flex-col">
          {% with object = product, form=form %}
            {% include "emporium:templates/emporatorium/product/product_template/product_template_manufactured.html" %}
          {% endwith %}
        </div>
        {% else %}
        <input type="hidden" required name="manufactured" value="1">
        {% endif %}

        <div class="col-span-2">
          <label id="manufacturer_label" for="manufacturer_id">{{ 'Wydawca' if product and product.manufactured == '0' else 'Producent' }}</label>
          <select id="manufacturer_id" name="manufacturer_id" required class="naming_fields">
            <option></option>
            {% for k,v in data_options.manufacturer_dict.items(): %}
          <option value="{{ k }}" data-seo_slug={{v.seo_slug}} {{ 'selected' if (product and k == product.manufacturer_id) or k == form.manufacturer_id.data }}>{{ v.name }}</option>
            {% endfor %}
          </select>
        </div>
        
        {% if settings.get('artisan_products') == '1': %}
        <div class="col-span-2 manufactured {{'hidden' if product and product.manufactured == 1 }}">
          <label id="band_label" for="band_id">{{ _("Zespół") }}</label>
          <select id="band_id" name="{{'band_id' if product and product.manufactured == 0 }}" class="">
            <option></option>
            {% for k,v in data_options.band_dict.items(): %}
          <option data-seo_slug="{{v.seo_slug}}" value="{{ k }}" {{'selected' if k == product_band.band_id }}>{{ v.name }}</option>
            {% endfor %}
          </select>
        </div>
        {% endif %}

    </div>