  <div class="product_edit_block grid bg-yellow" id="main_template">

    <i class="fi-puzzle text-cyan-400 main_icon"></i>

    <div class="col-span-2 flex flex-col">
        {% with object = product, form=form %}
          {% include "emporium:templates/emporatorium/product/product_template/product_template_type.html" %}
        {% endwith %}
    </div>

    {% if settings.get('product_attributes_templates'): %}
    <div class="col-span-2 flex flex-col">
      <label for="setting_template_id" class="h4 font-bold capitalize text-green-500">{{ _("Szablon produktu") }}</label>
      <input type="hidden" value="{{product.template_json}}" id="product_template_json" form="placeholder_form">
      <select id="setting_template_id" name="setting_template_id" class="">
        <option></option>
        {% for item in data_options.template_dict: %}
        <option value="{{item.setting_template_id}}" onclick="setTemplate({{item.template_json }})" {{'selected' if item.setting_template_id == product.setting_template_id }}>{{'@' if item and item.template_json and item.template_json.transport_method == 1 }}{{item.name}}
        </option>
        {% endfor %}
      </select>
    </div>

    <div class="col-span-8 flex flex-col">
    <details class="col-span-6 flex flex-col">
        <summary>
          <span class="black font-bold text-cyan-400">{{ _("Opisy szablonów") }}<i class="fi-arrow-down 
          text-emerald-500"></i></span>
        </summary>
        <ul>
          {% for item in data_options.template_dict: %}
          <li><span class="text-cyan-400 font-bold">{{'@' if item and item.template_json and item.template_json.transport_method == 1 }}{{item.name}}</span> - {{item.description}}
          </li>
          {% endfor %}
        </ul>
    </details>
    </div>
    {% endif %}

    <span class="tooltip_large absolute top-16 right-0">
      {% include "emporium:templates/emporatorium/common/info_button.html" %}
    </span>

  </div>