      <div class="product_edit_block grid" id="main_puzzle">

        <i class="fi-checkbox text-cyan-600 main_icon"></i>
  
          {% with object = product_attributes, form=form %}
            {% include "emporium:templates/emporatorium/product/product_template/product_template_attribute_select.html" %}
          {% endwith %}

        <div class="col-span-2 {{ 'hidden' if product.transport_method == 1}} transport_physical">
          <label for="one_batch">{{ _("Serie produktu różnią się") }}</label>
          <select id="one_batch" name="one_batch" class="">
            <option value="0" {{ 'selected' if product and product.one_batch == 0 }}>{{ _("Nie") }}</option>
            <option value="1" {{ 'selected' if product and product.one_batch == 1 }}>{{ _("Tak") }}</option>
          </select>
        </div>

        <div class="col-span-2">
          <label for="sort_order">{{ _("Wyświetlanie poza kolejnością") }}</label>
          <select id="sort_order" name="sort_order" class="">
            <option value="0" {{ 'selected' if product and product.sort_order == 0 }}>{{ _("Wyłączony") }}</option>
            <option value="1" {{ 'selected' if product and product.sort_order == 1 }}>{{ _("Załączony") }}</option>
          </select>
        </div>

          {% with object = product_attributes, form=form %}
            {% include "emporium:templates/emporatorium/product/product_template/product_template_attribute_checkbox.html" %}
          {% endwith %}

    <div class="col-span-12"></div>
    
    {% for item in data_options.attribute_dict.values(): %}
      {% if item.attribute_display_type_id == 3: %}
        <div id="attribute_group_id_{{item.attribute_group_id}}" class="col-span-3 attribute_group_block {{'hidden' if item.attribute_group_id not in attribute_type_list}}">
          <label>{{ item.name }}</label>
              <select multiple="multiple" id="attribute_list_{{ item.attribute_group_id }}" name="attribute_list" class="attribute_list">
            {% for ktem in item.attributes.values(): %}
              <option value="{{ ktem.attribute_id }}" {{ "selected" if ktem.attribute_id in product_attributes }} >{{ ktem.value }}</option>
            {% endfor %}
             </select>
        </div>
      {% endif %}
    {% endfor %}
    


      </div>
