  <span class="hidden">
    <p id="txt_info">
      {{_('
      <h3>Blok informacji</h3>
      W tej sekcji umieszczone są informacje mówiące o tym co jest sprzedawanym produktem i kto jest jego producentem. <br>
      <ul>
      <li><span class="black text-bold">Nazwa wyświetlana w sklepie</span> <u>(pole wymagane)</u>, ograniczenia: unikalna zawartość, nie może być dłuższe niż 96 znaków.</li>
      <li><span class="black text-bold">Nazwa producenta</span> <u>(pole wymagane)</u>, ograniczenia: unikalna zawartość, nie może być dłuższe niż 96 znaków.</li>
      <li><span class="black text-bold">Status</span> <u>(pole wymagane)</u>, produkt "wyłączony" jest widoczny/edytowalny tylko w panelu admina, zwyczajowy status to "załączony"</li>
      <li><span class="black text-bold">Produkt ma</span>, po wybraniu opcji "autora i wydawcę"" widoczny staje się moduł dodawania autorów danego dzieła. Pole jest potrzebne dla utwórów: literackich, muzycznych oraz dzieł sztuki.</li>


      </ul>
      </p>
      ')|safe}}
</span>

    <div class="product_edit_block grid" id="main_info">

      <i class="fi-book-bookmark text-cyan-900 main_icon"></i>


      <div class="col-span-3">
        <label for="name">{{ _("Nazwa wyświetlana w sklepie") }}</label>
        <input  value="{{ (product and product.name) or form.name.data or ''}}" name="name" id="name" required class="naming_fields">
      </div>
        
      <div class="col-span-3">
        <label for="model">{{ _("Nazwa katalogowa (model)") }}</label>
        <input  value="{{ (product and product.model) or form.model.data or ''}}" name="model" id="model" class="" required >
      </div>
      
        <div class="col-span-2">
          <label for="ean">{{ _("Ean") }}</label>
          <input  value="{{ ((product and product.ean) or form.ean.data) or '' }}" name="ean" id="ean" class="">
        </div>

      <div class="col-span-2">
        <label for="product_status">{{ _("Status") }}</label>
        <select id="product_status" name="product_status" required class="">
          <option></option>
          <option value="1" {{ 'selected' if (product.status or form.product_status.data) == 1 }}>{{ _("Załączony") }}</option> 
          <option value="0" {{ 'selected' if (product.status or form.product_status.data) == 0 }}>{{ _("Wyłączony") }}</option>
        </select>
      </div>
       
      <span class="tooltip_large absolute top-16 right-0">
        {% include "emporium:templates/emporatorium/common/info_button.html" %}
      </span>
  </div>