      <div id="product_author_block" class="manufactured product_edit_block grid {{'hidden' if not product or product.manufactured == 1 }} ">

        <i class="fi-torso-business text-fuchsia-500 main_icon"></i>
        <div class="col-span-12 grid-cols-12 grid gap-2 p-4">
          <div class="col-span-12">
            <span class="pr-12">{{ _("Autorzy") }}</span>
            {% with tooltip = tooltip_compound_author %}
              {% include "emporium:templates/emporatorium/common/tooltip.html" %}
            {% endwith %}

          </div>
          <div class="col-span-3 flex">
            {% if options.action != 'clone': %}
            <div class="text-center flex bg-white">
              <i class="pl-4 fi-magnifying-glass text-2xl mt-1 text-fuchsia-700 "></i>
              <i class="fi-torso text-3xl text-fuchsia-700 mx-auto "></i>
            </div>
            <input id="authorSearchJS" autocomplete="off" >
            {% else %}
              {{_('Klony (nowe, jeszcze nie zapisane produkty) mają zablokowaną edycję członków zespołu.')}}
            {% endif %}
            
          </div>
          <div class="col-span-9 pb-8 grid grid-cols-12 border">
            <div class="td bg-white col-span-2"></div>
            <div class="td text-center col-span-2">{{ _("Kolejność") }}</div>   
            <div class="td text-center col-span-2">{{ _("Rola") }}</div>
            <div class="td text-center col-span-2">{{ _("Widoczność") }}</div>
            <div class="td text-center col-span-3">{{ _('Imię "ksywa" nazwisko') }}</div>
            <div class="td text-center col-span-1"></div> 


        {% with primary_type = 'author', data_type='list', list_length =product_authors | count  %}

              {% include "emporium:templates/emporatorium/product/product_edit/product_edit_table_header.html" %}
              
          {% if product and product_authors: %}
            {% for item in product_authors : %}
            {% with loop_index = loop.index, item_id = item.product_author_id %}
              {% include "emporium:templates/emporatorium/product/product_edit/product_edit_table_row_header.html" %}

                <div class="text-center grid bg-white col-span-2 td">

                  <i class="fi-torso text-3xl text-cyan-500 pl-4 mx-auto my-auto"></i>               
                  <input 
                  type="hidden" 
                  name="product_author_id" 
                  id="product_author_id" 
                  value="{{item.product_author_id}}">
                  
                  <input 
                  type="hidden" 
                  name="author_id_{{item.product_author_id}}" 
                  id="author_id_{{item.product_author_id}}" 
                  value="{{item.author_id}}">

                  {% include "emporium:templates/emporatorium/product/product_edit/product_edit_table_row_variables.html" %}

                </div>  

                <div class="text-center col-span-2 td grid grid-cols-12">

                  {% include "emporium:templates/emporatorium/common/edit_order_arrows.html" %}

                </div> 
              <div class="col-span-2 td grid">
                <select id="author_role" name="author_role_{{item.product_author_id}}" required class=""> 
                  <option></option>
                  {% for role in author_roles: %}
                  <option value="{{role.author_role_id}}" {{'selected' if role.author_role_id == item.role }}>{{role.name}}</option> 
                  {% endfor %}
                </select>
              </div>
              <div class="col-span-2 td grid">
                <select id="author_visibility" name="author_visibility_{{item.product_author_id}}" required class="">
                  <option value="0" {{'selected' if item.visibility == 0 }}>{{ _("Pełne personalia") }}</option> 
                  <option value="1" {{'selected' if item.visibility == 1 }}>{{ _("Tylko pseudonim") }}</option>
                </select>
              </div>
              <div class="col-span-3 text-center td grid">
                {{item.first_name}} {{'"' + item.callsign + '"' if item.callsign}} {{item.last_name}}
              </div>
              <div class="col-span-1 mx-auto my-auto">
                {% if options.action != 'clone': %}
                  {% include "emporium:templates/emporatorium/product/product_edit/product_edit_remove_element.html" %}
                {% endif %}
              </div>
            </div>
            {% endwith %}
            {% endfor %}
          {% endif %}
          {% endwith %}
          <div id="product_author_footer" class="order-last"></div>
          </div>


        </div> 
      </div>
</div>