      <div class="product_edit_block grid" id="main_cart">

        <i class="fi-shopping-cart text-cyan-300 main_icon" ></i>

        <div class="col-span-2 {{ 'hidden' if product.transport_method == 1}} transport_physical">
          <label for="square_meter">{{ _("Sprzedaż") }}</label>
          <select id="square_meter" name="square_meter" required class="">
            <option value="0" {{ 'selected' if (product and product.square_meter or form.square_meter.data) == 0 or (product and product.transport_method == 1) }}>{{ _("Na sztuki") }}</option>
            <option value="1" {{ 'selected' if (product and product.square_meter or form.square_meter.data) == 1 }}>{{ _("Na metry") }}</option>
          </select>
        </div>
    
        <div class="col-span-2">
          <label for="minimum">{{ _("Min. zamówienie") }}</label>
          <input  value="{{ ((product and product.minimum) or form.minimum.data) or '' }}" name="minimum" id="minimum" required class="">
        </div>


      </div>