  {% set image_path = request.static_url("emporium:images/thumbnails/" + (data_options.manufacturer_dict[product.manufacturer_id].seo_slug if data_options.manufacturer_dict and data_options.manufacturer_dict.get(product.manufacturer_id) else '') + 
    ('/' + data_options.band_dict[product_band.band_id].seo_slug if data_options.band_dict and product_band.band_id else ''))  + '/' %}
      <div class="product_edit_block grid" id="main_image_section">
        <i class="fi-photo text-cyan-200  main_icon"></i>
        <div class="col-span-3 min-height-180 grid grid-cols-12">
          <div class="col-span-12">{{ _("Zdjęcie główne") }}</div>
          <div class="col-span-12" >
            <div class="hidden" id="main_image_placeholder"></div>

          {% if product and product.image and options.action  == 'edit': %}
            <div id="old_main_image">
              <img src="{{ image_path + product.image + '.webp' }}" class="" width="480" height="480" />&nbsp;&nbsp;
              <input type='hidden' name='main_image_url' value='{{product.image}}'>
               {% with item_id = product.product_id, action_url = "image_", action_name="delete", parameter_name ="manufacturer_seo_slug="+ data_options.manufacturer_dict[product.manufacturer_id].seo_slug + "&image_type=product&product_id" %}
                {% include "emporium:templates/emporatorium/common/button_change.html" %}
               {% endwith %}
            </div>
            {% else: %}
              <input form="placeholer_form" type="file" name="image_content" id="main_image" onchange="uploadFile('product','image','main')">
             {% with primary_type='image', progress_name = "main" %}
              {% include "emporium:templates/emporatorium/common/progress_bar.html" %}
             {% endwith %}
          {% endif %}
          </div>
        </div>

        <div class="col-span-9 min-height-180 flex-col grid gap-2">
          <div class="col-span-12 flex ">{{ _("Zdjęcia dodatkowe") }}</div>

          <div class="col-span-12 pb-8 grid grid-cols-12 border">
            <div class="td bg-white col-span-2"></div>
            <div class="td text-center col-span-1">{{ _("Kolejność") }}</div>   
            <div
              data-primary_type="image" 
              data-data_type="extra"
              class="flex flex-col col-span-12" id="table_mutable_images_extra" >
              <input form="placeholer_form" type="hidden" name="image_extra_count" value="{{ product_images| count}}" id="image_extra_count" autocomplete="off">

          {% if product and product_images and options.action  == 'edit': %}
            {% with primary_type='image', data_type='extra', list_length =product_images | count  %}
            {% for item in product_images : %}
              {% with loop_index = loop.index, item_id = item.product_image_id %}
              {% include "emporium:templates/emporatorium/product/product_edit/product_edit_table_row_header.html" %}
              
              <div class="text-center grid bg-white col-span-2 td">
                <i class="fi-photo text-3xl text-cyan-500 pl-4 mx-auto my-auto"></i>


                <input type="hidden" name="image_id" id="image_id" value="{{item_id}}">

                <input class="file_order" type="hidden" name="image_order_{{item_id}}" id="image_order_{{item_id}}" required
                 value="{{loop.index}}">
                 
              </div>   
              <div class="text-center col-span-2 td grid grid-cols-12">

                {% include "emporium:templates/emporatorium/common/edit_order_arrows.html" %}

              </div> 
              <div class="td text-left col-span-4">
                <img src="{{ image_path + item.image + '.webp'}}" class="small-thumbnail small-thumbnail h-full" width="320" height="320"/>&nbsp;&nbsp;
              </div>  
              <div class="td text-center col-span-2">
               {% with item_id = item.product_image_id, action_url = "image_", action_name="delete", parameter_name ="manufacturer_seo_slug="+ data_options.manufacturer_dict[product.manufacturer_id].seo_slug + "&image_type=product_additional&image_id" %}
                {% include "emporium:templates/emporatorium/common/button_change.html" %}
               {% endwith %}


              </div>
            </div>
            {% endwith %}
            {% endfor %}
          {% endwith %}
          {% endif %}
          <div id="table_images_extra_footer" class="order-last"></div>
          </div>


        </div> 

           <input form="placeholer_form" class="col-span-12 pt-2" type="file" name="extra_image" id="extra_image" onchange="uploadFile('product','image','extra')" multiple>
             {% with primary_type='image', progress_name = "extra" %}
              {% include "emporium:templates/emporatorium/common/progress_bar.html" %}
             {% endwith %}



        </div> 

      </div>

