      <div class="product_edit_block grid" id="calendar">

        <i class="fi-calendar text-cyan-400 main_icon" ></i>
        <div class="col-span-2">
          <label for="date_available">{{ _("Produkt dostępny od") }}</label>
            <input  value="{{ ((product and product.date_available) or form.date_available.data) or '' }}" name="date_available" id="date_available">
        </div>

        <div class="col-span-2">
          <label for="date_end">{{ _("Ostatni dzień sprzedaży to") }}</label>
            <input  value="{{ ((product and product.date_end) or form.date_end.data) or '' }}" name="date_end" id="date_end">
        </div>

      </div>