#product_data {
	a {
	@apply blue;
	}
}

.thumbnail_image {
	max-height: 420px;
	@apply mx-auto w-auto;
}

#product_component_block {
	.selectize-input{
		@apply border-red-600;
		@apply border-4;
	}
}

.product_edit_block {
	@apply	col-span-12 grid-cols-12 col-span-12 gap-4 relative pt-12 pb-4 ml-12;
	.main_icon { 
		@apply text-5xl mt-1 absolute -left-12 top-16;
	}
	label {
		@apply text-base;
	}
	.main_explanation_icon { 
		@apply text-3xl mt-1 text-cyan-500;
	}
}