        {% for product in product_listing: %}
        <div class="col-span-12 {{'sm:col-span-6 xl:col-span-3 flex-column text-center' if 'grid' == display_mode else 'md:col-span-12'}} grid-cols-12 grid product text-dark">

          {% include "emporium:templates/case/product/common_segment/s_product_special_info.html" %}    


          {% with main_loop_index=loop.index0 %}
            {% include "emporium:templates/case/product/listing_segment/s_product_images.html" %}
          {% endwith %}
          
          {% if display_mode != 'grid': %}
          <a href="{{ request.route_url('s_product', seo_slug = product.slug, id = product.product_id) }}" class="col-span-12 md:col-span-6 text-dark grid grid-cols-12">


       

            {% with object=product, textsize='3xl' %}
              {% include "emporium:templates/case/product/listing_segment/s_product_properties.html"%}
            {% endwith %}

              <h5 class="text-2xl col-span-11" id="product_name_{{ product.product_id }}">{{ product.name }}</h5>

              <span class="attributes_block col-span-8"> 

                {% include "emporium:templates/case/product/listing_segment/s_product_band_manufacturer.html" %}

                {% include "emporium:templates/case/product/listing_segment/s_product_collection.html" %}

                {% include "emporium:templates/case/product/listing_segment/s_product_availability.html" %}

                {% include "emporium:templates/case/product/listing_segment/s_product_ean.html" %}

                {% include "emporium:templates/case/product/listing_segment/s_product_special_transport.html" %}
          
                {% if settings['catalog_settings']['display_storage'] == 1 %}
                  {% include "emporium:templates/case/product/listing_segment/s_product_storage.html" %}
                {% endif %}

              </span>
              


          </a>
          {% endif %}
          <span class='col-span-12 {{'md:col-span-3' if display_mode != 'grid'}} text-center '>

              
          {% if product.special_price : %}
            <span class="flex justify-center col-span-12">
          {% endif %}


          {% include "emporium:templates/case/product/listing_segment/s_product_price.html" %}

          {% if display_mode == 'grid': %}
            <p class="product_name col-span-12">
              <span id="product_name_{{ product.product_id }}">{{ product.name }} </span>
              {% if icons_visible == '1': %}
              {% with object = product %} {% include "/common/s_product_icons.html" %} {% endwith %}
              {% endif %}
            </p>
              {% endif %}


          {% with product=product, text_size='text-3xl' %}
            <div>            
            {% include "emporium:templates/case/common/s_add_to_cart_block.html" %}

            {% include "emporium:templates/case/common/s_delete_from_cart_block.html" %}
            </div>
            {% if settings['catalog_settings']['display_compare_products'] == 1 %}
            <div>
              {% include "/common/s_add_to_compare_block.html" %}
            </div>
            {% endif %}
                
          {% endwith %}


          </span>

        </div>
        {% endfor %}
