{% set title %}{{ _("Twój koszyk") }} - {{ settings.name }}{% endset %}

{% set extra_javascripts_footer %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bignumber.js/8.0.2/bignumber.min.js" integrity="sha512-7UzDjRNKHpQnkh1Wf1l6i/OPINS9P2DDzTwQNX79JxfbInCXGpgI1RPb3ZD+uTP3O5X7Ke4e0+cxt2TxV7n0qQ==" crossorigin="anonymous"></script>
  
  {% for item in ('update_cart', 'modal', 'quantity_input_buttons', 'update_button', 'update_compare'): %}
    <script type="text/javascript" src='{{ request.static_url("emporium:templates/blade/static/js/' + item + '.js') }}"></script>
  {% endfor %}


<script type="text/javascript">

  window.dataLayer = window.dataLayer || [];
  window.dataLayer.push({
  event: "view_cart", 
  eventModel: {
  allow_enhanced_conversions : true,
  currency: "{{ settings.iso_currency }}",
  value: "{{ cart_parameters and cart_parameters.get('summary') }}",
  tag_source: "browser_side",
  event_id: uuid(),
    items: [ 
    {%if cart_parameters%}
    {% for product in cart_contents: %}
      {
        name: '{{ product.name }}',  
        item_name: '{{ product.name }}', 
        id: '{{ product.product_id }}', 
        item_id: '{{ product.product_id }}',  
        sku: '{{ product.sku }}',
        item_sku: '{{ product.sku }}',
        variant: '{{ product.product_id }}', 
        item_variant: '{{ product.product_id }}', 
        price: '{{ product.value }}', 
        brand: '{{(data_options.manufacturer_dict | selectattr("manufacturer_id", '==' , product.manufacturer_id)| map(attribute="name")| list)[0] | safe }}',        
        item_brand: '{{(data_options.manufacturer_dict | selectattr("manufacturer_id", '==' , product.manufacturer_id)| map(attribute="name")| list)[0] | safe }}', 
        category: '{{ product.type }}', 
        item_category: '{{product.type }}', 
        quantity: '{{ product.product_packages }}',
        google_business_vertical: 'retail',
      },
  {% endfor %} 
  {% endif%}
  ]
}
}); 

</script>

{% endset %}

{% set xsearch %}{{ request.route_url(misc_options.search_url) }}{% endset %}
{% set xterm %}{% endset %}

{% extends "/common/s_layout.html" %}
{{ self.extra_javascripts_header() }}

{% block body %}


  <div id="cart_summary_block" class="{{ 'col-span-12 md:col-span-9' if cart_parameters and cart_contents else 'col-span-12' }} page-internals my-2 grid grid-cols-12 transition-opacity duration-300">
    <div id='cart_{{ _("empty") if not cart_contents else _("full") }}' class="col-span-12 text-xl {{'my-16' if not cart_contents}}">
        {{ _("Twój koszyk') if cart_parameters and cart_contents else _('Koszyk jest pusty") }}

    </div>

    {% if cart_parameters and cart_contents: %}


      {% if cart_parameters.transport_and_payment_methods_summarized and cart_parameters.transport_and_payment_methods_summarized|length == 1: %}
        {% if (cart_parameters.transport_and_payment_methods_summarized | selectattr('transport_id','==', 2)| list): %}
           
          <div class="col-span-12 text-xl">
            <span class=" orange">{{ _("Uwaga") }}</span> {{ _("poniższe zamówienie może być tylko odebrane osobiście w siedzibie firmy (<span class="orange">Opoczno</span>).") |safe }}
          </div>

        {% elif (cart_parameters.transport_and_payment_methods_summarized | selectattr('transport_id','==', 3)| list): %}
          
          <div class="col-span-12 text-xl">
            <span class="col-span-12 text-xl orange">{{ _("Uwaga") }}</span> {{ _("poniższe zamówienie zostanie dostarczone za darmo.") }}
          </div>

        {% endif %}
      {% endif %}


      <div class="div col-span-12 grid grid-cols-12"> 

            <div class="col-span-2">

            </div>
            <div class="col-span-4">
              {{ _("Nazwa produktu") }}
            </div>
            <div class="col-span-3">
              {{ _("Liczba sztuk") }}
            </div>
             <div class="col-span-3">
              {{ _("Wartość") }}
            </div>
          </div>

        {% if settings.shop_status == '2': %}
          <div class="">
            <div>{{'<h2 class="orange">Tryb developerski</h2>'|safe if settings.shop_status == '2' }}</div>
          </div>
          
          {% for item in cart_contents: %}
          <div class="tr">
            <div colspan=3>{{ item }}</div>
          </div>
          {% endfor %}
        <div class="bg-orange-300"><div class="text-small">&nbsp;</div></div>
        {% endif %}
        
        {% for product in cart_contents.values(): %}
          <div class="tr col-span-12 grid grid-cols-12">    

          {% include "emporium:templates/blade/cart/cart_list/s_cart_row_content.html"%}  

          {% if related_products_list and related_products_list.get(product.product_id): %}               

            {% include "emporium:templates/blade/cart/cart_list/s_cart_compound_product.html"%}

          {% endif %}

          </div>

        {% endfor %}

      <span class="hidden" id="currency">{{ settings.iso_currency }}</span>
    </div>
    <div class="col-span-12 md:col-span-3">
      <div class="page-internals sticky my-2 top-0">
        {% if settings.get('shop_status') != '1': %}
          <div class="col-span-12">
            <h5 class="text-center pb-4 md:pb-0">
              {% include "/40x/s_abnormal_shop_status.html" %}
            </h5>
          </div>
        {% endif %}
        <span id="order_summary" class="text-right block">
            <h5><b>{{ _("Do zapłaty") }} {{cart_parameters.get('summary')|number_comma }} {{settings.currency}} </b></h5>
            <p> + {{ _("dostawa") }} 
              {{ cart_parameters['selected_slot']['physical']['transport_fee'] }} {{settings.currency}} <br>({{ cart_parameters['selected_slot']['physical']['transport_name'] }}, {{ cart_parameters['selected_slot']['physical']['transport_slot_name']}})
                 </p>
            <p>
              {% if settings.display_weight == 1: %}
                {{ _("Szacowana waga") }} {{ cart_parameters.get("weight") }} kg
                
              {% endif %}
            
              {{ cart_parameters['selected_slot']['physical']['transport_unit']}} x {{ cart_parameters['selected_slot']['physical']['transport_unit_name']}}            
            </p>
          
            <a class="button success text-center" id="order_products" 
            href='{{ request.route_url("s_order_change_data') }}">
              {{ _("Dostawa i płatność") }}
            </a>
        </span>
        <span id="order_summary_update" class="hidden">
          <h5 class="pb-12"><b>{{ _("Aktualizacja parametrów zamówienia") }}</b></h5>

          <div class="lds-roller block mx-auto">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>

        </span>
      </div>
    </div>
  {% else: %}
    </div>
  
  {% with icons_visible= settings.get('display_icons_on_filler')  %}
    {%  include "emporium:templates/blade/common/s_filler.html" %}
    
    {% include "emporium:templates/blade/modal/s_modal_product_update.html" %}

  {% endwith %}
  
  {% endif %}

{% endblock %}
