            <details class="td col-span-8 grid grid-cols-12">
              <summary class="col-span-12 mt-auto">{{_("Elementy wchodzące w skład zestawu ") }}<i class="fi-arrow-down text-emerald-500"></i>
              </summary>
              <div id="related_products_list" class="col-span-8 grid grid-cols-12">
                {% for subproduct in related_products_list.get(product.product_id): %}
                <div class="td text-center col-start-1 col-end-2">

                {% with product=subproduct %}
                                      {% include "/common/s_grid_image.html" %}
                {% endwith %}
                </div>

                <div class="td col-start-2 col-end-8">
                {% with object=subproduct, textsize='lg' %}
                {% include "emporium:templates/blade/product/listing_segment/s_product_properties.html"%}
                {% endwith %}
                  <a id="product_name_{{subproduct.product_id}}" href="{{ request.route_url('s_product', seo_slug = subproduct.slug, id = subproduct.product_id) }}" class="text-dark text-sm md:text-base">{{ subproduct.name }}</a>

                </div>
                {% endfor %}
              </div>
            </details>