            <div class="td text-center col-span-3 mx-auto row-span-2">

            {% include "emporium:templates/blade/product/common_segment/s_product_special_info.html" %}  


              {% include "/common/s_grid_image.html" %}

              <div>
                {% with object=product, textsize='3xl' %}
              {% include "emporium:templates/blade/product/listing_segment/s_product_properties.html"%}
              {% endwith %}
              </div>
              <a id="product_name_{{product.product_id}}" href="{{ request.route_url('s_product', seo_slug = product.slug, id = product.product_id) }}" class="text-dark text-sm md:text-base">{{ product.name }}</a>


              <div class="block xl:hidden">              
              {% include "emporium:templates/blade/product/listing_segment/s_product_special_transport.html" %}

              {% if settings['cart_settings']['display_storage'] == 1 %}
                {% include "emporium:templates/blade/product/listing_segment/s_product_storage_summary.html"%}
              {% endif %}
              </div>

            </div>

           <div class="td col-span-3 hidden xl:block">
            
              {% include "emporium:templates/blade/product/listing_segment/s_product_special_transport.html" %}

              {% if settings['cart_settings']['display_storage'] == 1 %}
                {% include "emporium:templates/blade/product/listing_segment/s_product_storage_summary.html"%}
              {% endif %}
            </div>

            <div class="td col-span-6 xl:col-span-3">

              {% include "emporium:templates/blade/product/listing_segment/s_product_input_quantity.html"%}

              {% if settings["cart_settings"]["display_single_set"] == 1: %}
                {% include "emporium:templates/blade/product/listing_segment/s_product_single_set.html"%}
              {% endif %}
            
            </div>
            <div class="td col-span-3">

 
             {% include "emporium:templates/blade/product/listing_segment/s_product_price_summary.html"%}  
 

            {% if settings.price_input=='0': %}

              <small id="price_unit" class="font-normal">cena za {{ 'm<sup>2</sup>'|safe if product.square_meter else 'szt.'}} {{ product.price |number_comma }}  {{settings.currency}}
          
              </small>

            {% endif %}



              <p class="block text-center pt-4">
              {% with text_size='text-5xl', text_align='text-center' %}
                {% include "emporium:templates/blade/common/s_delete_from_cart_block.html" %}
              {% endwith %}          
              </p>

              <input name="{{ product.product_id }}_quantity" size="2" value="{{ product.product_quantity }}" disabled="disabled" type="hidden" id="product_quantity_{{ product.product_id }}">
              <input name="{{ product.product_id }}_unit" value="{{ product.unit if product.square_meter else 1 }}" disabled="disabled" type="hidden">
        
              <input name="{{ product.product_id }}_minimum" value="{{ product.minimum }}" disabled="disabled" type="hidden">
              <input name="product_id" value="{{ product.product_id }}" disabled="disabled" type="hidden" id="product_id">           
              <span class="hidden" id="product_manufacturer_{{ product.product_id }}">{{data_options.manufacturer_dict[product.manufacturer_id].name}}</span>

              <span class="hidden" id="product_price_{{product.product_id}}">{{ '%0.2f'| format(product.calculated_price|float) }}</span>

            </div>