    
    <button class="modal-open button-delete" data-id={{item_id}} data-action_url="{{ action_url }}" data-parameter_name="{{ parameter_name }}" value="icon-{{ item_id }}">
      <i class="fi-trash text-3xl red"></i>
    </button>


