    
    <button class="modal-open button-change button_admin bg-{{'rose' if action_name == 'delete' else 'lime'}}-500 {{additonal_class}}" data-action_name="{{action_name}}" data-id="{{item_id}}" data-action_url="{{ action_url }}{{action_name}}" data-related_data="{{related_data}}" data-parameter_name="{{ parameter_name }}">
      &nbsp;<i class="{{'fi-trash ' | safe if action_name == 'delete' else 'fi-pencil '}}  "></i> {{'usuń' if action_name == 'delete' else 'zapisz'}} {{additional_text|safe}}
    </button>


