{%- macro category_tree(categories_list) -%}
  <ul class="list-none">
  {%- for menuitem in categories_list: -%}
      <li class="pl-6">
        <label>
          <input id="category_tree_{{menuitem.category_id}}" name="category_tree" value="{{menuitem.category_id}}" type="checkbox" {{'checked' if menuitem.category_id in product_categories}}> 
          {{ menuitem.name }}  
        </label>
        {% if menuitem.subcategories: %}
        
          {{ category_tree(menuitem.subcategories) }}
        
        {% endif %}
      </li>
  {% endfor %}
  </ul>
{% endmacro %}


{{ category_tree(data_options.category_tree) }}