
        {% for menuitem in data_options.categories_dict: %}
          <li class="py-2 pl-2">
            <label>
              <input name="category_tree" value="menuitem.category_id" type="checkbox" {{'checked' if menuitem.category_id in product_categories}}> 
                  {{ menuitem.name }}  
            </label>
            {{menuitem}}
            {% if menuitem.subcategories %}
              <ul class="pl-3 nested menu">
              {% with links=menuitem.subcategories %}
                {% include "emporium:templates/emporatorium/common/category_tree.html"%}
              {% endwith %}
              </ul>
            {% endif %}

          </li>

        {% endfor %}