    <div class="col-span-2 text-center grid grid-cols-2 gap-4">
      <a class="ml-auto button_admin bg-cyan-500" href="{{ request.route_url(action_url) }}" id="unfilter_button">{{ _("Wyczyść") }}</a>
      <button class="button_admin bg-cyan-500" id="filter_button" type="submit">{{ _("Filtruj") }}</button>
    </div>