    <div class="col-span-2 bg-white border divide-y flex flex-col 2xl:flex-row gap-4 p-4 text-lg sticky top-0 z-1">

        <a class="button button_admin bg-cyan-500" href="{{ request.referer }}">
            {{_("Wróć") }}
        </a>

        <button form="content_form" type="submit" value="form.submitted" class="button button_admin bg-lime-500 ml-auto" type="submit" value="form.submitted">{{ _("Zapisz") }}</button>
        {{button_right_column}}

    {{button_left_column}}
    </div>
