
                <div class="col-span-6">
                  <i 
                  data-parent="{{primary_type}}_{{data_type}}_{{loop.index}}"
                  data-order="down" 
                  class="change_order order_down {{data_type}} cursor-pointer fi-arrow-down text-5xl my-auto mx-auto text-emerald-{{loop.index if loop.index < 10 }}00 {{'' if list_length - loop.index > 0 else 'hidden'}}" name="order_down"></i>              
                </div>
                <div class="col-span-6">
                  <i
                  data-parent="{{primary_type}}_{{data_type}}_{{loop.index}}"
                  data-order="up"
                   class="change_order order_up {{data_type}} cursor-pointer fi-arrow-up text-5xl my-auto mx-auto text-emerald-{{loop.index if loop.index < 10 }}00 {{ '' if loop.index > 1 else 'hidden'}}" name="order_up"></i>
                </div>