      <div class="emporatorium-top-bar bg-dark block z-3 relative">
        
        <ul class="w-full flex">
          <li class="menu-link">
            <img src='{{ request.static_url("emporium:templates/emporatorium/static/img/spqr_large.png") }}' width="32" height="32">
          </li>

          <li class="group relative dropdown px-4 text-base self-center tracking-wide ">
            <span class="menu-link"><i class="fi-home text-xl blue self-center px-2 py-1 inline-block w-8"></i> <span class="my-auto flex">{{settings.name}}   <svg class="fill-current h-4 w-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
              <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"></path>
            </svg> </span></span>
            <ul class="min-w-200 absolute hidden text-blue group-hover:block">
              <li class="menu-link">
                <a class="submenu-link" href='{{request.route_url("home") }}' id="main_logo">
                <i class="fi-widget text-xl blue self-center inline-block w-6"></i>  {{_("Panel administracyjny") }}
                </a>
              </li>

              <li class="menu-link">
                <a class="submenu-link" href='{{request.route_url("s_home") }}'>
                  <i class="fi-results text-xl blue self-center inline-block w-6"></i>  {{_("Sklep") }}
                </a>
              </li>
            </ul>
          </li>
          
          <li class="menu-link">
            <a class="" href='{{request.route_url("order_list") }}'>
              <i class="fi-shopping-cart text-xl blue self-center px-2 inline-block w-8"></i> {{_("Zamówienia") }}
            </a>
          </li>
          <li class="menu-link">
            <a class="" href='{{request.route_url("product_list") }}'>
              <i class="fi-database text-xl blue self-center px-2 inline-block w-8"></i>{{_("Produkty") }}</a>
          </li>
      
          <li class="group relative dropdown px-4 cursor-pointer text-base  self-center tracking-wide ">
            <span class="menu-link"><i class="fi-plus text-xl blue self-center px-2 py-1 inline-block w-8"></i> <span class="my-auto">{{_("Dodaj") }}</span></span>
            
              <ul class="min-w-200 absolute hidden text-blue group-hover:block">
                <li class="menu-link">
                  <a class="remove_product_cookies" href='{{request.route_url("product_manipulation", action="create") }}'>
                    {{ _('produkt')}}
                  </a>
                </li>
              {% for k,v in { _(' kolekcję'): "collection", _(' producenta'):"manufacturer", _(' wpis'):"post" }.items() %}    
                <li class="menu-link">
                  <a class="remove_product_cookies" href='{{request.route_url(v+"_action", action="create") }}'>
                    {{k}}
                  </a>
                </li>
              {% endfor %}
              {% if settings and settings.get('artisan_products') == '1': %}
                  {% for k,v in {_(' artystę'):'author', _(' zespół'): "band" }.items() %}    
                <li class="menu-link">
                  <a class="remove_product_cookies" href='{{request.route_url(v+"_action", action="create") }}'>
                    {{k}}
                  </a>
                </li>
                {% endfor %}
              {% endif %}
              {% if settings and settings.get('products_require_storage') == '1': %}
                  {% for k,v in {_(' magazyn'):'storage' }.items() %}    
                <li class="menu-link">
                  <a class="remove_product_cookies" href='{{request.route_url(v+"_action", action="create") }}'>
                    {{k}}
                  </a>
                </li>
                {% endfor %}
              {% endif %}

              </ul>
            </li>                        
          </li>
          {{current_page}}
          <li class="lg:ml-auto flex items-center">
            <a class="block bg-green-500 hover:bg-green-900 text-white uppercase p-1 m-1 mr-2" href="http://doc.szybkisklep.com/home.html" target="_new">{{_("Dokumentacja") }}</a>

            <button type="submit" class="block bg-red hover:bg-blue-dark text-white uppercase p-1 m-1" onclick="clearCache()">{{_("Wyczyść cache") }}</button>

            <form action='{{ request.route_url("auth", action="out") }}' method="post" >
              <button type="submit" name="logout" class=" text-white hover:text-gray-100 px-4 flex items-center"><i class="fi-power text-2xl font-semibold orange self-center px-2"></i>{{_("Wyloguj") }}</button>
              <input id="csrf_token_header" name="csrf_token" type="hidden" value="{{ get_csrf_token() }}"/>
            </form>
          </li>
        </ul>

      </div>
