{% set extra_javascripts_footer %}
{% endset %}
{% set extra_stylesheets %}
{% endset %}

{% extends "emporium:templates/emporatorium/common/layout.html" %}
<div class="col-span-12 ">
    <div class="col-span-4 ">
            <form action="#" method="post">
                <input type="submit" name="form.images_to_folders" value="Przenieś zdjęcia do folderów producentów" class="button alert">
            </form>
    </div>
    <div class="col-span-4 ">
            <form action="#" method="post">
                <input type="submit" name="form.manufacturer_folders" value="Utwórz foldery producentów" class="button alert">
            </form>
    </div>
    <div class="col-span-4 ">
            <form action="#" method="post">
                <input type="submit" name="form.images_new_folders" value="Przełącz folder" class="button alert">
            </form>
    </div>
</div>

{{ self.extra_javascripts_footer() }}
