<!doctype html>
<html class="no-js" lang="en" dir="ltr" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en"
      xmlns:tal="http://xml.zope.org/namespaces/tal"
      xmlns:i18n="http://xml.zope.org/namespaces/i18n"
      i18n:domain="emporium">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="EMPR" />
    <meta name="description" content="EMPR" />
    <title>{{title}}</title>
    <link rel="stylesheet" href='{{ request.static_url("emporium:templates/emporatorium/static/css/emporatorium.css") }}' />
    <link rel="shortcut icon" href='{{ request.static_url("emporium:templates/emporatorium/static/favicon.png") }}' />
    <script src='{{ request.static_url("emporium:templates/emporatorium/static/js/vendor/cookie.js") }}'></script>
    <link rel="preconnect" href="https://cdnjs.cloudflare.com">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/2.8.2/alpine.js" integrity="sha512-No22QdEJ4zlXvdQDpm6oeXcjwajpNxvnstx6NEU/5qZFysa5gsgj/bSfAFpSc9Za5LjbgQLRXyCeY53aWmk8ZA==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.8.2/tinymce.min.js" integrity="sha512-rO7lG0ogGLSPJvQXq5GZAwtn6BmtiLvaifWWFzR9vjIQEZ56JV2ccHi/oda2JjA/FG2WZavr2J6yXR8dxz2X+g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.8.2/skins/lightgray/skin.min.css" integrity="sha512-MzfVQ1pQOA4EELlo+T/RD/hgUAhgStXVA2zYKA1UlTo6ZxhoA+djKgMqRIL6U/h+p1bb6lP5XGaZvTgh4sStFw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src='{{ request.static_url("emporium:templates/emporatorium/static/js/emporatorium.js") }}'></script>
    {%- set extra_javascripts_footer -%}
    {%- endset  -%}
  </head>
  <body class="">
    
  {% if request.authenticated_userid: %}

    {% include "emporium:templates/emporatorium/common/header.html" %}

  <div class="bg-cream flex">
    {% include "emporium:templates/emporatorium/common/sidebar.html" %}
    <div class="w-full p-4 mx-auto grid grid-cols-12 gap-y-2 gap-x-4">
      {% block body %}{% endblock %}
    </div>
  </div>

  <input id="csrf_token" name="csrf_token" type="hidden" value="{{ get_csrf_token() }}"/>
  
  {% include "emporium:templates/emporatorium/common/emporatorium_footer_js.html" %}

{%  endif  %}
</body>
</html>
