<!doctype html>
{%- set extra_javascripts_footer -%}
{%- endset  -%}
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="EMPR" />
    <meta name="description" content="EMPR" />
    <title>EMPORIUM</title>
    <link rel="stylesheet" href='{{ request.static_url("emporium:templates/emporatorium/static/css/emporatorium.css") }}' />
    <link rel="shortcut icon" href='{{ request.static_url("emporium:templates/emporatorium/static/favicon.ico") }}' />
    <script src='{{ request.static_url("emporium:templates/emporatorium/static/js/vendor/cookie.js") }}'></script>
    <link rel="preconnect" href='https://cdnjs.cloudflare.com'>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/alpinejs/2.8.2/alpine.js' integrity="sha512-No22QdEJ4zlXvdQDpm6oeXcjwajpNxvnstx6NEU/5qZFysa5gsgj/bSfAFpSc9Za5LjbgQLRXyCeY53aWmk8ZA==" crossorigin="anonymous"></script>

  </head>
  <body class="{{'bg-dark' if not request.authenticated_userid }}">

  <div id="login_section" class="grid grid-cols-8 gap-4">
    <div class="col-start-3 col-span-4 mx-auto">
      <img class="logo" src='{{ request.static_url("emporium:templates/emporatorium/static/img/emporium_large.png") }}' width="512" height="512" />
      <div class="text-small text-white text-right">v.2.5758</div>
      <form action='{{ request.route_url("auth",action=
      "in") }}' method="post" class="w-3/4 mx-auto">
        <input id="csrf_token" name="csrf_token" type="hidden" value='{{ get_csrf_token() }}'/>
        <input type="hidden" name="next" value='{{ next_url }}'>
        <div class="grid grid-col-1 mb-4">
          <label class="mb-2 uppercase font-bold text-lg text-white">{{ _("Login") }}</label>
          <input  name="login" placeholder='Login' class="border py-2 px-3 text-grey-darkest rounded">
        </div>
        <div class="grid grid-col-1 mb-4">
          <label class="mb-2 uppercase font-bold text-lg text-white">{{ _("Hasło") }}</label>
          <input type="password" name="password"  placeholder='{{ _("Hasło") }}' id="" class="border py-2 px-3 text-grey-darkest rounded">
        </div>
        <div class="grid grid-col-1">
          <button type="submit" value='{{ _("Zaloguj") }}' name="form.submitted" class="block bg-blue hover:bg-blue-dark text-white uppercase text-lg ml-auto p-4" id="login_button">{{ _("Zaloguj") }}</button>
        </div>
      </form>
      <div class="text-white mt-24 text-center"><a href='{{ request.route_url("s_home") }}'><button class="button_admin bg-emerald-500">Alboteż wróćże na frątową stronę sklepa</button></a>
      </div>      
    </div>

  </div>
  
    <script src='{{ request.static_url("emporium:templates/emporatorium/static/js/emporatorium.js") }}'></script>
</body>
</html>
