  <div class="admin_paginate">
    <div class="m-auto">
      {% if pager['previous_page']: %}
        <a href='{{ pager["previous_page"].get("href") }}'  class="pager_arrow "  aria-label="wpisz stronę do której chcesz przejść">{{ pager['previous_page'].get('value') | safe }}</a>
      {% endif %}
      {% if pager['current_page'] and pager['last_page']: %}
        <input type="number" value='{{ pager["current_page"].get("value") }}'  oninput="paginateFunction(this)" onchange="paginateFunction(this)"  name="pagination_sorter" min="1" max='{{ pager["last_page"].get("number") }}' step="1" class="">
      {% endif %}
      {% if pager['next_page'] and pager['last_page']: %}
        <span class="px-0 sm:px-2">
          {{ _("z ") }}
        </span>
        <span class="px-0 sm:px-2">
           {{ pager['last_page'].get('number')|string if pager['last_page'].get('number') }}
        </span>
          <a href='{{ pager["next_page"].get("href") }}' class="pager_arrow" aria-label="wpisz stronę do której chcesz przejść">{{ pager['next_page'].get('value')|safe}}</a>
      {% endif %}
    </div>
  </div>