  <form class="col-span-12 grid grid-cols-12  top-1" action="{{ request.route_url(route, _query=(('next', url),)) }}" method="get" name="filter" >
    
    <input type="hidden" name="search" value="true">
    <div class="col-span-1 bg-white p-4 mr-4 mt-4 border-l border-t border-r top-px relative">
      <button form="{{form_name}}" class="button_admin bg-lime-500" tabindex="0" type="submit">
    {{ _("Zapisz zmiany") }}</button>
    </div>
    <div class="col-span-11 grid grid-cols-12 bg-white p-4 my-4 border gap-4">
      <div class="col-span-1">
        <a class="button_admin bg-cyan-500" href="{{ request.route_url('product_manipulation', _query=(('next', request.url),), action = 'create') |safe}}">{{ _("Dodaj produkt") }}</a>
      </div>
      <div class="col-span-2">
        <label>{{ _("Słowo klucz") }}</label>
        <input  name="term" value="{{ filter_params.searchstring.replace('%', '') if filter_params.searchstring else '' }}" class="border-rose-500 border-lime-500 {{'border-lime-500 border-2' if filter_params.searchstring }}">
      </div>
      <div class="col-span-1 ">
        <label>{{ _("Rabat") }}</label>
        <select class="{{'border-lime' if filter_params.manual_discount }}" name="manual_discount">
          <option value="True" {{ 'selected' if filter_params.manual_discount == 'True' }}>Ręczny</option>
          <option value="" {{ 'selected' if filter_params.manual_discount != 'True' }}>Wszystko</option>
        </select>
      </div>
      <div class="col-span-2 ">
        <label>{{ _("Producent") }}</label>
        <select class="{{'border-lime' if filter_params.manufacturer }}" name="manufacturer">
          <option disabled selected value>{{ _("Producent") }}</option>
          {% for item in data_options.manufacturer_dict.values(): %}
          <option value="{{ item.manufacturer_id }}" {{ 'selected' if item.manufacturer_id in filter_params.manufacturer }}>{{ item.name }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-span-2">
        <label>{{ _("Kolekcja") }}</label>
        <select class="{{'border-lime' if filter_params.collection }}" name="collection">
          <option disabled selected value> Kolekcja </option>
          {% for item in data_options.collection_dict.values(): %}
            <option value="{{ item.collection_id }}" {{ 'selected' if filter_params.collection and item.collection_id in filter_params.collection }} >{{ item.name }} ({{item.manufacturer}})</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-span-2">
        <label>{{ _("Sortowanie") }}</label>
        <select class="{{'border-lime' if filter_params.manual_discount }}" name="sort">
          <option value="name_asc" {{ 'selected' if filter_params.sort_method == 'name_asc' }}>{{ _("Nazwa rosnąco") }}</option>
          <option value="name_desc" {{ 'selected' if filter_params.sort_method == 'name_desc' }}>{{ _("Nazwa malejąco") }}</option>
          <option value="price_asc" {{ 'selected' if filter_params.sort_method == 'price_asc' }}>{{ _("Cena rosnąco") }}</option>
          <option value="price_desc" {{ 'selected' if filter_params.sort_method == 'price_desc' }}>{{ _("Cena malejąco") }}</option>
          <option value="mod_desc" {{ 'selected' if filter_params.sort_method == 'mod_desc' }}>{{ _("Właśnie zmienione") }}</option>
          <option value="mod_asc" {{ 'selected' if filter_params.sort_method == 'mod_asc' }}>{{ _("Zmienione dawno") }}</option>
          <option value="add_desc" {{ 'selected' if filter_params.sort_method == 'add_desc' }}>{{ _("Właśnie dodane") }}</option>
          <option value="add_asc" {{ 'selected' if filter_params.sort_method == 'add_asc' }}>{{ _("Dodane dawno") }}</option>
        </select>
      </div>

      {% with action_url = 'product_bulk' %}
        {% include "emporium:templates/emporatorium/common/clear_filter_block.html" %}
      {% endwith %}
    </div>
  </form>
