            <div id="{{primary_type}}_{{progress_name}}_progress">
              <div class="progress_container">
                <div id="progressBar" class="progress_progressbar"></div>
              </div>

              <p id="loaded_n_total"></p>
              <p id="upload_status"></p>
            </div>