  <nav class="flex flex-col flex-wrap bg-dark pl-2 pt-2 min-w-fit min-h-95">
    <div class="flex w-auto flex-col">
      <button class="text-blue font-semibold pt-2 px-4 inline-flex items-center hover:bg-white hover:text-gray-700 w-full group-hover:bg-white border-l-0 hover:border-blue hover:border-l-2 group-hover:border-blue group-hover:border-l-2  border-solid " href='{{request.route_url("home") }}'>
        <a class="submenu-link" href='{{request.route_url("home") }}'><i class="fi-widget text-xl blue self-center inline-block w-6"></i> {{_("Panel admina") }}</a>
      </button>
      {% if settings and settings.get('top_menu'): %}

              

        {% for k, v in settings['top_menu'].items(): %}
          <div class="group relative text-sm lg:flex-grow inline-block flex-col">
             <button class="text-blue font-semibold py-2 px-4 inline-flex items-center hover:bg-white hover:text-gray-700 w-full group-hover:bg-white border-l-0 hover:border-blue hover:border-l-2 group-hover:border-blue group-hover:border-l-2  border-solid">
                {{k}}
                <svg class="fill-current h-4 w-4 ml-auto" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
                </svg>
            </button>
            <ul class="min-w-200 absolute border hidden text-blue pt-1 group-hover:inline-block z-3">
            {% for name,url in v[1].items(): %}
              <li class="flex bg-white hover:bg-white text-blue hover:text-gray-700">
                {% if url[1] == 'create':%}
                &nbsp;<i class="fi-plus text-xl blue self-center px-2 py-1 inline-block w-4"></i>
                {% endif %}
                <a class=" py-2 px-4 block whitespace-nowrap" href="{{ request.route_url(url[0], action=url[1]) }}">
                  {{name}}
                </a>
                
              </li>
            {% endfor %}
            </ul>
          </div>
        {% endfor %}
      {% endif %} 

      {% if settings and settings.get('products_require_storage') == '1': %}

        {% for k,v in { 
          _('Magazyn'): {_('Stany magazynowe'):('product_storage', None), _('Lista magazynów'):('storage_list', None) , _('Dodaj magazyn'):('storage_action', 'create'), _("Masowa zmiana cen"): ("product_bulk", None), },

           }.items():   %}
          <div class="group relative text-sm lg:flex-grow inline-block flex-col">
             <button class="text-blue font-semibold py-2 px-4 inline-flex items-center hover:bg-white hover:text-gray-700 w-full group-hover:bg-white border-l-0 hover:border-blue hover:border-l-2 group-hover:border-blue group-hover:border-l-2  border-solid">
                {{k}}
                <svg class="fill-current h-4 w-4 ml-auto" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
                </svg>
            </button>
            <ul class="min-w-200 absolute border hidden text-blue pt-1 group-hover:inline-block z-3">
            {% for name,url in v.items(): %}
              <li class="flex bg-white hover:bg-white text-blue hover:text-gray-700">
                {% if url[1] == 'create':%}
                &nbsp;<i class="fi-plus text-xl blue self-center px-2 py-1 inline-block w-4"></i>
                {% endif %}
                <a class=" py-2 px-4 block whitespace-nowrap" href="{{ request.route_url(url[0], action=url[1]) }}">
                  {{name}}
                </a>
              </li>
            {% endfor %}     
            </ul>
          </div>
          {% endfor %}

        {% endif %}

      {% if settings and settings.get('artisan_products') == '1': %}

        {% for k,v in { 
          _('Artyści/Zespoły'): {_('Lista artystów'):('author_list', None) , _('Dodaj artystę'):('author_action', 'create'),_('Lista zespołów'):('band_list', None) , _('Dodaj zespół'):('band_action', 'create')  },
          _('Producenci/Wydawnictwa'): {_('Lista producentów'):('manufacturer_list', None) , _('Dodaj producenta'):('manufacturer_action', 'create') },
           }.items():   %}
          <div class="group relative text-sm lg:flex-grow inline-block flex-col">
             <button class="text-blue font-semibold py-2 px-4 inline-flex items-center hover:bg-white hover:text-gray-700 w-full group-hover:bg-white border-l-0 hover:border-blue hover:border-l-2 group-hover:border-blue group-hover:border-l-2  border-solid">
                {{k}}
                <svg class="fill-current h-4 w-4 ml-auto" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
                </svg>
            </button>
            <ul class="min-w-200 absolute border hidden text-blue pt-1 group-hover:inline-block z-3">
            {% for name,url in v.items(): %}
              <li class="flex bg-white hover:bg-white text-blue hover:text-gray-700">
                {% if url[1] == 'create':%}
                &nbsp;<i class="fi-plus text-xl blue self-center px-2 py-1 inline-block w-4"></i>
                {% endif %}
                <a class=" py-2 px-4 block whitespace-nowrap"  href="{{ request.route_url(url[0], action=url[1]) }}">
                  {{name}}
                </a>
              </li>
            {% endfor %}     
            </ul>
          </div>
          {% endfor %}

        {% endif %}
    </div>

  </nav>