<div class="admin_title grid grid-cols-12">
	<div class="col-span-6">
		<h4 id="{{id}}" class="text-2xl "><span class="{{color}}">{{ title }}</span> {{additional_title}}</h4>
	</div>
	
	<div class="col-span-6">
		{{additional_field}}

	</div>
</div>