<link rel="stylesheet" href='{{ request.static_url("emporium:templates/emporatorium/static/js/trumbowyg/ui/trumbowyg.min.css") }}'>
<script src='{{ request.static_url("emporium:templates/emporatorium/static/js/jquery.min.js") }}' type="text/javascript"></script>
<script src='{{ request.static_url("emporium:templates/emporatorium/static/js/trumbowyg/trumbowyg.min.js") }}' type="text/javascript"></script>
<script src='{{ request.static_url("emporium:templates/emporatorium/static/js/trumbowyg/plugins/cleanpaste/trumbowyg.cleanpaste.min.js") }}' type="text/javascript"></script>
<script src='{{ request.static_url("emporium:templates/emporatorium/static/js/trumbowyg/plugins/upload/trumbowyg.upload.min.js") }}' type="text/javascript"></script>
<script src='{{ request.static_url("emporium:templates/emporatorium/static/js/trumbowyg/plugins/more/trumbowyg.more.js") }}' type="text/javascript"></script>
<script src='{{ request.static_url("emporium:templates/emporatorium/static/js/trumbowyg/langs/pl.min.js") }}' type="text/javascript"></script>
