  <!--Modal-->
  <div class="modalpopup fixed w-full h-full top-0 left-0 flex items-center justify-center modalpopup-layer z-2">
    <div class="modalpopup-overlay absolute w-full h-full bg-gray-900 opacity-50"></div>
    
    <div class="modalpopup-container bg-white w-11/12 md:max-w-md mx-auto rounded shadow-lg z-50 overflow-y-auto">
      
      <div class="modalpopup-close absolute top-0 right-0 cursor-pointer flex flex-col items-center mt-4 mr-4 text-white text-sm z-50">
        <svg class="fill-current text-white" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
          <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
        </svg>
      </div>

      <div class="modalpopup-content py-4 text-left px-6 z-1">
        
        <!--Title-->
        <div class="flex justify-between items-center pb-3">
          <p id="modalpopup_title" class="text-2xl font-bold"></p>
          <div class="modalpopup-close cursor-pointer z-50">
            <svg class="fill-current text-black" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
              <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
            </svg>
          </div>
        </div>

        <!--Content-->
        <div id="modalpopup_description" class="justify-center pt-2">
           {{settings.get('popup')|safe}}
         </div>
           <button class="button success cursor-pointer text-center" href="#" onclick="modalAkceptiren()">OK</button>
      </div>
    </div>
  </div>
