{% extends "/common/s_layout.html" %}


{% set xsearch %}{{ request.route_url(misc_options.search_url) }}{% endset %}
{% set xterm %}{% endset %}

<div id="404" class="page text-center">
  <h1 class="humongus"><span class="font-bold">404</span></h1>
  <h4><span class="font-semi-bold orange">Szukana strona się wypślizła...</span></h4>
</div>