/*! purgecss start ignore */
.banner {
  min-height: 120px;
  max-height: 288px;
  display: block;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.1);
  border: 1px solid #eee;
  .caption {
    background-color: rgba(255,255,255,.7);
    padding: .3rem;
    padding-right: 1.5rem;
    position: absolute;
    color: #000B29;
    font-size: 1rem;
    margin-bottom: 0;
    &__primary {
      bottom: 0.7rem;
      right: 0;
    }
    &__secondary {
      left: 0;
      top: 1rem;
    }
  }
}
/*! purgecss end ignore */