{% extends "emporium:templates/emporatorium/common/layout.html" %}
{% block body %}

{% with title = 'Ustawienia wyglądu - sekcje główne'%}
  {% include "emporium:templates/emporatorium/common/title.html" %}
{% endwith %}

{% include "emporium:templates/emporatorium/common/edit_left.html" %}

    {% include "emporium:templates/emporatorium/common/edit_right.html" %}


    <div class="col-span-10 grid grid-cols-12 sticky top-0 bg-white relative z-1 border text-lg border-b-2">


<div class="col-span-10 grid grid-cols-12 sticky top-0 bg-white relative z-1 border text-lg border-b-2">
  <nav class="col-span-12 flex flex-row divide-x">

    {% for k,v in {
    'Status':{'icon':'photo', 'link':'settings_block_main'}, 
    'Informacje':{'icon':'info', 'link':'settings_block_info'}, 
    'Rozliczenia':{'icon':'shopping-cart', 'link':'settings_block_info'},
    'Magazyn':{'icon':'database', 'link':'settings_block_storage'},
    'Rozliczenia':{'icon':'dollar', 'link':'settings_block_currency'}, 
    'Wymiary':{'icon':'widget', 'link':'parameters'}, 
    'Ceny':{'icon':'euro', 'link':'finance'}, 
    'Zakup':{'icon':'shopping-cart', 'link':'main_cart'}, 
    'Zdjęcia':{'icon':'photo', 'link':'main_image_section'}, 
    'Kategoria/Opis':{'icon':'clipboard-pencil', 'link':'main_category'}, 
    'Kalendarz':{'icon':'calendar', 'link':'calendar'}, 
    'Relacje':{'icon':'shuffle', 'link':'product_relations'} }.items(): %}
    <a class="block py-1 px-2 border-l-3 border-cyan-200 hover:border-cyan-400" href="#{{v['link']}}"><i class="fi-{{v['icon']}} text-3xl text-cyan-{{ 10 - loop.index }}00"></i> {{k}}</a>
    {% endfor %}
    
  </nav>
</div>

    <form id="content_form" name="content_form" action='{{ request.route_url("settings_main") }}' method="post" class="col-span-12 bg-white pl-16 p-4 border">
      <input id="csrf_token" name="csrf_token" type="hidden" value="{{ get_csrf_token() }}"/>



      <div class="col-span-12 grid grid-cols-12 divide-y gap-4">

    <div class="main_settings_block" id="settings_block_display">
      <i class="fi-graph-bar text-amber-300 main_icon"></i>
      

      <div class="col-span-3">
        <label for="compare_products">{{ _("Porównywarka") }}</label>
        <select name="compare_products" id="compare_products" class="">
          <option value="0" {{ 'selected' if settings_dict and settings_dict.get('compare_products') == '0'}}>{{ _("wyłącz") }}</option>
          <option value="1" {{ 'selected' if settings_dict and settings_dict.get('compare_products') == '1'}}>{{ _("załącz") }}</option>  
        </select>
      </div>
      

      <div class="col-span-3">
        <label for="main_page">{{ _("Strona głowna - pokazuje statyczną stronę") }}</label>
        <select name="main_page" id="main_page" class="">
        {% for item in pages: %}
          <option value="{{item.page_id}}" {{ 'selected' if settings_dict and settings_dict.get('main_page')|int == item.page_id}}>{{ item.title }}</option>   
        {% endfor %}
        </select>
      </div>


      <div class="col-span-3">
        <label for="main_page">{{ _("Strona polityki cookie") }}</label>
        <select name="main_page" id="main_page" class="">
        {% for item in pages: %}
          <option value="{{item.page_id}}" {{ 'selected' if settings_dict and settings_dict.get('main_page')|int == item.page_id}}>{{ item.title }}</option>   
        {% endfor %}
        </select>
      </div>

      <div class="col-span-3">
        <label for="main_page">{{ _("Strona regulaminu") }}</label>
        <select name="main_page" id="main_page" class="">
        {% for item in pages: %}
          <option value="{{item.page_id}}" {{ 'selected' if settings_dict and settings_dict.get('main_page')|int == item.page_id}}>{{ item.title }}</option>   
        {% endfor %}
        </select>
      </div>


    </div>


      </div>
    
    </form>
  </div>



{% endblock%}