{% set extra_javascripts_header %}{% endset %}
{% set title %}{{ _("Porównywarka") }} - {{ settings['name'] }}{% endset %}
{% set extra_javascripts_footer %}

  {% for item in ('compare.js','update_cart.js','update_compare.js','update_button.js',): %}
    <script type="text/javascript" src='{{ request.static_url("emporium:templates/case/static/js/" + item) }}'></script>
  {% endfor %}

{% endset %}

{% set extra_stylesheets %}{% endset %}
{% set xsearch %}{{ request.route_url(misc_options.search_url) }}{% endset %}
{% set xterm %}{% endset %}

{% extends "/common/s_layout.html" %}
{{ self.extra_javascripts_header() }}


{% block body %}

<div class="col-span-12 grid grid-cols-12 page-internals my-2">

  <div class="col-span-12 text-xl {{'my-16' if not product_listing}}">
    {{ _("Porównywarka ") }} {{'jest pusta.' if not product_listing }}
  </div>

  {% if product_listing: %}
    <table class="table col-span-12 flex">
      <tr class="tr">
        <th class="w-1/12 br-2">
          {{ _("Nazwa") }}
        </th>
        {% for v in product_listing['product']: %}
          <td class="td w-2/12">
            <a class="blue" id="product_name_{{v[0]}}" href="{{ request.route_url('s_product', seo_slug=v[1], id=v[0]) }}">{{ v[2] }}</a>
          </td>
        {% endfor %}
      </tr>
      <tr class="tr">
        <th>
          {{ _("Zdjęcie") }}
        </th>
        {% for v in product_listing['product_full_info']: %}
          <td class="td">

            {% with product=v %}
              {% include "/common/s_grid_image.html" %}
            {% endwith %}
          </td>
        {% endfor %}
      </tr>
      <tr class="tr">
        <th>
          {{ _("Koszyk") }}
        </th>
        {% for v in product_listing['product_full_info']: %}
          <td class="td">

            {% with product=v, text_size='text-3xl' %}
              {% include "emporium:templates/case/common/s_add_to_cart_block.html" %}
              {% include "emporium:templates/case/common/s_delete_from_cart_block.html" %}
            {% endwith %}

          </td>
        {% endfor %}
      </tr>
      <tr class="tr">
        <th>
          {{ _("Cena") }}
        </th>
        {% for v in product_listing['price']: %}
          <td class="td">
            {{ '<strike>' + v[0] + '</strike>' + v[1]  if v[1] else v[0] |safe}} 
              zł/{{ 'm<sup>2</sup>'|safe if v[2] else '/szt.' |safe}}
          </td>
        {% endfor %}
      </tr>
      <tr class="tr">
        <th class="w-2/12 br-2">
          {{ _("EAN") }}
        </th>
        {% for v in product_listing['ean']: %}
          <td class="td">
            {{v.ean}}
          </td>
        {% endfor %}
      </tr>
      <tr class="tr">
        <th>
          {{ _("Sprzedaż na ") }}
        </th>
        {% for v in product_listing['unit']: %}
          <td class="td">
            {{ 'opakowania' |safe }}
          </td>
        {% endfor %}
      </tr>
      <tr class="tr">
        <th>
          {{ _("Jed. sprzedaży") }}
        </th>
        {% for v in product_listing['unit']: %}
          <td class="td">
            {{ v[0] + ' m<sup>2</sup>'|safe if v[1] else 'szt.' |safe}}
          </td>
        {% endfor %}
      </tr>
      <tr class="tr">
        <th>
          {{ _(" Min. zamówienie") }}
        </th>
        {% for v in product_listing['minimum']: %}
          <td class="td">
            {{ v[0] + ' opak.' if v[1] else 'szt.' |safe}}
          </td>
        {% endfor %}
      </tr>
      <tr class="tr">
        <th>
          {{ _("W opakowaniu") }}
        </th>
        {% for v in product_listing['pieces']: %}
          <td class="td">
            {{ v + " szt." if v |safe}}
          </td>
        {% endfor %}
      </tr>
      <tr class="tr">
        <th>
          {{ _("Producent") }}
        </th>
        {% for v in product_listing['manufacturer']: %}
          <td class="td">
            <a class="blue" id="product_manufacturer_{{v[2]}}" href="{{ request.route_url('s_search', _query={'manufacturer': v[0] }) }}">{{ v[1] }}</a>
          </td>
        {% endfor %}
      </tr>
      {% if product_listing.collections: %}
      <tr class="tr">
        <th>
          {{ _("Kolekcje") }}
        </th>
        {% for product_collections in product_listing.collections: %}
          <td class="td">
            {% if product_collections: %}
            {% for element in product_collections: %}
              <a class="blue" href="{{ request.route_url('s_search', _query={'collections': element }) }}">
                {{ data_options.collection_dict[element].name }}</a>
            {% endfor %}
            {% endif %}
          </td>
        {% endfor %}
      </tr>
      {% endif %}
      {% for attribute_group in data_options.attribute_dict.values(): %}
      <tr class="tr">
        <th>
          {{ attribute_group.name }}
        </th>
        {% for product_attributes in product_listing.attributes: %}
          <td class="td"> 
            {% for element in product_attributes: %} 
              <a class="blue" href="{{ request.route_url('s_search',  _query={'attributes': element }) }}">{{ attribute_group.attributes.get(element).value }}</a>
            {% endfor %}
          </td>
        {% endfor %}
      </tr>
      {% endfor %}
      <tr class="tr">
        <th>
          {{ _("Uwagi") }}
        </th>
        {% for v in product_listing['product_full_info']: %}
          <td class="td"><b>
            {{ _("Darmowy transport od <span class="orange">') |safe
                + v.allowed_free_transport_minimum_amount | string
                + _(" paczek </span>")
                | safe
                if v.allowed_free_transport
                and v.allowed_free_transport_minimum_amount
                else ""}}</b>
          </td>
        {% endfor %}
      </tr>
      <tr class="tr">
        <th>
          {{ _("Porównywarka") }}
        </th>
        {% for v in product_listing['product']: %}
          <td class="td">
            <a class="blue text-5xl remove_from_compare left" product_id="{{ v[0] }}" onClick="removeFromCompare(this)" title='{{_("Usuń produkt z porównania") }}'>
              <i class="trash"></i>
            </a>
          </td>
        {% endfor %}
      </tr>
    </table>

  {% include "/modal/s_modal_product_update.html" %}
  {% else: %}
</div>

  {% with icons_visible= settings.get('display_icons_on_filler')  %}
    {%  include "emporium:templates/case/common/s_filler.html" %}
  {% endwith %}

{% endif %}
      <span class="hidden" id="currency">{{ settings.iso_currency }}</span>

{% endblock %}
