{% set sidebar %}True{% endset %}
{% extends "/common/s_layout.html" %}
{% set extra_javascripts_header %}

{% endset %}
{% set extra_javascripts_footer %}

  {% if settings['product_settings']['display_compare_products'] == 1 %}
  <script src='{{ request.static_url("emporium:templates/case/static/js/update_compare.js") }}'></script>
  {% endif %}

  
  {% if banners: %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/glide.min.js" integrity="sha512-BXASbMmKLu+RC5TDnkupyhvrjiOQXILh/5zgIS8k5JAC71a73lNweVEg/X+9XJQ7GK22PH9WpztY3zqrji+xrQ==" crossorigin="anonymous"></script>
  <script type="text/javascript">
    new Glide('.glide', {
      type: 'carousel',
      startAt: 0,
      perView: 6,
      autoplay: 3500,
      breakpoints: {
        1200: {
          perView: 3
        },
        1000: {
          perView: 2
        },
        440: {
          perView: 1
        }
      }
    }).mount(
    
    )
  </script>
  {% endif %}

{% endset %}

{% set rel %}<link rel="canonical" href='{{ request.route_url("s_home") }}' />{% endset %}
{% set title %}{{ settings.get("home_title") }} {{ settings['name'] }} {% endset %}
{% set meta_description %}{{ settings.get("meta_description") }}{% endset %}
{% set xsearch %}{{ request.route_url(misc_options.search_url) }}{% endset %}
{% set xterm %}{% endset %}


{% block body %}

{% include "emporium:templates/case/common/s_sidebar.html" %}

<div class="col-span-12 md:col-span-8 lg:col-span-9 2xl:col-span-10 home-page">

  {% if banners: %}
    {% include "emporium:templates/case/home/s_banner.html" %}
  {% endif %}

  {% if latest_products: %}
  <div class="page-internals my-2">
   <h5 class="">{{ _("Najnowsze produkty") }}</h5> 
    <div class="grid grid-cols-12 gap-4 ">
    {% with number_products = latest_products|count, products=latest_products|shuffle %}
      {% include "emporium:templates/case/product/s_product_grid.html" %}
    {% endwith %}
    </div>
  </div>
  {% endif %}
  
  {% if selling_options.featured_products| length > 1 %}
    {% with icons_visible=settings.get('display_icons_on_filler') %}
      {% include "emporium:templates/case/common/s_filler.html" %}
    {% endwith %}
  {% endif %}
  
  {% if blocks: %}
    <div class="col-span-12 page-internals my-2 mx-4 md:mx-0">
      {% for item in blocks: %}
      <div class="grid grid-cols-12 gap-4 ">
        <div class="col-span-{{ item.size }} {{ 6 if item.size != 12 else 12 }} ">
          <h5 class="">{{ item.title }} </h5>
          <div class="text-sm">{{ item.content | safe }}</div>
        </div>
      </div>
      {% endfor %}
    </div>
  {% endif %}
  {% include "emporium:templates/case/modal/s_modal_product_update.html" %}
</div>

{% endblock %}