{% extends "emporium:templates/emporatorium/common/layout.html" %}


{% block body %}

  {% with id='category_list_header',title = 'Kategorie', pager = categories.link_map() %}
    {% include "emporium:templates/emporatorium/common/title.html" %}
    {% include "emporium:templates/emporatorium/common/paginate.html" %}
  {% endwith %}


<div class="col-span-12 grid grid-cols-12 bg-white p-4 my-4 border gap-4">
  {% with action_url = 'category_action', orphan_url = 'category_list' %}
    {% include "emporium:templates/emporatorium/common/add_orphans_block.html" %}
  {% endwith %}
</div>

<table class="table col-span-12">
  <thead>
    <tr>
      <th class="w-1/12">{{ _("Edycja") }}</th>
      <th class="w-2/12">{{ _("Zdjęcie") }}</th>
      <th class="w-4/12">{{ _("Nazwa") }}</th>
      <th class="w-2/12">{{ _("Stan") }}</th>
      <th class="w-2/12"></th>
    </tr>
  </thead>
  <tbody>
  {% for item in categories_list: %}
  <tr class="tr">
    <td class="td px-4">
      <a href="{{ request.route_url('category_action', action = 'edit', _query=(('category_id',item.category_id),)) }}" class="button_admin bg-cyan-500">
        {{ _("Edytuj") }}
      </a>
    </td>
    <td class="td px-4">
      <img src='{{ request.static_url("emporium:images/")+ item.image }}' />
    </td>
    <td class="td px-4">
      {{ item.name }}
    </td>
    <td class="td px-4">
      {{ "Załączone" if item.status == 1 else "<span class='orange'>Wyłączone</span>"|safe}}
    </td>
    <td class="td px-4">
      {% with item_id = item.category_id, action_url = "category_", action_name="delete", parameter_name = "category_id" %}
        {% include "emporium:templates/emporatorium/common/button_change.html" %}
      {% endwith %}
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>

{% include "emporium:templates/emporatorium/common/change_modal.html" %}


  <span class="hidden">
    <p id="txt_delete">{{ _("Potwierdź usunięcie kategorii") }}</p>
    <p id="txt_success_delete">{{ _("Pomyślnie usunięto kategorię - sprawdź czy są produkty bez kategorii") }}</p>
  </span>


{% endblock %}