
{% for menuitem in links: %}
  {% if menuitem.placeholder %}
    <li class="pt-2 pl-1">
    <span class="uppercase blue text-sm">
  {% else %}
    <li class="pl-2">
    <input type="checkbox" value="{{ menuitem.category_id}}"> 
  {% endif %}
    {{ menuitem.name }}
  {{ '</span>' | safe if menuitem.placeholder else ''}}
      
  {% if menuitem.subcategories %}
    <ul class="pl-3 nested menu">
    {% with links=menuitem.subcategories %}
      {% include "emporium:templates/emporatorium/category/category_tree.html"%}
    {% endwith %}
    </ul>
  {% endif %}

  </li>

{% endfor %}