{% extends "emporium:templates/emporatorium/common/layout.html" %}
{% block body %}

{% include "emporium:templates/emporatorium/common/edit_left.html" %}
    
    <div class="col-span-10 grid grid-cols-12">
    
      {% with title = ('Edytuj' if options.action == 'edit' else 'Dodaj') + ' kategorię' %}
        {% include "emporium:templates/emporatorium/common/title.html" %}
      {% endwith %}

      <nav class="tabs col-span-12 flex flex-row pt-4">
        {% for item in ('Główne', 'Produkty'): %}
          <button data-target="panel-{{loop.index}}" class="tab block bg-blue hover:bg-blue-dark text-white p-2 m-2 {{'ml-0 active' if loop.index == 1}} text-center">{{item}}</button>
        {% endfor %}
      </nav>

    <form action='{{ request.route_url("category_action", action=options.action) }}' method="post" class="col-span-12 bg-white p-4" id="content_form" name="content_form">
    <input id="csrf_token" name="csrf_token" type="hidden" value="{{ get_csrf_token() }}"/>
    {% if form.errors.items(): %}
      {% for fieldName, errorMessages in form.errors.items(): %}
        {{ fieldName.title() }} - {{ errorMessages }}
      {% endfor %}
    {% endif %}

    <div id="panels" class="grid grid-cols-1 col-span-12">
      <div class="tab-content panel-1 grid-cols-12 col-span-1  active">
        <div class="col-span-6 grid grid-cols-12 gap-4 pr-4">
          <div class="col-span-6">
            <label for="name">{{ _("Nazwa") }}</label>
            <input required id="name" name="name"  value="{{ category.name if category }}" class="">
          </div>
          <div class="col-span-6">
            <label for="status">{{ _("Status") }}</label>
            <select id="status" name="status" class=" bg-white" required>
              <option value="1" {{ ('selected' if category.status == 1 else "") if product |safe }}>{{ _("Załączony") }}</option>
              <option value="0" {{ ('selected' if category.status == 0 else "") if product |safe }}>{{ _("Wyłączony") }}</option>
            </select>
          </div>

            <div class="col-span-6">
                <label for="parent_id">{{ _("Kategoria nadrzędna") }}</label>
                <select id="parent_id" name="parent_id"  class=" bg-white" required>
                <option selected value='0'>To jest kategoria główna</option>
                {% for option in categories_list: %}
                    <option value="{{ option.category_id }}" {{ 'selected' if category and category.parent_id== option.category_id }}>{{ option.name }}</option>
                {% endfor %}  
                </select>
            </div>
            <div class="col-span-6">
                <label for="top">{{ _("Kolejność") }}</label>
                <input id="top" name="top"  value="{{ (category and category.top) or '1' }}" class="">
            </div>
            <div class="col-span-6">
                <label for="sort_order">{{ _("Sortowanie") }}</label>
                <input id="sort_order" name="sort_order"  value="{{ (category and category.sort_order) or '1' }}" class="">
            </div>
            <div class="col-span-6">
                <label for="language_id">{{ _("Język") }}</label>
                <select id="language_id" name="language_id" class="" required>
                    <option value="2" {{ ('selected' if category_description.language_id == 2 else "") if category |safe }}>PL</option>
                    <option value="1" {{ ('selected' if category_description.language_id == 1 else "") if category |safe }}>EN (ander konstrakszyn)</option>
                  </select>
            </div>
            <div class="col-span-12">
              <label for="u_title">{{ _("Tytuł strony (Title)") }}</label>
              <input id="u_title" name="u_title"  value="{{ (category  and category_description.u_title) or '' }}" class="">
            </div>
            <div class="col-span-6">
                <label for="u_h1">{{ _("Nagłówek strony (H1)") }}</label>
                <input id="u_h1" name="u_h1"  value="{{ (category and category_description.u_h1) or '' }}" class="">
            </div>
            <div class="col-span-6">
                <label for="seo_slug">{{ _("Link seo") }}</label>
                <input id="seo_slug" name="seo_slug"  value="{{ (category and category_description.seo_slug) or '' }}" class="">
            </div>
            <div class="col-span-6">

            </div>
          </div>
          <div class="col-span-6">
              <label for="description">{{ _("Opis (I) - wyświetlany na szczycie strony (max. 160 słów)") }}</label>
              <textarea class="" id="description" name="description">{{ (category and category_description.description|safe) or ''}}</textarea>

              <label for="description_long">{{ _("Opis (II) - wyświetlany na dole strony (po liście produktów)") }}</label>
              <textarea class="" id="description_long" name="description_long">{{ (category and category_description.description_long|safe) or ''}}</textarea>
              
              <label for="meta_description">{{ _("Meta opis (meta description)") }}</label>
              <textarea id="meta_description" name="meta_description">{{ (category and category_description.meta_description|safe) or ''}}</textarea>

          </div>       
        </div>

        <div class="tab-content panel-2 grid-cols-1 col-span-12 gap-4">
          <label for="product_list">{{ _("Lista produktów") }}</label>
          <input id="product_list" name="product_list"  value="">
        </div>

        <input id="category_description_id" name="category_description_id" type="hidden" value="{{ (category and category_description.category_description_id) or  '' }}">
        <input id="category_id" name="category_id" type="hidden" value="{{ (category and category.category_id) or '' }}">

      </div>
    </form>
  </div>

    {% include "emporium:templates/emporatorium/common/edit_right.html" %}

    {% include "emporium:templates/emporatorium/common/trumbowyg.html" %}


<script src='{{ request.static_url("emporium:templates/emporatorium/static/js/selectize.min.js") }}' type="text/javascript"></script>
<script type="text/javascript">


var $name = $('#product_list').selectize({
    valueField: 'id',
    labelField: 'name',
    searchField: 'name',
    plugins: ['remove_button'],
    create: false,
    preload: true,
    options: {{ (products_json) | string | safe or '[]' }},
    items: {{ (products_ids) | string | safe or '[]'}},
    load: function(request, response) {
        if (request.length < 3) return response();
        $.ajax({
            url: '/limitless_product_search',
            type: 'GET',
            dataType: 'json',
            data: {
                term: request,
            },
            error: function() {
                response();
            },
            success: function(res) {
                response(res);
            }
        });
    }

});

    $('#description, #description_long').trumbowyg({
    lang: 'pl',
    });
  </script>


{% endblock %}

{{ self.extra_javascripts_footer() }}