{% extends "emporium:templates/emporatorium/common/layout.html" %}
{% block body %}
  <div class="col-span-12 grid grid-cols-12">
      
    {% with title = ('Meta opisy') %}
      {% include "emporium:templates/emporatorium/common/title.html" %}
    {% endwith %}

    <form class="col-span-12 grid grid-cols-12 gap-4" action='{{ request.route_url("category_meta_tree', _query=(('next', request.url),)) }}" id="topbar_filter" method="get" name="filter" >
      <input type="hidden" name="search" value="true">
          <div class="col-span-1">
            <label>Kategoria</label>
            <select id="input-category" name="category">
              <option disabled selected value>Kategoria</option>
              {% for item in category_sequence: %}
              <option value="{{ item.category_id }}">{{ item.name }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="md:col-span-2 col-span-6 ">
            <label>{{ _("Producent") }}</label>
            <select id="input-manufacturer" name="manufacturer">
              <option disabled selected value>{{ _("Producent") }}</option>
              {% for item in manufacturer_list: %}
              <option value="{{ item[0] }}">{{ item[1] }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="md:col-span-2 col-span-6 ">
            <label>{{ _("Kolekcja") }}</label>
            <select id="input-collection" name="collection">
              <option disabled selected value> Kolekcja </option>
              {% for item in collection_list: %}
              <option value="{{ item.collection_id }}">{{ item.name }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="md:col-span-2 col-span-6 ">
            <label>Sortowanie</label>
            <select id="sort" name="sort">
              <option value="name_asc" {{ 'selected' if filter_params.get('sort_method') == 'name_asc' }}>{{ _("Nazwa rosnąco") }}</option>
              <option value="name_desc" {{ 'selected' if filter_params.get('sort_method') == 'name_desc' }}>{{ _("Nazwa malejąco") }}</option>
            </select>
          </div>

          {% with action_url = 'product_bulk' %}
            {% include "emporium:templates/emporatorium/common/clear_filter_block.html" %}
          {% endwith %}
        
        </form>

        <div class="col-span-12 text-blue">
          {{ pager(curpage_attr={'class': 'current' }) | safe }}  
        </div>

        <form method="post" name="price_update" id="price_update" class="col-span-12 grid grid-cols-12">
          <input type="hidden" name="price_update" value="true">
          <button class="button alert" type="submit" id="absolute_button_hack">Zapisz nowe ceny</button>
          <table class="table col-span-12">
            <thead>
              <tr>
                <th class="w-3/12"></th>
                <th class="w-1/12"></th>
                <th class="w-4/12"></th>
                <th class="w-14/12"></th>
              </tr>
            </thead>
            <tbody class="">
            {% for item in category_meta: %}

              <tr class="tr">
                <td class="td">
                  <input type="hidden" name="" value="{{ item.category_meta_tree_id }}" class="item_{{ item.category_meta_tree_id }}">
                 {{ _("Kategoria") }}: {{ item.category }} <br>
                  {% if item.manufacturer%}
                    <span class='pl-6'>{{ _("Producent") }}: {{ item.manufacturer or '-'}}</span><br>
                  {% endif %}
                  {% if item.manufacturer %}
                     <span class='pl-12'>{{ _("Kolekcja") }}: {{ item.collection or '-'}}</span>
                  {% endif %}
                </td>
                <td class="td">
                  <label for="u_title">{{ _("Tytuł strony (Title)") }}</label>
                  <input id="u_title" name="u_title"  value="{{ item.u_title }}" class="">
                    <label for="u_h1">{{ _("Nagłówek strony (H1)") }}</label>
                    <input id="u_h1" name="u_h1"  value="{{ item.u_h1 }}" class="">

                    <label for="seo_slug">{{ _("Link seo") }}</label>
                    <input id="seo_slug" name="seo_slug"  value="{{ item.seo_slug }}" class="">
                    <label for="meta_description">{{ _("Meta opis (meta description)") }}</label>
                    <input id="meta_description" name="meta_description"  value="{{ item.meta_description  }}" class="">
                </td>
                <td class="td">
                  <label for="description">{{ _("Opis (I) - wyświetlany na szczycie strony (max. 160 słów)") }}</label>
                  <textarea class="description" id="description" name="description">
                      {{ item.description |safe or ''}}
                  </textarea>
                </td>
                <td class="td">
                  <label for="description_long">{{ _("Opis (II) - wyświetlany na dole strony (po liście produktów)") }}</label>
                  <textarea class="description" id="description_long" name="description_long">
                      {{ item.description_long |safe or ''}}
                  </textarea>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </form>
      </div>




<script type="text/javascript">

  $(".price_input").change(function () {
      var ID = $(this).attr('price_id');
      $(this).attr('name', 'price_' + ID);
      $(".product_" + ID).attr('name', 'category_meta_tree_id');
  });

  $(".discount_input").change(function () {
      var ID = $(this).attr('discount_id');
      $(this).attr('name', 'discount_' + ID);
      $(".product_" + ID).attr('name', 'category_meta_tree_id');
  });

    $('.description').trumbowyg({
    lang: 'pl',


    });

</script>

{% endblock %}