{% if settings.get('shop_status') == '4': %}
  <b>{{ _("W dniach") }} {{settings.get("date_start") }} - {{settings.get('date_end") }} {{_("jesteśmy na ") }} <span class="orange">{{ _("urlopie") }}</span>.</b><br>
  {{_("Czas realizacji zamówień i odpowiedzi na zapytania złożone w tym terminie może ulec wydłużeniu") }}.
{% endif %}


{% if settings.get('shop_status') == '3': %}
  <b>{{ _("W dniach") }} {{settings.get("date_start") }}<->{{settings.get("date_end") }} {{_("jesteśmy na ") }} <span class="orange">{{ _("szkoleniu") }}</span>.</b><br>
  {{_("Czas realizacji zamówień i odpowiedzi na zapytania może ulec wydłużeniu") }}.
{% endif %}