{% set extra_javascripts_header %}{% endset %}
{% set extra_javascripts_footer %}

<script src='{{ request.static_url("emporium:templates/blade/static/js/order.js') }}"></script>
 
{% endset %}
{% set extra_stylesheets %}{% endset %}
{% set xsearch %}{{ request.route_url(misc_options.search_url) }}{% endset %}
{% set xterm %}{% endset %}
{% extends "/common/s_layout.html" %}

{% block body %}

  <div class="md:col-span-8 md:col-start-3 col-span-12 page-internals my-2 grid grid-padding-x ">
    <div class="flex justify-between">
      {% if session['uid']: %}
        <span class="text-2xl">{{ _("Szczegóły zakupu") }}</span> 
      {% else: %}
        <span class="text-2xl">{{ _("Szybki zakup") if session['order_type'] == "quick_buy" else _("Zakup w wraz z rejestracją konta") }} </span> 
        <form action='{{ request.route_url("s_order_change_data") }}' method="post" class="form-inline" id="order_form" name="order_form">
          <input id="csrf_token_one" name="csrf_token" type="hidden" value="{{ get_csrf_token() }}"/>
          <p class="text-center ">
            <input type="submit" class="block bg-blue hover:bg-blue-dark text-white p-2 m-2 text-center" value="{{ _('Zmień wybór') }}">
            </p>
        </form>
      {% endif %}
    </div>
    <form action='{{ request.route_url("s_order") }}' id="order_summary" method="post" name="order_summary" class="grid " >
      <input id="csrf_token_two" name="csrf_token" type="hidden" value="{{ get_csrf_token() }}"/>
      <div class="col-span-12 grid grid-padding-x" 
      {% if session.get('uid'): %} x-data='{ isOpen: true }' x-init='isOpen=false' {% endif %}>
        {% if settings.get('invoice_delivery') == '1': %}
        <div class="col-span-12 grid separator-border">
          <h4>
             {{ _("Faktura") }}
          </h4>
            <label onclick=""><input value="0" name="invoice" type="radio" {{'checked' if form_data.get('invoice') == 0}} required>{{ _("elektroniczna") }}</label><br>
            <label onclick=""><input value="1" name="invoice" type="radio" {{'checked' if form_data.get('invoice') == 1}} required>{{ _("papierowa") }}</label><br>
        </div>
        {% else: %}
          <input value="0" name="invoice" type="hidden" checked required>
        {% endif %}
        <div class="separator-border grid col-span-12 grid-cols-12">
          
          <div class="grid col-span-12 pb-4">
            <div class="pb-4">
              <h4>
                {{ _("Dane zamawiającego (płatnika)") }}:
              </h4>
              <small>{{ _("W związku z obowiązującymi przepisami nie ma możliwości zmiany danych na wystawionej fakturze z osoby fizycznej na firmę i na odwrót.") }}</small>
            </div>

          <label onclick="">
              <input type="radio" name="invoice_type" value="0" onclick="invoiceTypeSet('person')" {{'checked' if form_data.get('invoice_type') == 0}} required>
{{ _("Osoba fizyczna") }}
          </label><br>

          <label onclick="">
            
              <input type="radio" name="invoice_type" value="1" onclick="invoiceTypeSet('company')" {{'checked' if form_data.get('invoice_type') == 1}} required>

            {{ _("Firma") }}
          </label><br>
          </div>
          {% if session.get('uid'): %}
            <div id="user_data" class="col-span-12 md:col-span-6 grid relative">
              {% if form_data.get('invoice_type'): %}
                <div class="col-span-12  pb-4">
                  <label>{{_("Faktura wystawiona na: ") }}</label>
                  {{ _("Osobę fizyczną') if form_data.get('invoice_type') == 0 else _('Firmę") }}
                </div>
              {% endif %}
              <a @click="{isOpen = !isOpen}" id="button_order_edit" class="button absolute">{{_("Edytuj dane") }}</a>

                {% if request.cookies.get('invoice_type') =='company': %}

                  <div class="company_block col-span-12 ">
                    <label for="company_name">{{ _("Firma") }}</label>
                    {{ form_data.get('company_name') or '' }}
                  </div>
                
                  <div class="company_block col-span-12 ">
                    <label for="company_nip">{{ _("NIP") }} </label>
                    {{ form_data.get('company_nip') or '' }}
                  </div>
                
                {% endif %}
                
                <div class="col-span-12  pb-4">
                  <label for="first_name">{{ _("Imię") }} </label>
                  {{ form_data.get('first_name") }}
                </div>

                <div class="col-span-12  pb-4">
                    <label for="last_name">{{ _("Nazwisko") }} </label>
                    {{ form_data.get('last_name") }}
                </div>
            
                <div class="col-span-12  pb-4">
                  <label for="telephone">{{ _("Telefon") }}</label>
                  {{ form_data.get('telephone") }}
                </div>
            
                <div class="col-span-12  pb-4">
                  <label for="mail">{{ _("Mail") }} ({{ _("na ten adres wyślemy potwierdzenie zakupu") }})</label>
                  {{ form_data.get('mail', '") }}
                </div>

                <div class="col-span-12  pb-4">
                  <label for="street">{{ _("Ulica i numer domu/lokalu") }}</label>
                  {{ form_data.get('street") }}
                </div>
            
                <div class="col-span-12  pb-4">
                  <label for="postcode">{{ _("Kod pocztowy") }} </label>
                  {{ form_data.get('postcode") }}
                </div>
            
                <div class="col-span-12  pb-4">
                  <label for="city">{{ _("Miasto") }}</label>
                  {{ form_data.get('city") }}
                </div>

                <div class="col-span-12  pb-4">
                  <label for="country">{{ _("Kraj") }}</label>
                  {{ form_data.get('country") }}
                </div>
            </div>

          {% endif %}
          <div id="customer_form" class="col-span-12 md:col-span-6 grid" {{'x-ref=dropdown x-show=isOpen x-cloak' if session.get('uid") }} >

            <div class="{{'' if request.cookies.get('invoice_type') =='company' else 'hidden'}} company_block col-span-12 ">
              {% for error in form.company_name.errors: %}
                <span class="red font-bold">{{ error }}</span>
              {% endfor %}
              <label for="company_name">{{ _("Firma") }}</label>
              <input class="company_field" id="company_name" name="company_name" value="{{ form_data.get('company_name', '") }}'  {{'required' if request.cookies.get('invoice_type') == 'company'}}>
            </div>
            <div class="{{'' if request.cookies.get('invoice_type') =='company' else 'hidden'}} company_block col-span-12 ">
                {% for error in form.company_nip.errors: %}
                  <span class="red font-bold">{{ error }}</span>
              {% endfor %}

              <label for="company_nip">{{ _("NIP") }} </label>
              <input class="company_field" id="company_nip" name="company_nip" value="{{ form_data.get('company_nip', '") }}'  {{'required' if request.cookies.get('invoice_type') == 'company'}}>
            </div>
          <div class="col-span-12 ">
            {% for error in form.first_name.errors: %}
              <span class="red font-bold">{{ error }}</span>
            {% endfor %}
              <label for="first_name">{{ _("Imię") }} </label>
              <input id="first_name" name="first_name" required  value="{{ form_data.get('first_name', '') }}">
          </div>
          
          <div class="col-span-12 ">
            {% for error in form.last_name.errors: %}
              <span class="red font-bold">{{ error }}</span>
            {% endfor %}
              <label for="last_name">{{ _("Nazwisko") }} </label>
              <input id="last_name" name="last_name" required  value="{{ form_data.get('last_name', '') }}">
          </div>
          
          <div class="col-span-12 ">
          {% for error in form.telephone.errors: %}
            <span class="red font-bold">{{ error }}</span>
          {% endfor %}
            <label for="telephone">{{ _("Telefon") }}</label>
            <input id="telephone" name="telephone" required type="tel" value="{{ form_data.get('telephone', '') }}">
          </div>
          
          <div class="col-span-12 ">
            {% if form.mail.errors: %}
               <span class="red font-bold">{{ form.mail.errors }}</span>
            {% endif %}

            <label for="mail">{{ _("Mail") }} 
              {% if not session.get('uid'): %}
                ({{ _("na ten adres wyślemy potwierdzenie zakupu") }})
              {% endif %}
            </label>
            {% if session.get('uid'): %}
            {{_("Edycja adresu mailowego jest możliwa jedynie na stronie "Konto"") }}
            {% endif %}
            <input id="mail" name="mail" type="email" value="{{ form_data.get('mail', '") }}'  {{'readonly' if session.get('uid') else 'required'}}>

          </div>
          {% if 'register_buy' in session['order_type'] and not customer: %}
            <div class="col-span-12 ">
            {% for error in form.psswd_hsh.errors: %}
              <span class="red font-bold">{{ error }}</span>
            {% endfor %}
              <div class="form-floating-label">
                <label for="password">
                  {{ _("Hasło") }} ({{ _("nadaj hasło dla tworzonego konta") }})
                </label>
                <input id="password" name="psswd_hsh" type="password" value="" required>
                <span id="toggle_visibility_register" onclick="togglePasswordVisibilityRegister()"></span>
              </div>
            </div>
          {% endif %}

          <div class="col-span-12">
          {% for error in form.street.errors: %}
            <span class="red font-bold">{{ error }}</span>
          {% endfor %} 
            <label for="street">{{ _("Ulica i numer domu/lokalu") }}</label>
            <input id="street" name="street"  value="{{ form_data.get('street', '") }}' required>
          </div>
          
          <div class="col-span-12 ">
          {% for error in form.postcode.errors: %}
            <span class="red font-bold">{{ error }}</span>
          {% endfor %}
            <label for="postcode">{{ _("Kod pocztowy") }} </label>
            <input id="postcode" name="postcode"  value="{{ form_data.get('postcode', '") }}' required>
          </div>
          
          <div class="col-span-12 ">
          {% for error in form.city.errors: %}
            <span class="red font-bold">{{ error }}</span>
          {% endfor %}
            <label for="city">{{ _("Miasto") }}</label>
            <input id="city" name="city" required  value="{{ form_data.get('city', '') }}">
          </div>
          
          <div class="col-span-12  end">
          {% for error in form.country.errors: %}
            <span class="red font-bold">{{ error }}</span>
          {% endfor %} 
            <label for="country">{{ _("Kraj") }}</label>
            {% if settings.get('delivery_country') == '2': %}
              <input id="country" name="country"  value="">
            {% elif settings.get('delivery_country') == '1': %}
              <label>Wysyłka realizowana wyłącznie do krajów UE</label>
              <input id="country" name="country"  value="">
            {% else: %}
              <input id="country" name="country"  value="Polska" readonly>
            {% endif %}
          </div>

        </div>

        <div class="col-span-12 separator-border"></div>

        <div class="separator-border grid col-span-12 grid-cols-12"> 
          <div class="col-span-12">
            <h4>
               {{ _("Towar ma być wysłany na") }}:
            </h4>

            <label>
                <input type="radio" name="delivery_address" value="cloned" onclick="deliveryDetailsSet('cloned')" {{'checked' if request.cookies.get('delivery_details') == 'cloned'}} required>
                {{ _("Adres zamawiającego (płatnika)") }}
            </label><br>

            <label>
                <input type="radio" name="delivery_address" value="manual" onclick="deliveryDetailsSet('manual')" {{'checked' if request.cookies.get('delivery_details') == 'manual' }} required>
                {{ _("Inny adres") }}
            </label><br>
          </div>
          <div id="delivery_address_block" class="{{'' if request.cookies.get('delivery_details') == 'manual' else 'hidden'}} md:col-span-6 col-span-12">

            <div class="col-span-12 ">
              {% for error in form.delivery_company_name.errors: %}
                  <span class="red font-bold">{{ error }}</span>
              {% endfor %}           
              <label>{{ _("Nazwa firmy") }}</label>
              <input id="delivery_company_name" name="delivery_company_name"  value="{{ order.delivery_json['company_name'] if order }}">
            </div>

            <div class="col-span-12 ">
              {% for error in form.delivery_company_nip.errors: %}
                  <span class="red font-bold">{{ error }}</span>
              {% endfor %}

              <label>{{ _("NIP") }} </label>
              <input id="delivery_company_nip" name="delivery_company_nip"  value="{{ order.delivery_json['company_nip'] if order }}">
            </div>

            <div class="col-span-12 ">
              {% for error in form.delivery_first_name.errors: %}
                <span class="red font-bold">{{ error }}</span>
              {% endfor %}
                <label>{{ _("Imię") }} </label>
                <input class="delivery_field"  id="delivery_first_name" name="delivery_first_name"  value="{{ order.delivery_json['first_name'] if order }}" {{'required' if request.cookies.get('delivery_details') == 'manual' else ''}}>
            </div>

            <div class="col-span-12 ">
            {% for error in form.delivery_last_name.errors: %}
              <span class="red font-bold">{{ error }}</span>
            {% endfor %}
              <label>{{ _("Nazwisko") }} </label>
              <input class="delivery_field"  id="delivery_last_name" name="delivery_last_name"  value="{{ order.delivery_json['last_name'] if order }}" {{'required' if request.cookies.get('delivery_details') == 'manual' else ''}}>
            </div>

            <div class="col-span-12  relative">
            {% for error in form.delivery_telephone.errors: %}
              <span class="red font-bold">{{ error }}</span>
            {% endfor %}
              <label>{{ _("Numer telefonu") }} ({{ _("to umożliwi kontakt ze sklepem i kurierem") }})</label>
              <input class="delivery_field"  id="delivery_telephone" name="delivery_telephone" type="tel" value="{{ order.delivery_json['telephone'] if order }}" {{'required' if request.cookies.get('delivery_details') == 'manual' else ''}}>
            </div>

          <div class="col-span-12 ">
          {% for error in form.delivery_street.errors: %}
            <span class="red font-bold">{{ error }}</span>
          {% endfor %}
            <label>{{ _("Adres dostawy") }} ({{ _("podaj nazwę ulicy wraz z numerem domu") }})</label>
            <input class="delivery_field"  id="delivery_street" name="delivery_street"  value="{{ order.delivery_json['street'] if order }}" {{'required' if request.cookies.get('delivery_details') == 'manual' else ''}}>
          </div>

          <div class="col-span-12 ">
          {% for error in form.delivery_postcode.errors: %}
            <span class="red font-bold">{{ error }}</span>
          {% endfor %}
            <label>{{ _("Kod pocztowy") }} </label>
            <input class="delivery_field"  id="delivery_postcode" name="delivery_postcode"  value="{{ order.delivery_json['postcode'] if order }}" {{'required' if request.cookies.get('delivery_details') == 'manual' else ''}}>     
          </div>

          <div class="col-span-12 ">
          {% for error in form.delivery_city.errors: %}
            <span class="red font-bold">{{ error }}</span>
          {% endfor %}
            <label>{{ _("Miasto") }}</label>
            <input class="delivery_field"  id="delivery_city" name="delivery_city"  value="{{ order.delivery_json['city'] if order }}" {{'required' if request.cookies.get('delivery_details') == 'manual' else ''}}>
          </div>

          <div class="col-span-12 ">
          {% for error in form.delivery_country.errors: %}
            <span class="red font-bold">{{ error }}</span>
          {% endfor %}
            <label>{{ _("Kraj") }}</label>
            {% if settings.get('delivery_country') == '2': %}
              <input name="delivery_country"  value="">
            {% elif settings.get('delivery_country') == '1': %}
              <label>Wysyłka realizowana wyłącznie do krajów UE</label>
              <input  name="delivery_country"  value="">
            {% else: %}
              <input name="delivery_country"  value="Polska" readonly>
            {% endif %}
          </div>
        </div>

        </div>      


        {% include "/order/order_segments/s_transport_choice.html" %}


        {% include "/order/order_segments/s_payment_choice.html" %}


        <div class="separator-border grid col-span-12">
          <h4>
             {{ _("Polityka prywatności") }}
          </h4>
          {% for error in form.privacy_policy.errors: %}
              <div class="error float-right">{{ error }}</div>
          {% endfor %}
          <label onclick="">
              <input id="privacy_policy" type="checkbox" name="privacy_policy" value="1" {{'checked="checked"' if session.get('privacy_policy') == 1}} required>
              {{_("Znam i akceptuję") }} <a href="{{ request.route_url('s_page', pagename='Polityka Prywatności") }}' class="blue">{{_("politykę prywatności") }}</a>
          </label>
        </div>

        <div class="separator col-span-12">
          <button class="button success" id="order_button">{{ _("Przejdź do podsumowania") }}</button>
        </div>

        <input type="hidden" id="order_type" name="order_type" value="{{ session.get('order_type', 'quick_buy') }}">
      </div>
      </form>


    {% endblock %}
