{% set xsearch %}{{ request.route_url(misc_options.search_url) }}{% endset %}
{% set xterm %}{% endset %}
{% set extra_javascripts_header %}
{% endset %}
{% set extra_javascripts_footer %}
  <script type="text/javascript">
    $('#additional_info_placeholder').keyup(updatetxt);
    function updatetxt() {
      $('#additional_info').val($('#additional_info_placeholder').val());
    }
  </script>
  <script type="text/javascript">
    
window.dataLayer = window.dataLayer || [];
window.dataLayer.push({
event: "begin_checkout", 
eventModel: {
allow_enhanced_conversions: true,
currency: "{{settings.iso_currency}}",
value: "{{ order.params_json.get('final_cost') or order.params_json.get('summary') }}",
tag_source: 'browser_side',
event_id: uuid(),
  items: [
    {% for product in cart_contents.values(): %}
      {
        name: '{{ product.name }}',  
        item_name: '{{ product.name }}', 
        id: '{{ product.product_id }}', 
        item_id: '{{ product.product_id }}',  
        sku: '{{ product.sku }}',
        item_sku: '{{ product.sku }}',
        variant: '{{ product.product_id }}', 
        item_variant: '{{ product.product_id }}', 
        price: '{{ product.value }}', 
        brand: '{{data_options.manufacturer_dict[product.manufacturer_id].name }}',        
        item_brand: '{{data_options.manufacturer_dict[product.manufacturer_id].name }}', 
        category: '{{ product.type }}', 
        item_category: '{{product.type }}', 
        quantity: '{{ product.product_packages }}',
        google_business_vertical: 'retail',
      },
    {% endfor %}
  ]
}
});


  </script>
{% endset %}
{% set extra_stylesheets %}
{% endset %}
{% set title %}{{ _("Podsumowanie zamówienia") }} - {{ settings['name'] }} {% endset %}

{% extends "/common/s_layout.html" %}

{{ self.extra_javascripts_header() }}

{% block body %}

    <div class="md:col-span-8 md:col-start-3 col-span-12 page-internals my-2 grid grid-padding-x grid-cols-12 gap-2 md:gap-4">

      <div class="col-span-12 grid grid-cols-12 ">
        <div class="text-2xl md:col-span-4 col-span-10">{{ _("Podsumowanie zamówienia") }}</div>
        <div class="col-span-2 md:col-span-4 grid justify-end md:col-start-9">
          <a href="{{ request.referrer }}" type="submit" class="button">{{ _("Edytuj dane") }}</a>
        </div>
        {% if settings.get('shop_status') != '1': %}
          <div class="col-span-12">
            <h5 class="text-center py-4 md:pb-0">
              {% include "/40x/s_abnormal_shop_status.html" %}
            </h5>
          </div>
        {% endif %}
      </div> 

      <div class="col-span-12 md:col-span-6  separator-border">
        <h4 class="text-xl md:text-2xl">{{ _("Sprzedawca") }}</h4>
        {{ settings['address'] |safe}}
      </div>

      <div class="col-span-12 md:col-span-6  separator-border">
        <h4 class="text-xl md:text-2xl">{{ _("Informacje dla sprzedawcy") }}</h4>
        <textarea class="w-full border py-2 px-3 transition-all border-blue
   rounded" name="additional_info_placeholder" rows="6" id="additional_info_placeholder"></textarea>
      </div>
        
      <div class="col-span-6 md:col-span-12 separator-border">
          <h4 class="text-xl md:text-2xl">{{ _("Dane zamawiającego (płatnika)") }}</h4>
          {% if order.client_json['company_name'] and order.client_json['company_nip']: %} 
              {{ order.client_json['company_name'] }}<br>
              {{ order.client_json['company_nip'] }}<br>
          {% endif %}
          {{ order.client_json['first_name'] }} {{ order.client_json['last_name'] }}<br>
          {{ order.client_json['street'] }}<br>
          {{ order.client_json['city'] }} {{ order.client_json['postcode'] }}<br>
          tel.: {{ order.client_json['telephone'] }} <br>
          mail: {{ order.client_json['mail'] }} <br>
      </div>

      <div class="col-span-6 md:col-span-12 separator-border">
        <h4 class="text-xl md:text-2xl">{{ _("Dane odbiorcy przesyłki") }}</h4>
        {% if order.delivery_json['company_name'] and order.delivery_json['company_nip']: %}
            {{ order.delivery_json['company_name'] }}<br>
            {{ order.delivery_json['company_nip'] }}<br>
        {% endif %}
        {{ order.delivery_json['first_name'] }} {{ order.delivery_json['last_name'] }}<br>
        {{ order.delivery_json['street'] }}<br>
        {{ order.delivery_json['city'] }} {{ order.delivery_json['postcode'] }}<br>
        tel.: {{ order.delivery_json['telephone'] }} <br>
      </div>
      
      <div class="col-span-6 md:col-span-12 separator-border">
        <h4 class="text-xl md:text-2xl">{{ _("Faktura") }}</h4>
        <ul>
          <li>
            {{ _("Wystawiona na ") }}
            {{ _("firmę') if order.client_json['company_name'] and order.client_json['company_nip'] else _('osobę fizyczną') |safe}}
          </li>
          {% if settings.get('invoice_delivery') == '1': %}
          <li>
            {{ _("W formie") }} {{ _("papierowej') if order.invoice else _('elektronicznej')|safe}}
          </li>
          {% endif %}
        </ul>
        {{ _("W związku z obowiązującymi przepisami nie ma możliwości zmiany danych na wystawionej fakturze z osoby fizycznej na osobę firmę i na odwrót.") }}
      </div>
      
      <div class="col-span-6 md:col-span-12 separator-border">
        <h4 class="text-xl md:text-2xl">{{ _("Sposób dostawy") }}</h4>
        {{ order.params_json['transport'] }}:  <b>{{ order.params_json["transport_fee"] }} zł</b> 
        {% if order.params_json.get('transport_excerpt'): %}
            ({{ order.params_json['transport_excerpt'] }}) 
            <br>
        {% endif %} 
        <br>
        {{ order.params_json['transport_desc'] }}
      </div>
      
      <div class="col-span-6 md:col-span-12 separator-border">
        <h4 class="text-xl md:text-2xl">{{ _("Metoda płatności") }}</h4>
        {{ order.params_json['payment'] }}:
        <b>
           {{ order.params_json['payment_fee']|number_comma }} zł     
           
        </b>
        <br/>      <br/>      
        {{ order.params_json['payment_description'] |safe}}
      </div>
      
      <div class="col-span-12 separator-border">
        <div class=" flex justify-between">
          <h4 class="text-xl md:text-2xl">{{ _("Produkty") }}</h4>
          <div><a class="button float-right" href="{{ request.route_url('s_cart') }}">{{ _("Edytuj koszyk") }}</a></div>
        </div>
        {% if cart_contents: %}
          <table id="cart_contents" class="table w-full"> 
            <thead>
              <tr>
                <th class="w-3/12">
                  {{ _("Nazwa produktu") }}
                </th>
                <th class="w-2/12">
                  {{ _("Liczba opakowań (sztuk)") }}
                </th>
                <th class="w-2/12">
                  {{ _("Cena jedn.") }}</span>
                </th>
                 <th class="w-2/12">
                  {{ _("Wartość") }}
                </th>
              </tr>
            </thead>
            {% for item in cart_contents.values(): %}
            <tr class="tr text-center">
              <td class="td">
                <span class="image_container grid p-0">
                  {% with product=item %}
                    {% include "/common/s_grid_image.html" %}
                  {% endwith %}
                </span>
                <a href="{{ request.route_url('s_product', seo_slug = item['slug'], id = item['product_id']) }}" class="black">{{ item['name'] }}</a>
              </td>
              <td class="td">
                {% if item['square_meter']: %}
                  {{ item['product_quantity'] | number_comma }}&nbsp;m<sup>2</sup><br> ({{ item['product_packages'] }}&nbsp;paczek)
                {% else: %}
                    {{ (item['product_quantity']|int) }}&nbsp;sztuk
                {% endif %}
                
                {% if settings['order_settings']["display_single_set"] == 1 and item['product_single_set'] == 'true': %}
                  <span class="separator-border"><br></span>
                  <span class="pt-1"><b>Wszystkie {{'paczki' if item['square_meter'] else 'płytki'}} <br> z tej samej serii</b></span>
                {% endif %}
              </td>
              <td class="td">
                {{ item['price']| number_comma }} zł {{ '/m<sup>2</sup>'|safe if item['square_meter'] }}
              </td>
              <td class="td">
                {{ item['value'] |number_comma }} zł
                
              </td>
            </tr>
            {% endfor %}
            <tfoot class="text-right bt-2">
              <tr class=""> 
                <td colspan="2" class="td" >
                   {{ _("Sposób dostawy") }}
                </td>
                <td class="td">
                    {{ order.params_json['transport'] }}<br>
                    {% if order.params_json.get('transport_excerpt'): %}
                        ({{ order.params_json['transport_excerpt'] }})
                    {% endif %}
                </td>
                <td class="td text-center">
                    {{ order.params_json['transport_fee'] }} zł
                </td>
              </tr>
              <tr class="">
                <td colspan="2" class="td">
                  {{ _("Metoda płatności") }}
                </td>
                <td class="td">
                    {{ order.params_json['payment'] }}
                </td>
                <td class="td text-center">
                    {{ order.params_json['payment_fee'] |number_comma}} zł
                </td>
              </tr>
              {% if order.params_json.get('tax_dict'): %}
              {% for item in order.params_json.get('tax_dict'): %}
              <tr class="">
                  <td colspan="3" class="td">
                    {{ data_options.tax_dict[0]}} 
                  </td>
                  <td class="td text-center">
                    {{ order.params_json['tax_dict'][1] }} zł
                  </td>
              </tr>
              {% endfor %}
              {% endif %}
              <tr class=""> 
                  <td colspan="3" class="td">
                    {{ _("Do zapłaty") }}
                  </td>
                  <td class="td text-center">
                    {{ order.params_json.get('final_cost') |number_comma or order.params_json.get('summary') |number_comma}} zł
                  </td>
              </tr>
            </tfoot>
          </table>
        </div>

        <div class="col-span-12 md:col-span-6 ">
          {{ _("Osoba fizyczna ma prawo do odstąpienia od umowy bez podania przyczyny przez 14 dni od dnia doręczenia produktu. <br> Sklep ponosi odpowiedzialność za niezgodność towaru z umową.')|safe}}<br>
        </div>

        <div class="col-span-12 md:col-span-6">
          <form method="post">
            <input id="csrf_token" name="csrf_token" type="hidden" value="{{ get_csrf_token() }}"/>
            <label>
                <input id="privacy_policy_nested" type="checkbox" name="privacy_policy_nested" value="1" id="regulations_acceptance" required>
              
                  <b>{{ _("Znam i wyrażam zgodę na regulamin sklepu") }} - <a class="blue" href="{{ request.route_url('s_page', pagename='Regulamin') }}">{{ _("regulamin") }}</a></b>
            </label>
            <div class="text-center" id="order_products_container">
              <input type="hidden" name="additional_info" id="additional_info" value="">
              <button class="button success" id="order_products">{{ _("Potwierdzam zamówienie") }}</button><br>
              <span class="text-sm">{{ _("Transakcja z obowiązkiem zapłaty") }}</span>
            </div>
          </form>
        </div>
    {% else: %}
        <h4 class="text-xl md:text-2xl">{{ _("Błędne dane zamówienia.") }}</h4>
      {% endif %}
    </div>

{% endblock %}
