{% set xsearch %}{{ request.route_url(misc_options.search_url) }}{% endset %}
{% set gtm_header %}{% endset %}
{% set xterm %}{% endset %}
{% set extra_javascripts_header %}
  
  <script>
    (function(w,d,s,i,dl){w._ceneo = w._ceneo || function () {
      w._ceneo.e = w._ceneo.e || []; w._ceneo.e.push(arguments); };
      w._ceneo.e = w._ceneo.e || [];dl=dl===undefined?"dataLayer":dl;
      const f = d.getElementsByTagName(s)[0], j = d.createElement(s); 
      j.defer = true;
      j.src = "https://ssl.ceneo.pl/ct/v5/script.js?accountGuid=" + i + "&t=" + 
      Date.now() + (dl ? "&dl=" + dl : ''); f.parentNode.insertBefore(j, f);
      })
    (window, document, "script", "b8db8a08-011f-4162-b491-8fa541bfbfe1");
  </script>

{% endset %}
{% set extra_javascripts_footer %}

<script type="text/javascript">

  function uuid() {
    return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
    var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
    return v.toString(16);
  });
}

  window.dataLayer = window.dataLayer || [];
  window.dataLayer.push({
    'event': 'event_id',
    'event_id': uuid()
  });


  var enhanced_conversion_data = {
      'email_address': '{{ order.client_json["mail"] }}',
      'phone_number': '{{ order.client_json["telephone"] }}',
        'first_name': '{{ order.client_json["first_name"] }}',
        'last_name': '{{ order.client_json["last_name"] }}',
    "home_address": {
      "street":  "{{ order.client_json['street'] }}", //adress
        'city': '{{ order.client_json["city"] }}',
        'region': '{{ order.client_json["postcode"] }}',
        'postal_code': '{{ order.client_json["postcode"] }}',
        'country': '{{ order.client_json["country"] }}',   
    }
  };
</script>


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://gtm.modnalazienka.pl/gtag/js?id=G-XKYDVMJMTX"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-XKYDVMJMTX', {
'transport_url': 'https://gtm.modnalazienka.pl',
'send_page_view': false,
'allow_enhanced_conversions' : true,
'first_party_collection': true,
'tag_source': 'server_side',
'user_id': '{{ order.customer_id if order.customer_id else ''}}',
  'user_data': {
      'email_address': '{{ order.client_json["mail"] }}',
      'phone_number': '{{ order.client_json["telephone"] }}',
      'address': {
        'first_name': '{{ order.client_json["first_name"] }}',
        'last_name': '{{ order.client_json["last_name"] }}',
        'city': '{{ order.client_json["city"] }}',
        'region': '',
        'postal_code': '{{ order.client_json["postcode"] }}',
        'country': '{{ settings.iso_country }}',   
      },    
    },
  });
gtag('config', 'AW-676958963', {
'first_party_collection': true,
'tag_source': 'browser_side',
'allow_enhanced_conversions' : true,
  'user_id': '{{ order.customer_id if order.customer_id else ''}}',
  'user_data': {
      'email_address': '{{ order.client_json["mail"] }}',
      'phone_number': '{{ order.client_json["telephone"] }}',
      'address': {
        'first_name': '{{ order.client_json["first_name"] }}',
        'last_name': '{{ order.client_json["last_name"] }}',
        'city': '{{ order.client_json["city"] }}',
        'region': '',
        'postal_code': '{{ order.client_json["postcode"] }}',
        'country': '{{ settings.iso_country }}',   
      },    
    },
  });


gtag("event", "page_view", {
'allow_enhanced_conversions' : true,
'first_party_collection': true,
'tag_source': 'server_side',
'event_id': uuid(),
  'user_id': '{{ order.customer_id if order.customer_id else ''}}',
  'user_data': {
      'email_address': '{{ order.client_json["mail"] }}',
      'phone_number': '{{ order.client_json["telephone"] }}',
      'address': {
        'first_name': '{{ order.client_json["first_name"] }}',
        'last_name': '{{ order.client_json["last_name"] }}',
        'city': '{{ order.client_json["city"] }}',
        'region': '',
        'postal_code': '{{ order.client_json["postcode"] }}',
        'country': '{{ settings.iso_country }}',   
      },    
    },
  });

gtag('event', 'purchase', {
'allow_enhanced_conversions' : true,
  'currency': '{{ settings.iso_currency }}',
  'transaction_id': '{{order.uuid}}',
  'value': '{{ (order.params_json.get("final_cost") or order.params_json.get("summary"))}}',
  'affiliation': '{{ settings["name"] }}',
  'shipping': '{{(order.params_json["transport_fee"])}}',
  'coupon': '',
  'tax': '{{ (order.params_json["tax"])}}',
  'tag_source': 'server_side',
  'event_id': '{{order.uuid}}',
  'user_id': '{{ order.customer_id if order.customer_id else ''}}',
  'user_transactions_count': '{{ '' }}',
  'user_total_spent': '{{ '' }}',
  'user_data': {
      'email_address': '{{ order.client_json["mail"] }}',
      'phone_number': '{{ order.client_json["telephone"] }}',
      'address': {
        'first_name': '{{ order.client_json["first_name"] }}',
        'last_name': '{{ order.client_json["last_name"] }}',
        'city': '{{ order.client_json["city"] }}',
        'region': '',
        'postal_code': '{{ order.client_json["postcode"] }}',
        'country': '{{ settings.iso_country }}',    
      },    
    },

  'items': [  
    {% for product in order.products_json: %}
      { 
        'name': '{{ product.name }}',  
        'item_name': '{{ product.name }}', 
        'id': '{{ product.product_id }}', 
        'item_id': '{{ product.product_id }}',  
        'sku': '{{ product.sku }}',
        'item_sku': '{{ product.sku }}',
        'variant': '{{ product.product_id }}', 
        'item_variant': '{{ product.product_id }}', 
        'price': '{{ product.value }}', 
        'brand': '{{data_options.manufacturer_dict[product.manufacturer_id].name }}',
        'item_brand': '{{data_options.manufacturer_dict[product.manufacturer_id].name }}', 
        'category': '{{ '' }}', 
        'item_category': '{{ '' }}', 
        'quantity': '{{ product.product_packages }}', 
        'google_business_vertical': 'retail',
      },
    {% endfor %} 
  ]
}); 


// Ceneo


    _ceneo('transaction', {
        client_email: '{{ order.client_json["mail"] }}',
        order_id: '{{ order.uuid }}',
        shop_products: [
        {% for product in order.products_json: %}
        {   
          id: '{{ product.product_id }}', 
          price: {{ product.value }}, 
          quantity: {{ product.product_packages }}, 
          currency: '{{ settings.iso_currency }}',
        },
    {% endfor %} 
        ],
        work_days_to_send_questionnaire: 10, 
        amount: {{ (order.params_json.get("final_cost") or order.params_json.get("summary"))}},
    });
</script> 

{% endset %}
{% set title %}{{ _("Zamówienie udane") }} - {{ settings['name'] }}{% endset %}
{% set extra_stylesheets %}
{% endset %}


{% extends "/common/s_layout.html" %}

{{ self.extra_javascripts_header() }}

{% block body %}

<div class="md:col-span-10 md:col-start-2 col-span-12 page-internals my-12 grid grid-padding-x text-center">
    <span>{{ _("Dziękujemy za złożenie zamówienia - szczegóły i potwierdzenie zostały wysłane na skrzynkę mailową") }}</span>
    <span>{{ _("W przypadku braku powiadomienia mailowego, bardzo proszę sprawdzić folder SPAM poczty.") }}</span> 
</div>


{% endblock %}