<!DOCTYPE html>
<html lang="en" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
  <meta charset="utf-8">
  <meta name="x-apple-disable-message-reformatting">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no, date=no, address=no, email=no">
  <!--[if mso]>
    <xml><o:OfficeDocumentSettings><o:PixelsPerInch>96</o:PixelsPerInch></o:OfficeDocumentSettings></xml>
    <style>
      td,th,div,p,a,h1,h2,h3,h4,h5,h6 {font-family: "Segoe UI", sans-serif; mso-line-height-rule: exactly;}
    </style>
  <![endif]-->
    <title>{{ _("Zamówienie") }} - {{ settings['name'] }}</title>
    <style>
.hover-underline:hover {
  text-decoration: underline !important;
}
@media (max-width: 1280px) {
  .sm-inline-block {
    display: inline-block !important;
  }
  .sm-h-16 {
    height: 16px !important;
  }
  .sm-leading-40 {
    line-height: 40px !important;
  }
  .sm-px-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .sm-px-16 {
    padding-left: 16px !important;
    padding-right: 16px !important;
  }
  .sm-px-24 {
    padding-left: 24px !important;
    padding-right: 24px !important;
  }
  .sm-py-32 {
    padding-top: 32px !important;
    padding-bottom: 32px !important;
  }
  .sm-pb-32 {
    padding-bottom: 32px !important;
  }
  .sm-w-16 {
    width: 16px !important;
  }
  .sm-w-full {
    width: 100% !important;
  }
}
</style>
</head>
<body style="margin: 0; padding: 0; width: 100%; word-break: break-word; -webkit-font-smoothing: antialiased; background-color: #f3f4f6; border-top-width: 2px;">
    <div style="display: none;">{{ settings['name'] }} - {{ _("zamówienie") }} - {{ order.uuid }}&#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &zwnj;
      &#160;&#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &zwnj;
      &#160;&#847; &#847; &#847; &#847; &#847; </div>
  <div role="article" aria-roledescription="email" aria-label="undefined - undefined" lang="en">
    <table style="font-family: ui-sans-serif, system-ui, -apple-system, 'Segoe UI', sans-serif; width: 100%;" cellpadding="0" cellspacing="0" role="presentation">
      <tr>
        <td align="center" class="sm-px-16" style="background-color: #f3f4f6; border-top-width: 2px;">
          <table class="sm-w-full" style="max-width: 1280px; width: 1280px;" cellpadding="0" cellspacing="0" role="presentation">
            <tr>
              <td class="sm-py-32 sm-px-24" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,.1); border: 1px solid #eeeeee; background: white; border-radius: 4px; padding: 48px; text-align: center;">
                <a href="https://modnalazienka.pl">
                  <img src="https://modnalazienka.pl/static/img/logo_main_v2.png" alt="Modnalazienka.pl" style="line-height: 100%; max-width: 100%; vertical-align: middle; border: 0;">
                </a>
              </td>
            </tr>
            <tr>
              <td style="height: 32px;"></td>
            </tr>
            <tr>
              <td style="background-position: top; background-repeat: no-repeat; background-size: cover; border-radius: 4px; text-align: left;">
                  <table style="width: 100%;" cellpadding="0" cellspacing="0" role="presentation">
                    <tr>
                      <td class="sm-w-16" style="width: 48px;"></td>
                      <td>
                        <h1 class="sm-leading-40" style="font-size: 36px; margin: 0; margin-bottom: 16px; text-align: center;">
                        {{ _("Zamówienie") }} {{ order.uuid }}</h1>
                        <h2 style="font-size: 24px; line-height: 24px; margin: 0; margin-bottom: 24px; text-align: center;">
                        {{ _("Zostało złożone") }} {{ order.date_ordered.strftime('%H:%M") }} {{ order.date_ordered.strftime('%d/%m/%Y") }}</h2>
                      </td>
                      <td class="sm-w-16" style="width: 48px;"></td>

                    </tr>
                    {% if order.additional_info: %}
                      <tr>
                        <td colspan="3">            
                          <h2 style="font-size: 24px; line-height: 24px; margin: 0; margin-bottom: 24px; text-align: center;">{{ _("Komentarz do zamówienia") }} </h2>
                          <p style="font-size: 16px; margin: 0; margin-bottom: 24px; color: #1f2937;">
                            {{ order.additional_info }}
                          </p>
                        </td>
                      </tr>
                    {% endif %}
                  </table>
              </td>
            </tr>
            <tr>
              <td style="height: 32px;"></td>
            </tr>
            <tr>
              <td class="sm-px-0" style="text-align: left; width: 100%;">
                <table style="width: 100%;" cellpadding="0" cellspacing="0" role="presentation">
                  <tr>
                    <td class="sm-px-0 sm-pb-32 sm-w-full sm-inline-block" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,.1); border: 1px solid #eeeeee; padding: 1.2rem; background: white; border-radius: 4px; padding-right: 16px; width: 50%;">
                      <table style="width: 100%;" cellpadding="0" cellspacing="0" role="presentation">
                        <tr>
                          <td style="background-color: #ffffff; border-radius: 4px; padding: 24px;">
                            <h2 style="font-size: 24px; line-height: 24px; margin: 0; margin-bottom: 24px;">{{ _("Nabywca") }} </h2>
                            <p style="font-size: 16px; margin: 0; margin-bottom: 24px; color: #1f2937;">
                             {{ order.client_json['first_name'] }} {{ order.client_json['last_name'] }}<br>
                              {{ order.client_json['telephone'] }}<br>
                              {{ order.client_json['mail'] }}<br>
                                {% if order.client_json['company_name'] and order.client_json['company_nip']: %}
                                  {{ order.client_json['company_name'] }}<br>
                                  {{ order.client_json['company_nip'] }}<br>
                                {% endif %}
                                {{ order.client_json['street'] }}<br>
                                {{ order.client_json['postcode'] }} {{ order.client_json['city'] }}<br>
                                {{ order.client_json['country'] }}<br>
                                {% if order.client_json['state']: %}
                                  {{ order.client_json['state'] }} <br>
                                {% endif %}
                            </p>
                          </td>
                        </tr>
                      </table>
                    </td>
                    <td class="sm-px-0 sm-w-full sm-inline-block" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,.1); border: 1px solid #eeeeee; padding: 1.2rem; background: white; border-radius: 4px; padding-left: 16px; width: 50%;">
                      <table style="width: 100%;" cellpadding="0" cellspacing="0" role="presentation">
                        <tr>
                          <td style="background-color: #ffffff; border-radius: 4px; padding: 24px;">
                            <h2 style="font-size: 24px; line-height: 24px; margin: 0; margin-bottom: 24px;">{{ _("Sposób i miejsce dostawy") }}</h2>
                            <p style="font-size: 16px; margin: 0; margin-bottom: 24px; color: #1f2937;">
                            {{ order.params_json['transport'] }}<br>
                
                          {% if order.params_json['transport_module_name'] == 'inpost': %}
                          
                            {% include "emporium:templates/blade/modules/transport/inpost/order_summary/s_inpost_summary.html" %}  
                        
                          {% elif order.params_json['transport_module_name'] =='pickup':  %}

                          {{ order.delivery_json['excerpt']}}

                        {% else: %}
                  {{ order.delivery_json.first_name }} {{ order.delivery_json.last_name }}<br>
                  {{ 't. ' + order.delivery_json.telephone }}<br>
                  {% if order.delivery_json.company_name and order.delivery_json.company_nip: %} 
                      {{ _("Firma") }} {{ order.delivery_json.company_name }}<br>
                      {{ _("NIP") }} {{ order.delivery_json.company_nip }}<br>
                  {% endif %}
                  {{ order.delivery_json.street }} <br>
                  {{ order.delivery_json.postcode }} {{ order.delivery_json.city }}<br>
                  {{ order.delivery_json.state }} {{ order.delivery_json.country }}<br>

                  {% endif %}
                            </p>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td class="sm-h-16" style="height: 32px;"></td>
            </tr>
            <tr>
              <td class="sm-px-0" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,.1); border: 1px solid #eeeeee; padding: 1.2rem; background: white; border-radius: 4px; padding-left: 24px; padding-right: 24px; text-align: left; width: 100%;">
                <table style="width: 100%;" cellpadding="0" cellspacing="0" role="presentation">
                  <tr>
                    <td class="sm-w-full sm-inline-block" style="width: 100%;">
                      <table style="width: 100%;" cellpadding="0" cellspacing="0" role="presentation">
                        <tr>
                          <td style="background-color: #ffffff; border-radius: 4px; padding: 24px;">
                            <h2 style="font-size: 24px; line-height: 24px; margin: 0; margin-bottom: 24px;">{{ _("Faktura") }} </h2>
                            <p style="font-size: 16px; margin: 0; margin-bottom: 24px; color: #1f2937;">
                                <span style="font-weight: 600; margin: 0; margin-bottom: 8px; color: #6b7280;">{{ _("Wystawiona na ") }}</span><br>
                                {% if  order.client_json['company_name'] and order.client_json['company_nip']: %}
                                    {{ _("firmę") }}
                                {% else: %}
                                    {{ _("osobę fizyczną") }}
                                {% endif %}
                            </p>
                            {% if settings.get('invoice_delivery') == '1': %}
                             <p style="font-size: 16px; margin: 0; margin-bottom: 24px; color: #1f2937;">
                                <span style="font-weight: 600; margin: 0; margin-bottom: 8px; color: #6b7280;">{{ _("Przesłana w formie ") }}</span><br>
                                {% if  order.invoice: %}
                                    {{ _("papierowej") }}
                                {% else: %}
                                    {{ _("elektronicznej") }}
                                {% endif %}
                            </p>
                            {% endif %}
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td class="sm-h-16" style="height: 32px;"></td>
            </tr>
            <tr>
              <td class="sm-px-0" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,.1); border: 1px solid #eeeeee; padding: 1.2rem; background: white; border-radius: 4px; padding-left: 24px; padding-right: 24px; text-align: left; width: 100%;">
                <table style="width: 100%;" cellpadding="0" cellspacing="0" role="presentation">
                  <tr>
                    <td class="sm-w-full sm-inline-block" style="padding-bottom: 32px; width: 100%;">
                      <table style="width: 100%;" cellpadding="0" cellspacing="0" role="presentation">
                        <tr>
                          <td style="background-color: #ffffff; border-radius: 4px; padding: 24px;">
                            <h2 style="font-size: 24px; line-height: 24px; margin: 0; margin-bottom: 24px;"> {{ _("Metoda płatności") }} </h2>
                            <p style="font-size: 16px; margin: 0; margin-bottom: 24px; color: #1f2937;">
                                <span style="font-weight: 600; margin: 0; margin-bottom: 8px; color: #6b7280;">{{ order.params_json['payment'] }}</span><br>
                               {% if  order.params_json.get("gateway_fee") and not order.params_json.get('payment_bypassed'):  %}
                                {{ order.params_json["gateway_fee"] }}
                               {% endif %}
                               {{order.params_json.get("payment_description") |safe}}
                            </p>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>

            <tr>
              <td class="sm-h-16" style="height: 32px;"></td>
            </tr>
            <tr>
              <td class="sm-px-0" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,.1); border: 1px solid #eeeeee; padding: 1.2rem; background: white; border-radius: 4px; padding-left: 24px; padding-right: 24px; text-align: left; width: 100%;">
                <table style="width: 100%;" cellpadding="0" cellspacing="0" role="presentation">
                  <tr>
                    <td class="sm-w-full sm-inline-block" style="padding-bottom: 32px; width: 100%;">
                      <table style="width: 100%;" cellpadding="0" cellspacing="0" role="presentation">
                        <tr>
                          <td style="background-color: #ffffff; border-radius: 4px; padding: 24px;">
                            <h2 style="font-size: 24px; line-height: 24px; margin: 0; margin-bottom: 24px;"> {{ _("Sposób dostawy") }} </h2>
                            <p style="font-size: 16px; margin: 0; margin-bottom: 24px; color: #1f2937;">
                                <span style="font-weight: 600; margin: 0; margin-bottom: 8px; color: #6b7280;">{{ order.params_json['transport'] }}</span><br>

                                {% if order.params_json.get('transport_excerpt'): %}
                                  ({{ order.params_json['transport_excerpt'] }})
                                {% endif %}

                              {% if order.params_json['transport_module_name'] == 'inpost': %}
                                {% include "emporium:templates/blade/modules/transport/inpost/order_summary/s_inpost_summary.html" %}
                              {% endif %}
                            </p>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>

            <tr>
              <td class="sm-h-16" style="height: 32px;"></td>
            </tr>
            <tr>
              <td class="sm-px-0" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,.1); border: 1px solid #eeeeee; padding: 1.2rem; background: white; border-radius: 4px; padding-left: 24px; padding-right: 24px; text-align: left; width: 100%;">
                <table style="width: 100%;" cellpadding="0" cellspacing="0" role="presentation">
                  <tr>
                    <td class="sm-w-full sm-inline-block" style="padding-bottom: 32px; width: 100%;">
                      <table style="width: 100%;" cellpadding="0" cellspacing="0" role="presentation">
                        <tr>
                          <td style="background-color: #ffffff; border-radius: 4px; padding: 24px;">
                              <table style="border-collapse: collapse; display: table; width: 100%" cellpadding="0" cellspacing="0" role="presentation">
                                <thead style="background-color: #ffffff; border-bottom: 2px solid #2199e8;">
                                  <tr>
                                    <th style="width: 25%; text-align: center;">
                                      {{ _("Nazwa produktu") }}
                                    </th>
                                    <th style="width: 16.666667%; text-align: center;">
                                      {{ _("Liczba opakowań (sztuk)") }}
                                    </th>
                                    <th style="width: 16.666667%; text-align: center;">
                                      {{ _("Cena jedn.") }}
                                    </th>
                                     <th style="width: 16.666667%; text-align: center;">
                                      {{ _("Wartość") }}
                                    </th>
                                  </tr>
                                </thead>
                                <tbody>
                                {% for item in order.products_json: %}
                                  <tr style="background-color: #f1f1f1; text-align: center;">
                                    <td style="padding: 12px;">
                                     {{ item['name'] }}
                                    </td>
                                    <td style="padding: 12px;">
                                      {% if item['square_meter']: %}
                                        {{ item['product_quantity'] }}&nbsp;m<sup>2</sup><br>({{ item['product_packages'] }}&nbsp;paczek)
                                      {% else: %}
                                          {{ item['product_quantity'] }}&nbsp;sztuk
                                      {% endif %}
                                      {% if item['product_single_set'] == 'true': %}
                                        <span><br></span>
                                        <span>{{_("Wszystkie") }} {{'paczki' if item['square_meter'] else 'płytki'}} <br> {{_("z tej samej serii ") }}</span>
                                      {% endif %}
                                    </td>
                                    <td style="padding: 12px;">
                                      {{ item['real_price'] }} zł {{ '/m<sup>2</sup>'|safe if item['square_meter'] }}
                                    </td>
                                    <td style="padding: 12px;">
                                      {{ item['value'] }} zł
                                    </td>
                                  </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot style="background-color: #ffffff; border-top: 1px solid #2199e8; text-align: right;">
                                  <tr>
                                    <td colspan="2" style="padding: 12px;">
                                       {{ _("Sposób dostawy") }}
                                    </td>
                                    <td style="padding: 12px;">
                                        {{ order.params_json['transport'] }}<br>
                                        {% if order.params_json.get('transport_excerpt'): %}
                                            ({{ order.params_json['transport_excerpt'] }})
                                        {% endif %}
                                    </td>
                                    <td style="padding: 12px; text-align: center;">
                                        {{ order.params_json['transport_fee'] }} zł
                                    </td>
                                  </tr>
                                  <tr>
                                    <td colspan="2" style="padding: 12px;">
                                      {{ _("Metoda płatności") }}
                                    </td>
                                    <td style="padding: 12px;">
                                        {{ order.params_json['payment'] }}
                                    </td>
                                    <td style="padding: 12px; text-align: center;">
                                        {{ order.params_json['payment_fee'] }} zł
                                    </td>
                                  </tr>

                                  {% if order.params_json.get('tax_dict'): %}
                                  {% for k, v in order.params_json.get('tax_dict').items(): %}
                                  <tr>
                                    <td colspan="3" style="padding: 12px;">
                                        {{ data_options.tax_dict[k|int].name }} 
                                    </td>
                                    <td style="padding: 12px; text-align: center;">
                                        {{ order.params_json['tax_dict'][k] }} zł
                                    </td>
                                  </tr>
                                  {% endfor %}
                                  {% endif %}

                                  <tr>
                                    <td colspan="3" style="padding: 12px;">
                                      {{ _("Koszt całkowity") }}
                                    </td>
                                    <td style="padding: 12px; text-align: center;">
                                      {{ order.params_json.get('final_cost') or order.params_json.get('summary") }} zł
                                    </td>
                                  </tr>
                                </tfoot>
                              </table>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td style="height: 16px;"></td>
              </tr>
              <tr>
                <td style="font-size: 12px; padding-left: 24px; padding-right: 24px; text-align: center; color: #4b5563;">
                  <a href="https://modnalazienka.pl" class="hover-underline" style="color: #2199e8; text-decoration: none;">Modnalazienka.pl</a>
                  <p style="margin: 0; margin-bottom: 4px;">powered by Emporium</p>
                  <p></p>
                </td>
              </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
</body>
</html>
