{% set xsearch %}{{ request.route_url(misc_options.search_url) }}{% endset %}
{% set xterm %}{% endset %}
{% extends "/common/s_layout.html" %}

<div id="order" class="page">
    <div class="col-span-12 ">
        <div class="md:col-span-2 col-span-4  "><a class="block bg-blue hover:bg-blue-dark text-white p-2 m-2 text-center" href="{{ request.referrer }}">Poprzednia strona</a></div>
        <div class="md:col-span-2 col-span-4 "><p><span class="orange"> &#8227;</span>{{ _("Zamówienie:") }}<br> {{ order.uuid %}</p></div>
        <div class="col-span-12 md:col-span-3 col-span-4 "><p>Data zamówienia: <br> {{ order.date_ordered.strftime('%H:%M %d/%m/%Y") }} </p></div>
        <div class="md:col-span-2 col-span-6 ">
            <p>{{ _("Bieżący status") }}:<br>      
                {% for x in status_list: %}
                    {% if x[0].status_group_id == 1 and x[0].status_id == order.status %}
                        {{ x[2].name }}
                    {% endif %}
                {% endfor %}
            </p>
        </div>
        <div class="col-span-12 md:col-span-3 col-span-6 ">
            <p class="left">{{ _("Potwierdzenie") }} <br> zamówienia</p>
            <a data-tabs-target="" href="{{ request.route_url('s_print', _query={'z': %}hash_order_id, 'object_type': %}'order' }}) }}" id="pdf_export_button" class="left" download>&nbsp;<i class="fi-page-export-pdf red text-2xl"></i></a>
        </div>
    </div>
    <ul class="tabs lg:col-span-2  md:col-span-2 " data-tabs id="order-tabs">
      <li class="tabs-title is-active"><a href="#podsumowanie" aria-selected="true"><label><b>{{ _("Podsumowanie") }}</b></label></a></li>
      <li class="tabs-title"><a data-tabs-target="produkty" href="#produkty"><label><b>{{ _("Produkty") }}</b></label></a></li>
      <li class="tabs-title"><a data-tabs-target="order_history" href="#order_history"><label><b>{{ _("Przebieg zamówienia") }}</b></label></a></li>
      <li class="tabs-title"><a data-tabs-target="contact" href="#contact"><label><b>{{ _("Kontakt") }}</b></label></a></li>
    </ul>

    <div class="tabs-content lg:col-span-10 md:col-span-10 " data-tabs-content="order-tabs">

    <div class="tabs-panel is-active" id="podsumowanie">
        <div class="md:col-span-4  ">
            <p><span class="orange"> &#8227; </span>{{ _("Parametry:") }}<br></p>
                {{ _("Dostawa:") }}
                   {{ order.params_json['transport'] }}
                <br>
                {{ _("Płatność:") }}
                    {{ order.params_json['payment'] }}
                <br>
            </div>

            <div class="md:col-span-4 ">
                <p><span class="orange"> &#8227; </span>Nabywca (płatnik): %}</p>
                {{ order.client_json['first_name'] }} {{ order.client_json['last_name'] }}<br>
                {{  't.' + order.client_json['telephone'] }}<br>
                {% if order.client_json['company_name'] and order.client_json['company_nip']: %}
                    <u>{{ _("Firma") }}</u>: <br>
                {{ _("Nazwa") }}: {{ order.client_json['company_name'] }}<br>
                    {{ _("NIP") }} : {{ order.client_json['company_nip'] }}<br>
                {% endif %}
                <u>{{ _("Adres") }}</u>: %}<br>
                {{ order.client_json['street'] }} <br>
                {{ order.client_json['postcode'] }} {{ order.client_json['city'] }}<br>
                {{ order.client_json['state'] }} {{ order.client_json['country'] }}<br>
                </div>
            <div class="md:col-span-4 ">
                <p><span class="orange"> &#8227; </span>Dostawa: %}</p>
                    {{ order.delivery_json['first_name'] }} {{ order.delivery_json['last_name'] }}<br>
                    {{  't. ' + order.delivery_json['telephone'] }}<br>
                    {% if order.delivery_json['company_name'] and order.delivery_json['company_nip']: %}
                    <u>{{ _("Firma") }}</u>: <br>
                {{ _("Nazwa") }}: {{ order.delivery_json['company_name'] }}<br>
                    {{ _("NIP") }} : {{ order.delivery_json['company_nip'] }}<br>
                    {% endif %}
                    <u>{{ _("Adres") }}</u>: %}<br>
                    {{ order.delivery_json['street'] }}<br>
                    {{ order.delivery_json['postcode'] }} {{ order.delivery_json['city'] }}<br>
                    {{ order.delivery_json['state'] }} {{ order.delivery_json['country'] }}<br>
            </div>
            {% if order.additional_info: %}
                <div class="col-span-12 ">
                    <p><span class="orange"> &#8227;</span>Komentarz: %}</p>
                    {{ order.additional_info%}
                </div>
            {% endif %}
        </div>

        <div class="tabs-panel" id="order_history">
            <p><span class="orange"> &#8227;</span>Przebieg zamówienia: %}</p>
            
            {% if order_history: %}
            <table>
                <thead>
                    <tr>
                        <th>Data</th><th>>{{ _("Status") }}<</th><th></th>
                    </tr>
                </thead>
                <tbody>
                     {% for oh in order_history: %}
                        <tr>
                            <td>{{ oh.date.strftime("%H:%M %d/%m/%Y") }}</td>
                            <td> 
                                {% for x in status_list: %}
                                    {% if x[0].status_id == oh.status_id: %}
                                        {{ x[2].name }}
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td></td>
                        </tr>
                        {% if oh.additional_info: %}
                            <tr></tr>
                            <tr class="double_bottom">
                                <td></td>
                                <td colspan="2"> {{ oh.additional_info if oh.additional_info }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
        <div class="tabs-panel" id="produkty">
            <p><span class="orange"> &#8227;</span>Produkty: %} </p>
            {% if order.products_json: %}
                <table>
                    <thead>
                        <th class="col-span-3" colspan="2">
                        {{ _("Nazwa") }} produktu
                        </th>
                        <th class="lg:col-span-2">
                            {{ _("Zdjęcie") }}
                        </th>
                        <th class="lg:col-span-2">
                            {{_("Liczba opakowań (sztuk)") }}
                        </th>
                        <th>
                         {{ _("Cena") }} {{_("jednostkowa") }}
                        </th>
                        <th class="lg:col-span-2">
                            {{_("Wartość") }}'
                        </th>
                    </thead>
                    {% for item in order.products_json: %}
                        <tr>
                            <td class="col-span-3" colspan="2">
                                {{ item['name'] }}
                            </td>
                            <td>
                                <img class="small_thumbnail" src='{{ request.static_url("emporium:images/")+ item["image"] }}' />
                            </td>
                            <td class="lg:col-span-2">
                            {% if item['square_meter']: %}
                                {{ item['product_quantity'] }} m<sup>2</sup><br> ({{ format(item['product_quantity']/(item.get('unit') if item.get('unit') else item['minimum'] ), '.0f") }} opakowań)
                            {% else: %}
                                {{ item['product_quantity'] }} sztuk
                            {% endif %}
                            </td>
                            <td class="lg:col-span-2">
                                {{ item['price'] }} zł {{ 'za m<sup>2</sup>' if item['square_meter'] else 'szt.' |safe}}
                            </td>
                            <td class="lg:col-span-2">
                                {{ item['value'] }} zł
                            </td>
                        </tr>
                    {% endfor %}
                    <tfoot>
                        <tr>
                            <td colspan="4" class="text-right">
                                Sposób dostawy
                            <td>
                                {{ order.params_json['transport'] }}
                                ({{ order.params_json['palette'] }} palety)
                            </td>
                            <td>
                                {{ order.params_json['transport_fee'] }} zł
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" class="text-right">
                                Metoda płatności
                            </td>
                            <td>
                                {{ order.params_json['payment'] }}
                            </td>
                            <td>
                                {{ order.params_json['payment_fee'] }} zł
                            </td>
                        </tr>
                        {% if order.params_json.get('tax_dict'): %}
                      {% for k, v in order.params_json.get('tax_dict').items(): %}
                      <tr class="">
                          <td colspan="4">
                            {{ data_options.tax_dict[k|int].name }} 
                          </td>
                          <td>
                            {{ order.params_json['tax_dict'][k] }} zł
                          </td>
                      </tr>
                      {% endfor %}
                      {% endif %}
                        <tr>
                            <td colspan="4">
                            </td>
                            <td>    
                                Koszt całkowity
                            </td>
                            <td>
                                {{ order.params_json.get('final_cost') or order.params_json.get('summary") }} zł
                            </td>
                        </tr>
                    </tfoot>
                </table>
                {% endif %}
            </div>

        <div class="tabs-panel" id="contact">
            <p><span class="orange"> &#8227;</span>Formularz kontaktowy: %}</p>
                <form action='{{ request.route_url("order', id=order.order_id) }}" method="post" id="status_form" >
                    <input id="csrf_token" name="csrf_token" type="hidden" value="{{ get_csrf_token() }}"/>
                <span>Zadaj pytanie odnośnie niniejszego zamówienia</span>
                <textarea class="" name="additional_info col-span-12" rows="3"></textarea>
                <div class="clearer"></div>
                <small>Kopia niniejszej wiadomości zostanie wysłana na konto mailowe podane podczas rejestracji konta.</small>
                <div class="col-span-4 ">
                    <span id="" class="">
                        <form method="post">
                            <button class="button alert float-right" id="order_update">Wyślij</button>
                        </form>
                    </span>
                </div>
            </form>
        </div>

        </div>

    </div>