<!DOCTYPE html>
<html lang="en" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
  <meta charset="utf-8">
  <meta name="x-apple-disable-message-reformatting">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no, date=no, address=no, email=no">
  <!--[if mso]>
    <xml><o:OfficeDocumentSettings><o:PixelsPerInch>96</o:PixelsPerInch></o:OfficeDocumentSettings></xml>
    <style>
      td,th,div,p,a,h1,h2,h3,h4,h5,h6 {font-family: "Segoe UI", sans-serif; mso-line-height-rule: exactly;}
    </style>
  <![endif]-->
    <title>{{ _("Aktualizacja statusu zamówienia") }} - {{ settings['name'] }}</title>
    <style>
.hover-underline:hover {
  text-decoration: underline !important;
}
@media (max-width: 1280px) {
  .sm-inline-block {
    display: inline-block !important;
  }
  .sm-h-16 {
    height: 16px !important;
  }
  .sm-leading-40 {
    line-height: 40px !important;
  }
  .sm-px-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .sm-px-16 {
    padding-left: 16px !important;
    padding-right: 16px !important;
  }
  .sm-px-24 {
    padding-left: 24px !important;
    padding-right: 24px !important;
  }
  .sm-py-32 {
    padding-top: 32px !important;
    padding-bottom: 32px !important;
  }
  .sm-w-16 {
    width: 16px !important;
  }
  .sm-w-full {
    width: 100% !important;
  }
}
</style>
</head>
<body style="margin: 0; padding: 0; width: 100%; word-break: break-word; -webkit-font-smoothing: antialiased; background-color: #f3f4f6; border-top-width: 2px;">
    <div style="display: none;">{{ settings['name'] }} - {{ _("nowy status zamówienia") }}&#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &zwnj;
      &#160;&#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &zwnj;
      &#160;&#847; &#847; &#847; &#847; &#847; </div>
  <div role="article" aria-roledescription="email" aria-label="undefined - undefined" lang="en">
    <table style="font-family: ui-sans-serif, system-ui, -apple-system, 'Segoe UI', sans-serif; width: 100%;" cellpadding="0" cellspacing="0" role="presentation">
      <tr>
        <td align="center" class="sm-px-16" style="background-color: #f3f4f6; border-top-width: 2px;">
          <table class="sm-w-full" style="max-width: 1280px; width: 1280px;" cellpadding="0" cellspacing="0" role="presentation">
            <tr>
              <td class="sm-py-32 sm-px-24" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,.1); border: 1px solid #eeeeee; background: white; border-radius: 4px; padding: 48px; text-align: center;">
                <a href="https://modnalazienka.pl">
                  <img src="https://modnalazienka.pl/static/img/logo_main_v2.png" alt="Modnalazienka.pl" style="line-height: 100%; max-width: 100%; vertical-align: middle; border: 0;">
                </a>
              </td>
            </tr>
            <tr>
              <td style="height: 32px;"></td>
            </tr>
            <tr>
              <td style="background-position: top; background-repeat: no-repeat; background-size: cover; border-radius: 4px; text-align: left;">
                  <table style="width: 100%;" cellpadding="0" cellspacing="0" role="presentation">
                    <tr>
                      <td class="sm-w-16" style="width: 48px;"></td>
                      <td>
                        <h1 class="sm-leading-40" style="font-size: 36px; margin: 0; margin-bottom: 16px; text-align: center;">
                          {{ _("Aktualizacja statusu zamówienia") }}</h1>
                      </td>
                      <td class="sm-w-16" style="width: 48px;"></td>
                    </tr>
                  </table>
              </td>
            </tr>
            <tr>
              <td class="sm-h-16" style="height: 32px;"></td>
            </tr>
            <tr>
              <td class="sm-px-0" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,.1); border: 1px solid #eeeeee; padding: 1.2rem; background: white; border-radius: 4px; padding-left: 24px; padding-right: 24px; text-align: left; width: 100%;">
                <table style="width: 100%;" cellpadding="0" cellspacing="0" role="presentation">
                  <tr>
                    <td class="sm-w-full sm-inline-block" style="width: 100%;">
                      <table style="width: 100%;" cellpadding="0" cellspacing="0" role="presentation">
                        <tr>
                          <td style="background-color: #ffffff; border-radius: 4px; padding: 24px;">
                            <p style="font-weight: 600; font-size: 16px; margin: 0; margin-bottom: 24px; text-align: center; color: #1f2937;">
                              {{ _("Aktualny status zamówienia") }} {{ uuid }} {{ _("to") }}: {{ status[1].name }}
                            </p>
                              {% if additional_info: %}
                            <p style="font-weight: 600; font-size: 16px; margin: 0; margin-bottom: 24px; text-align: center; color: #4b5563;">
                              {{ _("Informacje dodatkowe od obsługi sklepu: ") }}
                            </p>
                            <p style="font-size: 16px; margin: 0; margin-bottom: 24px; text-align: center; color: #1f2937;">
                              {{ additional_info }}
                            </p>
                            <p style="font-size: 16px; margin: 0; margin-bottom: 24px; text-align: center; color: #1f2937;">
                              {{ additional_info }}
                            </p>
                              {% if url: %}
                              <p>
                                <a href="{{ url }}" class="hover-underline" style="color: #2199e8; text-decoration: none;"> {{ url }}</a>
                              </p>
                              {% endif %}
                            {% endif %}
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td style="height: 16px;"></td>
            </tr>
            <tr>
              <td style="font-size: 12px; padding-left: 24px; padding-right: 24px; text-align: center; color: #4b5563;">
                <a href="https://modnalazienka.pl" class="hover-underline" style="color: #2199e8; text-decoration: none;">Modnalazienka.pl</a>
                <p style="margin: 0; margin-bottom: 4px;">powered by Emporium</p>
                <p></p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
</body>
</html>
</body>