        <div class="module_{{name}} pb-2">
            <span class="font-bold">
                {{element.name}} {{_("od") }}:
                <span class="orange">{{element.local_settings['min_units']}} {{_("paczek") }}</span>
            </span>
        </div>
