<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:g="http://base.google.com/ns/1.0" xmlns:atom="http://www.w3.org/2005/Atom">
<channel> 
    <title>XML Base Products</title>
    <description>Product Feed for Facebook</description> 
    <link>{{ request.route_url('s_home") }}</link>
    <atom:link href="{{ request.route_url('s_home') + 'xml/base.xml' }}" rel="self" type="application/rss+xml" />
    {%- for item in product_listing: -%}
    {{item.error}}{{item.verify_product_id}}
    <item>
    <g:item_group_id>{{item.product_id}}</g:item_group_id>
    <g:gtin></g:gtin>
    <g:google_product_category>{{item.base_category_name|safe}}</g:google_product_category>
    <g:id>{{item.product_id}}</g:id>
    <g:title>{{item.name}}</g:title>
    <g:description>{{item.description|safe}}</g:description>
    <g:link>{{item.link}}</g:link>
    <g:image_link>{{item.main_image}}</g:image_link>
    {{item.additional_img |safe}}
    <g:brand>{{item.brand}}</g:brand>
    <g:condition>New</g:condition>
    <g:availability>{{item.availability}}</g:availability>
    <g:price>{{item.price}} PLN</g:price>
    <g:price2>{{item.price2}} PLN</g:price2>
    <g:product_type>{{item.product_type}}</g:product_type>
    <g:color>{{item.color}}</g:color>
    <g:shipping_weight>{{item.weight}} kg</g:shipping_weight>
    <g:pattern>{{item.pattern}}</g:pattern>
    <g:unit_pricing_base_measure>1 {{'sqm' if square_meter else 'ct'}}</g:unit_pricing_base_measure>
    <g:unit_pricing_measure>{{item.minimum}} {{'sqm' if square_meter else 'ct'}}</g:unit_pricing_measure>
    <g:custom_label_0>{{item.usage}} </g:custom_label_0>
    <g:custom_label_1>{{item.room}}</g:custom_label_1>
    <g:custom_label_2>{{item.minimum}} {{'m2' if square_meter else 'szt.'}}</g:custom_label_2>
    </item>
    {%- endfor -%}
</channel>
</rss>