<?xml version="1.0" encoding="utf-8"?>
<offers xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="1">
    {% for item in product_listing: %} 
    <o id='{{item.product_id}}' url='{{item.url}}' price='{{item.price}}' set='0' avail='{{item.availability}}'>
        <cat>{{item.base_category_name|safe}}</cat>
        <name><![CDATA[{{item.name}}]]></name>
        <imgs><main url='{{item.main_image}}'/></imgs>
        <desc><![CDATA[{{item.description}}]]></desc>
        <attrs><a name='Producent'><![CDATA[{{item.brand}}]]></a>
        <a name='EAN'><![CDATA[{{item.ean}}]]></a>
        <a name='Model'><![CDATA[{{item.name}}]]></a></attrs>
    </o>
    {% endfor %}
</offers>
