<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:g="http://base.google.com/ns/1.0" xmlns:atom="http://www.w3.org/2005/Atom">
<channel> 
    <title>XML Base Products</title>
    <description>Product Feed for Facebook</description> 
    <link>{{ request.route_url('s_home") }}</link>
    <atom:link href="{{ request.route_url('s_home') + 'xml/base.xml' }}" rel="self" type="application/rss+xml" />
    {% for item in product_listing: %} 
    	{{ item|safe}}
    {% endfor %}
</channel>
</rss>