{% set color = {1:'cyan-400', 2:'rose-500', 3:'sky-400', 4:'amber-500'} %}
{% set special_dict = data_options_filtered.special_filtered_dict.get(product.product_id) %}

{% if special_dict: %}
  <div class="flex text-center font-bold flex-wrap w-44">
  {% for values in special_dict.values(): %}
    <span class="button button-tiny button-clip block text-white bg-{{color[values.special_id]}} mt-0 mb-1">
      {{data_options.special_dict[values.special_id].name_displayed}}
    </span>
  {% endfor %}
  </div>
{% endif%}
    
              