                <picture class="h-24">

                  {% if product.image: %}
                  {% for key,value in settings['image_file_extensions'].items(): %}

                  <source srcset='{{ (request.static_url("emporium:images/thumbnails/") + product.image + "." + value ) }}' type="image/{{key|lower}}" media='(min-width: 90px)'>
                  {% endfor %}

                  <img src='{{ (request.static_url("emporium:images/thumbnails/") +  product.image +  ".jpg" )}} ' alt="Image" loading="lazy" class="mx-auto my-auto max-h-16">

                  {% endif %}
                </picture>