    <script>
        function uuid() {
      return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
        var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
        return v.toString(16);
      });
    }
    </script>

    <script>
        window.dataLayer = window.dataLayer || [];
        window.dataLayer.push({
          'event': 'event_id',
          'event_id': uuid()
        });
    </script>

    <!-- Global site tag (gtag.js) - Google AdWords -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-676958963"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

    gtag('config', 'AW-676958963', {
    'send_page_view': false,
    'first_party_collection': true,
    'tag_source': 'server_side',
    'allow_enhanced_conversions' : true
    });
    </script>
    <script>
    gtag("event", "page_view", {
    'first_party_collection': true,
    'tag_source': 'browser_side',
    'allow_enhanced_conversions' : true,
    'event_id': uuid(),
     });
    </script>
    <!-- End Global site tag (gtag.js) - Google AdWords -->
