        <div class="md:col-span-5 col-span-12  md:col-start-2">
            <div class="page-internals my-2 mr-2">
                <div class="w-3/4 mx-auto">
                    <div class="text-xl text-center mb-8">{{ _("Zaloguj się") }}</div>
                    <form action='{{ request.route_url("s_auth", action="in") }}' method="post" class="w-3/4 mx-auto flex flex-col" id="sign" name="sign">
                        <input id="csrf_token" name="csrf_token" type="hidden" value="{{ get_csrf_token() }}"/>
                        <input type="hidden" name="next" value="s_order">
                        {{ '<span class="text-xl orange text-center">' |safe + _('Podano błędny login lub hasło') +'</span>' | safe if error_level == 'login_error' }}
                        {% if error_level != 'hard_login_error': %}

                            <label for="mail">{{ _("Mail") }}</label>
                            <input  name="mail" id="customer_mail">
                            
                            <label for="password">{{ _("Hasło") }}</label>
                            <span class="relative">
                              <input type="password" name="password" id="customer_password" class="w-100" style="width: 100%">
                              <span id="toggle_visibility" onclick="togglePasswordVisibility()"></span>
                            </span>
                            
                            <span class="text-xs text-left">
                                <a href="{{ request.route_url('s_customer_reset') }}" class="hover:blue">
                                {{ _("Nie pamiętasz hasła") }}</a>
                            </span>
                        {% endif %}
                        {% if error_level == 'hard_login_error': %}
                            <span class="text-xl red text-center">{{ _("Przekroczono limit nieudanych prób zalogowania - proszę użyć opcji odzyskiwania hasła.") }}</span>
                            <span class="text-sm text-left">
                                <a href="{{ request.route_url('s_customer_reset') }}">
                                {{ _("Nie pamiętasz hasła") }}</a>
                            </span>
                        {% else: %}
                            <span class="text-right">
                                <button type="submit" class="button" name="sign" value="sign_in" class="text-center">
                                {{ _("Zaloguj") }}</button>
                            </span>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>