        <div class="separator-border grid col-span-12">
          <h4>{{ _("Metoda płatności") }}</h4>   
          {% for error in form.payment_method.errors: %}
            <span class="error float-right">{{ _("Proszę wybrać metodę płatności") }}</span>
          {% endfor %}
          {% for item in data_options.payment_dict.values(): %}
            <label onclick="">
                <input id="payment_method_{{ item.payment_id }}" name="payment_method" type="radio" value="{{ item.payment_id }}" required {{ 'checked' if form_data.get('payment_method') == item.payment_id}}>
                {{ item.name }}  
                  {% if item.module_settings.get('payment_fee') %}
                   + {{ item.module_settings['payment_fee'] |number_comma }}{{ '%'  if item.module_settings['payment_fee_unit'] == '1' else 'zł'}}
                  {% endif %}
            </label>
          {% endfor %}
        </div>