        <div class="separator-border grid col-span-12">
          <h4>{{ _(" Sposób dostawy") }}</h4>

          {% for error in form.delivery_method.errors: %}
            <span class="error float-right">{{ _("Proszę wybrać sposób dostawy") }}</span>
          {% endfor %}

          {% for transport in data_options.transport_dict.values(): %}
            {% for transport_slot in transport.slots.values(): %}
            <label>
              <input data-transport_id={{transport_slot.transport_id}} onclick="transportIdSet({{transport_slot.transport_id}})"  id="delivery_method_{{ transport_slot.transport_slot_id }}" name="delivery_method" type="radio" value="{{ transport_slot.transport_slot_id }}" required {{ 'checked' if form_data.get('delivery_method') == transport_slot.transport_slot_id}} class="delivery_method">
                {{ transport.name }} + {{ transport_slot.slot_settings['transport_fee'] |number_comma }} <span class="right"> {{settings['currency']}}</span>
                {% if transport_slot.slot_excerpt: %}
                <br/>
                  {{ transport_slot.slot_excerpt }}
                {% endif %}
  
                {% if transport_slot.slot_settings.get('unit_name'): %}

                ({{transport_slot.slot_settings['transport_unit'] |number_comma }} x {{transport_slot.slot_settings['unit_name']}})

                {% endif %}

                {% if transport.module_name =="inpost": %}
                
                {% include "emporium:templates/case/modules/transport/inpost/order/s_inpost_popup.html" %}
            
                {% endif %}

            </label>

            {% if transport.module_name =="inpost": %}

              {% include "emporium:templates/case/modules/transport/inpost/order/s_modal_inpost.html" %}
            
            {% endif %}      
            
            {% endfor %}
          {% endfor %}

          <input id="transport_id" name="transport_id" type="hidden" value="{{ form_data.get('transport_id') }}" required>

        </div>