{% set current_page %} 
          <li class="">
            <a class="text-white hover:bg-white hover:text-gray-700 px-4 block whitespace-no-wrap" href='{{ request.route_url("post_list') }}">
              {{_("Lista postów") }}
            </a>
          </li> 
{% endset %}


{%  extends "/common/s_layout.html"  %}

{% block body %}

<div class="md:col-span-12  p-4 md:p-2 " id="breadcrumb">
    <a href='{{ request.route_url("s_home") }}' class="blue"> Strona główna </a> > 
    <a href='{{ request.route_url("s_post_list") }}' class="blue">Blog</a>
</div>

<div class="col-span-12  page-internals my-2" id="post_list">

    {% if filter_params.pager: %}
      {{ filter_params.pager(curpage_attr={'class': 'current' }) | safe }}  
    {% endif %}

    {% for item in posts_listing.items: %}
      <div class="single_post separator-border">
        <a class="text-black" href="{{ request.route_url('s_post', postname=item.seo_slug, id=item.post_id) }}" rel="nofollow">
            <h2 class="text-4xl">{{ item.title }}</h2>

        {{ item.date_published.strftime('%Y-%m-%d') if item.date_published }}<br>
        {%  if item.excerpt: %}
          {{ item.excerpt |safe}}<br>
        {% endif %}
        </a>
      </div>
    {% endfor %}

    </div>
{% endblock %}