{% set current_page %} 
  <li class="">
    <a class="text-white hover:bg-white hover:text-gray-700 px-4 block whitespace-no-wrap" href="{{ request.route_url('post_action', action = 'edit', _query=(('next', 'post_list'),('post_id', post.post_id))) }}">
      <i class="fi-wrench size-lg"></i> {{_("Edytuj wpis") }}
    </a>
  </li> 
{% endset %}

{% extends "/common/s_layout.html" %}

{%  set extra_javascripts_header %}{% endset %}
{%  set extra_stylesheets %}{% endset %}
{%  set xsearch  %}{{ request.route_url(misc_options.search_url) }}{% endset %}
{% set xterm %}{% endset %}
{%  set title  %}{{ post.title }} - {{ settings.name }}{% endset %}
{%  set meta_description %}{{ post.meta_description }}{% endset %}

{% block body %}

<div class="md:col-span-12 p-4 md:p-2" id="breadcrumb">
    <a href='{{ request.route_url("s_home') }}"> Strona główna </a> > <a href='{{ request.route_url("s_post_list') }}">Blog</a>
</div>

<div class="col-span-12  page-internals my-2" id="single_post">
    <div class="">
        <h1>{{  post.title }}</h1>
        {{  post.date_published.strftime('%Y-%m-%d') if post.date_published }}<br>
        <div class="post_image" style="">
            {%  if post.image:  %}
                <img src='{{ request.static_url("emporium:images/posts/") + post.image }}' class="" alt="{{ post.title }}" />
            {%  endif  %}
        </div>

        {{ post.content | safe }}

    </div>
</div>

{% endblock %}