  <form class="col-span-12 grid grid-cols-12 bg-white p-4 my-4 border gap-4" action='{{ request.route_url("collection_list") }}' method="get" name="filter" >

    <div class="col-span-2 text-center grid grid-cols-2 gap-4">
    {% with action_url = 'collection_action', orphan_url = 'collection_list' %}
      {% include "emporium:templates/emporatorium/common/add_orphans_block.html" %}
    {% endwith %}
  </div>
    <input type="hidden" name="search" value="true">

    <div class="col-span-1 ml-auto">
      <label>{{ _("Słowo klucz") }}</label>
      <input class=""  name="term" value="{{ filter_params['term'].replace('%%', ' ').replace('%', '') if  filter_params and filter_params['term'] }}">
    </div>
    <div class="col-span-2">
      <label>{{ _("Producent") }}</label>

      <select class="" id="input-manufacturer" name="manufacturer">

        <option disabled {{ 'selected' if not filter_params.manufacturer }} value> {{ _("Producent") }} </option>

        {% for item in manufacturers: %}
        <option value="{{ item.manufacturer_id}}" {{ 'selected' if filter_params.manufacturer == item.manufacturer_id }}>{{ item.name }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-span-2">
      <label>Sortowanie</label>
      <select class="" id="sort" name="sort">
        <option value="name_asc" {{ 'selected' if filter_params.get('sort_method') == 'name_asc' }}>Nazwa rosnąco</option>
        <option value="name_desc" {{ 'selected' if filter_params.get('sort_method')  == 'name_desc' }}>Nazwa malejąco</option>
      </select>
    </div>

    {% with action_url = 'collection_list' %}
      {% include "emporium:templates/emporatorium/common/clear_filter_block.html" %}
    {% endwith %} 

  </form>
