{% extends "emporium:templates/emporatorium/common/layout.html" %}

{% block body %}

  {% with id='collection_list_header',title = 'Kolekcje', pager = collections.link_map() %}
    {% include "emporium:templates/emporatorium/common/title.html" %}
    {% include "emporium:templates/emporatorium/common/paginate.html" %}
  {% endwith %}

    {% with action_url = 'collection_action', orphan_url = 'collection_list' %}
      {% include "emporium:templates/emporatorium/collection/collection_filter.html" %}
    {% endwith %}


<div class="col-span-4">
  <table class="table">
    <thead>
      <tr>
        <th class="w-1/12">{{ _("Edycja") }}</th>
        <th class="w-2/12">{{ _("Nazwa") }}</th>
        <th class="w-2/12">{{ _("Producent") }}</th>
        <th class="w-2/12">{{ _("Stan") }}</th>
        <th class="w-2/12"></th>
      </tr>
    </thead>
    <tbody>
      {% for item in collections: %}
        {{item.name if loop.index0 == 0}} {{ ' <-> ' + item.name if loop.index == 36}}

      {% if loop.index0 < 36: %}
      <tr class="tr">
        <td class="td px-4">
          <a class="button_admin bg-cyan-500" href="{{ request.route_url('collection_action', action='edit', _query=(('collection_id',item.collection_id),)) }}">
            {{ _("Edytuj") }}
          </a>
        </td>
        <td class="td px-4 text-center">
          {{ item.name }}
        </td>
        <td class="td px-4">
          {% for elem in manufacturers: %}
            {% if elem.manufacturer_id == item.manufacturer_id: %}
              {{ elem.name }}
            {% endif %}
          {% endfor %}
        </td>
        <td class="td px-4 text-center">
          {{ "Załączone" if item.status == 1 else "Wyłączone"}}
        </td>
        <td class="td px-4">
          {% with item_id = item.collection_id, action_url = "collection_", action_name="delete", parameter_name = "collection_id" %}
            {% include "emporium:templates/emporatorium/common/button_change.html" %}
          {% endwith %}
        </td>
      </tr>
      {% endif %}
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="col-span-4">
  <table class="table">
    <thead>
      <tr>
        <th class="w-1/12">{{ _("Edycja") }}</th>
        <th class="w-2/12">{{ _("Nazwa") }}</th>
        <th class="w-2/12">{{ _("Producent") }}</th>
        <th class="w-2/12">{{ _("Stan") }}</th>
        <th class="w-2/12"></th>
      </tr>
    </thead>
    <tbody>
      {% for item in collections: %}
       {{ item.name + ' <->' if loop.index0 == 37 }}{{ item.name if loop.index == 72 }}
      {% if 36 < loop.index0 < 72: %}
      <tr class="tr">
        <td class="td px-4">
          <a class="button_admin bg-cyan-500" href="{{ request.route_url('collection_action', action='edit', _query=(('collection_id',item.collection_id),)) }}">
            {{ _("Edytuj") }}
          </a>
        </td>
        <td class="td px-4 text-center">
          {{ item.name }}
        </td>
        <td class="td px-4">
          {% for elem in manufacturers: %}
            {% if elem.manufacturer_id == item.manufacturer_id: %}
              {{ elem.name }}
            {% endif %}
          {% endfor %}
        </td>
        <td class="td px-4 text-center">
          {{ "Załączone" if item.status == 1 else "Wyłączone"}}
        </td>
        <td class="td px-4">
          {% with item_id = item.collection_id, action_url = "collection_", action_name="delete", parameter_name = "collection_id" %}
            {% include "emporium:templates/emporatorium/common/button_change.html" %}
          {% endwith %}
        </td>
      </tr>
      {% endif %}
      {% endfor %}
    </tbody>
  </table>
</div>


<div class="col-span-4">
  <table class="table">
    <thead>
      <tr>
        <th class="w-1/12">{{ _("Edycja") }}</th>
        <th class="w-2/12">{{ _("Nazwa") }}</th>
        <th class="w-2/12">{{ _("Producent") }}</th>
        <th class="w-2/12">{{ _("Stan") }}</th>
        <th class="w-2/12"></th>
      </tr>
    </thead>
    <tbody>
      {% for item in collections: %}
        {{ item.name + ' <->' if loop.index0 == 73 }}{{ item.name if loop.index == 108 }}
      {% if 72 < loop.index0 < 108: %}
      <tr class="tr">
        <td class="td px-4">
          <a class="button_admin bg-cyan-500" href="{{ request.route_url('collection_action', action='edit', _query=(('collection_id',item.collection_id),)) }}">
            {{ _("Edytuj") }}
          </a>
        </td>
        <td class="td px-4 text-center">
          {{ item.name }}
        </td>
        <td class="td px-4">
          {% for elem in manufacturers: %}
            {% if elem.manufacturer_id == item.manufacturer_id: %}
              {{ elem.name }}
            {% endif %}
          {% endfor %}
        </td>
        <td class="td px-4 text-center">
          {{ "Załączone" if item.status == 1 else "Wyłączone"}}
        </td>
        <td class="td px-4">
          {% with item_id = item.collection_id, action_url = "collection_", action_name="delete", parameter_name = "collection_id" %}
            {% include "emporium:templates/emporatorium/common/button_change.html" %}
          {% endwith %}
        </td>
      </tr>
      {% endif %}
      {% endfor %}
    </tbody>
  </table>
</div>


{% include "emporium:templates/emporatorium/common/change_modal.html" %}

  <span class="hidden">
    <p id="txt_delete">{{ _("Potwierdź usunięcie kolekcji") }}</p>
    <p id="txt_success_delete">{{ _("Pomyślnie usunięto kolekcję - sprawdź produkty przypisane do tej kolekcji") }}</p>
  </span>


{% endblock %}
