{% extends "emporium:templates/emporatorium/common/layout.html" %}

{% block body %}

{% include "emporium:templates/emporatorium/common/edit_left.html" %}

  <div class="col-span-10 grid grid-cols-12">

    {% with title = ('Edytuj kolekcję ' + (collection and collection.name) if options.action == 'edit' else 'Dodaj kolekcję ') %}
      {% include "emporium:templates/emporatorium/common/title.html" %}
    {% endwith %}

    <nav class="tabs col-span-12 flex flex-row pt-4">
      {% for item in ('Główne', 'Opisy/Meta (SEO)'): %}
        <button data-target="panel-{{loop.index}}" class="tab block bg-blue hover:bg-blue-dark text-white p-2 m-2 {{'ml-0 active' if loop.index == 1}} text-center">{{item}}</button>
      {% endfor %}
    </nav>

  <form action='{{ request.route_url("collection_action", action=action) }}' method="post" class="col-span-12 bg-white p-4" id="content_form" name="content_form">
<input id="csrf_token" name="csrf_token" type="hidden" value="{{ get_csrf_token() }}"/>
  {% if form.errors.items(): %}
    {% for fieldName, errorMessages in form.errors.items(): %}
      {{ fieldName.title() }} - {{ errorMessages }}
    {% endfor %}
  {% endif %}

    <input id="collection_id" name="collection_id" type="hidden" value="{{ (collection and collection.collection_id) or '' }}">
    <input id="language_id" name="language_id" value="2" type="hidden">

  <div id="panels" class="grid grid-cols-1 col-span-12">

    <div class="tab-content panel-1 grid-cols-12 col-span-1 gap-4 active">

      <div class="col-span-4">
          <label for="name">{{ _("Nazwa kolekcji") }}</label>
          <input required id="name" name="name" value="{{ (collection and collection.name) or '' }}" >
      </div>

      <div class="col-span-4">
          <label for="status">{{ _("Status") }}</label>
          <select id="status" name="status" class=" bg-white" required>
            <option value="1" {{ ('selected' if manufacturer.status == 1 else "") if product |safe }}>{{ _("Załączony") }}</option>
            <option value="0" {{ ('selected' if manufacturer.status == 0 else "") if product |safe }}>{{ _("Wyłączony") }}</option>
          </select>
      </div>

      <div class="col-span-4">
        <label for="manufacturer_id">{{ _("Producent") }}</label>
        <select required name="manufacturer_id">
          {% for jtem in manufacturers: %}
            <option id="input-manufacturer-{{ jtem.manufacturer_id }}" 
            value="{{ jtem.manufacturer_id }}"  
            {{ 'selected' if action =='edit' and collection and jtem.manufacturer_id == collection.manufacturer_id }}>
              {{ jtem.name }}
            </option>
          {% endfor %}
        </select>
      </div>

      <div class="col-span-6">
        <label for="image">{{ _("Zdjęcie") }}</label>
        <input id="image" name="image" value="" >
      </div>

      <div class="col-span-3">
        <label for="date_added">{{ _("Data zamieszczenia") }}</label>
        <p>{{ (collection and collection.date_added) or  '' }}</p>
      </div>

      <div class="col-span-3">
        <label for="date_modified">{{ _("Data ostatniej modyfikacji") }}</label>
        <p>{{ (collection and collection.date_modified) or '' }}</p>
      </div>

      <div class="col-span-12">
        <label for="products">{{ _("Produkty") }}</label>
        <input  name="products" id="product_list" value="">
      </div>

      <div class="col-span-12">
        <label for="similar_collections">{{ _("Podobne kolekcje") }}</label>
        <input id="similar_collections" name="similar_collections" value="" >
      </div>

    </div>

      <div class="tab-content panel-2 grid-cols-1 col-span-1 gap-4">
        {% if collection: %}
          {% with categories_list=options.categories_list %}
            {% include "emporium:templates/emporatorium/option/options_categories_list.html" %}
          {% endwith%}
        {% endif %}
      </div>
    </div>
  </form>
</div>

{% include "emporium:templates/emporatorium/common/edit_right.html" %}

{% include "emporium:templates/emporatorium/common/trumbowyg.html" %}

<script src='{{ request.static_url("emporium:templates/emporatorium/static/js/selectize.min.js") }}' type="text/javascript"></script>

<script type="text/javascript">

var $name = $('#product_list').selectize({
    valueField: 'id',
    labelField: 'name',
    searchField: 'name',
    plugins: ['remove_button'],
    create: false,
    preload: true,
    options: {{ pro | string | safe }},
    items: {{ pro_ids | string | safe }},
    load: function(request, response) {
        if (request.length < 3) return response();
        $.ajax({
            url: '/limitless_product_search',
            type: 'GET',
            dataType: 'json',
            data:  {
                term:  request,
            },
            error: function() {
                response();
            },
            success: function(res) {
                response(res);
            }
        });
    }

});

$('.description').trumbowyg({
    lang: 'pl',
    btnsDef: {
        // Create a new dropdown
        image: {
            dropdown: ['insertImage', 'upload'],
            ico: 'insertImage'
        }
    },
    btns: [
        ['viewHTML'],
        ['formatting'],
        ['strong', 'em', 'del'],
        ['superscript', 'subscript'],
        ['link'],
        ['image'], // Our fresh created dropdown
        ['justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull'],
        ['unorderedList', 'orderedList'],
        ['horizontalRule'],
        ['removeformat'],
        ['more'],
        ['fullscreen']
    ],
  });
  
  
var $name = $('#similar_collections').selectize({
    valueField: 'id',
    labelField: 'name',
    searchField: 'name',
    plugins: ['remove_button'],
    create: false,
    options: {{ col |string | safe }},
    items: {{ col_ids | string | safe }},
    load: function(request, response) {
        if (!request.length) return response();
        $.ajax({
            url: '/collection_search',
            type: 'GET',
            dataType: 'json',
            data: {
                term: request,
            },
            error: function() {
                response();
            },
            success: function(res) {
                response(res);
            }
        });
    }


});
  

</script>


{% endblock %}