{% extends "emporium:templates/emporatorium/common/layout.html" %}

{% block body %}

{% include "emporium:templates/emporatorium/common/edit_left.html" %}

  <div class="col-span-10 grid grid-cols-12">
    <form action='{{ request.route_url("status_action", action=action) }}' method="post" class="col-span-12 grid grid-cols-12 bg-white p-4 gap-4" id="content_form" name="content_form">
        <input id="csrf_token" name="csrf_token" type="hidden" value="{{ get_csrf_token() }}"/>
        <input type="hidden" value="{{ status.status_id if status }}" name="status_id" />


    {% with title = ('Edytuj opcję' + ' ' +  status_group.name if status_group and status_group.name  if action =='edit' else 'Dodaj opcję') %}
      {% include "emporium:templates/emporatorium/common/title.html" %}
    {% endwith %}

        {% for field in form: %}
          {% for error in field.errors: %}
            <span class="error">{{ field.label }} {{ error }}</span>
          {% endfor %}
        {% endfor %}

    <div class="col-span-4 ">
        <label for="name">{{ _("Nazwa grupy opcji") }}</label>
        <input id="name" name="name" value="{{ (status and status_description.name) or '' }}" >
    </div>
    <div class="col-span-6 ">
        <label for="status_values">{{ _("Wartości") }} - <span class="orange">{{ _("UWAGA ODDZIELAMY PRZECINKIEM BEZ SPACJI!") }}</span></label>
        <input id="status_values" name="status_values" value="" >
    </div>
     
    <input id="language_id" name="language_id" value="2" type="hidden">
    <input id="status" name="status" type="hidden" value="1">
</form>
</div>

{% include "emporium:templates/emporatorium/common/edit_right.html" %}

<script src='{{ request.static_url("emporium:templates/emporatorium/static/js/selectize.min.js") }}' type="text/javascript"></script>

{% endblock %}