{% extends "emporium:templates/emporatorium/common/layout.html" %}

{% block body %}



{% include "emporium:templates/emporatorium/common/edit_left.html" %}

<div class="col-span-10 grid grid-cols-12">

    <form action='{{ request.route_url("status_action", action=action) }}' method="post" class="col-span-12 grid grid-cols-12 bg-white p-4 gap-4" id="content_form" name="content_form">
        <input id="csrf_token" name="csrf_token" type="hidden" value="{{ get_csrf_token() }}"/>
        {% with title = 'Dodaj wartości atrybutu' %}
            {% include "emporium:templates/emporatorium/common/title.html" %}
        {% endwith %}


        {% for field in form: %}
            {% for error in field.errors: %}
                <div class="error">{{ field.label }} {{ error }}</div>
            {% endfor %}
        {% endfor %}

    <input type="hidden" value="{{ status.status_id }}" name="status_id" />

    <div class="col-span-6 ">
        <label for="name">{{ _("Grupa atrybutów") }}</label>
        <select name="name">
        {% for item in status_groups: %}
            <option name="name" value="{{ status_description.name }}" ></option>
        {% endfor %}
        </select>
    </div>
    <div class="col-span-6 ">
        <label for="status_values">{{ _("Wartości") }} - <span class="orange">{{ _("UWAGA ODDZIELAMY PRZECINKIEM BEZ SPACJI!") }}</span></label>
        <input id="status_values" name="status_values" value="" >
    </div>
     
    <input id="language_id" name="language_id" value="2" type="hidden">
    <input id="status" name="status" type="hidden" value="1">
    </form>
</div>

{% include "emporium:templates/emporatorium/common/edit_right.html" %}


{% endblock %}