{% extends "emporium:templates/emporatorium/common/layout.html" %}

{% block body %}



  {% with id='status_list_header', title = 'Lista statusów' %}
    {% include "emporium:templates/emporatorium/common/title.html" %}
  {% endwith %}


  <div class="col-span-12 grid grid-cols-12">
    <div class="col-span-1 bg-white p-4 mr-4 border-l border-t border-r top-px relative">
    {% with action = 'status_action' %}
      {% include "emporium:templates/emporatorium/common/add_block.html" %}
    {% endwith %}
    </div>
  </div>

  <table class="table col-span-12 ">
    <thead>
      <tr>
        <th class="w-1/12">{{ _("Edycja") }}</th>
        <th class="w-4/12">{{ _("Stan") }}</th>
        <th class="w-4/12">{{ _("Wartości") }}</th>
        <th class="w-2/12 orange"> {{ _("Usuwanie statusów jest zablokowane") }}</th>
      </tr>
    </thead>
    <tbody>
      {% for item in status_list: %}
        <tr class="tr">
          <td class="td px-4">
            <a class="button_admin bg-cyan-500" href="{{ request.route_url('status_single_action', action='edit', _query=(('status_id',item[0].status_id),)) }}">{{ _("Edytuj") }}</a>
          </td>
          <td class="td px-4 text-center">
            {{ "Załączone" if item[0].status == 1 else "Wyłączone"}}
          </td>
          <td class="td px-4 text-center">
            {{ item[1].name }}
          </td>
          <td class="td px-4 text-center">
            {% with item_id = item[0].status_id, action_url = "status_", action_name="delete", parameter_name = "status_id" %}
              {% include "emporium:templates/emporatorium/common/button_change.html" %}
            {% endwith %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% include "emporium:templates/emporatorium/common/change_modal.html" %}


  <span class="hidden">
    <p id="txt_delete">{{ _("Potwierdź usunięcie statusu") }}</p>
    <p id="txt_success_delete">{{ _("Pomyślnie usunięto status") }}</p>
  </span>



{% endblock %}