/*! purgecss start ignore */
.autoComplete_wrapper {
  display: inline-block;
  @apply h-10 w-full;
  > input {
    outline: none;
    @apply h-10 transition-all border-4 px-4 border-emerald rounded;

    &::placeholder {
      color: rgba(123, 123, 123, 0.5);
      transition: all 0.3s ease;
    }
  }

  > ul {
    position: absolute;
    overflow-y: scroll;
    top: 100%;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0.5rem 0 0 0;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid rgba(33, 33, 33, 0.1);
    z-index: 1000;
    outline: none;

    > li {
      padding: 10px 20px;
      list-style: none;
      text-align: left;
      font-size: 16px;
      color: #212121;
      transition: all 0.1s ease-in-out;
      border-radius: 3px;
      background-color: rgba(255, 255, 255, 1);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      transition: all 0.2s ease;

      &[aria-selected="true"] {
        background-color: rgba(123, 123, 123, 0.1);
      }

      &::selection {
        color: rgba(#ffffff, 0);
        background-color: rgba(#ffffff, 0);
      }

      &:hover {
        cursor: pointer;
        background-color: rgba(123, 123, 123, 0.1);
      }

      mark {
        background-color: transparent;
        color: rgba(255, 122, 122, 1);
        font-weight: bold;

        &::selection {
          color: rgba(#ffffff, 0);
          background-color: rgba(#ffffff, 0);
        }
      }
    }
  }
}
/*! purgecss end ignore */