/*! purgecss start ignore */
.bg-slate{
  &100 {  background-color: rgb(241 245 249);}  
  &200 {  background-color: rgb(226 232 240);}  
  &300 {  background-color: rgb(203 213 225);}  
  &400 {  background-color: rgb(148 163 184);}  
  &500 {  background-color: rgb(100 116 139);}  
  &600 {  background-color: rgb(71 85 105);}  
  &700 {  background-color: rgb(51 65 85);} 
  &800 {  background-color: rgb(30 41 59);} 
  &900 {  background-color: rgb(15 23 42);} 
}
.bg-gray-{  
  &100 {  background-color: rgb(243 244 246);}  
  &200 {  background-color: rgb(229 231 235);}  
  &300 {  background-color: rgb(209 213 219);}  
  &400 {  background-color: rgb(156 163 175);}  
  &500 {  background-color: rgb(107 114 128);}  
  &600 {  background-color: rgb(75 85 99);} 
  &700 {  background-color: rgb(55 65 81);} 
  &800 {  background-color: rgb(31 41 55);} 
  &900 {  background-color: rgb(17 24 39);} 
} 
.bg-zinc-{  &100 {  background-color: rgb(244 244 245);}  
  &200 {  background-color: rgb(228 228 231);}  
  &300 {  background-color: rgb(212 212 216);}  
  &400 {  background-color: rgb(161 161 170);}  
  &500 {  background-color: rgb(113 113 122);}  
  &600 {  background-color: rgb(82 82 91);} 
  &700 {  background-color: rgb(63 63 70);} 
  &800 {  background-color: rgb(39 39 42);} 
  &900 {  background-color: rgb(24 24 27);} 
} 
.bg-neutral-{  &100 { background-color: rgb(245 245 245);}  
  &200 {  background-color: rgb(229 229 229);}  
  &300 {  background-color: rgb(212 212 212);}  
  &400 {  background-color: rgb(163 163 163);}  
  &500 {  background-color: rgb(115 115 115);}  
  &600 {  background-color: rgb(82 82 82);} 
  &700 {  background-color: rgb(64 64 64);} 
  &800 {  background-color: rgb(38 38 38);} 
  &900 {  background-color: rgb(23 23 23);} 

.bg-stone-{  &100 { background-color: rgb(245 245 244);}  
  &200 {  background-color: rgb(231 229 228);}  
  &300 {  background-color: rgb(214 211 209);}  
  &400 {  background-color: rgb(168 162 158);}  
  &500 {  background-color: rgb(120 113 108);}  
  &600 {  background-color: rgb(87 83 78);} 
  &700 {  background-color: rgb(68 64 60);} 
  &800 {  background-color: rgb(41 37 36);} 
  &900 {  background-color: rgb(28 25 23);} 
} 
.bg-red-{  &100 { background-color: rgb(254 226 226);}  
  &200 {  background-color: rgb(254 202 202);}  
  &300 {  background-color: rgb(252 165 165);}  
  &400 {  background-color: rgb(248 113 113);}  
  &500 {  background-color: rgb(239 68 68);}  
  &600 {  background-color: rgb(220 38 38);}  
  &700 {  background-color: rgb(185 28 28);}  
  &800 {  background-color: rgb(153 27 27);}  
  &900 {  background-color: rgb(127 29 29);}  
}
.bg-orange-{  &100 {  background-color: rgb(255 237 213);}  
  &200 {  background-color: rgb(254 215 170);}  
  &300 {  background-color: rgb(253 186 116);}  
  &400 {  background-color: rgb(251 146 60);} 
  &500 {  background-color: rgb(249 115 22);} 
  &600 {  background-color: rgb(234 88 12);}  
  &700 {  background-color: rgb(194 65 12);}  
  &800 {  background-color: rgb(154 52 18);}  
  &900 {  background-color: rgb(124 45 18);}  
}
.bg-amber-{  &100 { background-color: rgb(254 243 199);}  
  &200 {  background-color: rgb(253 230 138);}  
  &300 {  background-color: rgb(252 211 77);} 
  &400 {  background-color: rgb(251 191 36);} 
  &500 {  background-color: rgb(245 158 11);} 
  &600 {  background-color: rgb(217 119 6);}  
  &700 {  background-color: rgb(180 83 9);} 
  &800 {  background-color: rgb(146 64 14);}  
  &900 {  background-color: rgb(120 53 15);}  
} 
.bg-yellow-{  &100 {  background-color: rgb(254 249 195);}  
  &200 {  background-color: rgb(254 240 138);}  
  &300 {  background-color: rgb(253 224 71);} 
  &400 {  background-color: rgb(250 204 21);} 
  &500 {  background-color: rgb(234 179 8);}  
  &600 {  background-color: rgb(202 138 4);}  
  &700 {  background-color: rgb(161 98 7);} 
  &800 {  background-color: rgb(133 77 14);}  
  &900 {  background-color: rgb(113 63 18);}  
}
.bg-lime-{  &100 {  background-color: rgb(236 252 203);}  
  &200 {  background-color: rgb(217 249 157);}  
  &300 {  background-color: rgb(190 242 100);}  
  &400 {  background-color: rgb(163 230 53);} 
  &500 {  background-color: rgb(132 204 22);} 
  &600 {  background-color: rgb(101 163 13);} 
  &700 {  background-color: rgb(77 124 15);}  
  &800 {  background-color: rgb(63 98 18);} 
  &900 {  background-color: rgb(54 83 20);} 
}
.bg-green-{  &100 { background-color: rgb(220 252 231);}  
  &200 {  background-color: rgb(187 247 208);}  
  &300 {  background-color: rgb(134 239 172);}  
  &400 {  background-color: rgb(74 222 128);} 
  &500 {  background-color: rgb(34 197 94);}  
  &600 {  background-color: rgb(22 163 74);}  
  &700 {  background-color: rgb(21 128 61);}  
  &800 {  background-color: rgb(22 101 52);}  
  &900 {  background-color: rgb(20 83 45);} 
} 
.bg-emerald  &100 { background-color: rgb(209 250 229);}  
bg-emerald  &200 {  background-color: rgb(167 243 208);}  
bg-emerald  &300 {  background-color: rgb(110 231 183);}  
bg-emerald  &400 {  background-color: rgb(52 211 153);} 
bg-emerald  &500 {  background-color: rgb(16 185 129);} 
bg-emerald  &600 {  background-color: rgb(5 150 105);}  
bg-emerald  &700 {  background-color: rgb(4 120 87);} 
bg-emerald  &800 {  background-color: rgb(6 95 70);}  
bg-emerald  &900 {  background-color: rgb(6 78 59);}  
} 
.bg-teal-{  &100 {  background-color: rgb(204 251 241);}  
  &200 {  background-color: rgb(153 246 228);}  
  &300 {  background-color: rgb(94 234 212);} 
  &400 {  background-color: rgb(45 212 191);} 
  &500 {  background-color: rgb(20 184 166);} 
  &600 {  background-color: rgb(13 148 136);} 
  &700 {  background-color: rgb(15 118 110);} 
  &800 {  background-color: rgb(17 94 89);} 
  &900 {  background-color: rgb(19 78 74);} 
}
.bg-cyan-{  &100 {  background-color: rgb(207 250 254);}  
  &200 {  background-color: rgb(165 243 252);}  
  &300 {  background-color: rgb(103 232 249);}  
  &400 {  background-color: rgb(34 211 238);} 
  &500 {  background-color: rgb(6 182 212);}  
  &600 {  background-color: rgb(8 145 178);}  
  &700 {  background-color: rgb(14 116 144);} 
  &800 {  background-color: rgb(21 94 117);}  
  &900 {  background-color: rgb(22 78 99);} 
}
.bg-sky-{  &100 { background-color: rgb(224 242 254);}  
  &200 {  background-color: rgb(186 230 253);}  
  &300 {  background-color: rgb(125 211 252);}  
  &400 {  background-color: rgb(56 189 248);} 
  &500 {  background-color: rgb(14 165 233);} 
  &600 {  background-color: rgb(2 132 199);}  
  &700 {  background-color: rgb(3 105 161);}  
  &800 {  background-color: rgb(7 89 133);} 
  &900 {  background-color: rgb(12 74 110);}  
} 
.bg-blue-{  &100 {  background-color: rgb(219 234 254);}  
  &200 {  background-color: rgb(191 219 254);}  
  &300 {  background-color: rgb(147 197 253);}  
  &400 {  background-color: rgb(96 165 250);} 
  &500 {  background-color: rgb(59 130 246);} 
  &600 {  background-color: rgb(37 99 235);}  
  &700 {  background-color: rgb(29 78 216);}  
  &800 {  background-color: rgb(30 64 175);}  
  &900 {  background-color: rgb(30 58 138);}  
}
.bg-indigo-{  &100 {  background-color: rgb(224 231 255);}  
  &200 {  background-color: rgb(199 210 254);}  
  &300 {  background-color: rgb(165 180 252);}  
  &400 {  background-color: rgb(129 140 248);}  
  &500 {  background-color: rgb(99 102 241);} 
  &600 {  background-color: rgb(79 70 229);}  
  &700 {  background-color: rgb(67 56 202);}  
  &800 {  background-color: rgb(55 48 163);}  
  &900 {  background-color: rgb(49 46 129);}  
}
.bg-violet-{  &100 {  background-color: rgb(237 233 254);}  
  &200 {  background-color: rgb(221 214 254);}  
  &300 {  background-color: rgb(196 181 253);}  
  &400 {  background-color: rgb(167 139 250);}  
  &500 {  background-color: rgb(139 92 246);} 
  &600 {  background-color: rgb(124 58 237);} 
  &700 {  background-color: rgb(109 40 217);} 
  &800 {  background-color: rgb(91 33 182);}  
  &900 {  background-color: rgb(76 29 149);}  
}
.bg-purple-{  &100 {  background-color: rgb(243 232 255);}  
  &200 {  background-color: rgb(233 213 255);}  
  &300 {  background-color: rgb(216 180 254);}  
  &400 {  background-color: rgb(192 132 252);}  
  &500 {  background-color: rgb(168 85 247);} 
  &600 {  background-color: rgb(147 51 234);} 
  &700 {  background-color: rgb(126 34 206);} 
  &800 {  background-color: rgb(107 33 168);} 
  &900 {  background-color: rgb(88 28 135);}  
} 
.bg-fuchsia-{  &100 { background-color: rgb(250 232 255);}  
  &200 {  background-color: rgb(245 208 254);}  
  &300 {  background-color: rgb(240 171 252);}  
  &400 {  background-color: rgb(232 121 249);}  
  &500 {  background-color: rgb(217 70 239);} 
  &600 {  background-color: rgb(192 38 211);} 
  &700 {  background-color: rgb(162 28 175);} 
  &800 {  background-color: rgb(134 25 143);} 
  &900 {  background-color: rgb(112 26 117);} 
} 
.bg-pink-{  &100 {  background-color: rgb(252 231 243);}  
  &200 {  background-color: rgb(251 207 232);}  
  &300 {  background-color: rgb(249 168 212);}  
  &400 {  background-color: rgb(244 114 182);}  
  &500 {  background-color: rgb(236 72 153);} 
  &600 {  background-color: rgb(219 39 119);} 
  &700 {  background-color: rgb(190 24 93);}  
  &800 {  background-color: rgb(157 23 77);}  
  &900 {  background-color: rgb(131 24 67);}  
} 
.bg-rose- {  &100 { background-color: rgb(255 228 230);}  
  &200 {  background-color: rgb(254 205 211);}  
  &300 {  background-color: rgb(253 164 175);}  
  &400 {  background-color: rgb(251 113 133);}  
  &500 {  background-color: rgb(244 63 94);}  
  &600 {  background-color: rgb(225 29 72);}  
  &700 {  background-color: rgb(190 18 60);}  
  &800 {  background-color: rgb(159 18 57);}  
  &900 {  background-color: rgb(136 19 55);}
}

/*! purgecss end ignore */