/*! purgecss start ignore */

.button-plus-minus {
  @apply h-14;
  border: 1px solid #2199e8;
}

.button {
	transition: background-color .25s ease-out,color .25s ease-out;
	@apply inline-block bg-blue text-white p-4 my-4 mx-0 rounded-none;
	&:hover, &:focus{
		background-color: #14679e;
		color: #fff;	
	}
	&-small {
		@apply text-sm p-2 my-2;
		 
	}
	&-clip {
		 clip-path: polygon(12% 0, 100% 0%, 100% 100%, 0 100%, 0 25%);
	}
	&.success {
			background-color: #3adb76;
			color: #fff;
		&:hover, &:focus{
			background-color: #22bb5b;
			color: #fff;	
		}
	}
}


.button_admin {
	@apply inline-block text-white p-2 4xl:p-4 my-1 mx-0 rounded-none uppercase font-semibold text-center transition-all duration-500;
}



/*! purgecss end ignore */