/*! purgecss start ignore */
.progress{
  &_container {
    @apply bg-gray-200 rounded-md;
    width: 24rem;
  }
  &_progressbar {
    @apply bg-cyan-500 text-white text-center p-1 leading-none min-h-full rounded-md;
  }
}
/*! purgecss end ignore */