/*! purgecss start ignore */
.td {
    @apply py-2;
    @apply px-1;
    @apply md:px-3;
}

.tr {
    @apply md:my-4;
    @apply my-2;

    &:nth-child(odd) {
        @apply bg-f1f1f1;
    }

    &:nth-child(even) {
        @apply bg-white;
    }

}

thead {
    @apply bg-white;
    @apply border-b-2;
    @apply border-blue;
}

tfoot {
    @apply border-t-2;
    @apply border-blue;
}

table.external {
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

    thead tr {
        background-color: #009879;
        @apply text-white;
        text-align: left;
    }

    tbody tr {
        border-bottom: 1px solid #dddddd;
        &:nth-child(odd) {
            background-color: #f3f3f3;
        }

        &:nth-child(even) {
            @apply bg-white;
        }
        &:last-of-type {
            border-bottom: 2px solid #009879;
        }
    }
}

/*! purgecss end ignore */