/*! purgecss start ignore */

.text-dark {
  @apply text-gray-700;
  a {
    &:hover {
      @apply text-gray-900;
    }

  }
}

.text-blue {
  @apply blue;
  &:hover, &focus{
  	@apply blue;
  }
}


h1 {
	@apply text-4xl;
	@apply lg:py-4;
	@apply md:py-3;
	@apply py-1;
}

h2 {
	@apply text-3xl;
	@apply lg:py-3;
	@apply md:py-2;
	@apply py-1;
}

h3 {
	@apply text-2xl;
	@apply lg:py-2;
	@apply md:py-1;
	@apply py-1;
}

h4 {
	@apply text-xl;
	@apply lg:py-1;
	@apply py-1;
}

h5 {
	@apply text-xl;
	@apply lg:py-2;
	@apply py-1;
}

.text-amber-{ 
&100	{color: rgb(254 243 199);}	
&200	{color: rgb(253 230 138);}	
&300	{color: rgb(252 211 77);}
&400	{color: rgb(251 191 36);}
&500	{color: rgb(245 158 11);}
&600	{color: rgb(217 119 6);}
&700	{color: rgb(180 83 9);}
&800	{color: rgb(146 64 14);}	
&900	{color: rgb(120 53 15);}
}

text-cyan-{
	&50	{color: rgb(236 254 255);}	
	&100	{color: rgb(207 250 254);}	
	&200	{color: rgb(165 243 252);}	
	&300	{color: rgb(103 232 249);}	
	&400	{color: rgb(34 211 238);}
	&500	{color: rgb(6 182 212);}
	&600	{color: rgb(8 145 178);}
	&700	{color: rgb(14 116 144);}
	&800	{color: rgb(21 94 117);}
	&900	{color: rgb(22 78 99);}
}

.text-yellow-{
&100	{color: rgb(254 249 195);}	
&200	{color: rgb(254 240 138);}	
&300	{color: rgb(253 224 71);}	
&400	{color: rgb(250 204 21);}	
&500	{color: rgb(234 179 8);}	
&600	{color: rgb(202 138 4);}	
&700	{color: rgb(161 98 7);}
&800	{color: rgb(133 77 14);}	
&900	{color: rgb(113 63 18);}	
}

.text-lime-{	
	&100	{color: rgb(236 252 203);}
	&200	{color: rgb(217 249 157);}
	&300	{color: rgb(190 242 100);}
	&400	{color: rgb(163 230 53);}
	&500	{color: rgb(132 204 22);}
	&600	{color: rgb(101 163 13);}
	&700	{color: rgb(77 124 15);}
	&800	{color: rgb(63 98 18);}
	&900	{color: rgb(54 83 20);}
}

.text-emerald- {
	&100 {color: rgb(209 250 229);}
	&200 {color: rgb(167 243 208);}
	&300 {color: rgb(110 231 183);}
	&400 {color: rgb(52 211 153);}
	&500 {color: rgb(16 185 129);}
	&600 {color: rgb(5 150 105);}
	&700 {color: rgb(4 120 87);}
	&800 {color: rgb(6 95 70);}
	&900 {color: rgb(6 78 59);}
}

.text-sky- {
	&100 {color: rgb(224 242 254);}
	&200 {color: rgb(186 230 253);}
	&300 {color: rgb(125 211 252);}
	&400 {color: rgb(56 189 248);}
	&500 {color: rgb(14 165 233);}
	&600 {color: rgb(2 132 199);}
	&700 {color: rgb(3 105 161);}
	&800 {color: rgb(7 89 133);}
	&900 {color: rgb(12 74 110);}
}

.text-blue- {
	&100 {color: rgb(219 234 254);}
	&200 {color: rgb(191 219 254);}
	&300 {color: rgb(147 197 253);}
	&400 {color: rgb(96 165 250);}
	&500 {color: rgb(59 130 246);}
	&600 {color: rgb(37 99 235);}
	&700 {color: rgb(29 78 216);}
	&800 {color: rgb(30 64 175);}
	&900 {color: rgb(30 58 138);}
}

.text-rose- {
	&100 {color: rgb(255 228 230);}	
	&200 {color: rgb(254 205 211);}
	&300 {color: rgb(253 164 175);}
	&400 {color: rgb(251 113 133);}
	&500 {color: rgb(244 63 94);}
	&600 {color: rgb(225 29 72);}
	&700 {color: rgb(190 18 60);}
	&800 {color: rgb(159 18 57);}
	&900 {color: rgb(136 19 55);}
}

.text-fuchsia- {
	&100 {color: rgb(250 232 255);}	
	&200 {color: rgb(245 208 254);}	
	&300 {color: rgb(240 171 252);}	
	&400 {color: rgb(232 121 249);}	
	&500 {color: rgb(217 70 239);}
	&600 {color: rgb(192 38 211);}
	&700 {color: rgb(162 28 175);}
	&800 {color: rgb(134 25 143);}
	&900 {color: rgb(112 26 117);}
}

/*! purgecss end ignore */