          {% if not product.availability_id or product.availability_id == 53: %}
            <button class="button disabled alert small-centered" disabled>{{ _("Produkt niedostępny") }}</button>
          {% elif product.availability_id == 111: %}
            <a class="button alert small-centered" disabled>{{ _("Produkt w magazynie - zapytaj o koszt transportu") }}</a>
            <h5 class="text-xl"> {{ settings.get('telephone') |safe}}</h5>
          {% elif product.availability_id == 51: %}
            <button class="button disabled" disabled>{{ _("Zapytaj o dostępność") }}</button>
          {% else: %}
            <button class="button {{'success' if product_in_cart}} small-centered" onClick="addToCart({{ product.product_id }})" id="add_to_basket">{{ _("Aktualizuj koszyk") if product_in_cart else _("Dodaj do koszyka") }}</button>
            {% if request.session.get('cart_contents') and product.product_id in request.session['cart_contents']['products']: %}
              <a class="button text-blue bg-transparent button-update {{text_align}} text-3xl" data-id="{{ product.product_id }}" title='{{_("Usuń z koszyka")}}'><i class="fi-trash {{text_size}}"></i></a>
            {% endif %}

          {% endif %}