            <div id="packages" class="font-normal flex flex-wrap justify-start">
            <span class="inline-flex cart-input-group">

              <input type="button" value="-" class="button {{'success' if product.product_in_cart}} button-plus-minus button-minus w-12 p-1 md:p-4" data-field="pack">
              
              <input type="number" step="1" minimum="{{ product.minimum_packages }}" max="" value="{{ product.product_quantity | int }}" name="pack" class="w-24 h-14 my-4 p-1 md:p-2 rounded-none appearance-textfield text-center {{'input-filled' if product_in_cart}}" id="product_{{value_type}}_{{ product.product_id }}">

              <input type="button" value="+" class="button  {{'success' if product.product_in_cart}} button-plus-minus button-plus w-12 p-1 md:p-4" data-field="pack">
            </span>
            <span class="self-center ml-4">
              {{ 'paczek' if product.square_meter else 'sztuk' }}
            </span>
          </div>
          