        <div id="add_product_cart" class="text-center font-bold">


        <input name="minimum" value="{{ product.minimum }}" disabled="disabled" type="hidden" id="product_minimum_{{ product.product_id }}">
        <input name="current_price" value="{{ product.calculated_price }}" disabled="disabled" type="hidden" id="product_price_{{ product.product_id }}" >
        <input name="manufacturer" value="{{ product.manufacturer }}" disabled="disabled" type="hidden" id="product_manufacturer_{{ product.product_id }}" >


        {% include "emporium:templates/case/product/single_segment/s_product_price.html" %}
        

    
        <div class="divide-x-1 pt-4 mt-4 mb-2"></div>


  


        <h5 class="hidden opacity-0 transition-opacity duration-700" id="updated_cart">{{_("Zaktualizowano zawartość")}} <a class="blue" href="{{ request.route_url('s_cart') }}">{{_("koszyka")}}</a></h5>

        {% if product_in_cart: %}
      
          <h5 class="" id="in_cart">{{_("Zawartość")}}  <a class="orange" href='{{ request.route_url("s_cart") }}'>{{_("koszyka")}}</a></h5>
        {% endif %}
          
        <div class="inline-block">

          {% if request.session.get('cart_contents'): %}
            {% with product_quantity =  request.session['cart_contents']['products'][product.product_id] %}
            {% endwith %}
          {% endif %} 


          
          {% with value_type = 'package' if product.square_meter else 'quantity'%}

          {% include "emporium:templates/case/product/single_segment/s_cart_packages.html" %}

          {% endwith %}
          
          {% if product.square_meter: %}

          {% include "emporium:templates/case/product/single_segment/s_cart_meters.html" %}
          
          {% endif %}

          <input name="product_id" value="{{ product.product_id }}" disabled="disabled" type="hidden" id="product_id">

          {% include "emporium:templates/case/product/single_segment/s_cart_add_to_cart.html" %}

          {% include "emporium:templates/case/common/s_goto_order.html" %}



        {% include "emporium:templates/case/product/single_segment/s_product_price_summary.html"%}  

        

        </div>

      </div>
      
