          {% if product.allowed_free_transport and product.allowed_free_transport_minimum_amount : %}
          <b>{{_("Uwagi") }}:</b> {{_("darmowy transport od ") }}<span class="orange">{{ product.allowed_free_transport_minimum_amount }}</span>  {{_("paczek") }}
          {% endif %}