      <span class="flex pb-2">
        {% if settings.get('artisan_products') == '1' and data_options_filtered.band_filtered.get(product.product_id): %}
          {{ _("Zespół") }}:&nbsp;
            {% with query=(('band', data_options_filtered.band_filtered[product.product_id].band_id),) %}
              <a class="" href="{% include 'emporium:templates/case/common/s_seo_url.html' %}" rel="follow" id="product_band_{{product.product_id}}" > {{data_options_filtered.band_filtered[product.product_id].name}} </a>  
            {% endwith %}
        {% endif %}
      </span>