   {% if product.description_technical and settings.product_settings.get('description_technical') and settings.product_settings['description_technical'] == 1 %}
      <div id="description_technical" class="md:col-span-4 col-span-12 {{'order-1' if settings['product_settings'].get('display_music_player', '0') == '1' and data_options.attached_music else 'order-2'}}">
         {{ product.description_technical | safe}}
                 {% if settings.get('product_settings') and settings['product_settings'].get('display_product_authors') == 1%}

            {% include "emporium:templates/case/product/single_segment/s_product_authors.html" %}

        {% endif %}
      </div>
      <div class="col-span-12 md:order-2 {{'order-3' if settings['product_settings'].get('display_music_player', '0') == '1' and data_options.attached_music else 'md:col-span-8 order-1'}}  pt-4 md:pt-0">
      {% else:%}
      <div class="col-span-12">
   {% endif %}

      {{ product.description | safe}}
   </div>


