
        {% if product.forbidden_transport_methods: %}
          <b>
            {% if '2' in product.forbidden_transport_methods: %}
              {{_("Transport wymaga użycia specjalnej palety (jednorazowa dopłata") }} 
              {{cart_options.transport_fee[0]}} zł).
              
            {% elif '1' in product.forbidden_transport_methods: %}
              {{_("Jedyna metoda dostawy tego produktu to odbiór osobisty w siedzibie firmy (<span class='orange'>Opoczno</span>)")|safe}}.
            {% endif %}
          </b>
        {% endif %}