       <div class="{{'glide' if data_options.additional_images_dict }}">
          {% if data_options.additional_images_dict: %}
          <div class="glide__arrows" data-glide-el="controls">
            <button class="glide__arrow glide__arrow--left blue" data-glide-dir="<"><</button>
          </div>
          {% endif %}

          <div class="glide__track" data-glide-el="track">
            <div class="glide__slides">

          {% if product['image']: %}

               <a @click="$dispatch('img-modal', {  imgModalSrc: '{{ request.static_url('emporium:images/base/') + product['image'] + '.' + settings['image_file_extensions']['JPEG'] }}', imgModalDesc: '' })" class="cursor-pointer glide__slide ">

                <picture>

                  {% for key,value in settings['image_file_extensions'].items(): %}
                  <source srcset="{{ (request.static_url('emporium:images/thumbnails/') + product['image'] + '.' + value ) }}" type="image/{{key|lower}}" media="(min-width: 340px)" >
                  {% endfor %}  
                  <img src="{{ (request.static_url('emporium:images/thumbnails/') +  product['image'] + '.' + settings['image_file_extensions']['JPEG']  ) if product['image'] else (request.static_url('emporium:images/no_image.jpg')) }}" alt="Image" class="thumbnail_image">

                </picture>
                </a>
              {% endif %}

              {% if data_options.additional_images_dict: %}
                {% for item in data_options.additional_images_dict: %}
                  <a @click="$dispatch('img-modal', {  imgModalSrc: '{{ request.static_url('emporium:images/base/') + item.image + '.'  + settings['image_file_extensions']['JPEG'] }}', imgModalDesc: '' })" class="cursor-pointer  glide__slide">

                    {% for key,value in settings['image_file_extensions'].items(): %}
                    <source srcset="{{ (request.static_url('emporium:images/thumbnails/') + item.image + '.' + settings['image_file_extensions']['JPEG']) }}" type="image/{{key|lower}}" media="(min-width: 340px)" >
                    {% endfor %}  
                    <img src="{{ (request.static_url('emporium:images/thumbnails/') + item.image + '.' + settings['image_file_extensions']['JPEG']) }}" alt="Image" class="thumbnail_image">
                  </a>
                {% endfor %}
              {% endif %}

            </div>   
          </div>
          {% if data_options.additional_images_dict: %}
          <div class="glide__bullets" data-glide-el="controls[nav]">
            <button class="glide__bullet" data-glide-dir="=0"></button>
            {% for item in data_options.additional_images_dict: %}
              <button class="glide__bullet" data-glide-dir="={{loop.index}}"></button>
            {% endfor %}
          </div>
          <div class="glide__arrows" data-glide-el="controls">
            <button class="glide__arrow glide__arrow--right blue" data-glide-dir=">">></button>
          </div>
          {% endif %}
        </div>


      <div x-data="{ imgModal : false, imgModalSrc : '', imgModalDesc : '' }">
        <template @img-modal.window="imgModal = true; imgModalSrc = $event.detail.imgModalSrc; imgModalDesc = $event.detail.imgModalDesc;" x-if="imgModal">
          <div x-transition:enter="transition ease-out duration-300" x-transition:enter-start="opacity-0 transform scale-90" x-transition:enter-end="opacity-100 transform scale-100" x-transition:leave="transition ease-in duration-300" x-transition:leave-start="opacity-100 transform scale-100" x-transition:leave-end="opacity-0 transform scale-90" x-on:click.away="imgModalSrc = ''" class="p-2 fixed w-full h-100 inset-0 z-50 overflow-hidden flex justify-center items-center bg-black bg-opacity-75">
            <div @click.away="imgModal = ''" class="flex flex-col max-w-4xl max-h-full overflow-auto">
              <div class="z-50">
                <button @click="imgModal = ''" class="float-right pt-2 pr-2 outline-none focus:outline-none">
                  <svg class="fill-current text-white " xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                    <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z">
                    </path>
                  </svg>
                </button>
              </div>
              <div class="p-2">
                <img :alt="imgModalSrc" class="object-contain h-1/2-screen" :src="imgModalSrc">
                <p x-text="imgModalDesc" class="text-center text-white"></p>
              </div>
            </div>
          </div>
        </template>
      </div>