<div id="techno">
    <div class="music-container relative" id="music-container">
      <div class="music-info">
        <h4 id="title"></h4>
        <div class="progress-container" id="progress-container">
          <div class="progress" id="progress"></div>
        </div>
      </div>

      <audio src="{{ (request.static_url("emporium:uploads/') +  product['image'] + '.' + settings['image_file_extensions']['JPEG']  ) if product['image'] else (request.static_url("emporium:uploads/no_image.jpg')) }}" id="audio"></audio>

      <div class="img-container">
        <img src="{{ (request.static_url("emporium:images/thumbnails/') +  product['image'] + '.' + settings['image_file_extensions']['JPEG']  ) if product['image'] else (request.static_url("emporium:images/no_image.jpg')) }}" alt="music-cover" id="cover" />
      </div>
      <div class="navigation">
        <button id="prev" class="action-btn">
          <i class="fas fa-backward"><</i>
        </button>
        <button id="play" class="action-btn action-btn-big">
          <i class="fas fa-play">Plej</i>
        </button>
        <button id="next" class="action-btn">
            <i class="fas fa-forward">></i>
        </button>
      </div>
    </div>
</div>