{% extends "emporium:templates/emporatorium/common/layout.html" %}
{% block body %}

  {% with id='page_list_header',title = 'Strony informacyjne' %}
    {% include "emporium:templates/emporatorium/common/title.html" %}
  {% endwith %}

<div class="col-span-12 grid grid-cols-12 bg-white p-4 my-4 border gap-4">
    {% with action = 'page_action' %}
      {% include "emporium:templates/emporatorium/common/add_block.html" %}
    {% endwith %}
</div>
  <table class="col-span-12">
    <thead>
      <tr>
        <th class="w-1/12">{{ _("Edycja") }}</th>
        <th class="w-2/12">{{ _("Stan") }}</th>
        <th class="w-3/12">{{ _("Tytuł") }}</th>
        <th class="w-1/12"></th>
      </tr>
  </thead>
  <tbody>
    {% for item in pages: %}
      <tr class="tr">
        <td class="td px-4">
          <a class="button_admin bg-cyan-500" href="{{ request.route_url('page_action', action='edit', _query=(('page_id',item.page_id),)) }}">
            {{ _("Edytuj") }}
          </a>
        </td>
        <td class="td px-4 text-center">
            {{ _("Załączone") if item.status == 1 else '<i class="fi-alert orange text-3xl"></i>' | safe }}
        </td>
        <td class="td px-4">
          {{ item.title }}
        </td>
        <td class="td px-4">
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock %}