{% extends "emporium:templates/emporatorium/common/layout.html" %}
{% block body %}

  {% include "emporium:templates/emporatorium/common/edit_left.html" %}

  <form id="content_form" name="content_form" action='{{ request.route_url("page_action", action=action) }}' method="post" class="col-span-10 grid grid-cols-12 gap-4">

<input id="csrf_token" name="csrf_token" type="hidden" value="{{ get_csrf_token() }}"/>

    {% with id = 'page_' + options.action + '_header', title = ('Edytuj' if options.action == 'edit' else 'Dodaj') + ' stronę', additional_title = page.title, color= 'orange' if options.action == 'edit' else 'blue' %}
      {% include "emporium:templates/emporatorium/common/title.html" %}
    {% endwith %}

    <div class="col-span-12 grid grid-cols-12 bg-white p-4 my-4 border gap-4">
  {% for field in form: %}
    {% for error in field.errors: %}
      <span class="error">{{ field.label }} {{ error }}</span> ||
    {% endfor %}
  {% endfor %}

    <div class="col-span-5 ">
        <label for="title">{{ _("Tytuł") }}</label>
        <input class="" id="title" name="title" required  value="{{ page.title if page }}">
    </div>
    <div class="col-span-2 ">
      <label for="status">{{ _("Status") }}</label>{{page.status}}
      <select id="status" name="status" required class="">
        <option value="1" {{ 'selected' if page and page.status == True or form.status.data == 1 or '' }}>{{ _("Załączony") }}</option>
        <option value="0" {{ 'selected' if page and page.status == False or form.status.data ==0 or '' }}>{{ _("Wyłączony") }}</option>
      </select>
    </div>
    <div class="col-span-12 ">
      <label for="content">{{ _("Treść") }}</label>
      <textarea class="" id="content" name="content">{{ page.content|safe if page }}</textarea>
    </div>

    <div class="col-span-12 ">
        <label for="content_extended">{{ _("Treść pod tabelę do transportu") }}</label>
        <textarea class="" id="content_extended" name="content_extended">{{ page.content_extended|safe if page }}</textarea>
    </div>
    <input id="page_id" name="page_id" type="hidden" value="{{ page.page_id if page }}">

</form>
</div>
  {% include "emporium:templates/emporatorium/common/edit_right.html" %}

    <script>
      tinymce.init({
        selector: '#content',
        plugins: 'advlist link image lists',
        height: 600,
      });


            tinymce.init({
        selector: '#content_extended',
        plugins: 'advlist link image lists',
        height: 200,
      });


    </script>


{% endblock %}