{% extends "emporium:templates/emporatorium/common/layout.html" %}
{% block body %}

  {% with id='manufacturer_list_header',title = 'Producenci', pager = manufacturers.link_map() %}
    {% include "emporium:templates/emporatorium/common/title.html" %}
    {% include "emporium:templates/emporatorium/common/paginate.html" %}
  {% endwith %}

<div class="col-span-12 grid grid-cols-12 bg-white p-4 my-4 border gap-4">
    {% with action = 'manufacturer_action' %}
      {% include "emporium:templates/emporatorium/common/add_block.html" %}
    {% endwith %}
    {% with orphan_url = 'manufacturer_list' %}
      {% include "emporium:templates/emporatorium/manufacturer/manufacturer_orphans_block.html" %}
    {% endwith %}
</div>

  <div class="col-span-6 bg-white">
    <table class="table">
      <thead>
        <tr>
          <th class="w-1/12">{{ _("Edycja") }}</th>
          <th class="w-1/12">{{ _("Sierota") }}</th>
          <th class="w-1/12">{{ _("Nazwa") }}</th>
          <th class="w-1/12">{{ _("Stan") }}</th>
          <th class="w-1/12"></th>
        </tr>
      </thead>
      <tbody>
      {% for item in manufacturers.items: %}
      {{ item.name + ' <->' if loop.index0 == 0 }}{{ item.name if loop.index == 36 }}
        {% if loop.index0 < 36: %}
        <tr class="tr">
          <td class="td px-4">
            <a class="button_admin bg-cyan-500" href="{{ request.route_url('manufacturer_action', action='edit', _query=(('manufacturer_id',item.manufacturer_id),)) }}">
              {{ _("Edytuj") }}
            </a>
          </td>
          <td class="td px-4">
            {% if orphans and item.manufacturer_id in orphans: %}
            <i class="fi-alert orange text-5xl"></i>
            {% endif %}
          </td>
          <td class="td px-4">
            {{ item.name }}
          </td>
          <td class="td px-4">
            {{ "Załączone" if item.status == 1 else "Wyłączone"}}
          </td>
          <td class="td px-4">
            {% with item_id = item.manufacturer_id , action_url = "manufacturer_", action_name="delete", parameter_name = "purge_all=True&manufacturer_id" %}
              {% include "emporium:templates/emporatorium/common/button_change.html" %}
            {% endwith %}
          </td>
        </tr>
        {% endif %}
      {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="col-span-6 bg-white">
    <table class="table">
      <thead>
        <tr>
          <th class="w-1/12">{{ _("Edycja") }}</th>
          <th class="w-1/12">{{ _("Sierota") }}</th>
          <th class="w-1/12">{{ _("Nazwa") }}</th>
          <th class="w-1/12">{{ _("Stan") }}</th>
          <th class="w-1/12"></th>
        </tr>
      </thead>
      <tbody>
      {% for item in manufacturers.items: %}
        {{ item.name + ' <->' if loop.index0 == 37 }}{{ item.name if loop.index == 72 }}
        {% if loop.index0 > 36: %}
        <tr class="tr">
          <td class="td px-4">
            <a class="button_admin bg-cyan-500" href="{{ request.route_url('manufacturer_action', action='edit', _query=(('manufacturer_id',item.manufacturer_id),)) }}">
              {{ _("Edytuj") }}
            </a>
          </td>
          <td class="td px-4">
            {% if orphans and item.manufacturer_id in orphans: %}
            <i class="fi-alert orange text-5xl"></i>
            {% endif %}
          </td>
          <td class="td px-4">
            {{ item.name }}
          </td>
          <td class="td px-4">
            {{ "Załączone" if item.status == 1 else "Wyłączone"}}
          </td>
          <td class="td px-4">
            {% with item_id = item.manufacturer_id , action_url = "manufacturer_", action_name="delete", parameter_name = "purge_all=True&manufacturer_id" %}
              {% include "emporium:templates/emporatorium/common/button_change.html" %}
            {% endwith %}
          </td>
        </tr>
        {% endif %}
      {% endfor %}
      </tbody>
    </table>
  </div>

{% include "emporium:templates/emporatorium/common/change_modal.html" %}

  <span class="hidden">
    <p id="txt_delete">{{ _("Potwierdź usunięcie producenta") }}</p>
    <p id="txt_success_delete">{{ _("Pomyślnie usunięto producenta") }}</p>
  </span>


{% endblock  %}
