{% extends "emporium:templates/emporatorium/common/layout.html" %}

{% block body %}
  

{% include "emporium:templates/emporatorium/common/edit_left.html" %}

  <div class="col-span-10 grid grid-cols-12">

    {% with title = ('Edytuj' if options.action == 'edit' else 'Dodaj') + ' producenta' %}
      {% include "emporium:templates/emporatorium/common/title.html" %}
    {% endwith %}

    <nav class="tabs col-span-12 flex flex-row pt-4">
      {% for item in ('Główne', 'Ceny (Rabaty)', 'Opisy/Meta (SEO)'): %}
        <button data-target="panel-{{loop.index}}" class="tab block bg-blue hover:bg-blue-dark text-white p-2 m-2 {{'ml-0 active' if loop.index == 1}} text-center">{{item}}</button>
      {% endfor %}
    </nav>



    {% if form.errors.items(): %}
      {% for fieldName, errorMessages in form.errors.items(): %}
        {{ fieldName.title() }} - {{ errorMessages }}
      {% endfor %}
    {% endif %}
    <form action='{{ request.route_url("manufacturer_action", action=action) }}' method="post" class="col-span-12 bg-white p-4" id="content_form" name="content_form" >
    <input id="csrf_token" name="csrf_token" type="hidden" value="{{ get_csrf_token() }}"/>

    <div id="panels" class="grid grid-cols-1 col-span-12">

      <div class="grid-cols-12 col-span-1 gap-4 active">
        <div class="col-span-6 grid-cols-12 grid gap-4">
          <div class="col-span-3">
            <label for="name">{{ _("Nazwa") }}</label>
            <input class="required" id="name" name="name"  value="{{ (manufacturer and manufacturer.name) or '' }}">
          </div>
          <div class="col-span-2 ">
            <label for="code">{{ _("Kod") }}</label>
            <input id="code" name="code"  value="{{ (manufacturer and manufacturer.code) or '' }}">
          </div>

          <div class="col-span-3">
            <label for="status">{{ _("Status") }}</label>
            <select id="status" name="status" class=" bg-white" required>
              <option value="1" {{ ('selected' if manufacturer.status == 1 else "") if manufacturer |safe }}>{{ _("Załączony") }}</option>
              <option value="0" {{ ('selected' if manufacturer.status == 0 else "") if manufacturer |safe }}>{{ _("Wyłączony") }}</option>
            </select>
          </div>

          <div class="col-span-3">
            <label for="product_status">{{ _("Zmiana masowa statusu produktów na niedostępny") }}</label>
            <select id="product_status" name="product_status" class=" bg-white">
              <option value="" >{{ _("Bez zmian") }}</option>
              <option value="53">{{ _("Niedostępny") }}</option>
            </select>
          </div>


          <input type="hidden" id="manufacturer_type" name="manufacturer_type" value="0">
            
          <div class="col-span-6">
            <label for="language_id">{{ _("Język") }}</label>
            <select id="language_id" name="language_id" class=" bg-white" required>
              <option value="2" {{ ('selected' if manufacturer_description.language_id == 2 else "") if manufacturer |safe }}>{{ _("Polski") }}</option>
            </select>
          </div>
          <div class="col-span-12">
            <label for="image">{{ _("Zdjęcie") }} {{ _("(zaślepka)") }}</label>
            <input id="image" name="image" type="file">
              <br>&nbsp;<br>
          </div>
            <div class="col-span-6">
            <label for="date_added">{{ _("Data dodania") }}</label>
            <input id="date_added" name="date_added"  value="{{ (manufacturer and manufacturer.date_added.strftime('%Y-%m-%d')) or '' }}">
          </div>
          <div class="col-span-6">
            <label for="date_available">{{ _("Data dostępności") }}</label>
            <input id="date_available" name="date_available"  value="{{ (manufacturer and manufacturer.date_available.strftime('%Y-%m-%d')) or '' }}" disabled="disabled">
          </div>
          <div class="col-span-6">
            <label for="date_modified">{{ _("Ostatnia Modyfikacja") }}</label>
            <input id="date_modified" name="date_modified"  value="{{ (manufacturer and manufacturer.date_modified.strftime('%Y-%m-%d')) or '' }}">
          </div>
        </div>

        <div class="col-span-2">
          <label for="sort_order">{{ _("Sortowanie") }} {{ _("(zaślepka)") }}</label>
          <input id="sort_order" name="sort_order"  value="{{ (manufacturer and manufacturer.sort_order) or '0' }}">
        </div>

        <input id="manufacturer_id" name="manufacturer_id" type="hidden" value="{{ (manufacturer and manufacturer.manufacturer_id) or '' }}">
        <input id="manufacturer_description_id" name="manufacturer_description_id" type="hidden" value="{{ (manufacturer_description and manufacturer_description.manufacturer_description_id) or '' }}">




      </div>

      <div class="grid-cols-12 col-span-12 gap-4">
        {% if manufacturer: %}            
          <div class="col-span-6 switches grid grid-cols-6">
            <div class="col-span-6 text-2xl">{{ _("Zmiana ceny katalogowej [%]") }}</div>
            <div class="relative inline-block w-12 mr-2 align-middle select-none transition duration-400 ease-in">
              <input type="checkbox" name="plus_minus" checked id="toggle" class="toggle-checkbox absolute block w-6 h-6 rounded-full bg-white border-4 appearance-none cursor-pointer"/>
              <label for="toggle" class="toggle-label block overflow-hidden h-6 rounded-full bg-red cursor-pointer p-1"><i class="fi-plus white"></i>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fi-minus white"></i></label>
            </div>
            <input  value="" name="change_price" id="change_price" maxlength="4" size="4" class="">
            <div class="col-span-6">
              {{ _("Zmiana ceny katalogowej o tyle procent ile wpisano w polu.") }}
            </div>
          </div>
          <div class="col-span-6 ">
            <div class="text-2xl">{{ _("Szablony cen sprzedaży") }}</div>
            {% if manufacturer and manufacturer.manufacturer_id: %}
            <table class="table w-100">
              <tr>
                <th> {{ _("Rodzaj") }}</th>
                <th> {{ _("Wartość") }}</th>
                <th> {{ _("Akcja") }} </th>
              </tr>
              {% if manufacturer_discount: %}
                {% for h in manufacturer_discount: %}
                  <tr id="tr_{{h.discount_id}}" class="tr">
                    <td class="td">    
                      <input type="hidden" name="" value="{{ h.discount_id }}" class="discount_{{ h.discount_id }}">
                      
                      <input type="float" class="w-21" id="discount_{{h.discount_id}}" name="value" discount_id="{{ h.discount_id }}" value="{{ h.value }}" onchange="DiscountInput(this)" oninput="DiscountInput(this)"> %
                    </td>
                    <td class="td">  

                      {% with item_id = h.discount_id, action_name="update", action_url = "discount_", parameter_name = "discount_id" %}
                        {% include "emporium:templates/emporatorium/common/button_change.html" %}
                      {% endwith %}

                      {% with item_id = h.discount_id, action_name="delete", action_url = "discount_", parameter_name = "discount_id" %}
                        {% include "emporium:templates/emporatorium/common/button_change.html" %}
                      {% endwith %}

                    </td>
                  </tr>
                    {% endfor %}
                {% endif %}
                 <tr class="tr">
                  <td class="td" colspan="4"><b class="orange">{{ _("Dodaj nowy poziom modyfikacji ceny katalogowej") }}</b></td>
                </tr>

                <tr class="tr">
                  <td class="td">
                    <input type="numeric" id="new_discount" name="value" class="w-21"> %
                  </td>
                  <td>
                    {% with action_name="create", action_url = "discount_", related_data = "manufacturer_id=" + manufacturer.manufacturer_id|string %}
                      {% include "emporium:templates/emporatorium/common/button_change.html" %}
                    {% endwith %}
                  </td>
                </tr>
              </table>
              {% else %}
              <h2>{{_("Dodawanie rabatów jest możliwe dopiero po dodaniu producenta") }}</h2>
              {% endif %}
            </div>
          {% endif %}
        </div>
        <div class="grid-cols-1 col-span-12">
          {% if manufacturer: %}
            {% with categories_list=options.categories_list %}
              {% include "emporium:templates/emporatorium/option/options_categories_list.html" %}
            {% endwith%}
          {% endif %}
        </div>
      </div>
    </form>
  </div>



 {% include "emporium:templates/emporatorium/common/edit_right.html" %}

{% include "emporium:templates/emporatorium/common/trumbowyg.html" %}

{% include "emporium:templates/emporatorium/common/change_modal.html" %}

  <span class="hidden">
    <p id="txt_create">{{ _("Potwierdź dodanie rabatu") }}</p>
    <p id="txt_update">{{ _("Potwierdź zmianę rabatu") }}</p>
    <p id="txt_delete">{{ _("Potwierdź usunięcie rabatu") }}</p>
    <p id="txt_success_create">{{ _("Pomyślnie dodano rabat - zaktualizuj rabaty przypisane do produktów tego producenta") }}</p>
    <p id="txt_success_update">{{ _("Pomyślnie zaktualizowano ceny produktów") }}</p>
    <p id="txt_success_delete">{{ _("Pomyślnie usunięto rabat - sprawdź rabaty przypisane do produktów tego producenta") }}</p>
  </span>

  
<script type="text/javascript">

  $('.description').trumbowyg({
    lang: 'pl',
  });



function DiscountInput(selected_this){
    var ID = $(selected_this).attr('discount_id');
    $(selected_this).attr('name', 'discount_' + ID);
    $(".discount_" + ID).attr('name', 'discount_id');
};

// $(".discount_input").change(function () {
//     var ID = $(this).attr('discount_id');
//     $(this).attr('name', 'discount_' + ID);
//     $(".discount_" + ID).attr('name', 'discount_id');
// });


// $(".subtract_input").change(function () {
//     var ID = $(this).attr('discount_id');
//     $(this).attr('name', 'subtract_' + ID);
//     $(".discount_" + ID).attr('name', 'discount_id');
// });


//     // Change 'form' to class or ID of your specific form
//     $("#manufacturer_form").submit(function() {
//         $(this).find(":input").filter(function(){ return !this.value; }).attr("disabled", "disabled");
//         return true; // ensure form still submits
//     });
    
//     // Un-disable form fields when page loads, in case they click back after submission
//     $( "form" ).find( ":input" ).prop( "disabled", false );


</script>
{% endblock %}
