          <label for="manufactured">{{ _("Produkt ma") }}</label>
          <label>
            <input type="radio" required name="manufactured" id="manufactured" value="1" {{ 'checked' if (object.manufactured or form.manufactured.data) == 1}}>{{ _("producenta") }}</label>
          <label> 
            <input type="radio" required name="manufactured" value="0" {{ 'checked' if (form.manufactured.data or object.manufactured) == 0}}>{{ _("autora i wydawcę") }}
          </label>