      {% for item in data_options.attribute_dict.values(): %}
        {% if item.attribute_display_type_id == 2 and item.attribute_group_id != 9: %}
          <div id="attribute_group_id_{{item.attribute_group_id}}" class="col-span-2 flex flex-col {{'hidden' if item.attribute_group_id not in attribute_type_list}} attribute_group_block">
            <label>{{ item.name }}</label>
            {% for ktem in item.attributes.values(): %}
            <label>
              <input type="checkbox" {{"data-mapped_category=" + ktem.attribute_settings["mapped_category"] if ktem.attribute_settings and ktem.attribute_settings.get("mapped_category") }} name="attribute_list" class="" id="attribute_list_product_special_{{ ktem.attribute_id }}" value="{{ ktem.attribute_id }}" {{ "checked" if ktem.attribute_id in product_attributes }}>{{ ktem.value }} </label>
            {% endfor %}
          </div>
        {% endif %}
      {% endfor %}