          <label >{{ _("Typ produktu") }}</label>
          <label>
            <input required type="radio" name="product_type" value="0" {{ 'checked' if not product or (form.product_type.data or request.cookies.get('product_type') or product.product_type ) == 0 }}>
                {{ _("Sztuka") }} 
          </label>

          <label>
            <input required type="radio" name="product_type"  value="1" {{ 'checked' if request.cookies.get('product_type') == '1' or (product.product_type or form.product_type.data) == 1 }}>
                {{ _("Zestaw") }}
          </label>
   
