        {% for item in data_options.attribute_dict.values(): %}
          {% if item.attribute_display_type_id == 4 and item.attribute_group_id != 9:  %}
          <div id="attribute_group_id_{{item.attribute_group_id}}" class="col-span-2 attribute_group_block {{'hidden' if item.attribute_group_id not in attribute_type_list}}">
            <label>{{ item.name }}</label>
            <select name="attribute_list" class="" >
              <option></option>
              {% for ktem in item.attributes.values(): %}
              <option value="{{ ktem.attribute_id }}" {{ "selected" if ktem.attribute_id in product_attributes }}>{{ ktem.value }}</option>
              {% endfor %}
              </select>
          </div>
          {% endif %}
        {% endfor %}
