          <label>{{ _("Produkt fizyczny/cyfrowy") }}</label>
          <label>
            <input required type="radio" name="transport_method" value="1" {{ 'checked' if (object.transport_method or form.transport_method.data) == 1}}>{{ _("Plik do pobrania") }}</label> 
          <label>
            <input required type="radio" name="transport_method" value="0" {{ 'checked' if not object or (object.transport_method  or form.transport_method.data) == 0 }}>{{ _("Towar fizyczny (wym. transportu)") }}</option>
          </label>