          <label>{{ _("Sprzedaż zmniejsza stan magazynowy") }}</label>
          <label>
          <input required type="radio" name="subtract_quantity" value="1" {{ 'checked' if (object.subtract_quantity or form.subtract_quantity.data) == 1}}>{{ _("Tak") }}</label> 
          <label>
            <input required type="radio" name="subtract_quantity" value="0" {{ 'checked' if not object or (object.subtract_quantity  or form.subtract_quantity.data) == 0 }}>{{ _("Nie") }}</option>
          </label>
