 
          {% if product.product_type ==1: %}
          <span class="tooltip">
            <i class="fi-database text-5xl text-emerald-500 pl-4 mx-auto my-auto"></i>
            {% with tooltip = _("Zestaw") %}
              {% include "emporium:templates/emporatorium/common/tooltip_clean.html"%}
            {% endwith %}
          </span>
          {% endif%}
            <span class="tooltip">
              <i class="fi-{{'at-sign' if product.transport_method == 1 else 'social-dropbox'}} text-5xl text-{{'sky' if product.transport_method == 1 else 'orange'}}-500 pl-4 mx-auto my-auto"></i>

              {% with tooltip = "Digital - produkt cyfrowy" if product.transport_method == 1 else 'Produkt fizyczny - wysłka lub odbiór osobisty' %}
              {% include "emporium:templates/emporatorium/common/tooltip_clean.html"%}
              {% endwith %}
            </span>