{% set extra_javascripts_footer %}
{% endset %}
{% set extra_stylesheets %}
{% endset %}

{% extends "/common/layout.html" %}

{% block body %}

<div class="col-span-12 md:col-span-6">
  <div class="p-4 border bg-white">
    <h4 id="last_orders" class="text-2xl"><a href='{{request.route_url("order_list") }}'>{{ _("Ostatnie zamówienia ") }}</a></h4>
    <table class="table-fixed">
      <thead>
        <tr>
          <th class="w-3/12">{{ _("Akcja ") }}</th>
          <th class="w-2/12">{{ _("Zamawiający ") }}</th>
          <th class="w-1/12">{{ _("Suma towarów (+opłaty) ") }}</th>
          <th class="w-4/12">{{ _("Identyfikator/data zamówienia ") }}</th>
          <th class="w-2/12">{{ _("Aktualny status ") }}</th>
        </tr>
      </thead>
      <tbody>
        {% for item in formatted_order_list: %}
          <tr class="tr">
            <td class="td text-center"> 
              {% include "/order/order_details.html" %}
              {% include "/order/order_pdf.html" %}
            </td>
            <td class="td px-8">
              <span class="mt-4">{{ item.personal_data }}</span> 
              <div class="divide-x-1 pt-4 mt-4 mb-2">{{ item.telephone }}</div>
            </td>
            <td class="td text-center">
              {{ item.summary_cost }} zł
            </td>
            <td class="td px-8">
              <div class="flex justify-between mt-4">
                <span>&#8470; {{ item.order_id }}</span>
                <span>{{ item.uuid }}</span>
              </div>
              <div class="divide-x-1 pt-4 mt-4 mb-2">
                {{ item.date_ordered }}
              </div>
              
            </td>
            <td class="td text-center px-8">
              <span class="mt-4">
                {{ item.status }}
              </span>
              <div class="divide-x-1 pt-4 mt-4 mb-2">
              {{ item.last_update }}
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<div class="col-span-12 md:col-span-3">

  <div class="bg-white p-4 border">
    <h4 id="last_orders_summary" class="text-2xl"><a href='{{request.route_url("order_list") }}'>{{_("Koszyki (zamówienia) z ostatnich 21 dni") }}</a></h4>
    <div class="py-4">
      <li>{{_("Anulowane zamówienia są pomijane") }}</li>
      <li>{{_("Zamówienie usuwa koszyk z listy") }}</li>
    </div>
    {% for item in possible_carts: %}
      <p>{{ item['date'] }} - {{ item["number_carts"]}} ({{item["number_orders"]}} ~ {{'%00d' % item["order_summary"] }} zł)</p>
    {% endfor %}

  </div>

</div>


<div class="col-span-12 md:col-span-3">
  
  {% if updated_product_list or all_prices_are_updated: %}
    <div class="bg-white p-4 border">
      <h4 class="text-2xl pb-4"><span class="orange">{{_("Pobrano dane z ") }} </span><span class="red">{{ _("SATURN ") }}</span> -
        {% if updated_product_list: %}
          {{_("zaktualizowane produkty") }}</h4> <label><u>{{_("nazwy produktów są linkami do ich edycji") }}</u></label><br>
          {% for item in updated_product_list: %}
            <p><a href="{{ request.route_url('product_manipulation', action = 'edit', _query=(('next', request.url),('product_id',item.product_id))) }}">{{ item.name }} - cena katalogowa {{ item.catalog_price}}zł {{ '<span class="fi-alert orange text"></span>' | safe if not item.status}}</a></p>
          {% endfor %}
        {% elif all_prices_are_updated: %}
          {{_(" brak modyfikacji cen i dostępności") }}</h4> 
        {% endif %}
    </div>
  {% endif %}

  <div class="p-4 border bg-white">
    <h4 id="last_orders" class="text-2xl">{{ _("Skróty administracyjne") }}</h4>
    <form type="POST" href="">

      {% for key, value in admin_buttons.items(): %}
        <button class="block bg-{{value[2]}} hover:bg-{{value[2]}}-dark text-white uppercase text-lg p-4 m-4" name="{{key}}" value={{value[1]}}>{{value[0]}}</button>
      {% endfor %}

    </form>
  </div>
</div>

{% endblock %}
