{% extends "emporium:templates/emporatorium/common/layout.html" %}
{% block body %}

  {% with id='setting_list_header',title = 'Lista ustawień' %}
    {% include "emporium:templates/emporatorium/common/title.html" %}
  {% endwith %}

  {% with action = 'settings_action' %}
    {% include "emporium:templates/emporatorium/common/add_block.html" %}
  {% endwith %}



  <table class="col-span-12">
    <thead>
      <tr>
        <th class="w-1/12"></th>
        <th class="w-1/12">{{ _("Stan") }}</th>
        <th class="w-1/12">{{ _("Nazwa") }}</th>
        <th class="w-1/12"></th>
        <th class="w-1/12"></th>
      </tr>
    </thead>
    <tbody>

    {% if settings_list: %}
      {% for item in settings_list: %}
        <tr class="tr">
          <td class="td px-4">
            <a class="button_admin bg-cyan-500" href="{{ request.route_url('settings_action', action='edit', _query=(('setting_id',item.setting_id),)) }}">
              {{ _("Edytuj") }}
            </a>
        </td>
        <td class="td px-4">
          {{ item.key}}        
        </td>
        <td class="td px-4">
          {{ item.value }}
        </td>
        <td class="td px-4">
          {{ item.complex_values }}
        </td>
        <td class="td px-4">
          {% with item_id = item.setting_id, action_url = "settings_", action_name="delete", parameter_name = "setting_id" %}
            {% include "emporium:templates/emporatorium/common/button_change.html" %}
          {% endwith %}
        </td>
      </tr>
      {% endfor %}
    {% endif %}
    </tbody>
  </table>

{% include "emporium:templates/emporatorium/common/change_modal.html" %}

  <span class="hidden">
    <p id="txt_delete">{{ _("Potwierdź usunięcie ustawienia") }}</p>
    <p id="txt_success_delete">{{ _("Pomyślnie usunięto ustawienie") }}</p>
  </span>


{% endblock %}