{% extends "emporium:templates/emporatorium/common/layout.html" %}
{% block body %}

    {% with title = 'Szablony ustawień produktow' %}
      {% include "emporium:templates/emporatorium/common/title.html" %}
    {% endwith %}

  <div id="panels" class="col-span-12 grid grid-cols-12">
    <div class="col-span-1">
    {% with action = 'product_special_action' %}
      {% include "emporium:templates/emporatorium/common/add_block.html" %}
    {% endwith %}
    </div>

      <div class="col-span-12 ">
        <table class="table">
          <thead>
            <tr class="w-full">
              <th class="w-3/12">{{ _("Nazwa") }}</th>
              <th class="w-2/12">{{ _("Typ") }}</th>
              <th class="w-2/12">{{ _("Status") }}</th>
              <th class="w-2/12">{{ _("Kolejność") }}</th>
              <th class="w-1/12"></th>
            </tr>
          </thead>
          <tbody>
            {% for item in template_list: %}
                <tr class="tr">
                  <td class="td px-4">
                    {{ item.name}}
                  </td>
                  <td class="td px-4 text-center">
                    {{ item.template_type}}
                  </td>
                  <td class="td px-4 text-center">
                    {{ item.status}}
                  </td>
                  <td class="td px-4 text-center">
                    {{ item.order}}
                  </td>
                  <td class="td px-4 text-center">
                    {% with item_id = item.product_template_id, action_url = "product_template_", action_name="delete", parameter_name = "product_template_id" %}
                      {% include "emporium:templates/emporatorium/common/button_change.html" %}
                    {% endwith %}
                  </td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% endfor %}
  </div>

{% include "emporium:templates/emporatorium/common/change_modal.html" %}

  <span class="hidden">
    <p id="txt_delete">{{ _("Potwierdź usunięcie szablonu") }}</p>
    <p id="txt_success_delete">{{ _("Pomyślnie usunięto szablon") }}</p>
  </span>

{% endblock %}
