{% extends "emporium:templates/emporatorium/common/layout.html" %}
{% block body %}

{% with title = 'Ustawienia sklepu'%}
  {% include "emporium:templates/emporatorium/common/title.html" %}
{% endwith %}

{% include "emporium:templates/emporatorium/common/edit_left.html" %}

    {% include "emporium:templates/emporatorium/common/edit_right.html" %}


    <div class="col-span-10 grid grid-cols-12 sticky top-0 bg-white relative z-1 border text-lg border-b-2">


<div class="col-span-10 grid grid-cols-12 sticky top-0 bg-white relative z-1 border text-lg border-b-2">
  <nav class="col-span-12 flex flex-row divide-x">

    {% for k,v in {
    'Status':{'icon':'photo', 'link':'settings_block_main'}, 
    'Informacje':{'icon':'info', 'link':'settings_block_info'}, 
    'Rozliczenia':{'icon':'shopping-cart', 'link':'settings_block_info'},
    'Magazyn':{'icon':'database', 'link':'settings_block_storage'},
    'Rozliczenia':{'icon':'dollar', 'link':'settings_block_currency'}, 
    'Wymiary':{'icon':'widget', 'link':'parameters'}, 
    'Ceny':{'icon':'euro', 'link':'finance'}, 
    'Zakup':{'icon':'shopping-cart', 'link':'main_cart'}, 
    'Zdjęcia':{'icon':'photo', 'link':'main_image_section'}, 
    'Kategoria/Opis':{'icon':'clipboard-pencil', 'link':'main_category'}, 
    'Kalendarz':{'icon':'calendar', 'link':'calendar'}, 
    'Relacje':{'icon':'shuffle', 'link':'product_relations'} }.items(): %}
    <a class="block py-1 px-2 border-l-3 border-cyan-200 hover:border-cyan-400" href="#{{v['link']}}"><i class="fi-{{v['icon']}} text-3xl text-cyan-{{ 10 - loop.index }}00"></i> {{k}}</a>
    {% endfor %}
    
  </nav>
</div>

    <form id="content_form" name="content_form" action='{{ request.route_url("settings_main") }}' method="post" class="col-span-12 bg-white pl-16 p-4 border">
      <input id="csrf_token" name="csrf_token" type="hidden" value="{{ get_csrf_token() }}"/>



      <div class="col-span-12 grid grid-cols-12 divide-y gap-4">

        {% include "emporium:templates/emporatorium/settings/settings_edit/settings_edit_display.html" %}

        {% include "emporium:templates/emporatorium/settings/settings_edit/settings_edit_display_list.html" %}

        {% include "emporium:templates/emporatorium/settings/settings_edit/settings_edit_display_product.html" %}

      </div>
    
    </form>
  </div>



{% endblock%}