{% extends "emporium:templates/emporatorium/common/layout.html" %}
{% block body %}

  {% include "emporium:templates/emporatorium/common/edit_left.html" %}

  <form id="content_form" name="content_form" action='{{ request.route_url("settings_template_action", action=action) }}' method="post" class="col-span-10 grid grid-cols-12 gap-4">
    {% with object = setting_template.template_json if setting_template else None, form=form %}

<input id="csrf_token" name="csrf_token" type="hidden" value="{{ get_csrf_token() }}"/>

<input name="setting_template_id" type="hidden" value="{{ setting_template.setting_template_id }}"/>

    {% with id = 'setting_template_' + options.action + '_header', title = ('Edytuj' if options.action == 'edit' else 'Dodaj') + ' szablon produktu', additional_title = setting_template.title, color= 'orange' if options.action == 'edit' else 'blue' %}
      {% include "emporium:templates/emporatorium/common/title.html" %}
    {% endwith %}

    <div class="col-span-12 grid grid-cols-12 bg-white p-4 my-4 border gap-4">
    {% for field in form: %}
      {% for error in field.errors: %}
        <span class="error">{{ field.label }} {{ error }}</span> ||
      {% endfor %}
    {% endfor %}


    {% if settings.get('downloadable_products') == '1':%}
    <div class="col-span-2 flex flex-col">

      {% include "emporium:templates/emporatorium/product/product_template/product_template_virtual.html" %}

    </div>
    {% endif %}

    <div class="col-span-2">
        <label for="title">{{ _("Nazwa szablonu (@ będzie dodana automatycznie)") }}</label>
        <input class="" id="name" name="name" required  value="{{ setting_template.name if setting_template }}">
    </div>
    <div class="col-span-2 ">
      <label for="status">{{ _("Status") }}</label>
      <select id="status" name="status" required class="">
        <option value="1" {{ 'selected' if setting_template and setting_template.status == True or form.status.data == 1 or '' }}>{{ _("Załączony") }}</option>
        <option value="0" {{ 'selected' if setting_template and setting_template.status == False or form.status.data ==0 or '' }}>{{ _("Wyłączony") }}</option>
      </select>
    </div>
    <div class="col-span-1 ">
      <label for="order">{{ _("Kolejność") }}</label>
      <input class="" id="order" name="order" min='1' step='1' required type="number" value="{{ setting_template.order or 1 }}">
    </div>
    <div class="col-span-4 ">
      <label for="description">{{ _("Opis") }}</label>
      <textarea class="" id="description" name="description">{{ setting_template.description|safe if setting_template }}</textarea>
    </div>
    <div class="col-span-2 flex flex-col">

        {% include "emporium:templates/emporatorium/product/product_template/product_template_manufactured.html" %}

    </div>


    <div class="col-span-2 flex flex-col">

      <label for="unit_label">{{ _("Etykieta jednostki przeliczeniowej") }}</label>
      <select id="unit_label" name="unit_label" required class="">
        {% for k,v in {'1':_('Jednostka sprzedaży'), '2': _('Ile szt./ m<sup>2</sup>')}.items(): %}
        <option value="{{k}}" {{ 'selected' if setting_template and setting_template.template_json['unit_label'] == k|int or form.unit_label.data == k|int or '' }}>{{ v |safe }}</option>
        {% endfor %}
      </select>

    </div>



    {% if settings.get('downloadable_products') == '1':%}
    <div class="col-span-2 flex flex-col">
      {% if settings.get('downloadable_products') == '1':%}
        {% include "emporium:templates/emporatorium/product/product_template/product_template_subtract.html" %}
      {% endif %}
    </div>
    {% endif %}
    <div class="col-span-3 flex flex-col">
      <label for="order">{{ _("Szablon wyświetla atrybuty dla:") }}</label>
    {% for k,v in attributes_dict.items(): %}
      <label>
        <input type="checkbox" name="attribute_group_list" class="" id="" value="{{k}}" {{ 'checked' if setting_template and k in setting_template.template_json['attribute_type_list'] }}>{{ v[0] }} ({{v[1]}})
      </label>
    {% endfor %}
    </div>
    {% endwith %}
  </form>
</div>
{% include "emporium:templates/emporatorium/common/edit_right.html" %}

{% endblock %}