{% extends "emporium:templates/emporatorium/common/layout.html" %}
{% block body %}

{% include "emporium:templates/emporatorium/common/edit_left.html" %}

<div class="col-span-10 grid grid-cols-12">
    {% with title = ('Edytuj ustawienie ' + (setting and setting.key) if options.action == 'edit' else 'Dodaj ustawienie ') %}
      {% include "emporium:templates/emporatorium/common/title.html" %}
    {% endwith %}

    {%  for field in form:  %}
      {%  for error in field.errors:  %}
        <div class="error">{{ field.label }} {{ error }}</div>
      {%  endfor  %}
    {%  endfor  %}

    <form action='{{ request.route_url("settings_action", action=action) }}' method="post" class="col-span-12 grid grid-cols-12 bg-white p-4 gap-4" id="content_form" name="content_form">
        <input id="csrf_token" name="csrf_token" type="hidden" value="{{ get_csrf_token() }}"/>
        <input type="hidden" value="{{ setting.setting_id }}" name="setting_id" />

        <div class="col-span-6 ">
            <label for="name">{{ _("Klucz") }}</label>
            <input id="key" name="key" value="{{ (setting and setting.key) or '' }}" >
        </div>
        <div class="col-span-6">
            <label for="values">{{ _("Wartości") }}</label>
            <input id="value" name="value" value="{{ ( setting and setting.value) or '' }}" >
        </div>
        <div class="col-span-12 ">
            <label for="coplex_values">{{ _("Komplexowe wartości") }}</label>
            <input id="coplex_values" name="complex_values" value="{{ ( setting and setting.complex_values) or '' }}" >
        </div>
        <input id="setting_type" name="setting_type" type="numeric" value="{{ ( setting and setting.setting_id) or 0 }}">
    </form>
</div>

{%  include "emporium:templates/emporatorium/common/edit_right.html"  %}
{% endblock %}