{% extends "emporium:templates/emporatorium/common/layout.html" %}
{% block body %}

    {% with title = 'Szablony ustawień produktow' %}
      {% include "emporium:templates/emporatorium/common/title.html" %}
    {% endwith %}

   <div class="col-span-12 grid grid-cols-12 bg-white p-4 my-4 border gap-4">
    {% with action = 'settings_template_action' %}
      {% include "emporium:templates/emporatorium/common/add_block.html" %}
    {% endwith %}
    </div>


        <table class="table col-span-12">
          <thead>
            <tr class="w-full">
              <th class="w-1/12"></th>
              <th class="w-1/12">{{ _("Nazwa (wyświetlana podczas edycji produktu)") }}</th>
              <th class="w-3/12">{{ _("Opis") }}</th>
              <th class="w-2/12">{{ _("Status") }}</th>
              <th class="w-2/12">{{ _("Kolejność") }}</th>
              <th class="w-1/12"></th>
            </tr>
          </thead>
          <tbody>
            {% for item in template_list: %}
                <tr class="tr" id="tr_{{item.setting_template_id}}">
                  <td><a class="button_admin bg-cyan-500" href="{{ request.route_url('settings_template_action', action = 'edit', _query=(('next', request.url),('setting_template_id',item.setting_template_id))) }}">{{ _("Edytuj") }}</a></td>
                  <td class="td px-4 text-center">
                    {{'@' if item and item.template_json and item.template_json.transport_method == 1 }}{{ item.name}}
                  </td>
                  <td class="td px-4 text-center">
                    {{ item.description}}
                  </td>
                  <td class="td px-4 text-center">
                    {{'Załączony' if item.status == 1 else 'Wyłaczony'}}
                  </td>
                  <td class="td px-4 text-center">
                    {{ item.order}}
                  </td>
                  <td class="td px-4 text-center">
                    {% with item_id = item.setting_template_id, action_url = "settings_template_", action_name="delete", parameter_name = "setting_template_id" %}
                      {% include "emporium:templates/emporatorium/common/button_change.html" %}
                    {% endwith %}
                  </td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
  </div>

{% include "emporium:templates/emporatorium/common/change_modal.html" %}

  <span class="hidden">
    <p id="txt_delete">{{ _("Potwierdź usunięcie szablonu") }}</p>
    <p id="txt_success_delete">{{ _("Pomyślnie usunięto szablon") }}</p>
  </span>

{% endblock %}
