{% extends "emporium:templates/emporatorium/common/layout.html" %}
{% block body %}

{% with title = 'Ustawienia sklepu'%}
  {% include "emporium:templates/emporatorium/common/title.html" %}
{% endwith %}

{% include "emporium:templates/emporatorium/common/edit_left.html" %}

    {% include "emporium:templates/emporatorium/common/edit_right.html" %}


    <div class="col-span-10 grid grid-cols-12 sticky top-0 bg-white relative z-1 border text-lg border-b-2">

    <form id="content_form" name="content_form" action='{{ request.route_url("settings_main") }}' method="post" class="col-span-12 bg-white pl-16 p-4 border">
      <input id="csrf_token" name="csrf_token" type="hidden" value="{{ get_csrf_token() }}"/>



      <div class="col-span-12 grid grid-cols-12 divide-y gap-4">

        {% include "emporium:templates/emporatorium/settings/settings_edit/settings_edit_status.html" %}

        {% include "emporium:templates/emporatorium/settings/settings_edit/settings_edit_info.html" %}
          
        {% include "emporium:templates/emporatorium/settings/settings_edit/settings_edit_footer.html" %}


        {% include "emporium:templates/emporatorium/settings/settings_edit/settings_edit_cart.html" %}

        {% include "emporium:templates/emporatorium/settings/settings_edit/settings_edit_storage.html" %}

        {% include "emporium:templates/emporatorium/settings/settings_edit/settings_edit_currency.html" %}

        {% include "emporium:templates/emporatorium/settings/settings_edit/settings_edit_mail.html" %}

        {% include "emporium:templates/emporatorium/settings/settings_edit/settings_edit_product_templates.html" %}

      </div>
    
    </form>
  </div>



{% endblock%}