
              {% if not product.availability_id or product.availability_id == 53: %}
                <button class="button alert disabled add_to_basket" disabled>{{ _("Produkt niedostępny") }}</button>
              {% elif product.availability_id == 111: %}
                <button class="button secondary disabled add_to_basket" disabled>{{ _("Produkt w magazynie - zapytaj o koszt transportu") }}</button>
                <h5> {{ settings.get('telephone') |safe}} </h5>
              {% elif product.availability_id == 51: %}
                <button class="button secondary disabled add_to_basket" disabled>{{ _("Zapytaj o dostępność") }}</button>

              {% else: %}

                <input name="minimum" value="{{ product.minimum }}" disabled="disabled" type="hidden" id="product_minimum_{{ product.product_id }}">

                <input name="quantity" value="{{ product.minimum_unit }}" disabled="disabled" type="hidden" id="product_quantity_{{ product.product_id }}">
                <input name="unit" value="{{ product.unit }}" disabled="disabled" type="hidden" id="product_packages_{{ product.product_id }}">
                <input name="square_meter" value="{{ product.square_meter }}" disabled="disabled" type="hidden" id="product_square_meter_{{ product.product_id }}">
                <input name="current_price" value="{{ product.calculated_price }}" disabled="disabled" type="hidden" id="product_price_{{ product.product_id }}" >
                <input name="manufacturer" value="{{ product.manufacturer }}" disabled="disabled" type="hidden" id="product_manufacturer_{{ product.product_id }}" >
                {% if request.session.get('cart_contents') and product.product_id in request.session['cart_contents']['products']: %}
                    <a href="{{ request.route_url('s_cart") }}' class="button success" data-id="{{ product.product_id }}" value="{{ product.product_id }}">{{ _("W koszyku") }}</a>
                {% else: %}
                    <button class="button add_to_basket modal-open" data-id="{{ product.product_id }}" value="{{ product.product_id }}">{{_("Dodaj do koszyka") }}</button>
                {% endif %}

              {% endif %}
