          <button id="compared_{{ product.product_id }}" class="transition-opacity opacity-{{'100' if  request.session.get("compare_contents") and product.product_id in request.session.get("compare_contents") else '0 hidden' }}">
              <a class="orange" href='{{request.route_url("s_compare") }}' ><i class="fi-graph-bar text-3xl"></i> {{_("Porównaj") }}</a>
          </button>
          <button id="add_to_compare_{{ product.product_id }}" class="mx-auto block transition-opacity add_to_compare modal-open transition-opacity blue opacity-{{'0 hidden' if request.session.get("compare_contents") and product.product_id in request.session.get("compare_contents") else '100' }}" product_id="{{ product.product_id }}" data-id="{{ product.product_id }}" value="{{ product.product_id }}">
              <i class="fi-plus"></i> <i class="fi-graph-bar text-3xl"></i> {{_("Do porównania") }}
          </button>
