            {% if request.session.get('cart_contents') and product.product_id in request.session['cart_contents']['products']: %}
              <a class="button text-blue bg-transparent button-update {{text_align}} pt-2" data-id="{{ product.product_id }}" title='{{_("Usuń z koszyka") }}'<i class="fi-trash {{text_size}}"></i></a>
            {% endif %}

