    {% for k,v in selling_options.featured_products.items(): %}
      {% if v: %}
        <div class="{{md_size}} {{lg_size}} {{xl_size}} {{xxl_size}} col-span-12 page-internals my-2 mx-4 md:mx-0">
          <h6><b>{{ k.capitalize() }}</b></h6>
          <div class="grid grid-cols-12 gap-4 grid-margin-x grid-margin-y">
            {% with product_listing=v, display_mode='grid',icons_visible= icons_visible %}
              {% include "emporium:templates/blade/product/s_product_listing.html" %}
            {% endwith %}
          </div>
        </div>
      {% endif %}
    {% endfor %}