
            {% if product.image %}
            <a href="{{ request.route_url('s_product', seo_slug = product.slug, id = product.product_id) }}" >
              <picture>

                <img src="{{ (request.static_url("emporium:images/thumbnails/') +  product.image + '.' + settings['image_file_extensions']['JPEG'] ) if product.image else (request.static_url("emporium:images/no_image.jpg')) }}" alt="Image" class="thumbnail_image cart_image"  height="200" class="mx-auto my-auto">

              </picture>
            </a>
            {% endif %}