<!doctype html>
<html class="no-js" lang="pl" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="title" content="{{title}}" />
    <meta name="description" content="{{meta_description }}" />
    <meta name="robots" content="{{robots_meta}}" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title>{{title}}</title>
    {{rel}}
    <link rel="shortcut icon" href='{{request.static_url("emporium:templates/blade/static/favicon.ico") }}' />

    {% set gtm_header %}
      {% include "/gtm/s_gtm.html" %}
    {% endset %}
    
    {{ gtm_header }}

    {{ extra_javascripts_header }}
   
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet"> 
   
    <link rel="preconnect" href="https://cdnjs.cloudflare.com">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.min.css" rel="stylesheet">

    <link as="style" rel="preload" href='{{request.static_url("emporium:templates/blade/static/css/theme.css") }}' />

    <link rel="stylesheet" href='{{request.static_url("emporium:templates/blade/static/css/theme.css") }}' />

    <meta name="facebook-domain-verification" content="fbnppv1mmqr5195je48rt5eo9lc82u" />

    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
  
    {%- include "/gtm/s_analytics.html" -%}
  
  </head>
  <body class="body">

   {%- include "/gtm/s_gtm_noscript.html" -%}
   {% if request.authenticated_userid and request.identity.role=='emperor': %}  
      {% include "emporium:templates/emporatorium/common/header.html" %}
   {% endif %}
    <div class="main_container" x-data="{ mobileMenuOpen : false }">


      <div class="top-bar">
        <div class="grid container mx-auto col-span-12 gap-x-4 mb-2 grid-cols-12 sm:px-4">
          <div class="col-span-6 md:col-span-3 lg:col-span-3 order-1">
            <a href='{{request.route_url("s_home") }}' id="main_logo">
              <img src='{{ request.static_url("emporium:templates/blade/static/img/logo_main_v2.png") }}' height="100" width="285"/>
            </a>
          </div>
          <div class="col-span-12 md:col-span-5 lg:col-span-5 content-center grid order-3 md:order-2 px-4 md:px-0 grid-cols-12" id="center_bar">
            <form action="{{ xsearch }}" id="top_bar_search" method="get" name="top_bar_search" class="flex flex-row align-middle col-span-10 md:col-span-12">
              {{xqueryparams }}
              <div class="col-span-5 relative h-12">
                <input id="product_search"  name="term"  value="{{ xterm }}" placeholder="Czego szukasz?" class="{{'limited_width' if options }} pl-4 h-12 m-0 rounded-none">
              </div>

              {% if settings.select_category_tree_visible %}
                {% if data_options.categories_dict: %}
                  <select id="category" name="category_id" class="hidden xl:block xl:col-span-5 rounded-none w-100 xl:w-60">
                    <option value=''>{{ _("Wszystkie kategorie") }}</option>
                    {% with links=data_options.categories_dict %}
                      {% include "emporium:templates/blade/category/s_category_tree.html" %}
                    {% endwith %}
                  </select>
                {% endif %}
              {% endif %}

                <button class="button col-span-2 h-12 w-20 p-1" id="search"><i class="fi-magnifying-glass text-white text-3xl"></i></button>

            </form>

            {% if sidebar: %}
              <span class="md:hidden lg:hidden text-center col-span-2" id="filter_categories_switch">
                <a class="blue" href="#" @click="mobileMenuOpen = !mobileMenuOpen" id="sidebar_reveal" ><i class="text-5xl fi-indent-more"></i></a>
              </span>
            {% endif %}
          </div>

          <div class="flex col-span-6 md:col-span-4 lg:col-span-4 order-2 md:order-3 justify-end text-center flex-row pt-4 pb-4 text-4xl sm:text-5xl">

            <span class="col-span-2 px-2 xl:px-4">
                {% if request.authenticated_userid and not request.identity.role=='emperor': %}
              <a href='{{request.route_url("s_auth',action='out") }}' class="blue">
                <span class="fi-power text-4xl lg:text-5xl"></span>
                <p class="hidden xl:block text-sm">{{ _("Wyloguj") }}</p>
              </a>
              {% endif %}
            </span>


              <a href='{{request.route_url("s_customer") }}' class="blue px-2 2xl:px-4 ">
                <span class="fi-torso inline-block" id="user"></span>
                <p class="hidden lg:block text-sm">{{ _("Konto") }}</p>
              </a>
              <a href='{{request.route_url("s_cart") }}' class="blue col-span-2 relative px-2 2xl:px-4">
                <span class="fi-shopping-cart" id="shopping_cart"></span>
                  <span id="shopping_cart_quantity" class="orange-number absolute right-2">{{request.session['cart_contents']['quantity'] if request.session.get('cart_contents") }}</span>
                  <p class="hidden lg:block text-sm">{{ _("Koszyk") }}</p>
              </a>
              <a href='{{request.route_url("s_compare") }}' class="blue col-span-2 relative px-2 2xl:px-4">
                <span class="fi-graph-bar" id="compare_graph"></span>
                <span id="compare_quantity" class="orange-number absolute right-2">{{request.session['compare_contents']|length if request.session.get('compare_contents") }}</span>
                <p class="hidden lg:block text-sm">{{ _("Porównaj") }}</p>
              </a>
              <a href='{{request.route_url("s_page", pagename="Kontakt") }}' class="blue col-span-2 blue col-span-2 pl-2 pr-2 2xl:pl-4 md:pr-0">
                <span id="logo_mail" class="fi-mail"></span>
                <p class="hidden lg:block text-sm">{{ _("Kontakt") }}</p>
              </a>
          </div>
        </div>
      </div>


      
      {% if not request.cookies.get('modal_popup'): %}
        {% if settings.get('popup'):%}
          {% include "/modal/s_modal_popup.html" %}
        {% endif %}
      {% endif %}
      {% if request.authenticated_userid and request.identity.role=='emperor': %}
            <div class="flex flex-col">
        {{action_block_left}}
      </div>
      {% endif %}

      <div class="container mx-auto grid grid-cols-12 gap-x-4">
        {% block body %}{% endblock %}
      </div>

      {% if request.authenticated_userid and request.identity.role=='emperor': %}
            <div class="flex flex-col">
        {{action_block_right}}
      </div>
      {% endif %}


    </div>
    <footer class="grid container mx-auto col-span-12 gap-x-4 mb-2 ">
      <div class="page-internals col-span-12 my-2 grid">
        <div class="col-span-12 md:col-span-3 hidden lg:block footer_block" >
          <img id="footer_logo" src='{{ request.static_url("emporium:templates/blade/static/img/logo_v2.png") }}' loading="lazy" class="mx-auto my-auto" width="128" height="35"/>
        </div>
        <div class="col-span-12 md:col-span-9 grid">
          <div class="col-span-12 ">

              {% if settings.get('shop_status') != '1': %}
              <p class="text-center font-bold pb-4 md:pb-0">
               {% include "/40x/s_abnormal_shop_status.html" %}
             </p>
              {% endif %}
            <p class="text-center font-bold pb-4 md:pb-0">{{ _("Masz pytania - zadzwoń ") }} <a href="tel:+48{{settings.get('telephone') |safe}}" class="blue">{{ settings.get('telephone') |safe}}</a></p>
          </div>
          <div class="md:col-span-4 col-span-6 " >
            <b>{{ _("Informacje") }}</b>
            <ul>
              <li><a href='{{request.route_url("s_post_list") }}' rel="nofollow">Blog</a></li>
              <li><a href='{{request.route_url("s_page", pagename="Kontakt") }}' rel="nofollow">{{ _("Kontakt") }}</a></li>
              <li><a href='{{request.route_url("s_page", pagename="O firmie") }}' rel="nofollow">{{ _("O firmie") }}</a></li>
              <li><a href='{{request.route_url("s_page", pagename="Polityka Cookie") }}' rel="nofollow">{{ _("Polityka Cookie") }}</a></li>
              <li><a href='{{request.route_url("s_page", pagename="Polityka Prywatności") }}' rel="nofollow">{{ _("Polityka Prywatności") }}</a></li>
              <li><a href='{{request.route_url("s_page", pagename="Regulamin") }}' rel="nofollow">{{ _("Regulamin") }}</a></li>
              <li><a href='{{request.route_url("s_page", pagename="Transport") }}' rel="nofollow">{{ _("Transport") }}</a></li>
            </ul>
          </div>
          <div class="md:col-span-4 col-span-6 ">
            <b>{{ _("Klient") }}</b>
            <ul>
               <li><a href='{{request.route_url("s_cart") }}' rel="nofollow">{{ _("Koszyk") }}</a></li>
               <li><a href='{{request.route_url("s_customer") }}' rel="nofollow">{{ _("Konto") }}</a></li>
               <li><a href='{{request.static_url("emporium:uploads/Odstapienie_od_umowy.docx') }}">{{ _("Odstąpienie od umowy") }}</a></li>
              {% if settings.compare_products_visible %}
                <li><a href='{{request.route_url("s_compare") }}' rel="nofollow">{{ _("Porównywarka") }}</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
        <div class="col-span-12 pt-4 md:pt-0 text-center">
          <small>{{ settings.get('footer_description') |safe }}</small>
        </div>
      </div>
       <input id="csrf_token" name="csrf_token" type="hidden" value="{{ get_csrf_token() }}"/>
    </footer>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/2.8.2/alpine.js" integrity="sha512-No22QdEJ4zlXvdQDpm6oeXcjwajpNxvnstx6NEU/5qZFysa5gsgj/bSfAFpSc9Za5LjbgQLRXyCeY53aWmk8ZA==" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" integrity="sha512-3n19xznO0ubPpSwYCRRBgHh63DrV+bdZfHK52b1esvId4GsfwStQNPJFjeQos2h3JwCmZl0/LgLxSKMAI55hgw==" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-compat/3.0.0-alpha1/jquery.min.js" integrity="sha512-4GsgvzFFry8SXj8c/VcCjjEZ+du9RZp/627AEQRVLatx6d60AUnUYXg0lGn538p44cgRs5E2GXq+8IOetJ+6ow==" crossorigin="anonymous"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.5/awesomplete.min.js" integrity="sha512-HcBl0GSJvt4Qecm4srHapirUx0HJDi2zYXm6KUKNNUGdTIN9cBwakVZHWmRVj4MKgy1AChqhWGYcMDbRKgO0zg==" crossorigin="anonymous"></script>


  {% for item in ('layout', 'vendor/cookie'): %}

    <script type="text/javascript" src='{{ request.static_url("emporium:templates/blade/static/js/" + item + ".js') }}"></script>
  {% endfor %}



    {{extra_javascripts_footer }}
  </body>
</html>
