<div class="hidden col-span-12 md:col-span-4 lg:col-span-3 2xl:col-span-2 absolute z-1 md:block md:relative" :class="{ 'block' : mobileMenuOpen , 'hidden' : !mobileMenuOpen}"  @click.away="mobileMenuOpen = false">
  <div id="sidebar" class="px-4 sm:px-2 overflow-visible">
    <div id="home_category_tree" class="separator-border">
  {% if data_options or attribute_group: %}
    {% if data_options.categories_dict: %}
      <h6 class="text-dark font-bold mb-0">{{ _("Kategorie") }}</h6>
      <ul id="main_page_menu" class="vertical menu text-sm">
        {% with links=data_options.categories_dict %}
          {% include "emporium:templates/blade/common/s_sidebar_category_tree.html" %}
        {% endwith %}
      </ul>
    {% endif %}
    </div>
    
      <form action="{{ meta_options.rel_link }}" id="sidebar_filter" method="get" name="sidebar_filter">
      {% if filter_params.term: %}
        <input type="hidden" value="{{ filter_params.term }}" name="term" id="sidebar_product_search">
      {% endif %}
      {% if category: %}
        <input type="hidden" value="" name="category" id="sidebar_product_category">
      {% endif %}
      {% if data_options.manufacturer_dict: %}
        <div class="separator-border">
          <h6 class="text-dark font-bold  {{ 'orange' if filter_params.manufacturer_checked }}">{{ _("Producenci') if (data_options.manufacturer_dict|length) > 1  else _('Producent") }}</h6>
          <div class="text-dark">
            {% for k,v in data_options.manufacturer_dict.items(): %}
              <label><input id="manufacturer_{{ k }}" value="{{ k }}" name="manufacturer" type="checkbox"{{"checked" if v.url != None}}> {{ v.name }}</label><br>
            {% endfor %}
          </div>
        </div>
      {% endif %}
      

      {% if settings.get('artisan_products') == '1': %}

        <div class="separator-border">
          <div x-data="{ isOpen: true }" x-init="isOpen={{'true' if filter_params.band_list_checked else 'false' }}" >
            <a @click="{ isOpen = !isOpen}" class="text-dark grid grid-cols-2 mb-0 mt-4 {{ 'orange' if filter_params.band_list_checked }}">
              <h6 class="text-dark font-bold  {{ 'orange' if filter_params.band_list_checked }}">{{ _("Zespoły") if (data_options.band_dict|length) > 1  else _("Zespół") }}</h6>
              <span class="text-xs text-right blue">&#x25BC;</span>
          </a>
          <div id="zespoly" class="text-dark text-sm {{'block' if filter_params.band_list_checked else '' }}" x-ref="dropdown" x-show="isOpen" x-cloak>

            {% for k,v in data_options.band_dict.items(): %}
              <label><input id="band_{{ k }}" value="{{ k }}" name="band" type="checkbox"{{"checked" if v.url != None}}> {{ v.name }}</label><br>
            {% endfor %}
          </div>
        </div>
      </div>
      {% endif %}

      {% if data_options.collection_dict: %}
        <div x-data="{ isOpen: true }" x-init="isOpen={{'true' if filter_params.manufacturer_checked or filter_params.collection_list_checked else 'false' }}" >
          <a @click="{ isOpen = !isOpen}" class="text-dark grid grid-cols-2 mb-0 mt-4 {{ 'orange' if filter_params.collection_list_checked }}">
            <h6 class="text-dark font-bold ">{{ _("Kolekcje") }}</h6>
            <span class="text-xs text-right blue">&#x25BC;</span>
          </a>
          <div id="kolekcje" class="text-dark text-sm {{'' if filter_params.manufacturer_checked or filter_params.collection_list_checked else '' }}" x-ref="dropdown" x-show="isOpen" x-cloak>

            {% for k,v in data_options.collection_dict.items(): %}
              <label><input id="collection_{{ k }}" value="{{ k }}" name="collections" type="checkbox" {{ " checked" if  v.url != None}}>{{ v.name }}</label><br>
            {% endfor %}

          </div>
        </div>
      {% endif %}
      
    {% if not main_page: %}     



      {% for value in data_options.attribute_dict.values(): %}
        <div x-data="{ isOpen: true }" x-init="isOpen={{ 'true' if value.visible else 'false' }}" class="mb-0 mt-4 " >
          <a @click="{ isOpen = !isOpen }" class="grid grid-cols-2 text-dark {{ 'grey' if (value.attributes|count == 0)}} {{'orange' if value.visible }}" >
            <h6 class="text-dark font-bold ">{{ value.name }}</h6>
            <span class="text-xs text-right blue">&#x25BC;</span>
          </a>
            <div class="no-bullet" x-ref="dropdown" x-show="isOpen" {{ 'x-cloak' if not value.visible }}>

              {% if value.attribute_group_id == 1: %}
              

              <div class="ml-8 mr-4 mb-0 mt-2 grid col-span-12 grid-cols-2 gap-2">
                <h6 class="text-dark col-span-2 underline {{ 'orange' if filter_params.price_min or filter_params.price_max }} ">{{ _("Szerokość") }}</h6>
                <div class="">
                  <label>{{ _("minimalna") }}</label>
                  <input type="number" name="width_min" value="{{ filter_params.dimensions.get('width_min').value}}" step="0.01" minimum="1" class="w-full h-8 mb-2 p-1 md:p-2 rounded-none appearance-textfield text-center">
                </div>
                <div class="">
                  <label>{{ _("maksymalna") }}</label>
                  <input type="number" name="width_max" value="{{ filter_params.dimensions.get('width_max').value }}" step="0.01" minimum="1" class="w-full h-8 mb-2 p-1 md:p-2 rounded-none appearance-textfield text-center">
                </div>
              </div>

              <div class="ml-8 mr-4 mb-0 mt-2 grid col-span-12 grid-cols-2 gap-2">
                <h6 class="text-dark col-span-2 underline {{ 'orange' if filter_params.price_min or filter_params.price_max }} ">{{ _("Długość") }}</h6>
                <div class="">
                  <label>{{ _("minimalna") }}</label>
                  <input type="number" name="length_min" value="{{ filter_params.dimensions.get('length_min').value }}" step="0.01" minimum="1" class="w-full h-8 mb-2 p-1 md:p-2 rounded-none appearance-textfield text-center">
                </div>
                <div class="">
                  <label>{{ _("maksymalna") }}</label>
                  <input type="number" name="length_max" value="{{ filter_params.dimensions.get('length_max').value }}" step="0.01" minimum="1" class="w-full h-8 mb-2 p-1 md:p-2 rounded-none appearance-textfield text-center">
                </div>
              </div>

              {% endif %}

            {% for v in value.attributes.values(): %}
              <label><input id="attribute_{{ v.attribute_id }}" value="{{ v.attribute_id }}" name="attributes" type="checkbox" {{ "checked" if v.url != None }}>{{ v.value }}</label><br>
            {% endfor %}
            </div>
        </div>
      {% endfor %}
    {% endif %}
          
    {% if settings.get('display_price_filter_on_catalog') == '1': %}

      {% include "emporium:templates/blade/common/s_sidebar_filter_price.html" %}   

    {% endif %}

      <div class="mb-0 mt-4 grid col-span-12 grid-cols-2 gap-2 {{"sticky" if filter_params.sticky}} bottom-0">
          <a class="button text-center" href="
            {% if data_options.categories_dict: %}
              {{ request.route_url(misc_options.search_url, seo_slug=data_options.categories_dict[0]['seo_slug'], category_id=data_options.categories_dict[0]['category_id']) }}
            {% else: %}
              {{ request.route_url('s_home") }}
            {% endif %}
                ">
            {{ _("Wyczyść") }}
          </a>
          <button form="sidebar_filter" class="button success" id="filter_button" type="submit">{{ _("Filtruj") }}</button>
      </div>

    </form>


  {% endif %}
  </div>

</div>
