    {% for item in special_products[:items_per_page]: %}
      <a href="{{ request.route_url('s_product', seo_slug = item['slug'], id = item['product_id']) }}">
        <span class="grid product">
          <span class="image_container">
            <span class="product_image"> 
               <img src='{{ request.static_url("emporium:images/") +item["image"] }}'/>
            </span>
          </span>
          <span class="text-container">
            <p class="product_price {{ 'slightly-centered' if item['special_price'] else 'text-center' }}"><span class="capital_price">{{ '<strike>' |safe if item['special_price'] }}{{ item['price'][:-2] }}{{ '</strike>' |safe if item['special_price'] }}</span><span class="lower_price">{{ '<strike>' |safe if item['special_price'] }}{{ item['price'][-2:] }}{{ '</strike>' |safe if item['special_price'] }}</span>{{ '<strike>' |safe if item['special_price'] }}
zł{{ '/m<sup>2</sup>'|safe if item['square_meter'] |safe}}
            {{ '</strike>' |safe if item['special_price'] }}</p>
            {% if item['special_price']: %}
               <p class="special_product_price">
               <span class="capital_price">{{ item['special_price'][:-2] }}</span><span class="lower_price">{{ item['special_price'][-2:] }}</span> 
zł{{ '/m<sup>2</sup>'|safe if item['square_meter'] |safe}}
               </p>
            {% endif %}
            <div class="clearer"></div>
            <p class="product_name">{{ item['name'] }}</p>
          </span>
        </span>
      </a>
    {% endfor %}