{% extends "emporium:templates/emporatorium/common/layout.html" %}
{% block body %}

  {% with id='xml_list_header',title = 'Lista produktów wyłączonych z XML-a' %}
    {% include "emporium:templates/emporatorium/common/title.html" %}
  {% endwith %}

  {% with action = 'xml_action' %}
    {% include "emporium:templates/emporatorium/common/add_block.html" %}
  {% endwith %}

  <table class="table col-span-12 ">
    <thead>
        <tr>
          <th class="w-1/12">{{ _("Edycja") }}</th>
          <th class="w-4/12">{{ _("Nazwa") }}</th>
          <th class="w-2/12"></th>
        </tr>
    </thead>
    <tbody>
      {% for item in xml_list: %}
        <tr class="tr">
          <td class="td px-4">
            <a class="button_admin bg-cyan-500" href="{{ request.route_url('xml_action', action='edit', _query=(('xml_id',item.xml_id),)) }}">{{ _("Edytuj") }}</a>
          </td>
          <td class="td px-4 text-center">
            {{ item.name }}
          </td>
          <td class="td px-4 text-center">
            {% with item_id = item.xml_id, action_url = "product_xml_", action_name="delete", parameter_name = "product_xml_id" %}
              {% include "emporium:templates/emporatorium/common/button_change.html" %}
            {% endwith %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>


{% include "emporium:templates/emporatorium/common/change_modal.html" %}

  <span class="hidden">
    <p id="txt_delete">{{ _("Potwierdź usunięcie elementu") }}</p>
    <p id="txt_success_delete">{{ _("Pomyślnie usunięto produkt z listy") }}</p>
  </span>


{% endblock %}