{% extends "emporium:templates/emporatorium/common/layout.html" %}
{% block body %}

  {% with id='special_list_header',title = 'Lista opcji' %}
    {% include "emporium:templates/emporatorium/common/title.html" %}
  {% endwith %}

  {% with action = 'special_action' %}
    {% include "emporium:templates/emporatorium/common/add_block.html" %}
  {% endwith %}

  <table class="table col-span-12 ">
    <thead>
        <tr>
          <th class="w-1/12">{{ _("Edycja") }}</th>
          <th class="w-2/12">{{ _("Stan") }}</th>
          <th class="w-4/12">{{ _("Nazwa") }}</th>
          <th class="w-2/12">{{ _("Wpływ na cenę") }}</th>
          <th class="w-2/12"></th>
        </tr>
    </thead>
    <tbody>
      {% for item in special_list: %}
        <tr class="tr">
          <td class="td px-4">
            <a class="button_admin bg-cyan-500" href="{{ request.route_url('special_action', action='edit', _query=(('special_id',item[0].special_id),)) }}">{{ _("Edytuj") }}</a>
          </td>
          <td class="td px-4">
            {{ _("Załączone") if item[0].status == 1 else _("Wyłączone") }}
          </td>
          <td class="td px-4 text-center">
            {{ item[1].name }}
          </td>
          <td class="td px-4 text-center">
            {{ "Modyfikuje cenę" if item[0].price_changing else "" }}
          </td>
          <td class="td px-4 text-center">
            {% with item_id = item[0].special_id, action_url = "product_special_", action_name="delete", parameter_name = "product_special_id" %}
              {% include "emporium:templates/emporatorium/common/button_change.html" %}
            {% endwith %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>


{% include "emporium:templates/emporatorium/common/change_modal.html" %}

  <span class="hidden">
    <p id="txt_delete">{{ _("Potwierdź usunięcie promocji") }}</p>
    <p id="txt_success_delete">{{ _("Pomyślnie usunięto promocji") }}</p>
  </span>


{% endblock %}