{% extends "emporium:templates/emporatorium/common/layout.html" %}
{% block body %}

  {% with id='contact_list_header', title = 'Artyści', pager = contacts.link_map() %}
    {% include "emporium:templates/emporatorium/common/title.html" %}
    {% include "emporium:templates/emporatorium/common/paginate.html" %}
  {% endwith %}

  <form class="col-span-12 grid grid-cols-12 bg-white p-4 my-4 border gap-4" action='{{ request.route_url("contact_list") }}' id="topbar_filter" method="get" name="filter" >

    {% with action = 'contact_action' %}
      {% include "emporium:templates/emporatorium/common/add_block.html" %}
    {% endwith %}
  

    <input type="hidden" name="search" value="true">
    <div class="col-span-2 ">
      <label>{{ _("Słowo klucz") }}</label>
      <input class=""  name="term" value="{{ (filter_params and filter_params['term'].replace('%%', ' ').replace('%', '')) or '' }}">
    </div>
    <div class="col-span-1">
        <label>{{ _("Status") }}</label>
        <select class="" id="input-status" name="status">
            <option disabled selected value> </option>
            <option value="" default>{{ _("Wszystkie") }}</option>
            <option value="1" {{ 'selected' if filter_params.get('status') == "1" }}>{{ _("Załączony") }}</option>
            <option value="0" {{ 'selected' if filter_params.get('status') == "0" }}>{{ _("Wyłączony") }}</option>
        </select>
    </div>

    {% with action_url = 'contact_list' %}
      {% include "emporium:templates/emporatorium/common/clear_filter_block.html" %}
    {% endwith %}

  </form>
    
  {% if contacts: %}
  <table class="table col-span-12">
    <thead>
      <form action='{{ request.route_url("contact_list") }}' method="get" name="filter" >
        <tr>
          <th>{{ _("Edycja") }}</th>
          <th>
            <a class="{{ 'orange' if filter_params.get('sort_method') in ('name_asc', 'name_desc' ) }}" href="{{ request.route_url('contact_list', _query=(('sort', 'name_asc' if filter_params.get('sort_method') == 'name_desc' else 'name_desc'),), ) |safe}}"> {{ _("Imię nazwisko/zespół") }} <b>{{ '&uarr;'|safe if filter_params.get('sort_method') == 'name_asc' else '&darr;' |safe }}</b></a>
          </th>
          <th>
    
          </th>
          <th>
              
          </th>
          <th>{{ _("Stan") }}</th>
          <th></th>
        </tr>
      </form>
    </thead>
    <tbody>
    {% for item in contacts.items: %}
      <tr class="tr">
        <td class="td px-4">
          <a class="button_admin bg-cyan-500" href="{{ request.route_url('contact_action', action = 'edit', _query=(('next', url),('contact_id',item.contact_id))) }}">{{ _("Edytuj") }}</a>
        </td>
        <td class="td px-4">
          {{ item.first_name }} {{ item.last_name }}
        </td>
        <td class="td px-4">
          {{ item.date_added.strftime('%Y-%m-%d') if item.date_added }}
        </td>
        <td class="td px-4">
        </td>
        <td class="td px-4 text-center">
          {{ _("Załączone") if item.status == 1 else '<i class="fi-alert orange"></i>' | safe }}
        </td>
        <td class="td px-4">
          {% with item_id = item.contact_id, action_url = "contact_", action_name="delete", parameter_name = "contact_id" %}
            {% include "emporium:templates/emporatorium/common/button_change.html" %}
          {% endwith %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  {% endif %}

{% include "emporium:templates/emporatorium/common/change_modal.html" %}

  <span class="hidden">
    <p id="txt_delete">{{ _("Potwierdź usunięcie artysty") }}</p>
    <p id="txt_success_delete">{{ _("Pomyślnie usunięto artystę i powiązane z nim dane (m.in. zdjęcia)") }}</p>
  </span>




{% endblock %}