{% extends "emporium:templates/emporatorium/common/layout.html" %}

{% block body %}

  <div class="col-span-10 grid grid-cols-12 gap-4">

    {% with id = 'contact_' + options.action + '_header', title = ('Edytuj' if options.action == 'edit' else 'Dodaj') + ' autora' %}
      {% include "emporium:templates/emporatorium/common/title.html" %}
    {% endwith %}

  <form id="content_form" name="content_form" action='{{ request.route_url("contact_action", action=action) }}' method="post" enctype="multipart/form-data" class="col-span-12 bg-white p-4">
    <input id="csrf_token" name="csrf_token" type="hidden" value="{{ get_csrf_token() }}"/>

    {% for field in form: %}
      {% for error in field.errors: %}
        <span class="error">{{ field.label }} {{ error }}</span> ||
      {% endfor %}
    {% endfor %}

    <div class="tab-content panel-1 grid-cols-12 col-span-1 gap-4 active">

      <div class="col-span-3 ">
        {% for error in form.first_name.errors: %}
          <span class="red font-bold">{{ error }}</span>
        {% endfor %}
          <label for="first_name">{{ _("Imię") }} </label>
          <input id="first_name" name="first_name" required  value="{{ contact.first_name or form.first_name.data  }}">
      </div>
      
      <div class="col-span-3 ">
        {% for error in form.last_name.errors: %}
          <span class="red font-bold">{{ error }}</span>
        {% endfor %}
          <label for="last_name">{{ _("Nazwisko") }} </label>
          <input id="last_name" name="last_name" required  value="{{ contact.last_name or form.last_name.data  }}">
      </div>
      
    
      <div class="col-span-3 ">
        {% if form.mail.errors: %}
           <span class="red font-bold">{{ form.mail.errors }}</span>
        {% endif %}

        <label for="mail">{{ _("Mail") }}</label>
        <input id="mail" name="mail" type="email" required value="{{ contact.mail or form.mail.data  }}">
      </div>

      <div class="col-span-3 ">
      {% for error in form.telephone.errors: %}
        <span class="red font-bold">{{ error }}</span>
      {% endfor %}
        <label for="telephone">{{ _("Telefon") }}</label>
        <input id="telephone" name="telephone" type="tel" value="{{ contact.telephone or form.telephone.data  }}">
      </div>

      <div class="col-span-3 ">
        <label for="company_name">{{ _("Firma") }}</label>
        <input class="company_field" id="company_name" name="company_name" value="{{ contact.company_name or form.company_name.data }}" >
      </div>

      <div class="col-span-3 ">
        <label for="company_nip">{{ _("NIP") }} </label>
        <input class="company_field" id="company_nip" name="company_nip" value="{{ contact.company_nip or form.company_nip.data  }}"  >
      </div>


    </div>     
        

      </form>
</div>


    {% include "emporium:templates/emporatorium/common/edit_right.html" %}
    
    {% include "emporium:templates/emporatorium/common/change_modal.html" %}

  <span class="hidden">
    <p id="txt_delete">{{ _("Potwierdź usunięcie kontaktu") }}</p>
    <p id="txt_success_delete">{{ _("Pomyślnie usunięto kontakt") }}</p>
  </span>





{% endblock %}