font- { 
  &thin {weight: 100;}
  &extralight {weight: 200;}
  &light {weight: 300;}
  &normal {weight: 400;}
  &medium {weight: 500;}
  &semibold {weight: 600;}
  &bold {weight: 700;}
  &extrabold {weight: 800;}
  &black {weight: 900;}
}