/*! purgecss start ignore */

input {
	&:not([type='']), &[type=text], &[type=numeric], &[type=float], &[type=date], 
	&[type=number], &[type=email], &[type=tel] {
		@apply h-10 w-full border py-2 px-3 transition-all border-blue rounded;
	}
	&:required {
		@apply border-red-600;
		@apply border-4;
	}

	&:disabled {
		@apply border-gray-200 border text-gray-400;
	}

	&[type='numeric'] {
    &[name*='price_'], &[name*='ean_'] {
     	border-color: rgb(132, 204, 22);
      @apply border-4;
    }
  }

}

textarea, .textarea {
	@apply w-full border py-2 px-3 transition-all border-blue rounded;
}

.quantity-field[type="number"] {
  // height: 2.4375rem;
  border-radius: 0;
  border-left: 0;
  border-right: 0;
}


/*! purgecss end ignore */
