/*! purgecss start ignore */

.order {
	&-1	{order: 1;}
	&-2	{order: 2;}
	&-3	{order: 3;}
	&-4	{order: 4;}
	&-5	{order: 5;}
	&-6	{order: 6;}
	&-7	{order: 7;}
	&-8	{order: 8;}
	&-9	{order: 9;}
	&-10 {order: 10;}
	&-11 {order: 11;}
	&-12 {order: 12;}
	&-13 {order: 13;}
	&-14 {order: 14;}
	&-15 {order: 15;}
	&-16 {order: 16;}
	&-17 {order: 17;}
	&-18 {order: 18;}
	&-19 {order: 19;}
	&-20 {order: 20;}
	&-21 {order: 21;}
	&-22 {order: 22;}
	&-23 {order: 23;}
	&-24 {order: 24;}
	&-25 {order: 25;}
	&-26 {order: 26;}
	&-27 {order: 27;}
	&-28 {order: 28;}
	&-29 {order: 29;}
	&-30 {order: 30;}
	&-31 {order: 31;}
	&-32 {order: 32;}
	&-33 {order: 33;}
	&-34 {order: 34;}
	&-35 {order: 35;}
	&-36 {order: 36;}
	&-37 {order: 37;}
	&-38 {order: 38;}
	&-39 {order: 39;}
	&-40 {order: 40;}
	&-41 {order: 41;}
	&-42 {order: 42;}
	&-43 {order: 43;}
	&-44 {order: 44;}
	&-45 {order: 45;}
	&-46 {order: 46;}
	&-47 {order: 47;}
	&-48 {order: 48;}
	&-49 {order: 49;}
	&-50 {order: 50;}
	&-51 {order: 51;}
	&-52 {order: 52;}
	&-53 {order: 53;}
	&-54 {order: 54;}
	&-55 {order: 55;}
	&-56 {order: 56;}
	&-57 {order: 57;}
	&-58 {order: 58;}
	&-59 {order: 59;}
	&-last {order: 9999};
}
/*! purgecss end ignore */
