/*! purgecss start ignore */

.tooltip {
  @apply relative;

  .tooltiptext {
    @apply opacity-80 invisible bg-white text-black text-justify p-4 border;
    width: 400px;
   
    /* Position the tooltip text - see examples below! */
    @apply z-4 absolute;
    top: -15px;
      left: 100%; 
  }

  /* Show the tooltip text when you mouse over the tooltip container */
  &:hover .tooltiptext {
    @apply visible;
  }
  .tooltip_icon {
    top: -0.5rem;
  }
}


.tooltip_large {
  @apply absolute right-0 top-16;

  .tooltiptext {
    @apply opacity-80 invisible bg-white text-black text-justify p-4 border text-xl z-4 absolute;
    width: 800px;
    top: -15px;
    right: 100%;

  }

  /* Show the tooltip text when you mouse over the tooltip container */
  &:hover .tooltiptext {
    @apply visible;
  }
}
/*! purgecss end ignore */