{% extends "emporium:templates/emporatorium/common/layout.html" %}

{% block body %}

  {% with
   title = 'Masowa zmiana cen', 
   pager= pager
  %}
    {% include "emporium:templates/emporatorium/common/title.html" %}

    {% include "emporium:templates/emporatorium/common/paginate.html" %}

  {% endwith %}
  {% with 
    route = 'product_bulk',
    form_name = 'price_update'
  %}
    {% include "emporium:templates/emporatorium/common/product_filter.html" %}
  {% endwith %}
  <form method="post" name="price_update" id="price_update" class="col-span-12 border">
    <input id="csrf_token" name="csrf_token" type="hidden" value="{{ get_csrf_token() }}"/>
    <input type="hidden" name="price_update" value="true">
    <input type="submit" id="submit-form" class="hidden" />
    <table class="table col-span-12">
      <thead>
        <tr>
          <th class="w-1/12">{{ _("Cena") }} {{ _("brutto") if settings.get("price_input") == '1' else _("katalogowa (bez VAT)") }}</th>
          <th class="w-1/12">{{ _("Rabat (+/-)") }}</th>
          <th class="w-1/12">{{ _("Zdjęcie") }}</th>
          <th class="w-2/12">{{ _("Nazwa") }}</th>
          <th class="w-1/12">{{ _("Zespół/") }}{{ _("Kolekcja/") }}{{_("Producent") }}</th>
          <th class="w-1/12">/{{ _("Atrybuty") }}</th>
          <th class="w-2/12">{{ _("EAN") }}</th>
          <th class="w-1/12">{{ _("Stan") }}</th>
          {% if settings.get("price_input") != '1': %}
          <th class="w-1/12">{{ _("Cena z rabatem i VAT") }}</th>
          {% endif%}
          <th class="w-1/12">{{ _("Dostępność") }}</th>
          <th class="w-1/12"></th>
        </tr>
      </thead>
      <tbody>
      {% for product in product_listing: %}
      <tr class="tr">
        <td class="td px-4">
          {% if product.purchase_price: %}
           {{_('Cena zakupu')}}: {{product.purchase_price or ''}} 
          {% endif %}
          <input type="hidden" name="" value="{{ product.product_id }}" class="product_{{ product.product_id }}">
          <input class="h-8 price_input" name="" price_id="{{ product.product_id }}" type="numeric" value="{{ product.catalog_price }}" />
        </td>
        <td class="td px-4">

          {% if not product.manual_discount: %}
            <select name="" class=" discount_input" discount_id="{{ product.product_id }}">
              <option value="1" {{ 'selected' if product.discount_id == 1 }}>{{ _("Katalogowa") }}</option>
              {% for jtem in discount_list: %}
              {% if jtem['manufacturer_id'] == product.manufacturer_id: %}
          
             <option value="{{ jtem.discount_id }}" {{ 'selected' if product.discount_id == jtem.discount_id and jtem.discount_id != 1 }}>{{ jtem.value }} %</option>
              {% endif %}
              {% endfor %}
            </select>
          {% else: %}
        {{ _("Cena") }} ręczna 
           <a class="button_admin bg-cyan-500" href="{{ request.route_url('product_manipulation', action = 'edit', _query=(('next', url),('product_id',product.product_id))) }}">{{ _("Ustaw") }}</a> 
           {% endif %}
        </td>
        <td class="td px-4">

          {% include "emporium:templates/emporatorium/product/product_list_segments/product_image.html" %}
          
        </td>
        <td class="td px-4">
          {% include "emporium:templates/emporatorium/product/product_list_segments/product_name.html" %}
        </td>
        <td class="td px-4">
          {% include "emporium:templates/emporatorium/product/product_list_segments/product_band.html" %}

          {% include "emporium:templates/emporatorium/product/product_list_segments/product_collection.html" %}

          {% include "emporium:templates/emporatorium/product/product_list_segments/product_manufacturer.html" %}
      
        </td>
        <td class="td px-4">
                    
          {% include "emporium:templates/emporatorium/product/product_template/product_template_properties.html"%}

        </td>
        <td class="td px-4">
          <input class="h-8 ean_input" name="" ean_id="{{product.product_id}}" type="numeric" value="{{product.ean}}" />
        </td>
        <td class="td px-4 text-center">
        {{ 'Załączone' if product.status == 1 else '<i class="fi-alert orange text-5xl"></i>'|safe }}
        </td>
        {% if settings.get("price_input") != '1': %}
          <td class="td px-4">
            {{ product.price }}
          </td>
        {% endif %}
        <td class="td px-4">
          {{ product.availability }}
        </td>    
         <td class="td px-4">
            <a class="button_admin bg-cyan-500" onclick="removeProductEditCookies()" href="{{ request.route_url('product_manipulation', action = 'edit', _query=(('next', request.url),('product_id',product.product_id))) }}">{{ _("Edytuj") }}</a> <a class="button_admin bg-orange-500 transition duration-700 ease-in-out " onclick="removeProductEditCookies()" href="{{ request.route_url('product_manipulation', action = 'clone', _query=(('product_id', product.product_id),('next', request.url)))|safe}}">Klonuj</a> 
        </td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </form>

<script src='{{ request.static_url("emporium:templates/emporatorium/static/js/jquery.min.js") }}' type="text/javascript"></script>

<script type="text/javascript">

  $(".price_input").change(function () {
      var ID = $(this).attr('price_id');
      $(this).attr('name', 'price_' + ID);
      $(".product_" + ID).attr('name', 'product_id');
  });

  $(".discount_input").change(function () {
      var ID = $(this).attr('discount_id');
      $(this).attr('name', 'discount_' + ID);
      $(".product_" + ID).attr('name', 'product_id');
  });

  $(".ean_input").change(function () {
      var ID = $(this).attr('ean_id');
      $(this).attr('name', 'ean_' + ID);
      $(".product_" + ID).attr('name', 'product_id');
  });

</script>

{% endblock  %}
