      <div class="col-span-5 grid">
        <div class="ml-auto">
          {% if product.status == 1: %}
          <a class="button_admin bg-emerald-500 " href='{{request.route_url("s_product", seo_slug = product.slug, id = product.product_id) }}'>{{_("Podgląd") }}</a>
          {%  endif %}
          <a class="button_admin bg-orange-500" href="{{ request.route_url('product_manipulation', action = 'clone', _query=(('product_id', product.product_id),('next', 'product_list')))|safe}}">{{_("Klonuj") }}</a>
        </div>
      </div>