{% extends "emporium:templates/emporatorium/common/layout.html" %}
{% block body %}

{% include "emporium:templates/emporatorium/common/edit_left.html" %}

<div class="col-span-10 grid grid-cols-12">
    <form action='{{ request.route_url("product_special_action", action=action) }}' method="post" class="col-span-12 grid grid-cols-12 bg-white p-4 gap-4" id="content_form" name="content_form">
      <input id="csrf_token" name="csrf_token" type="hidden" value="{{ get_csrf_token() }}"/>
      {% for field in form: %}
        {% for error in field.errors: %}
          <div class="error">{{ field.label }} {{ error }}</div>
        {% endfor %}
      {% endfor %}

      <div class="col-span-3 ">
        <label>Typ</label> 
        <select name="special_id" id="special_id">
          <option selected disabled></option>
          {% for k,v in featured_list.items(): %}
            <option value="{{ k }}">{{ v.name }}</option>
          {% endfor %}
        </select>
      </div>
      
      <div class="col-span-3 ">
        <label for="date_start">{{ _("Data rozpoczęcia") }}</label>
         <input name="date_start" type="date" value="{{ date_start if date_start }}" id="date_start" class="">
      </div>
      
      <div class="col-span-3 ">
        <label for="date_end">{{ _("Data zakończenia") }}</label>
        <input name="date_end" type="date" value="{{ date_end if date_end }}" id="date_end" class="">
      </div>

      <div class="col-span-12 ">
        <label for="product_list">{{ _("Lista produktów") }}</label>
        <input id="product_list" name="product_list"  value="" class="">
      </div>

    </form>
</div>

{% include "emporium:templates/emporatorium/common/edit_right.html" %}
    

<script src='{{ request.static_url("emporium:templates/emporatorium/static/js/jquery.min.js") }}' type="text/javascript"></script>
<script src='{{ request.static_url("emporium:templates/emporatorium/static/js/selectize.min.js") }}' type="text/javascript"></script>

<script type="text/javascript">

var $name = $('#product_list').selectize({
    valueField: 'id',
    labelField: 'name',
    searchField: 'name',
    plugins: ['remove_button'],
    create: false,
    options: {{ pro|string|safe}},
    items: {{ pro_ids|string|safe}},
    load: function(request, response) {
        if (request.length < 3) return response();
        $.ajax({
            url: '/limitless_product_search',
            type: 'GET',
            dataType: 'json',
            data: {
                term: request,
            },
            error: function() {
                response();
            },
            success: function(res) {
                response(res);
            }
        });
    }

});

</script>

{% endblock %}
