{% extends "emporium:templates/emporatorium/common/layout.html" %}
{% block body %}

  {% with id='product_list_header', title = 'Produkty', pager = pager %}
    {% include "emporium:templates/emporatorium/common/title.html" %}
    {% include "emporium:templates/emporatorium/common/paginate.html" %}
  {% endwith %}

  {% include "emporium:templates/emporatorium/product/product_filter.html"%}


  <table class="table col-span-12">
    <thead>
      <form action='{{ request.route_url("product_list") }}' method="get" name="filter" >
        <tr>
          <th class="w-2/12">{{ _("Edycja") }}</th>

          <th class="w-1/12">{{ _("Zdjęcie") }}</th>
          <th class="w-2/12">
            <a class="{{ 'orange' if filter_params.sort_method in ('name_asc',  'name_desc') else 'text-blue' }}" href="{{ request.route_url('product_list', _query=(('sort', 'name_asc' if filter_params.sort_method == 'name_desc'  else 'name_desc'),), ) |safe}}"> {{ _("Nazwa (Model)") }} <b>{{'&uarr;'|safe if filter_params.sort_method == 'name_asc' else '&darr;' |safe}}</b></a>
            &nbsp;
            <a class="{{ 'orange' if filter_params.sort_method in ('add_asc',  'add_desc') else 'text-blue' }}" href="{{ request.route_url('product_list', _query=(('sort', 'add_asc' if filter_params.sort_method == 'add_desc'  else 'add_desc'),), ) |safe}}"> {{ _("Dodane ") }} <b>{{'&uarr;'|safe if filter_params.sort_method == 'add_asc' else '&darr;' |safe}}</b></a>
            &nbsp;
            <a class="{{ 'orange' if filter_params.sort_method in ('mod_asc',  'mod_desc') else 'text-blue' }}" href="{{ request.route_url('product_list', _query=(('sort', 'mod_asc' if filter_params.sort_method == 'mod_desc' else 'mod_desc'),), ) |safe}}"> {{ _("Zmienione") }} <b>{{'&uarr;' |safe if filter_params.sort_method == 'mod_asc' else '&darr;' |safe}}</b></a>
          </th>
          <th class="w-1/12">{{ _("Zespół/") }}{{ _("Kolekcja/") }}{{_("Producent") }}</th>
          <th class="w-2/12">{{ _("Atrybuty&Promocje") }}</th>
          <th class="w-1/12">{{ _("EAN") }}</th>
          <th class="w-1/12">{{ _("Stan") }}</th>
          {% if settings.get('price_input') == '0': %}
          <th class="w-1/12">{{ _("Cena katalogowa") }}</th>
          {% endif %}
          <th class="w-1/12">
            <a class="{{ 'orange' if filter_params.sort_method == 'price_asc' or filter_params.sort_method == 'price_desc' }} {{'text-center' if settings.get('price_input') == '1'}}" href="{{ request.route_url('product_list', _query=(('sort', 'price_asc' if filter_params.sort_method == 'price_desc'  else 'price_desc'),), ) |safe}}"> {{ 'Cena <b>&uarr;</b>'|safe if filter_params.sort_method == 'price_asc'  else 'Cena <b>&darr;</b>' |safe}}</a>
          </th>
          <th class="w-1/12">{{ _("Dostępność") }}</th>
          <th class="w-1/12"></th>
        </tr>
      </form>
    </thead>
    <tbody>
    {% for product in product_listing: %}
    <tr class="tr" id="tr_{{product.product_id}}">
        <td class="td px-4">
          <a class="button_admin bg-cyan-500" onclick="removeProductEditCookies()" href="{{ request.route_url('product_manipulation', action = 'edit', _query=(('next', request.url),('product_id',product.product_id))) }}">{{ _("Edytuj") }}</a> 
          <a class="button_admin bg-orange-500" onclick="removeProductEditCookies()" href="{{ request.route_url('product_manipulation', action = 'clone', _query=(('product_id', product.product_id),('next', request.url)))|safe}}">Klonuj</a> 
          {% if product.status == 1: %} 
          <a class="button_admin bg-emerald-500" href="{{ request.route_url('s_product',seo_slug=product.slug, id=product.product_id) }}">{{ _("Podgląd") }}</a>
          {% endif %}
        </td>
        
        <td class="td px-4">

          {% include "emporium:templates/emporatorium/product/product_list_segments/product_image.html" %}

        </td>
        
        <td class="td px-4">

          {% include "emporium:templates/emporatorium/product/product_list_segments/product_name.html" %}

        </td>



        <td class="td px-4 text-center">

          {% include "emporium:templates/emporatorium/product/product_list_segments/product_band.html" %}

          {% include "emporium:templates/emporatorium/product/product_list_segments/product_collection.html" %}

          {% include "emporium:templates/emporatorium/product/product_list_segments/product_manufacturer.html" %}
        </td>
        
        <td class="td px-4 text-center grid grid-cols-2 gap-2">


          {% include "emporium:templates/emporatorium/product/product_template/product_template_properties.html"%}

          
          {% include "emporium:templates/emporatorium/product/product_list_segments/product_special_info.html" %}


        </td>
        <td class="td px-4 text-center">
          {{ product.ean or '<p class="orange">EAN</p>'|safe}}
        </td>
        <td class="td px-4 text-center">
          {{ _("Załączone") if product.status == 1 else '<i class="fi-alert orange text-3xl"></i>' | safe }}
        </td>
        {% if settings.get('price_input') == '0': %}
        <td class="td px-4 text-center">
          {{ product.catalog_price }}
        </td>
        {% endif %}
        <td class="td px-4 {{'text-center' if settings.get('price_input') == '1' }}">

          {{ '<strike>' |safe if product.special_price }}
            <span class="{{ '' if not product.special_price }}">{{ (product.price|number_comma)[:-2] }}</span>
            <span class="">{{ (product.price|string)[-2:] }}</span>
              {{settings.currency}}{{ '/m<sup>2</sup>' |safe if product.square_meter }}{{ '</strike>' |safe if product.special_price}}
            
              
            {% if product.special_price: %}
               <p class="">
                <span class="">{{ (product.special_price|string)[:-2] | number_comma }}</span><span class="">{{ (product.special_price|string)[-2:] }}</span>
                 {{settings.currency}}{{ '/m<sup>2</sup>' |safe if product.square_meter }}
               </p>
             </span>
            {% endif %}

        </td>
        <td class="td px-4 text-center">
          {{ product.availability }}
        </td>
        <td class="td px-4 text-center">

          {% with item_id = product.product_id, action_url = "product_", action_name="delete", parameter_name = "product_id" %}
            {% include "emporium:templates/emporatorium/common/button_change.html" %}
          {% endwith %}

        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% include "emporium:templates/emporatorium/common/change_modal.html" %}

  <span class="hidden">
    <p id="txt_delete">{{ _("Potwierdź usunięcie produktu") }}</p>
    <p id="txt_success_delete">{{ _("Pomyślnie usunięto produkt i powiązane z nim dane (m.in.zdjęcia, atrybuty)") }}</p>
  </span>




{% endblock %}
