  <form class="col-span-12 grid grid-cols-12 bg-white p-4 my-4 border gap-4" action='{{ request.route_url("product_list") }}' method="get" name="filter" >
    <div class="col-span-1">
      <a class="button_admin bg-cyan-500 remove_product_cookies" href="{{ request.route_url('product_manipulation', _query=(('next', request.url),), action = 'create') |safe}}">{{ _("Dodaj produkt") }}</a>
    </div>
    <div class="col-span-1 ">
      <label>{{ _("Słowo klucz") }}</label>
      <input  name="term" value="{{ filter_params.term.replace('%%', ' ').replace('%', '') if  filter_params and filter_params.term }}" class="border-lime-500">
    </div>
    <div class="col-span-1 ">
      <label>{{ _("Status") }}</label>
      <select class="" name="status">
        <option disabled selected value> </option>
        {% for k, v in {'all':[2, 'Wszystkie'], 'on':[1, 'Załączony'], 'off':[0, 'Wyłączony']}.items(): %}
          <option value="{{v[0]}}" {{ 'selected' if filter_params.status == v[0] }} {{ 'default' if v[0] == 2 }}>{{ v[1] }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-span-2 ">
      <label>{{ _("Producent") }}</label>
      <select class="" name="manufacturer">
        <option disabled selected value> {{ _("Producent") }} </option>
        {% for item in data_options.manufacturer_dict.values(): %}
        <option value="{{ item.manufacturer_id }}" {{ 'selected' if item.manufacturer_id in filter_params.manufacturer }} >{{ item.name }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-span-2 ">
      {% if settings.get('admin_catalog_settings') and settings['admin_catalog_settings'].display_collection_filter == 1: %}
        <label>{{ _("Kolekcja") }}</label>
        <select class="" name="collection">
          <option disabled selected> </option>
          <option value='999'> Sierotka Marcysia </option>
          {% for item in data_options.collection_dict.values(): %}
          <option value="{{ item.collection_id }}" {{ 'selected' if filter_params.collection and item.collection_id in filter_params.collection }} >{{ item.name  }} ({{item.manufacturer}})</option>
        {% endfor %}
      </select>
      {% elif settings.get('admin_catalog_settings') and settings['admin_catalog_settings'].display_band_filter == 1: %}
        <label>{{ _("Zespół") }}</label>
        <select class="" name="band">
          <option disabled selected> </option>
          {% for item in data_options.band_dict.values(): %}
          <option value="{{ item.band_id }}" {{ 'selected' if filter_params.band and item.band_id in filter_params.band }} >{{ item.name  }}</option>
          {% endfor %}
      </select>


      {% endif %}
    </div>
    <div class="col-span-2 grid grid-cols-2 gap-x-4 ">
      <label class="h-5 col-span-2">{{ _("Cena") }}</label>
      <input type="number" step="1" minimum="1" name="price_min" value="{{ filter_params.price_min }}" class="h-8 w-full border px-2 transition-all border-blue rounded-sm">
      <input type="number" step="1" minimum="1" name="price_max" value="{{ filter_params.price_max }}" class="h-8 w-full border px-2 transition-all border-blue rounded-sm" >
    </div>

    {% with action_url = 'product_list' %}
      {% include "emporium:templates/emporatorium/common/clear_filter_block.html" %}
    {% endwith %}

  </form>
