    <div class="col-span-5 grid">
      <div class="ml-auto">
        <a href="#" class="block button bg-blue uppercase font-semibold" onclick="location.reload();">
          {{_("Wyczyść") }}
        </a>
      </div>
    </div>