{% extends "emporium:templates/emporatorium/common/layout.html" %}
{% block body %}

    {% with title = 'Produkty pomijane dla pliku wymiany' %}
      {% include "emporium:templates/emporatorium/common/title.html" %}
    {% endwith %}

 

    <div class="col-span-1">
    {% with action = 'product_xml_action' %}
      {% include "emporium:templates/emporatorium/common/add_block.html" %}
    {% endwith %}
    </div>

    {% for htem in xml_list: %}
     <div class="col-span-6 bg-white p-4 border text-xl">
    <h4 class="h4"> {{htem.name}} </h4>
        <div class="col-span-12 grid-cols-12 grid gap-2 p-4 table text-center ">
          <div class="col-span-12 pb-8 grid grid-cols-12 border">
            <div class="px-2 py-1 col-span-8">{{ _("Nazwa") }}</div>
            <div class="px-2 py-1 col-span-2"></div>
         
         </div>
            {% for item in product_xml_list: %}
              {% if htem.xml_id|int == item.xml_id: %}
                <div class="tr col-span-12 grid grid-cols-12">

                  <div class="px-2 py-1 col-span-8 text-left">
                    {{ item.name}} ({{ item.manufacturer}})
                  </div>

                  <div class="px-2 py-1 col-span-2">
                    {% with item_id = item.product_xml_id, action_url = "product_xml_", action_name="delete", parameter_name = "product_xml_id" %}
                      {% include "emporium:templates/emporatorium/common/button_change.html" %}
                    {% endwith %}
                  </div>

                </div>
              {% endif %}
            {% endfor %}
          </tbody>
        </div>

  </div>
    {% endfor %}

{% include "emporium:templates/emporatorium/common/change_modal.html" %}

  <span class="hidden">
    <p id="txt_delete">{{ _("Potwierdź - produkt ma być widoczny w pliku wymiany ") }}</p>
    <p id="txt_success_delete">{{ _("Pomyślnie dodano produkt do pliku wymiany") }}</p>
  </span>

{% endblock %}
