{% extends "emporium:templates/emporatorium/common/layout.html" %}
{% block body %}


    {% with title = 'Dodaj produkty pomijane dla pliku wymiany' %}
      {% include "emporium:templates/emporatorium/common/title.html" %}
    {% endwith %}

{% include "emporium:templates/emporatorium/common/edit_left.html" %}

<div class="col-span-10 grid grid-cols-12">
    <form action='{{ request.route_url("product_xml_action", action=action) }}' method="post" class="col-span-12 grid grid-cols-12 bg-white p-4 gap-4" id="content_form" name="content_form">
      <input id="csrf_token" name="csrf_token" type="hidden" value="{{ get_csrf_token() }}"/>
      {% for field in form: %}
        {% for error in field.errors: %}
          <div class="error">{{ field.label }} {{ error }}</div>
        {% endfor %}
      {% endfor %}

      <div class="col-span-3 ">
        <label>Rodzaj pliku XML</label> 
        <select name="xml_id" id="xml_id">
          <option selected disabled></option>
            <option value="1">Google (base)</option>
            <option value="2">Ceneo</option>
        </select>
      </div>
      


      <div class="col-span-12 ">
        <label for="product_list">{{ _("Lista produktów wyłączonych z pliku wymiany") }}</label>
        <input id="product_list" name="product_list"  value="" class="">
      </div>

    </form>
</div>

{% include "emporium:templates/emporatorium/common/edit_right.html" %}
    

<script src='{{ request.static_url("emporium:templates/emporatorium/static/js/jquery.min.js") }}' type="text/javascript"></script>
<script src='{{ request.static_url("emporium:templates/emporatorium/static/js/selectize.min.js") }}' type="text/javascript"></script>

<script type="text/javascript">

var $name = $('#product_list').selectize({
    valueField: 'id',
    labelField: 'name',
    searchField: 'name',
    plugins: ['remove_button'],
    create: false,
    options: {{ pro|string|safe}},
    items: {{ pro_ids|string|safe}},
    load: function(request, response) {
        if (request.length < 3) return response();
        $.ajax({
            url: '/limitless_product_search',
            type: 'GET',
            dataType: 'json',
            data: {
                term: request,
            },
            error: function() {
                response();
            },
            success: function(res) {
                response(res);
            }
        });
    }

});

</script>

{% endblock %}
