{% extends "emporium:templates/emporatorium/common/layout.html" %}

{% block body %}

  {% with
   title = 'Stany magazynowe', 
   pager= pager
  %}
    {% include "emporium:templates/emporatorium/common/title.html" %}

    {% include "emporium:templates/emporatorium/common/paginate.html" %}

  {% endwith %}

  {% with 
    route = 'product_storage',
    form_name = 'storage_update'
  %}
{% include "emporium:templates/emporatorium/common/product_filter.html" %}
{% endwith %}

  <form method="post" name="storage_update" id="storage_update" class="col-span-12 border">
    <input id="csrf_token" name="csrf_token" type="hidden" value="{{ get_csrf_token() }}"/>
    <input type="hidden" name="storage_update" value="true">
    <input type="submit" id="submit-form" class="hidden" />
    <table class="table col-span-12">
      <thead>
        <tr>
          <th class="w-1/12">{{ _("Atrybuty") }}</th>
          <th class="w-2/12">{{ _("Liczba egz.") }} {{ _("na magazyn") }}</th>
          <th class="w-1/12">{{ _("Zdjęcie") }}</th>
          <th class="w-3/12">{{ _("Nazwa") }}</th>

          <th class="w-1/12">{{ _("Dostępność") }}</th>
          <th class="w-1/12">{{ _("Stan") }}</th>
          <th class="w-1/12">{{ _("Producent") }}</th>
          <th class="w-1/12">{{ _("Akcja") }}</th>
        </tr>
      </thead>
      <tbody>
      {% for product in product_listing: %}
      <tr class="tr">
        <td class="td px-4 text-center">
          {% include "emporium:templates/emporatorium/product/product_template/product_template_properties.html"%}
        </td>

        <td class="td px-4">

          {%if product.storage_current: %}
            {% for element in product.storage_current: %}
              {% if element.product_storage_id: %}
              <div class="flex gap-8 pb-4">
                <div class="w-36 font-bold">{{ data_options.storage_dict[element.storage_id]}}</div>
                <input type="hidden" name="product_storage_id" value="{{element.product_storage_id}}" id="product_storage_id_{{element.product_storage_id}}" form="placeholder_form">
                <input id="storage_product_id_quantity_{{element.product_storage_id}}" class="h-8 current_quantity_input" name="storage_product_id_quantity_{{element.product_storage_id}}" product_storage_id="{{element.product_storage_id}}" form="placeholder_form" type="number" value="{{element.quantity or 0}}" step="1" min="0" />
              </div>
              {% endif %}
            {% endfor %}
          {% endif %}

        </td>
        <td class="td px-4">
          {% include "emporium:templates/emporatorium/product/product_list_segments/product_image.html" %}
    
        </td>
        <td class="td px-4">
          {% include "emporium:templates/emporatorium/product/product_list_segments/product_name.html" %}
        </td>

        <td class="td px-4">
          {{ product.availability }}
        </td>    
        <td class="td px-4 text-center">
        {{ 'Załączone' if product.status == 1 else '<i class="fi-alert orange text-5xl"></i>'|safe }}
        </td>    
        <td class="td px-4">
          {% include "emporium:templates/emporatorium/product/product_list_segments/product_collection.html" %}

          {% include "emporium:templates/emporatorium/product/product_list_segments/product_manufacturer.html" %}
        </td>

         <td class="td px-4 text-center">
            <a class="button_admin bg-cyan-500" onclick="removeProductEditCookies()" href="{{ request.route_url('product_manipulation', action = 'edit', _query=(('next', request.url),('product_id',product.product_id))) }}">{{ _("Edytuj") }}</a> <a class="button_admin bg-orange-500 transition duration-700 ease-in-out " onclick="removeProductEditCookies()" href="{{ request.route_url('product_manipulation', action = 'clone', _query=(('product_id', product.product_id),('next', request.url)))|safe}}">Klonuj</a> 
        </td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </form>

<script src='{{ request.static_url("emporium:templates/emporatorium/static/js/jquery.min.js") }}' type="text/javascript"></script>

<script type="text/javascript">

  $(".quantity_input").change(function () {
      var ID = $(this).attr('product_id');
      $(this).attr('name', 'quantity_' + ID);
      $("#storage_" + ID).attr('name', 'storage_' + ID);
      $(".product_" + ID).attr('name', 'product_id');
  });

  $(".current_quantity_input").change(function () {
      $(this).attr('form', 'storage_update');
      var ID = $(this).attr('product_storage_id');
      $("#product_storage_id_"+ ID).attr('form', 'storage_update');
  });

</script>

{% endblock  %}
