{% extends "emporium:templates/emporatorium/common/layout.html" %}
{% block body %}

    {% with title = 'Produkty specjalne (wyróżnione)' %}
      {% include "emporium:templates/emporatorium/common/title.html" %}
    {% endwith %}

 

    <div class="col-span-1">
    {% with action = 'product_special_action' %}
      {% include "emporium:templates/emporatorium/common/add_block.html" %}
    {% endwith %}
    </div>

    {% for htem in special_list: %}
     <div class="col-span-12 bg-white p-4 border text-xl">
    <h4 class="h4"> {{htem.name}} </h4>
        <div class="col-span-12 grid-cols-12 grid gap-2 p-4 table text-center ">
          <div class="col-span-12 pb-8 grid grid-cols-12 border">
            <div class="col-span-1 td"></div>
            <div class="px-2 py-1 col-span-2">{{ _("Nazwa") }}</div>
            <div class="px-2 py-1 col-span-2">{{ _("Data rozpoczęcia") }}</div>
            <div class="px-2 py-1 col-span-2">{{ _("Data zakończenia") }}</div>
            <div class="px-2 py-1 col-span-1">{{ _("Cena promocyjna") }}</div>
            <div class="px-2 py-1 col-span-2">{{ _("Egzemplarzy w ramach wyprz.") }}</div>
            <div class="px-2 py-1 col-span-2"></div>
         
         </div>
            {% for item in product_special_list: %}
              {% if htem[0] == item[0].special_id: %}
                <div class="tr col-span-12 grid grid-cols-12">
                  <div class="px-2 py-1 text-center grid col-span-1">

                  </div>
                  <div class="px-2 py-1 col-span-2 text-left">
                    {{ item[1].name}} ({{ item[1].model}})
                  </div>
                  <div class="px-2 py-1 col-span-2">
                    {{ item[0].date_start or ''}}
                  </div>
                  <div class="px-2 py-1 col-span-2">
                    {{ item[0].date_end or ''}}
                  </div>
                  <div class="px-2 py-1 col-span-1">
                    {{ item[0].price or ''}}
                  </div>
                  <div class="px-2 py-1 col-span-2">
                    {{ item[0].quantity or '-'}}
                  </div>
                  <div class="px-2 py-1 col-span-2">
                    {% with item_id = item[0].product_special_id, action_url = "product_special_", action_name="delete", parameter_name = "product_special_id" %}
                      {% include "emporium:templates/emporatorium/common/button_change.html" %}
                    {% endwith %}
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </tbody>
        </div>

  </div>
    {% endfor %}

{% include "emporium:templates/emporatorium/common/change_modal.html" %}

  <span class="hidden">
    <p id="txt_delete">{{ _("Potwierdź usunięcie wyróżnienia/promocji") }}</p>
    <p id="txt_success_delete">{{ _("Pomyślnie usunięto wyróżnienie/promocję") }}</p>
  </span>

{% endblock %}
