/*! purgecss start ignore */
.emporatorium-top-bar {
  border-top: 2px solid rgba(76,181, 245,1);
  padding-bottom: 0.3rem;
  padding-top: 0.3rem;  
  background: linear-gradient(180deg, rgba(23,33,45,1) 0%, rgba(23,33,45,1) 84%, rgba(23,33,45,0) 87%);
  input {
    @apply rounded-none;
  }
  select {
    margin: 0;
    height: 3rem;
  }
  button {
    margin: 0;
  }
  .awesomplete {
    display: block;
    height: 3rem;
    [hidden] {
      @extend .hide;
    }
    > input {
      display: block;
    }
    > ul {
      position: absolute;
      left: 0;
      z-index: 1;
      min-width: 100%;
      box-sizing: border-box;
      list-style: none;
      padding: .4rem;
      margin: 0;
      background: #fff;
      li:hover {
        text-decoration: underline;
        color: #f5f5f5;
        cursor: pointer;
      }
    }
    .visually-hidden {
      position: absolute;
      clip: rect(0, 0, 0, 0);
    }
    > ul:empty {
      @extend .hide;
    }
  }
  .orange-number {
    top: 27px;
    box-sizing: content-box;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    background-color: #ff5a00;
    border-radius: 9px;
    line-height: 18px;
    min-width: 8px;
    padding: 0 5px;
  }
}
.menu-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1rem;
  line-height: 1.5rem;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
  white-space: nowrap;
  background-color: #1d2327;
  background: #191919;
}

.menu-link:hover {
  --tw-text-opacity: 1;
  color: rgba(228, 228, 231, var(--tw-text-opacity));
  background-color: #3a3f46;
}

.menu-link a {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.menu .submenu-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.25rem;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
  white-space: nowrap;
  background-color: #3a3f46;
}

.h-45 {
  height: 69px;
}

.h-95 {
  height: 95vh;
}

/*! purgecss end ignore */