@charset 'UTF-8';
/**
 * Main theme SCSS
 * Version 1.0.0
 * 
 */

// @tailwind preflight;

//@import "fastselect";
@import 'settings';
@import 'foundation-icons';

//Common
@import 'common/header';
@import 'common/header_secondary';
@import 'common/main';
@import 'common/sidebar';
@import 'common/title';
@import 'common/footer';

//Order

//Product
@import 'product/product';

//Miscleanea
@import 'utilities/autocompletejs';
@import 'utilities/background';
@import 'utilities/buttons';
@import 'utilities/checkbox';
@import 'utilities/color';
@import 'utilities/common';
@import 'utilities/flex';
@import 'utilities/font';
@import 'utilities/input';
@import 'utilities/menu';
@import 'utilities/multipleselect';
@import 'utilities/progressbar';
@import 'utilities/order';
@import 'utilities/select';
@import 'utilities/selectize';
@import 'utilities/switches';
@import 'utilities/table';
@import 'utilities/tabs';
@import 'utilities/text';
@import 'utilities/tooltip';
@import 'utilities/trumbowyg';

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #000B29;
  background: #fafafa;
  font-size: 0.875rem;
}

.bg-dark {
   background: #191919;
}

.small-thumbnail {
	max-height: 160px;
}

.min-height-180 {
	min-height: 180px;
}

.table {
	@apply text-base;
}

