$light-gray: #fafafa;
$medium-gray: #cacaca;
$dark-gray: #8a8a8a;
$black: #0a0a0a;
$white: #fff;
$body-background: $light-gray;
$body-font-color: $black;
$body-font-family: 'Open Sans', sans-serif;
$blue: #2199e8;

$breakpoints: (
  small: 0px,
  medium: 750px,
  large: 1024px,
  xlarge: 1200px,
  xxlarge: 1440px,
);
