{% set color = {1:'yellow-400', 2:'rose-500', 3:'sky-400', 4:'amber-500', 5:'red-600'} %}
{% set special_dict = data_options_filtered.special_filtered_dict.get(product.product_id) %}

{% if special_dict: %}
  <div class="absolute flex flex-col text-center z-1 font-bold flex-wrap">
  {% for values in special_dict.values(): %}
    <span class="button-clip button-small block text-white bg-{{color[values.special_id]}} mt-0 mb-1">
      {{data_options.special_dict[values.special_id].name_displayed}}
    </span>
  {% endfor %}
  </div>
{% endif%}
    
              